@charset "utf-8";
/* top menu click dropdown */

.click-nav {
	margin:0px auto;
	width:108px;
	float: right;
	background-image: url(../../img/top-seperator.jpg);
	background-position: right center;
	background-repeat: no-repeat;
}
.click-nav ul {
	font-weight: normal;
}
.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
	z-index: 9999999;
}
.click-nav ul .clicker {
	background: none;
	color:#FFF;
}
.click-nav ul .clicker:hover,
.click-nav ul .active {
	background: none;
}
.click-nav img {
	position:absolute;
	top:7px;
	left:17px;
}
.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:6px 6px 6px 40px;
	background:#444;
	color:#bdbdbd;
	text-decoration:none;
}
.click-nav ul li a:hover {
	background:#000;
}

.fa-caret-down  {
	color: #959595;
	margin-left: 10px;
}

/* Fallbacks */
.click-nav .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul {
	display:block;
}


.click-nav1 {
	margin:0px auto;
	width:98px;
	float: right;

}
.click-nav1 ul {
	font-weight: normal;
}
.click-nav1 ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav1 ul li ul {
	position:absolute;
	left:0;
	right:0;
	background: #000;
	border: 1px solid #444;
	padding: 8px 0px;
	width: 155px;
	z-index: 9999999;
	margin-left: -35px;
	height: auto !important;
	margin-top: 9px;
}
.click-nav1 ul li ul li {
	width: 148px !important;
	background: none !important;
}
.click-nav1 ul .clicker {
	background: none;
	color:#FFF;
}
.click-nav1 ul .clicker:hover,
.click-nav1 ul .active {
	background: none;
}
.click-nav1 img {
	position:absolute;
	top:7px;
	left:17px;
}

.click-nav1 ul li a {
	display:block;
	padding:6px 6px 6px 6px;
	color:#fff;
	text-decoration:none;
}
.click-nav1 ul li a:hover {
	color: yellow;
}

.fa-caret-down  {
	color: #959595;
	margin-left: 10px;
}

/* Fallbacks */
.click-nav1 .no-js ul {
	display:none;
}
.click-nav1 .no-js:hover ul {
	display:block;
}

.click-nav2 {
	margin:0px auto;
	width: 108px !important;
	float: right;
	background-image: url(../../img/top-seperator.jpg);
	background-position: right center;
	background-repeat: no-repeat;
}
.click-nav2 ul {
	font-weight: normal;
}
.click-nav2 ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav2 ul li ul {
	position:absolute;
	left:0;
	right:0;
	background: #000;
	border: 1px solid #444;
	padding: 8px 0px;
	width: 300px;
}
.click-nav2 ul .clicker {
	background: none !important;
	color:#FFF;
}
.click-nav2 ul .clicker:hover,
.click-nav2 ul .active {
	background: none !important;
}
.click-nav2 img {
	position:absolute;
	top:7px;
	left:17px;
}

.click-nav2 ul li a {
	display:block;
	padding:6px 6px 6px 6px;
	color:#fff;
	text-decoration:none;
}
.click-nav2 ul li a:hover {
	color: yellow;
}

.fa-caret-down  {
	color: #959595;
	margin-left: 10px;
}

/* Fallbacks */
.click-nav2 .no-js ul {
	display:none;
}
.click-nav2 .no-js:hover ul {
	display:block;
}

.click-nav3 {
	margin:0px auto;
	width:98px;
	float: right;
		background-image: url(../../img/top-seperator.jpg);
	background-position: right center;
	background-repeat: no-repeat;

}
.click-nav3 ul {
	font-weight: normal;
}
.click-nav3 ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
	text-align: center;
	background: none !important;
}
.click-nav3 ul li ul {
	position:absolute;
	left:0;
	right:0;
	background: #000;
	border: 1px solid #444;
	padding: 8px 0px;
	width: 155px;
	z-index: 9999999;
	margin-left: -35px;
	margin-top: 10px;
	height: auto !important;
}
.click-nav3 ul li ul li {
	width: 137px !important;
}
.click-nav3 ul .clicker {
	background: none;
	color:#FFF;
}
.click-nav3 ul .clicker:hover,
.click-nav3 ul .active {
	background: none;
}
.click-nav3 img {
	position:absolute;
	top:7px;
	left:17px;
}

.click-nav3 ul li a {
	display:block;
	padding:6px 6px 6px 6px;
	color:#fff;
	text-decoration:none;
	width: 100% !important;
	background: none !important;
}
.click-nav3 ul li a:hover {
	color: yellow;
}

/* Fallbacks */
.click-nav3 .no-js ul {
	display:none;
}
.click-nav3 .no-js:hover ul {
	display:block;
}





.wlt  {
	background: #000;
	padding: 10px;
	position: absolute;
	border: 1px solid #444;
	width: 220px;
	display: inline-block;
	margin-left: -70px;
	z-index: 999999;
}

.wlt table{}

.wlt td {
	padding: 5px 14px;font-weight: bold;
	 vertical-align: middle;

	}


