
.table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #424242;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.table tr:hover td{
	background-color:#ffffff;
		

}
.table td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #424242;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#7f7f7f;
}.table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
		background:-o-linear-gradient(bottom, #000202 5%, #000202 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000202), color-stop(1, #000202) );
	background:-moz-linear-gradient( center top, #000202 5%, #000202 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#000202", endColorstr="#000202");	background: -o-linear-gradient(top,#000202,000202);

	background-color:#000202;
	border:0px solid #424242;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffaa00;
}
.table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #000202 5%, #000202 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000202), color-stop(1, #000202) );
	background:-moz-linear-gradient( center top, #000202 5%, #000202 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#000202", endColorstr="#000202");	background: -o-linear-gradient(top,#000202,000202);

	background-color:#000202;
}
.table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}