.element_to_pop_up { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
	font-weight: bold;
	font-size: 20px;
}

.my-button  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
	padding: 0px !important;
}


.promoadj  {
	padding: 10px 20px 0px;
}

.promoCont  {
	margin-top: 20px;
}