html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
	  height: 100%;
	  width: 100%;
}

.clr  {
	clear: both;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  overflow-x: hidden;
}

.header  {
	display: flex;
	position: relative;
	padding: 10px 0px;
	width: 100%;
	height: auto;
	background: #5e5c47;
}

.img-responsive  {
	display: block;
    height: auto;
    max-width: 100%;
}

.promoBx  {
	display: block;
	position: relative;
}

.mt04  {
	margin-bottom: 10px;
}

.mobWrap  {
	display: block;
	max-width: 100%;
	position: relative;
		background: #9A9A90;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding-bottom: 10px;
margin-bottom: 15px;
}

.mobBxTit  {
	background: #5E5C47;
	-moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;
text-align: center;
margin-bottom: 10px;
}
	

.bx5 {
    display: block;
    float: left;
    height: auto;
    position: relative;
    width: 50%;
	text-align: center;
}

.bx5 span  {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	padding-top: 5px;
}

.and  {
		background: url(../../img/android-icon.png)no-repeat 7px;
}

.app  {
		background: url(../../img/apple-icon.png)no-repeat 7px;
}

.promoTxt  {
	display: block;
	position: absolute;
	z-index: 999;
	background: url(../../img/txt-bg.png)repeat;
	color: #fff;
	width: 100%;
	height: auto;
	left: 0;
	bottom: 0;
	font-size: 12px;
	font-weight: bold;
}

.promoTxt span  {
	margin: 8px;
	display: block;
}

.userI  {
	color: #fff;
	font-size: 12px;
	right: 0px;
	margin-right: 15px;
	margin-top: 15px;
	display: block;
	position: absolute;
}

.userI a:link, .userI a:visited  {
	text-decoration: none;
	color: #fff;
}

.msg  {
	color: #fff;
	font-size: 12px;
	right: 70px;
	margin-right: 15px;
	margin-top: 7px;
	display: block;
	position: absolute;
}

.msg a:link, .msg a:visited  {
	text-decoration: none;
	color: #fff;
}

.msgBx  {
	display: block;
}

.msgBx table  {
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
}

.msgBx table td  {
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 8px 6px;
color: #000;
font-size: 12px;
text-align: left;
}

.msgBx table th  {
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 8px 6px;
background: #5E5C47;
color: #fff;
font-size: 12px;
font-weight: bold;
text-align: left;
}

.msgBx table td a:link, .msgBx table td a:visited  {
	text-decoration: none;
	color: #000;
}

.msgBx table td a:hover  {
	text-decoration: none;
	color: red;
}

.msgBx a:link, .msgBx a:visited  {
	color: #fff !important;
	text-decoration: none !important;
}

.msgBx a:link, .msgBx a:visited  {
	color: black !important;
	text-decoration: none !important;
}

.userLogin  {
	color: #fff;
	font-size: 12px;
	right: 0px;
	margin-right: 5px;
	margin-top: 7px;
	display: block;
	position: absolute;
}

.userLogin a:link, .userLogin a:visited  {
padding: 5px 10px;
}

.userLogin a:hover {
}

.userJoin  {
	color: #fff;
    display: block;
    font-size: 12px;
    margin-right: 0;
    margin-top: 7px;
    position: absolute;
    right: 45px;
}
.message{
	color: #fff;
	font-size: 12px;
	right: 0px;
	margin-right: 135px;
	margin-top: 7px;
	display: block;
	position: absolute;
}

.userJoin a:link, .userJoin a:visited  {
padding: 5px;
}

.userJoin a:hover {
}

.bck  {
	color: #fff;
	font-size: 12px;
	left: 0px;
    top: 10px;
	display: block;
	position: absolute;
}

.betTxt  {
	font-size: 12px;
	color: #5E5C47;
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

.userO  {
	color: #fff;
	font-size: 12px;
	right: 0px;
    top: 10px;
	display: block;
	position: absolute;
}

.userO a:link, .userO a:visited  {
	text-decoration: none;
	color: #fff;
}

.height64  {
	height: 64px;
	padding: 0px !important;
}

.pgTit  {
	display: block;
	position: relative;
	width: 140px;
	height: 26px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #fff;
	margin-top: 23px;
	font-size: 14px;
	font-weight: bold;
}

.logo  {
	margin-left: 15px;
	float: left;
}

.slider  {
	background: #000;
	width: 100%;
	display: block;
	position: relative;
}

.sliderInner  {
	width: 418px;
	margin: 0 auto;
	display: block;
	position: relative;
}

.flt1  {
	width: 185px !important;
}

.flt2  {
  float: left;
  width: 70px !important;
  margin-left: 8px;
}

.flt2 img  {
  height: 33px;
}

.mb1  {
	margin-bottom: 67px;
}

.anmnt  {
	display: block;
	position: relative;
	max-width: 100%;
	padding: 5px;
	background: #8d8a7b url(../../img/speaker.jpg)no-repeat 5px center;
}

marquee  {
	margin-left: 30px;
	color: #fff;
	font-size: 12px;
}

.antitle {
	display: block;
	position: relative;
	max-width: 100%;
	padding: 5px;
	background-color: #8d8a7b;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.midC  {
	display: block;
	position: relative;
	max-width: 100%;
	height: auto;
	padding: 15px 15px 50px;
}

.midCinner  {
	display: block;
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 0;
}

.bx1  {
	width: 100px;
	display: block;
	position: relative;
	height: 105px;
	float: left;
	margin-right: 10px;
}

.bx1 img  {
	width: 90px;
}

.bx1 span  {
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	color: #5b5c57;
	text-decoration: none;
}

.bx1 a:link, .bx1 a:visited  {
	text-decoration: none;
	color: #5b5c57;
}

.bottomBar  {
	display: block;
	position: absolute;
	width: 100%;
	background: #5e5c47;
	position: fixed;
	bottom: 0;
}

.bottomBarInner  {
	display: block;
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 0;
}

.bx2  {
	width: 120px;
	display: block;
	position: relative;
	height: auto;
	margin: 0 auto;
	float: left;
}

.bx2 img  {
	display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50px;
}

.bx2 span  {
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	color: #fff;
	text-decoration: none;
}

.bx2 a:link, .bx2 a:visited  {
	text-decoration: none;
	color: #fff;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {

  padding: 5px;
  width: 200px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;

  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.bg2  {
	background: #c9cac5 !important;
}

.detWrap  {
	padding: 10px 0px;
}

.tp001  {
	padding: 5px 0px !important;
}

.detWrapN  {
	padding: 0px 0px 10px;
}

.detImg  {
	float: left;
	margin-right: 12px;
}

.detImg img  {
	margin-top: 9px;
}

.detList1  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList1 span  {
	float: left;
	font-size: 9px;
	width: 100%;
	padding-top: 3px;
}

.detList1 input  {
	background: none;
    border: 1px solid #8e8e8e;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left: 5px;
    width: 99%;
}

.detList3  {
	float: left;
	font-size: 14px;
	width: auto;
}

.detList3 span  {
	float: left;
	font-size: 9px;
	width: 100%;
	padding-top: 8px;
}

.detList3 input  {
	background: none;
    border: 1px solid #8e8e8e;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left: 5px;
    width: 97.5%;
}

.bdrBottom  {
	border-bottom: 1px solid #b7b7b7;
}

.detList  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList input  {
	background: #8e8e8e none repeat scroll 0 0;
    border: 0 none;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left: 5px;
    width: 98.5%;
}


.detList select  {
	float: left;
	font-size: 14px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList span  {
	display: block;
	position: relative;
	width: 100%;
}

.detList4  {
	float: left;
	font-size: 14px;
	width: auto;
}

.detList4 input  {
	background: #8e8e8e none repeat scroll 0 0;
    border: 0 none;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left: 5px;
    width: 98.5%;
}


.detList4 select  {
	float: left;
	font-size: 14px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList4 span  {
	display: block;
	position: relative;
	width: 100%;
}

.detList5  {
	float: left;
	font-size: 14px;
	width: 86%;
}

.detList5 input  {
	background: #8e8e8e none repeat scroll 0 0;
    border: 0 none;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left: 5px;
    width: 98.5%;
}


.detList5 select  {
	float: left;
	font-size: 14px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList5 span  {
	display: block;
	position: relative;
	width: 100%;
}

.detList1  {
	float: left;
	font-size: 14px;
	padding: 8px 0px 0px 0px;
}

.amt1  {
	float: right;
	font-size: 14px;
	padding: 8px 0px 0px 0px;
}

.tp1  {
	font-weight: bold;
	font-size: 12px !important;
	margin-bottom: 3px;
	margin-top: 3px;
	color: #5f5c49;
}

.spinner  {
	display: block;
	float: right;
	margin-top: 4px;
}

.tp2  {
	font-weight: bold;
	font-size: 14px !important;
	color: #5d5e59;
}

.ed  {
	display: block;
	font-size: 12px;
	text-align: center;
}

.nd1  {
	margin-top: 20px;
}

.nd1 a:link, .nd1 a:visited  {
	text-decoration: none;
	color: #000;
}

.submitB  {

}

.submitB a:link, .submitB a:visited  {
	background: #5f5c49 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 0px;
    text-decoration: none;
	text-align: center;
}

.lst  {
	display: block;
	width: 100%;
	}

.lst a:link, .lst a:visited  {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	color: #5F5C49;
	text-transform: uppercase;
	font-weight: bold;
}

.clr2  {
	color: #5f5c49;
	font-weight: normal;
	font-style:italic;
}

.lg1  {
	width: 300px !important;
}

.detList2  {
	float: left;
	margin-top: 6px;
	color: #5f5c49;
}

.tabH  {
	display: block;
	position: relative;
	width: 100%;
	height: 68px;
}

.fig1  {
	color: #5f5c49;
	font-size: 12px;
	font-weight: bold;
	}
	
.fig1 span  {
	font-weight: normal !important;
	margin-left: 5px;
}

.txt1  {
	float: left;
	padding: 10px 0px;
}

.txt2  {
	float: right;
	padding: 10px 0px;
}

.txt2 a:link, .txt2 a:visited  {
	background: #615C49;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	padding: 8px;
}

.trsfTblLeft  {
	float: left;
	color: #5f5c49;
	font-size: 12px;
	display: block;
}

.trsfTblLeft table td  {
	padding: 4px 0px;
}

.trsfTblRight table td  {
	padding: 4px 0px;
}

.trsfTblRight  {
	float: right;
	color: #5f5c49;
	font-size: 12px;
	display: block;
}

.bg-wht  {
	background: #fff;
	padding: 5px 10px 10px 10px !important;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 359px)  {
	  
.sliderInner {
    width: 320px;
}

.midC1  {
	display: block;
	position: relative;
	width: 290px;
	height: auto;
	padding: 15px;
}

.midCinner {
    width: 320px;
}

.midCinner2 {
    width: 100%;
	padding-bottom: 30px;
}



.bx1 {
    width: 64px;
}

.bx1 img {
    width: 64px;
}

.bx1 span {
    font-size: 10px;
}


.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 320px;
}

.bx2  {
	width: 64px;
	display: block;
	position: relative;
	height: auto;
	margin: 0 auto;
	float: left;
}

.bx2 span {
    font-size: 10px;
}

.fig1  {
	color: #5f5c49;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	}
	
.tabH  {
	
	width: 290px;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.colR  {
	float: right;
	width: 180px;
}

.detList2 input  {
	font-size: 12px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
}

.detList2 select  {
	font-size: 12px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
	-moz-appearance: none;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

  }

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 479px)  {
	  
/*note 5*/
.sliderInner {
    width: 360px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner {
    width: 320px;
}


.bx1 {
    width: 70px;
}

.bx1 img {
    width: 64px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 360px;
}

.bx2  {
	width: 72px;
	display: block;
	position: relative;
	height: auto;
	margin: 0 auto;
	float: left;
}

.bx2 span {
    font-size: 10px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.colR  {
	float: right;
	width: 170px;
}

.detList2 input  {
	font-size: 12px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
}

.detList2 select  {
	font-size: 12px;
	width: 100%;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
	-moz-appearance: none;
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 639px)  {
	  
.sliderInner {
    width: 480px;
}

.midCinner {
    width: 450px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}


.bx1 {
    width: 68px;
}

.bx1 img {
    width: 68px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 480px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList2 input  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 select  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}


}

@media only screen 
  and (min-device-width: 640px) 
  and (max-device-width: 767px)  {
	  
.bx1  {
	height: 130px;
}
	  
.sliderInner {
    width: 640px;
}

.midCinner {
    width: 640px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}


.bx1 {
    width: 92px;
}

.bx1 img {
    width: 92px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 640px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList2 input  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 select  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 799px)  {
	  
.bx1  {
	height: 130px;
}
	  
.sliderInner {
    width: 750px;
}

.midCinner {
    width: 750px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}


.bx1 {
    width: 92px;
}

.bx1 img {
    width: 92px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 640px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList2 input  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 select  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 979px)  {

.bx1  {
	height: 130px;
}
	  
.sliderInner {
    width: 770px;
}

.midCinner {
    width: 770px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}


.bx1 {
    width: 92px;
}

.bx1 img {
    width: 92px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 640px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList2 input  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 select  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

}

@media only screen 
  and (min-device-width: 980px) 
  and (max-device-width: 1024px)  {
	  
.bx1  {
	height: 130px;
}

.sliderInner {
    width: 770px;
}

.midCinner {
    width: 770px;
}

.midC1  {
	display: block;
	position: relative;
	width: 330px;
	height: auto;
	padding: 15px;
}

.midCinner2 {
    max-width: 100%;
	padding-bottom: 30px;
}


.bx1 {
    width: 92px;
}

.bx1 img {
    width: 92px;
}

.bx1 span {
    font-size: 10px;
}

.bottomBarInner {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 640px;
}

.tabH  {
	
	width: 100%;
	
	margin-top: 5px;
	}

.tabH span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.tabH table {}

.tabH table td {
	text-align: center;
	background: #615c49;
	padding: 8px 0px 8px;

}

.tabH a:link, .tabH a:visited  {
	color: #fff;
	text-decoration: none;
}

.selected  {
	border-bottom: 4px solid #fff;
}

.detList2  {
	float: left;
	font-size: 14px;
	width: 100%;
}

.detList2 input  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 select  {
	float: right;
	font-size: 12px;
	width: 180px;
	height: 30px;
	border: 1px solid #8e8e8e;
	background: #8e8e8e;
}

.detList2 span  {
	display: block;
	position: relative;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.lg2  {
	width: 285px;
}

.detWrap2 {
    border-bottom: 0px solid #a5a6a1;
    padding: 10px 0;
}

.submitC  {
	float: right;
	margin-right: 0px;
}

.submitC a:link, .submitC a:visited  {
	padding: 8px 12px;
	background: #5f5c49;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

}


@media only screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1920px) {


.slider  {
	width: 100%;
}
