/*WC Timer*/
.wc  {
	display: block;
	width: 100%;
	height: 88px;
}
.wcInner  {
	display: block;
	width: 1024px;
	height: auto;
	margin: 0 auto;
}
.timerDig  {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	position: relative;
    background: rgba(123,125,128,1);
    background: -moz-linear-gradient(top, rgba(123,125,128,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(123,125,128,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(123,125,128,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(123,125,128,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(123,125,128,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(123,125,128,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7d80', endColorstr='#000000', GradientType=0 );
	text-align: center;
	width: 90%;
	padding: 5px;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}
.timerWrap  {
	background: url(../../img/wc-bg.jpg)repeat;
	padding: 4px;
	margin: 0px auto;
	width: 97%;
	display: block;
}
.wcWrap  {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 8px 0px;
}
/*WC Timer*/