.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 30px auto 0px !important;
	padding: 0 !important;
}
#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 240px;
	height: 318px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 16px 0px 0px;
	cursor: pointer;
}
.footerInner  {
	width: 1004px;
	margin: -27px auto 0px !important;
	padding: 50px 10px 10px;
	height: auto;
	display: block;
	background-image: url(../../img/footerInnerBg-other.png) !important;
	background-position: top bottom;
	background-repeat: no-repeat;
}