body  {
	width: 100%;
	height: 100%;
	background-color: #000;
	/*font-family: Arial, Helvetica, sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体";*/
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.slotContainerBottom  {
	display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

.slotMenuHolder  {
	width: 1024px;
	height: 35px;
    background: url(../../img/slot-btm-bg.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}
.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(http://static.myroyalewin.net/img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #000;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #fff;
	text-decoration: none;
	background: #000;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1024px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	/* border: 1px solid #EBAF4D; */
	margin-top: 15px;
	transition: all 0.5s ease;
	/* background-color: #000; */
	width: 150px;
	height: 202px;
}

.slot_box img {
	border-radius: 25px;
	width: 150px;
	height: 150px;
}

.slot_box:hover  {
	/* border: 1px dotted #fff; */
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	/* background: #000; */
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}
