@charset "utf-8";

#container .itemdiv {
	width:1004px;
	margin: 0 auto 40px auto;
	display:inline-block;
	vertical-align:top;
}
	dl.tabs {
		position:relative;
		margin: 0px;

	}
		dl.tabs dt {
			background:#e0e0e0;
			padding:8px 10px;
			border:none;
			color:#900000;
			float:left;
			padding:0px 12px 0px 12px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:13px;
			font-weight:bold;
			margin: 0px;	
			text-transform:uppercase;
			height: 38px;
			line-height: 38px;
			border-left: 1px solid #900000;
			border-right: 1px solid #900000;
			border-top: 1px solid #900000;
			text-align: center; 
		}
			
		dl.tabs dd {
			border: 0px solid #bdbdbd;
			width:1004px;
			height:auto;
			background: none;		
			clear:both;
			display:block;
			
		}
					
		/* if JS is ACTIVATED, enable new style to dl.tabs */
		dl.tabs.enabled {
			height:300px;
		}
		dl.tabs.enabled dt {
			background: none;

			color:#900000;
			cursor:pointer;
		}
			dl.tabs.enabled dt:hover {
				background-color: none;
				color:#900000;
			}
		dl.tabs.enabled dt.active {
			background: url(../../img/hpg-tab-bg.jpg)no-repeat center center;
			padding:px 10px;
			border:none;
			color:#fff;
			cursor:default;
			
		}
			dl.tabs.enabled dd {
				position:absolute;
				border: 1px solid #900000;
				top:38px;
				left:0;
				margin:0;
				z-index:1;
				clear:none;height:auto;
			}
			dl.tabs.enabled dd.active {
				z-index:3;
			}
