@charset "utf-8";
/* Main */

html, body  {
	height: 100%;
	background-color: #000000;
}

body  {
	width: 100%;
	height: 100%;
	background-image: url(../img/bg1.jpg);
	background-cover: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体";
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

@media screen 
  and (min-width: 320px) 
  and (max-width: 1023px) {

}
	
	
