@charset "utf-8";
/* custom */

.btmTxt  {
	margin-top: 5px;
	font-weight: bold;
}

.padS  {
	padding: 8px 8px 100px !important;
}

.eqWrap {display: flex;position: fixed;bottom: 0px;left: 0px;z-index: 999;width: 100%;background: rgba(37,37,37,1);
background: -moz-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,37,37,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#000000', GradientType=0 );}
.eqWrap1 {display: flex;position: relative;z-index: 999;width: 100%;background: #ebebeb;}
.eqWrap2 {display: flex;position: relative;z-index: 999;width: 100%;background: url(../../img/announce-bg.jpg)repeat-x;}
.eq {padding: 10px 5px;}
.eq1 {padding: 0px;}
.equalHW {flex: 1;}
.equalHW1 {flex: 1;}
.equalHMWrap {justify-content: space-between;}
.equalHM {width: 32%;}
.equalHMRWrap {justify-content: space-between;flex-wrap: wrap;}
.equalHMR {width: 32%;margin-bottom: 2%;}
.equalHMVWrap {flex-wrap: wrap;}
.equalHMV {width: 32%;margin: 1%;}
.equalHMV:nth-of-type(3n) {margin-right: 0;	}
.equalHMV:nth-of-type(3n+1) {margin-left: 0;}
.equalHW a:link, .equalHW a:visited  {color: #d0a64c; text-decoration: none;}
.equalHW1 a:link, .equalHW1 a:visited  {color: #fff; text-decoration: none; display: block; height: 30px; line-height: 30px; text-transform: uppercase;}
.equalHW a:hover  {background: #110505; text-decoration: none;}
.equalHW:hover  {background: #000;}
.equalHW1 a:hover  {background: #c41919; text-decoration: none; color: #ffe328;}
.equalHW1:hover  {background: #c41919;}

.gmTxt  {
	color: #ffd478;
	font-weight: bold;
	display: block;
}

.bgB  {
	background: #000 url(../img/bg-bottom.jpg)no-repeat bottom center;
}

.mt4  {
	margin-top: 10px;
}

.mobLink  {}

.mobLink a:link, .mobLink a:visited  {
	background: #d0a64c;
	display: block;
	padding: 4px 0px;
	color: #000;
	font-size: 10px;
	text-decoration: none;
	width: 121px;
	text-align: center;
	margin: 10px 0px 0px;
	border-radius: 4px;
	border: 1px solid #d0a64c;
}

.mobLink1  {
	float: left;
	}

.mobLink1 a:link, .mobLink1 a:visited  {
	background: #9e0809;
	display: block;
	padding: 4px 0px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	width: 60px;
	text-align: center;
	margin: 10px 0px 0px;
	border-radius: 4px;
	border: 1px solid #d91114;
}

.mobLink2  {
	float: left;
	}

.mobLink2 a:link, .mobLink2 a:visited  {
	background: #9e0809;
	display: block;
	padding: 4px 0px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	width: 60px;
	text-align: center;
	margin: 10px 0px 0px;
	border-radius: 4px;
	border: 1px solid #d91114;
}


.bdrFoot  {
	border-top: 1px solid #bf0c0f;
}

.abt  {}

.abt h5  {
	font-size: 13px;
	background: url(../img/abt-icon.png)left center no-repeat;
	padding-left: 25px;
	margin: 10px 0px 0px;
}

.cgLang a:link, .cgLang a:visited  {
	color: #ccc;
	text-decoration: none;
}

.cgLang a:hover  {
	color: yellow;
}

.bdr5  {
	border-right: 1px solid #d91114;
}

.fbg  {
	background: url(../img/footer-bg.png)no-repeat bottom center;
	background-size: contain;
}


.slotBg  {
	background: url(../img/slot-bg.png)no-repeat top center;
	background-size: contain;
}


.lyrTop  {
	z-index: 999;
}

.lyrTop a:link, .lyrTop a:visited  {
	text-decoration: none;
}

.lyrTop a:hover  {
	text-decoration: none;
	color: #fff;
}

.hg  {
	display: block;
	height: 35px;
	line-height: 35px;
	background: url(../img/nav-bg.png)center;
}

.cornLeft  {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	width: 73px;
}

.cornRight  {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
}


.headerBg  {
	background: none;
}

.headt h2  {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #fae886;
}

.text-small  {
	font-size: 8px;
}

.pad8  {
	padding: 8px !important;
}

.bg-trans  {
	background-image: url(../img/mob-bg-trans.png);
	background-repeat: repeat;
}

.bt01  {
	margin-left: 8px;
	margin-top: 5px;
	font-size: 14px;
}

.bt02  {
	margin-left: 12px;
}

.bt03  {
	margin-right: 8px;
}

.marginTop01  {
	margin-top: 10px;
}

.marginBottom01  {
	margin-bottom: 10px;
}

.bdr4  {
	border-top: 1px solid #d91114;
	border-bottom: 1px solid #d91114;
}


.clr2  {
	color: #ffd478;
}

.clr1  {
	font-size: 14px !important;
}

.ftSize9  {
	font-size: 9px;
}

.border1  {
	border: 1px solid #000;
	margin: 0px 5px;
}

.lblmar label  {
	color: #fae886;
	margin-left: 0px;
}

.submitBtn  {}

.submitBtn a:link, .submitBtn a:visited  {
	display: block;
	padding: 10px 20px;
	color: #000;
	background: #FED91C;
text-align: center;
}

.submitBtn a:hover  {
	background: red;
    color: yellow;
	text-decoration: none;
}

.padtp1  {
	padding-top: 5px;
}

.wallI input, .wallI select  {
	text-align: left;
	padding-left: 10px;
	color: #000;
	border: 1px solid #0D0E3B;
}

.text-black  {
	color: #000;
}

.modal-body ul  {
	display: block;
	margin: 0;
	padding: 0;
}

.modal-body ul li  {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.modal-body a:link, .modal-body a:visited  {
	display: block;
	padding: 10px;
	background: #000;
	color: #F6C559;
	border: 1px solid #F6C559;
}

.modal-body a:hover  {
background: #F6C559;
color: #000;
}

.padB  {
	margin-bottom: 80px;
}


.cgLang  {
	margin-left: 25px;
	color: #fff;
	padding-bottom: 6px;
	display: block;
}

.big  {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

.bdrR  {
	border-right: 1px solid #000;
}

.bdrR1  {
	border-right: 1px solid #fff;
}


.btnlink  {
	margin-right: 10px;
	margin-bottom: 15px;
	}

.btnlink a:link, .btnlink a:visited  {
	display: block;
	padding: 5px 20px;
	background: url(../img/button-bg.jpg)repeat-x;
	border-radius: 5px;
}

.btnlink a:hover  {
	background: #F1FA79;
	color: #000;
	text-decoration: none;
}

.normpad  {
	margin: 0px 0px 0px !important;
}

.clrG  {
	color: #d8e168 !important;
}

.bg  {
	background: url(../img/ct-bg.jpg)repeat;
}

.btnNorm  {
	border: none;
	background: none;
}

.welc  {

    background-image: url("../img/button-bg.jpg");
    background-repeat: repeat-x;
    color: #000;
	padding: 6px 2px;
}


.post02  {
	margin-top: 21px;
	color: #E2DC60;
}

.tabTit  {
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin-bottom: 4px;
	color: #d8e168;
}

.tabBg  {
	width: 320px;
	background: url(../img/ct2-bg.png)no-repeat center top;
	background-size: cover;
}

.tab-content  {
	width: 320px;
	margin: 0 auto;
}

.nav-pills  {
	background: #000;
	padding: 4px;
	margin: 2px;
	border: 1px solid #d9e268;
	border-radius: 50px;
}

.nav-pills li a:link, .nav-pills li a:active  {
	width: 150px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px;
	border-radius: 50px;
}
.ftab  {
	position: fixed;
	bottom: 0px;
}

.tab-Bg  {
	background: url(../img/ct2-bg.png)no-repeat center top;
	background-size: cover;
}

.txtYellow  {
	color: #d8e168;
}

.ctbg  {
	 background: url(../img/ct-bg.jpg)repeat;
	 padding-bottom: 15px;
}

.ctJp  {
	display: block;
	position: relative;
	width: 320px;
	margin: 0 auto;
	background: url(../img/jp-bg.png)no-repeat;
	height: 107px;
}

.ctDigit  {
	display: block;
	position: absolute;
	bottom: 21px;
	left: 40px;
	color: #d9e268;
	font-weight: bold;
	font-size: 30px;
}

.blue  {
	color: #0ddaff;
}

.padTB01  {
	padding-top: 8px;
	padding-bottom: 8px;
}

.padTB02  {
	padding-top: 8px;
	padding-bottom: 0px;
	margin-bottom: 2px !important;
}

.padTB03  {
	padding-top: 4px;
	padding-bottom: 4px !important;
}

.tpleft  {
	margin-left: 70px;
}

.jpTit  {
	text-align: center;
	font-weight: bold;
	padding: 5px 0px;
	color: #c1c1c1;
	border-right: 1px solid #c1c1c1;
}

.jp  {
	border: 1px solid #04697b;
	margin-top: 4px;
	padding: 5px;
}

.jpTit2  {
	text-align: center;
	font-weight: bold;
	padding: 5px 0px;
	color: #c1c1c1;
	margin-top: 8px;
}

.bdrWhite img  {
	border: 1px solid #fff;
}

.bdrYellow img  {
	border: 1px solid #ebf576;
}

.tit1  {
	display: block;
	width: 100%;
	background: url(../img/tit-bg.jpg)repeat-x center;
	margin: 5px 0px 8px;
}

.titTxt  {
	display: block;
	margin: 10px auto 10px;
	text-align: center;
	color: #d8e168;
	font-weight: bold;
	font-size: 14px;
	background: #000;
}

.mt3  {
	margin-top: 5px;
}

.btnLang  {
	background: none;
	border: none;
	margin-top: 15px;
}

.btnLang:hover, .btnLang:focus, .btnLang:active  {
	background: none;
	border: none;
}

.promoC  {
	margin-bottom: 5px;
}

.minH  {
	min-height: 480px;
}

.textsm  {
	font-size: 10px;
}

.pb01  {
	padding-bottom: 10px;
	padding-top: 10px;
}

.icnCl  {
	color: #ffd478;
	margin-right: 10px;
	position: absolute;
	margin-top: -2px;
	width: 25px;
	text-align: center;
	margin-left: 10px;
}

.post01 {
	padding-bottom: 1px;
	margin-left: 45px;
}

.hovTxt  {
	bottom: 15px;
    color: #fff;
    display: block;
    height: 25px;
    left: 6px;
    line-height: 25px;
    padding-left: 5px;
    position: absolute;
    width: 89%;
	background: url(../img/hovTxt-bg.png)no-repeat left center;

}

marquee  {
	font-size: 12px;
	font-weight: bold;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.bg-black  {
	background: #000;
	padding-bottom: 0px;
}

.bg-red  {
    background: #D59B1E;
	padding-bottom: 0px;
}

.bg-blue  {
	background: #0d0e3b;
}

.jpBg  {
 background-color:#0d0e3b;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0d0e3b, endColorstr=#011059);
 background-image:-moz-linear-gradient(top, #0d0e3b 6%, #011059 44%,#000825 86%);
background-image:linear-gradient(top, #0d0e3b 6%, #011059 44%,#000825 86%);
background-image:-webkit-linear-gradient(top, #0d0e3b 6%, #011059 44%,#000825 86%);
background-image:-o-linear-gradient(top, #0d0e3b 6%, #011059 44%,#000825 86%);
background-image:-ms-linear-gradient(top, #0d0e3b 6%, #011059 44%,#000825 86%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(6%,#0d0e3b), color-stop(44%,#011059),color-stop(86%,#000825));
 -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
 }
 
.pad01  {
	padding: 8px;
}

.pad02  {
	padding: 6px 0px;
}

.jpCounter  {
	background: rgb(121, 108, 108);
background: -moz-linear-gradient(90deg, rgb(121, 108, 108) 22%, rgb(0, 0, 0) 92%);
background: -webkit-linear-gradient(90deg, rgb(121, 108, 108) 22%, rgb(0, 0, 0) 92%);
background: -o-linear-gradient(90deg, rgb(121, 108, 108) 22%, rgb(0, 0, 0) 92%);
background: -ms-linear-gradient(90deg, rgb(121, 108, 108) 22%, rgb(0, 0, 0) 92%);
background: linear-gradient(180deg, rgb(121, 108, 108) 22%, rgb(0, 0, 0) 92%);
padding: 4px;
 -webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
margin-top: 8px;
font-size: 18px;
font-weight: bold;
}


