﻿/*------------language select page------------------------*/

#ms_lan{
	width:187px;
	height:258px;
	position:absolute;
	left:60px;
	top:20px;
	cursor:pointer;
}

#vt_lan{
	width:187px;
	height:258px;
	position:absolute;
	left:290px;
	top:20px;
	cursor:pointer;
}

#id_lan{
	width:187px;
	height:258px;
	position:absolute;
	right:290px;
	top:20px;
	cursor:pointer;
}

#th_lan{
	width:187px;
	height:258px;
	position:absolute;
	right:60px;
	top:20px;
	cursor:pointer;
}

#ms_lan:hover{
	width:266px;
	height:331px;
	position:absolute;
	left:20px;
	top:0px;
	cursor:pointer;
}
#ms_lan:hover img
{
   	width:266px;
	height:331px;
}

#vt_lan:hover{
	width:266px;
	height:331px;
	position:absolute;
	left:251px;
	top:0px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:266px;
	height:331px;
}

#id_lan:hover{
	width:266px;
	height:331px;
	position:absolute;
	right:251px;
	top:0px;
	cursor:pointer;
}
#id_lan:hover img
{
   	width:266px;
	height:331px;
}
#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

.msia  {}

.msiaMob  {
	display: none;
	}
	
.viet  {}

.vietMob  {
	display: none;
	}
	
.indo  {}

.indoMob  {
	display: none;
}

.thai  {}

.thaiMob  {
	display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 360px) {
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(/img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 20px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 20px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:20px;
	top:100px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:20px;
	top:100px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:20px;
	top:190px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:20px;
	top:190px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:20px;
	top:280px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}

}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 479px) {
  
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(../../img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 50px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 50px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:50px;
	top:120px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:50px;
	top:120px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:50px;
	top:230px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:50px;
	top:230px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:50px;
	top:340px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}
}

@media only screen 
  and (min-device-width: 479px) 
  and (max-device-width: 485px) {
  
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(../../img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 100px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 100px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:100px;
	top:120px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:100px;
	top:120px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:100px;
	top:230px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:100px;
	top:230px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:100px;
	top:340px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}
}

@media only screen 
  and (min-device-width: 486px) 
  and (max-device-width: 640px) {
  
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(../../img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 180px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 180px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:180px;
	top:120px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:180px;
	top:120px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:180px;
	top:230px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:180px;
	top:230px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:180px;
	top:340px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}
}

@media only screen 
  and (min-device-width: 641px) 
  and (max-device-width: 768px) {
  
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(../../img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 240px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 240px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:120px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:120px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:230px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:230px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:340px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}
}

@media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 800px) {
  
	
	body  {
		width: 100% !important;
		margin: 0;
		padding: 0;
		background-size: auto !important;
		background-position: center top !important;
	}
  
  .body_top_default
{
background: url(../../img/headerBgMob.png) no-repeat;
background-position: center 0px;

 width: 995px;

 height: auto;
}

.msia  {
	
	display: none;
	}
.msiaMob  {
	display: block;
	}
	

#ms_lan {
    cursor: pointer;
    height: 70px;
    left: 240px;
    position: absolute;
    top: 10px;
    width: 270px;
}
	
#ms_lan:hover{
	width: auto;
	height:auto;
	position:absolute;
	cursor:pointer;
	left: 240px;
	top: 10px;
}
#ms_lan:hover img
{
   	width:auto;
	height:auto;
}

#vt_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:120px;
	cursor:pointer;
}

.viet  {
	
	display: none;
	}
.vietMob  {
	display: block;
	}
	
#vt_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:120px;
	cursor:pointer;
}

#vt_lan:hover img
{
   	width:auto;
	height:auto;
}

.indo  {
	
	display: none;
	}
.indoMob  {
	display: block;
	}

#id_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:230px;
	cursor:pointer;
}

#id_lan:hover{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:230px;
	cursor:pointer;
}
#id_lan:hover img
{
	width:auto;
	height:auto;
}

.thai  {
	
	display: none;
	}

.thaiMob  {
	display: block;
}

#th_lan{
	width:270px;
	height:70px;
	position:absolute;
	left:240px;
	top:340px;
	cursor:pointer;
}

#th_lan_hover{
	width:266px;
	height:331px;
	position:absolute;
	right:20px;
	top:0px;
	cursor:pointer;
}
#th_lan_hover img
{
   	width:266px;
	height:331px;
}

#logo_img_default {
    margin: 15px auto 0;
    width: 230px !important;
}


.logo_default {
    margin: 0 auto;
    width: 230px !important;
}

.top_logo {
    height: auto;
}

.body_wrapper {
    width: 100%;
}

.body_top_default {
    background: rgba(0, 0, 0, 0) url("../../img/headerBgMob.png") no-repeat scroll center 0;
    height: 120px;
    width: 100%;
}


.body_bottom {
    display: none;
}

.body_content_default
{
width: 100%;
height: 300px;
position: relative;
}
}