@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.gap1  {
	margin-bottom: 50px;
}
.reas  {
	margin-bottom: 15px;
}

.reas span  {
	display: block;
}

.reasH  {
	font-weight: bold;
	font-size: 18px;
	margin-top: 8px;
}

.reasP  {
	font-size: 12px;
}

.tp01  {
	margin-top: 70px;
}

.tp02  {
	font-size: 16px;
	margin-left: 30px;
}

.tp03  {
	margin-bottom: 23px;
}

.tp04  {
	padding-bottom: 61px !important;
}

.tp05  {
	margin-bottom: -10px;
}

.tp06  {
	margin-top: 26px;
	margin-left: 15px;
}

.tp07  {
	margin-left: 15px;
}

.tp010  {
	margin-top: 40px;
	margin-right: 15px;
}

.tp011  {
	margin-right: 15px;
}

.tp08  {
	margin-right: 10px;
	margin-top: 2px;
	color: green;
}

.tp09  {
	margin-left: 10px;
	margin-top: 2px;
	color: green;
}

.txtRight  {
	display: block;
	position: absolute;
	left: 20px;
	top: 340px;
	width: 370px;
	height: 129px;
	background: url(../images/txt-bg.png)no-repeat;
}

.txtRight span  {
	display: block;
	text-align: left;
	color: #520009;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.txtLeft  {
	display: block;
	position: absolute;
	right: 20px;
	top: 340px;
	width: 370px;
	height: 129px;
	background: url(../images/txt-bg-rev.png)no-repeat;
}

.txtLeft span  {
	display: block;
	text-align: right;
	color: #520009;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
}

.txtHead1  {
	font-size: 36px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 2px;
	margin-left: 30px;
}

.txtHead3  {
    font-size: 35px;
    font-weight: 700;
	color: #F5E269;
	margin-bottom: 12px;
	margin-left: 30px;
}

#earn .box {
    background: #000 url("../images/bg-3.jpg") no-repeat fixed center top;
}

#reason .box {
    background: #000 url("../images/bg-2.jpg") no-repeat fixed center top;
}

body {
  background: #3C0103;
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #D4B35D;
  font-weight: 300;
}
a {
  color: #52b6ec;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.btn {
  font-weight: 300;
  border: 0;
}
.btn.btn-primary {
  background-color: #3C0103;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #AE1817;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #80c9f1;
  text-decoration: none;
  outline: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
}
#main-slider {
  background-image: url(../images/slider-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 80px 0px 10px;
  color: #fff;
}
#main-slider .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
  text-align: center;
}
#main-slider .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 2;
}
#main-slider .item.active h1 {
  -webkit-animation: scaleUp 400ms;
  -moz-animation: scaleUp 400ms;
  -o-animation: scaleUp 400ms;
  -ms-animation: scaleUp 400ms;
  animation: scaleUp 400ms;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #510104;
  color: #fff;
  display: inline-block;
  margin-top: -50px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #F5E269;
  color: #000;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider h1 {
  font-size: 48px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.1);
  color: #F5E269;
}
#contact .box {
  background-color: #222;
  color: #999;
}
#contact .box h1,
#contact .box h2,
#contact .box h3 {
  color: #D4B35D;
  font-size: 26px;
}
#contact .box a {
  color: #999;
}
#contact .box a:hover {
  color: #52b6ec;
}
#contact .box input[type="text"],
#contact .box input[type="email"],
#contact .box input[type="password"],
#contact .box textarea {
  background-color: #111;
  border: 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#contact .box input[type="text"]:focus,
#contact .box input[type="email"]:focus,
#contact .box textarea:focus {
  background-color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#faq .box {
    background: #000 url(../images/bg-2.jpg)no-repeat center top fixed;
}

.tit1  {
	padding: 0px !important;
}

.ud  {
	text-decoration: underline;
	font-size: 24px;
}

.ab1  {
	font-weight: 700;
	color: #D4B35D;
}

.ab3  {
	font-weight: 700;
	color: #D4B35D;
	font-size: 20px;
}

.ab4  {
	margin-right: 8px;
}


.sp1  {
background: red;
color: #fff;	
}

.sp1 a:link  {
color: #fff;	
}

.sp1 a:active  {
color: #fff !important;	
}

.sp1 a:visited  {
color: #000 !important;	
}

.sp1 a:hover  {
color: #000 !important;	
}

.ab2 ul li, .ab2 ul li ol li  {
	padding: 4px 0px !important;
}
.box {
  padding: 50px 30px 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  position: relative;
}
.box.first {
  margin-top: -40px;
  border-radius: 5px 5px 0 0;
  background: #000;
}
.box.last {
  border-radius: 0 0 5px 5px;
}
.box h2 {
  padding: 22px 30px 10px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 5px;
  font-size: 30px;
}
#portfolio .box {
  background: #000 url(../images/bg-2.jpg)no-repeat center top fixed;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background: #3C0103;
  padding: 10px;
  border-bottom: 1px solid #3C0103;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.plan-name span  {
	display: block;
	font-weight: 200;
	font-size: 16px;
}
#pricing .box {
  background-color: #000;
}
#pricing .plan {
  background: url(../images/terms-bg.jpg)no-repeat top center;
  list-style: none;
  margin: 0 0 20px;
  text-align: center;
  padding: 15px 0px;
}
#pricing .plan li {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px dashed #eee;
  color: #fff;
}
#pricing .plan li.plan-name {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  color: yellow;
}
#pricing .plan li.plan-price {
  color: #fff;
  padding: 15px 0;
  font-size: 48px;
}
#pricing .plan li.plan-action {
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 0;
}
#pricing .plan.featured {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#pricing .plan.featured .plan-price {
  color: #fff;
  background-color: #52b6ec;
  border-bottom-color: #52b6ec;
  margin: 0;
}
#services .box {
  padding-bottom: 0;
  background: #000;
}
#services .row > div {
  margin-bottom: 50px;
}
.center {
  text-align: center;
}
.center ul li  {
	padding: 5px 0px;
}
#team-scroller .designation {
  margin-top: 10px;
  display: block;
}
#pricing-table h2 span  {
	display: block;
	font-size: 20px;
	font-weight: 200;
	padding-top: 5px;
}
.member {
  margin: 0 50px;
  text-align: center;
}
.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
  top: 30%;
  position: absolute;
}
.carousel.scale .left-arrow {
  left: -10px;
}
.carousel.scale .right-arrow {
  right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
  -webkit-animation: scaleUp 200ms linear 0 both;
  -moz-animation: scaleUp 200ms linear 0 both;
  -ms-animation: scaleUp 200ms linear 0 both;
  -o-animation: scaleUp 200ms linear 0 both;
  animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
  -webkit-animation: scaleUp 200ms linear 100ms both;
  -moz-animation: scaleUp 200ms linear 100ms both;
  -ms-animation: scaleUp 200ms linear 100ms both;
  -o-animation: scaleUp 200ms linear 100ms both;
  animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
  -webkit-animation: scaleUp 200ms linear 200ms both;
  -moz-animation: scaleUp 200ms linear 200ms both;
  -ms-animation: scaleUp 200ms linear 200ms both;
  -o-animation: scaleUp 200ms linear 200ms both;
  animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
  -webkit-animation: scaleUp 200ms linear 400ms both;
  -moz-animation: scaleUp 200ms linear 400ms both;
  -ms-animation: scaleUp 200ms linear 400ms both;
  -o-animation: scaleUp 200ms linear 400ms both;
  animation: scaleUp 200ms linear 400ms both;
}
.icon-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block !important;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.icon-social.icon-facebook {
  background: #4f7dd4;
}
.icon-social.icon-facebook:hover {
  background: #789bde;
}
.icon-social.icon-twitter {
  background: #5bceff;
}
.icon-social.icon-twitter:hover {
  background: #8eddff;
}
.icon-social.icon-linkedin {
  background: #21a6d8;
}
.icon-social.icon-linkedin:hover {
  background: #49b9e3;
}
.icon-social.icon-google-plus {
  background: #dc422b;
}
.icon-social.icon-google-plus:hover {
  background: #e36957;
}
.icon-social.icon-pinterest {
  background: #cb2027;
}
.icon-social.icon-pinterest:hover {
  background: #e03e44;
}
.icon-social.icon-youtube {
  background: #ce332d;
}
.icon-social.icon-youtube:hover {
  background: #da5954;
}
.icon-social:hover {
  color: #fff;
}
.navbar-default {
  background: rgb(81, 1, 4);
background: -moz-linear-gradient(90deg, rgb(81, 1, 4) 20%, rgb(0, 0, 0) 80%);
background: -webkit-linear-gradient(90deg, rgb(81, 1, 4) 20%, rgb(0, 0, 0) 80%);
background: -o-linear-gradient(90deg, rgb(81, 1, 4) 20%, rgb(0, 0, 0) 80%);
background: -ms-linear-gradient(90deg, rgb(81, 1, 4) 20%, rgb(0, 0, 0) 80%);
background: linear-gradient(180deg, rgb(81, 1, 4) 20%, rgb(0, 0, 0) 80%);
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 1px 1px 18px 0px rgba(85, 85, 85, 0.85);
-moz-box-shadow:    1px 1px 18px 0px rgba(85, 85, 85, 0.85);
box-shadow:         1px 1px 18px 0px rgba(85, 85, 85, 0.85);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
  margin-right: 0px;
  margin-left: 10px;
  width: 200px;
  height: 78px;
  background: url(../images/logo.png) no-repeat 0 50%;
}
.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 30px 18px;
  font-size: 13px;
  line-height: 18px;
  color: #ccc;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #F5E269;
  color: #000;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-md {
  font-size: 24px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-color1 {
  background-color: #e74c3c;
}
.icon-color2 {
  background-color: #2ecc71;
}
.icon-color3 {
  background-color: #3498db;
}
.icon-color4 {
  background-color: #8e44ad;
}
.icon-color5 {
  background-color: #1abc9c;
}
.icon-color6 {
  background-color: #2c3e50;
}
.gap {
  margin-bottom: 15px;
}
.big-gap {
  margin-bottom: 50px;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #52b6ec;
}
ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
ul.social > li {
  margin: 0 0 20px;
}
ul.social > li > a {
  display: block;
  font-size: 18px;
}
ul.social > li > a i {
  margin-right: 10px;
}
textarea#message {
  padding: 10px 15px;
  height: 220px;
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
.navbar-default .navbar-nav > li > a {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #ccc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555 !important;
}

.navbar-default .navbar-nav > li.active > a  {
	color: #555 !important;
}

#main-slider h1 {
    font-size: 38px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #F5E269;
}

.portfolio-items.col-4 > li {
    width: 100%;
}

#footer img  {
	width: 300px;
}

}
