@charset "utf-8";
/* LC CSS */

/* OVERWRITE ORGINAL ELEMENTS */
body  {
	background-color: #000;
	background-image: url(../../img/4d-bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

.dLobby  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
}

.dLobbyInner  {
	width: 994px;
	height: 110px;
	margin: 0 auto;
	padding: 0px 15px 0px;
	display: block;
	position: relative;
	text-align: center;
}

.dLobbyInner table  {
	position: absolute;
	display: block;
	left: 250px;
	top: 35px;
}


.midSect  {
	margin: 0px 0px 0px;
	width: 100%;
}

.midSect2 {
    background: rgba(0, 0, 0, 0) url("../../img/bg-lyr2.png") repeat-x scroll center top;
}

.midSectInner  {
	padding-top: 40px;
}

	
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lc {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}



.lc {
    width:400px;
    margin: 0px;
 
}
 .showbox { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 400px;
	height: 300px;
	background: url(../../img/payout.png) no-repeat;
	} 

.showbox:hover {
	background: url(../../img/payout-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}
	
.showbox1 { 
    float: right; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 400px;
	height: 300px;
	background: url(../../img/betnow.png)no-repeat;
	} 

.showbox1:hover {
	background: url(../../img/betnow-hower.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	 

.showbox2 {
	float: left;
	width: 297px;
	height: 300px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	} 

 
	
	.showbox3 {
	float: left;
	width: 387px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 18px;
	} 

 
	
	.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-5.png)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-thumb-5-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-6.png)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-thumb-6-hover.png)no-repeat;
	}
	

.lcCont  {
	padding-left: 35px;
	margin-top: 22px;
	width: 1170px;
}

/* CASINO LOBBY */
.lcLobby  {
	width: 100%;
	margin: 0px;
	position: relative;
}

.lcLobbyInner  {
	width: 1170px;
	margin: 0 auto;
	padding: 15px 15px;
	display: block;
	position: relative;
}

.lcThumb  {
	float: left;
	display: block;
	width: 245px;
}
/* CASINO LOBBY */


.midSect {
    margin: 5px 0px 0px;
}

.lcTable {
	margin-left: 170px;
}

.midSect  {
	background: none !important;
	width: 100%;
}

.footerOuter  {
	background: url(../../img/bg-lyr2.png) repeat top center;
}

.footerOuter1  {
	background: #000;
}

.footer  {
	padding-top: 15px !important;
}


 
.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 440px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

 

#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0px 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 140px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table3 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
	
	}
