
.sliderInner8 {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

.acctBg  {
background: #000 url(../../img/lc-bg.jpg) center top repeat-x !important;
}

.midSectInneracct {
    display: block;
    height: auto;
    margin: 0px auto 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
	padding-top: 20px;
    position: relative;
    width: 1024px;
}

.headerTop ul li {
    display: block !important;
}


.headerRightTable a:link, .headerRightTable a:visited {
	color: #fff;
	text-decoration: none;
}

.headerRightTable a:hover {
	color: #d51821;
	text-decoration: none;
}


.head {
    background: #d51821 none repeat scroll 0 0;
    color: #000 !important;
    padding: 5px 0;
}
.wallIt {
    color: #fff;
    padding: 5px 0;
	text-align: center;
}


.total {
    background: #d6841d none repeat scroll 0 0;
    color: #000 !important;
    padding: 5px 0;
}


.wallCont {
    display: block;
    position: relative;
    width: 100%;
}

.fa {
	margin-right: 5px;
}

.loginBtn a:link, .loginBtn a:visited  {
}

.loginBtn a:hover  {
	color: #fff !important;
}
.walletTop  {
	display: block;
	position: relative;
	width: 100%;
	height: 180px;
	margin-top: 25px;
	margin-left: 0px;
	margin-bottom: 5px;
}
.wallet1  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 0px;
}
.wallet2  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	right: 625px;
}
.wallet3  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	right: 418px;
}
.wallet4  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	right: 208px;
}
.wallet5  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	right: 0px;
}
.wallet6  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 0px;
}
.wallet7  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	right: 625px;
}
.wallet8  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	right: 418px;
}
.wallet9  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	right: 208px;
}
.wallet10  {
	background: #000;
	border: 1px solid #d51821;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	right: 0px;
}
.main-set-title  {
	font-size: 16px;
	font-weight: bold;
	margin-top: 17px;
	color: yellow;
}
.main-setPrice  {
	font-size: 14px;
	color: #fff;
}
.inlineAccMenu {
    display: block;
    height: 30px;
    padding-left: 0;
    padding-top: 3px;
    position: relative;
}
.inlineAccMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inlineAccMenu ul li {
	border: 1px solid #d51821;
	background: #d51821;
	color: #000;
	display: inline;
	float: left;
	height: 30px;
	line-height: 28px;
	margin-right: 10px;
}
.inlineAccMenu ul li a:link, .inlineAccMenu ul li a:visited {
	color: #000;
	padding: 0 15px;
	text-decoration: none;
	font-size: 13px;
}
.inlineAccMenu ul li a:hover {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}
.title_bar {
    border-bottom: 1px solid #d51821;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0;
    padding-left: 10px;
}
.title_bar span {
	background: #d51821 none repeat scroll 0 0;
	border-left: 1px solid #d51821;
	border-right: 1px solid #d51821;
	border-top: 1px solid #d51821;
	padding: 0 12px;
	position: absolute;
	color: #000;
	font-size: 13px;
}
.acctContent {
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 0 20px 20px;
	position: relative;
	width: 98%;
	border-bottom: 1px solid #d51821;
	background: #000;
}

.mtTable th  {
	background: #d51821;
	line-height: 12px;
}

.acctContent1 {
	display: inline-block;
	margin-bottom: 50px;
	padding: 25px 15px 20px 15px;
	position: relative;
	width: 995px;
	color: #fff;
	background: #000;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}
.wallet_title {
	color: #d51821;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 0;
}

.submitAcct a:link, .submitAcct a:visited {
    background-color: #e9a06f;
    background-repeat: repeat-x;
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #ffae00 none repeat scroll 0 0;
    color: #000;
}

.acctRow  {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 input {
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 0px;
	padding-bottom: 0;
	width: 195px;
	color: #FFFFFF;
	padding-right: 15px;
}
.acctRow2 label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #fff;
}
.acctRow label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRowR input {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 25px;
}
.acctRowR td {
    padding-bottom: 5px;
	color: #fff;
	font-size: 13px;
}
.acctRow input {
	border: 1px solid #e1e1e1;
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 90px;
	padding-bottom: 0;
	width: 195px;
	color: #000;
	padding-right: 15px;
}

.cstInput1 input {
    float: none !important;
    margin: 0 10px;
    width: 100px !important;
}
.DepContent {
	background: #000;
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 10px 15px;
	position: relative;
	width: 98%;

}

.remInfo  {
	color: #ccc;
}

.acctRow select  {
	background: #000000 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #FFF;
    float: left;
    height: 27px;
    width: auto;
}

.eleLeft {
    display: inline-block;
    float: left;
}

.ab1 select  {
	margin-left: 10px;
}

.depLeft {
    color: #808282;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 30px 20px 0;
    text-align: justify;
    width: 260px;
}
.depRight {
    border-left: 1px solid #d51821;
    float: left;
    padding-left: 20px;
}
.depLeft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.depLeft ul li {
	color: #FFFFFF !important;
	margin: 0 0 5px;
	padding: 0;
}
.depLeft p {
	margin-top: 10px;
	color: #FFFFFF;
}

input[placeholder] {
    color: #000;
    font-size: 11px;
}

.acctText {
    color: #fff;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
	font-size: 13px;
}
.acctTextReg {
    color: yellow;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 450px;
}

.mtTable table td input  {
	width: 100px;
	float: none !important;
}