@charset "utf-8";
/* AFTER LOGIN OTHER PG WITH LEFT COLUMN */

body  {
	background-color: #000;
	background-image: url(../../img/sp-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0% 20%; 
}

.logD  {
	display: block;
	margin: 9px auto 4px;
	padding: 0;
	width: 400px;
}

.logD span  {
	color: #fff;
}

.loginLeft  {
	float: left;
}

.loginRight  {
	float: right;
}

.logD span a:link, .logD span a:visited  {
	width: auto;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	margin-right: 5px;
	text-decoration: none;
}

.midSect  {
	margin: 10px 0px 0px;
}
.midSectInner  {
	padding: 25px 0px 0px !important;
}

.pmLobby  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
}

.pmLobbyInner  {
	width: 994px;
	height: auto;
	margin: 0 auto;
	padding: 15px 15px 0px;
	display: block;
	position: relative;
	text-align: center;
}

.footer  {
	padding-top: 15px !important;
}

.promoContainerInner img  {
	margin-bottom: 40px;
}

.otherPG  {}

.otherPG img  {
	margin-bottom: 8px;
}

.otherPG table  {
	border-top: 1px solid #00bff4;
	background-color: #000;
}

.otherPG table td  {
	border-bottom: 1px solid #00bff4;
	border-left: 1px solid #00bff4;
	padding: 5px;
	vertical-align: middle;
}

.otherPG table td:last-child  {
	border-right: 1px solid #00bff4;
}

/* WALLET CSS */
.wallet_table  {
	background-color: #363636;
	width: 100%;
	margin: 5px 0px 10px;
}

.wallet_table table  {
	border: 0px solid #333;
	width: 100%;
}

.wallet_table table td  {
	border: 1px solid #333;
	text-align: center;
	padding: 10px;
}

.wallet_table span  {
	display: block;
}

.main-set  {
	width: 200px;
	background-color: #2e2e2e;
	vertical-align: middle;
}

.main-set-title  {
	color: #00bff4;
}

.main-setPrice  {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

.main-setPriceTotal  {
	color: red;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

.total_set  {
	background-color: #3D3D3D;
}

.inlineAccMenu  {
	display: block;
	position: relative;
	height: 30px;
	padding-left: 0px;
	padding-top: 3px;
}

.inlineAccMenu ul  {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.inlineAccMenu ul li  {
	display: inline;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #00bff4;
	margin-right: 10px;
	border: 1px solid #00bff4;
	background-color: #000;
	padding: 0px 10px;
}

.inlineAccMenu ul li a:link, .inlineAccMenu ul li a:visited    {
	color: #00bff4;
	text-decoration: none;
	margin: 0px auto;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	background-color: #000;
}

.inlineAccMenu ul li a:hover  {
	color: #fff;
	text-decoration: none;
	background: none;
	display: inline-block;
}

.title_bar  {
	border-bottom: 1px solid #00bff4;
	display: block;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	margin: 15px 0px 0px;
}

.title_bar span  {
   padding: 0px 12px 0px;
   border-right: 1px solid #00bff4;
   border-left: 1px solid #00bff4;
   border-top: 1px solid #00bff4;
   background: #000;
   position: absolute;
   color: #fff;
}

.acctContent  {
	width: 1024px;
	height: auto;
	display: block;
	padding-top: 85px;
	padding-right: 0px;
	padding-left: 88px;
	padding-bottom: 0px;
	position: relative;
	margin: 0px auto 50px;
	position: relative;
}

.acctContentReg  {
	width: 925px;
	display: block;
	background: #000;
	padding: 25px 0px 0px 100px;
	position: relative;
	margin-bottom: 50px;
	position: relative;
}

.wallet_title  {
	font-weight: bold;
	font-size: 14px;
	color: #00bff4;
	margin-left: 0px;
	margin-bottom: 12px;
	display: block;
}

/* FORM ELEMENT */
.acctRow  {
	width: 100%;
	height: 30px;
	display: block;
	margin-bottom: 10px;
}



.acctRowR  {
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: 10px;
}

.acctRowR label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRow label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRowR input  {
	width: 195px;
	height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	border: 1px solid #808080;
	background: #000;
}

.acctRowR td  {
	padding-bottom: 5px;
}

.acctRow input  {
	width: 195px;
	height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	border: 1px solid #00bff4;
	background: #000;
}

input:focus {
	border:solid 1px #fff; 
}

input[placeholder] {
   color: #fff;
   font-size: 11px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

.submitAcct  {
	float: left;
	margin-left: 180px;
}

.submitAcct a:link, .submitAcct a:visited  {
	width: 75px;
	height: 22px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid #00bff4;
	font-size: 11px;
	font-weight: bold;
	display: block;
	background-image: url(../../img/submit-bg.jpg);
	background-repeat: repeat-x;
}

.submitAcct a:hover  {
	background-image: url(../../img/submit-bg-hover.jpg);
	background-repeat: repeat-x;
	color: #000;
}

.acctText  {
	width: 195px;
	height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	color: #a1a1a1;
}

.acctTextReg  {
	width: 450px;
	height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	color: yellow;
	font-size: 11px;
}

.acctContent select  {
	border: 1px solid #808080;
	background: #000;
	height: 25px;
	color: #fff;
}

.acctContentReg select  {
	border: 1px solid #00bff4;
	background: #000;
	height: 25px;
	color: #fff;
}

.DepContent  {
	width: 1014px;
	display: block;
	background: #000;
	padding: 25px 5px 0px 5px;
	position: relative;
	margin-bottom: 50px;
	position: relative;
}

.depLeft  {
	float: left;
	color: #808282;
	font-size: 12px;
	padding: 0px 30px 20px 0px;
	margin: 0px;
	width: 260px;
	text-align: justify;
	display: block;
}

.depRight  {
	float: left;
	border-left: 1px solid #808080;
	padding-left: 20px;
}

.depLeft ul	 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.depLeft ul li	 {
	margin: 0px 0px 5px;
	padding: 0;
	color: #ccc !important;
}

.depLeft p  {
	margin-top: 10px;
}

.radiobtn  {
	width: 15px !important;
	margin: 0px 15px 0px 0px !important;
}

.upload  {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

.result  {
	display: block;
	width: 150px;
	padding: 0px;
	margin: 20px 0px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dbba67;
}

.eleLeft  {
	float: left;
}

.eleLeft label  {
	width: 100px !important;
}

.eleLeft select  {
	margin-right: 10px !important;
}

.eleLeft span  {
	width: 240px !important;
}

/* FORM ELEMENT */

#dropdown-2  {
	margin-left: -10px;
}
