
.fa {
    margin-right: 5px;
}

.headerRightTable a:link, .headerRightTable a:visited  {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    margin-right: 5px;
	text-decoration: none;
}
.headerRightTable a:hover  {
    color: #F5E783 !important;
	text-decoration: none;
}
.leftCol {
	float: left;
	width: 280px;
	display: block;
}
.leftCol ul {
	float: left;
	margin: 0;
	padding: 0;
}
.leftCol ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 130px;
	text-align: center;
}
.mainWallet  {
	width: 100%;
	margin: 0px 0px 10px;
	padding: 8px 0px;
	background: #AA1113;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 16px;
	font-weight: bold;
	background: url(../../img/headerBg.jpg)left center no-repeat;
	border: 1px solid #775B2B;
}

.mainWallet span  {
	display: block;
	width: 100%;
	font-size: 22px;
	color: #000;
	margin: 10px 0px 0px ;
	text-shadow: none;
}
.walletTop  {
	display: block;
	position: relative;
	width: 100%;
	height: 130px;
	padding-top: 40px;
	margin-left: 0px;
}
.wallet1  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 0px;
}
.wallet2  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 207px;
}
.wallet3  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 412px;
}
.wallet4  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 617px;
}
.wallet5  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 824px;
}
.wallet6  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 80px;
	left: 0px;
}
.wallet7  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 80px;
	left: 207px;
}
.wallet8  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 80px;
	left: 412px;
}
.wallet9  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 80px;
	left: 617px;
}
.wallet10  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 80px;
	left: 824px;
}

.acctContainer h2  {
	color: #EEEAB1;
	font-size: 16px;
}

.wallet_table {
	background-color: #000000;
	margin-top: 5px;
	margin-left: 0;
	margin-bottom: 10px;
	width: 100%;
}
.wallet_table table {
    border: 0 solid #333;
    width: 100%;
}
.wallet_table table td {
	border: 1px solid #EEEAB1;
	padding: 10px;
	text-align: center;
}
.wallet_table span {
    display: block;
}
.main-set {
	background-color: #EEEAB1;
	vertical-align: middle;
	width: 200px;
	color: #000 !important;
}
.main-set-title {
	color: yellow;
	font-size: small;
	margin-top: 10px;
}
.main-setPrice {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main-set-title1 {
	color: #000;
	font-size: small;
}
.main-setPrice1 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main-setPriceTotal {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
.total_set {
	background-color: #EEEAB1;
}
.inlineAccMenu {
    display: block;
    height: 30px;
    padding-left: 0;
    padding-top: 3px;
    position: relative;
}
.inlineAccMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inlineAccMenu ul li {
	border: 1px solid #EEEAB1;
	background: #000;
	color: #fff;
	display: inline;
	float: left;
	height: 30px;
	line-height: 28px;
	margin-right: 10px;
}
.inlineAccMenu ul li a:link, .inlineAccMenu ul li a:visited {
	color: #fff;
	padding: 0 15px;
	text-decoration: none;
	font-size: 13px;
}
.inlineAccMenu ul li a:hover {
	background: #000 none repeat scroll 0 0;
	color: yellow;
	display: inline-block;
	text-decoration: none;
}
.title_bar {
    border-bottom: 1px solid #EEEAB1;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0;
    padding-left: 10px;
}
.title_bar span {
	background: #EEEAB1 none repeat scroll 0 0;
	border-left: 1px solid #EEEAB1;
	border-right: 1px solid #EEEAB1;
	border-top: 1px solid #EEEAB1;
	padding: 0 12px;
	position: absolute;
	color: #000;
	font-size: 13px;
}

.acctContent {
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 0 20px 20px;
	position: relative;
	width: 1004px;
	border: 1px solid #EEEAB1;
	background: #000;
}

.acctContent1 {
	display: inline-block;
	margin-bottom: 50px;
	padding: 25px 15px 20px 15px;
	position: relative;
	width: 995px;
	color: #fff;
	background: #000;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}

.wallet_title {
	color: #EEEAB1;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 0;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 input {
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 0px;
	padding-bottom: 0;
	width: 195px;
	color: #FFFFFF;
	padding-right: 15px;
}
.acctRow2 label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #fff;
}
.acctRow label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRowR input {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 25px;
}
.acctRowR td {
    padding-bottom: 5px;
	color: #fff;
	font-size: 13px;
}
.acctRow input {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	float: left;
	height: 23px;
	padding-top: 0;
	/* padding-left: 90px; */
	padding-bottom: 0;
	/* width: 195px; */
	color: #000 !important;
	padding-right: 15px;
}
.acctRow select {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 10px;
	padding-bottom: 0;
	width: auto;
	color: #000;
	padding-right: 15px;
}
input:focus {
	border: 1px solid #C0B122;
	color: #FFFFFF;
}
input[placeholder] {
    color: #000;
    font-size: 11px;
}

.acctText {
    color: #fff;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
	font-size: 13px;
}
.acctTextReg {
    color: yellow;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 450px;
}
.acctContent select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}

.submitAcct {
    float: left;
    margin-left: 0px;
}
.submitAcct a:link, .submitAcct a:visited {
	background: #EEEAB1;
	color: #000 !important;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 185px;
}
.submitAcct a:hover {
	background: #BCAD20;
	color: #fff;
}

.submitAcct2 {
    float: left;
    margin-left: 0px;
}
.submitAcct2 a:link, .submitAcct2 a:visited {
	background: #EEEAB1;
	color: #000;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 185px;
}
.submitAcct2 a:hover {
	background: red;
	color: #fff;
}

.cstInput1 input  {
	width: 100px !important;
	float: none !important;
	margin: 0px 10px 0px 10px;
}
.cstInput1  {
	padding-left: -10px;
}
.DepContent {
	background: #000;
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 10px 15px;
	position: relative;
	width: 1005px;
	border-top: 1px solid #EEEAB1;
}
.depLeft {
    color: #808282;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 30px 20px 0;
    text-align: justify;
    width: 230px;
}
.depRight {
    border-left: 1px solid #EEEAB1;
    float: left;
    padding-left: 20px;
}
.depLeft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.depLeft ul li {
	color: #FFFFFF !important;
	margin: 0 0 5px;
	padding: 0;
}
.depLeft p {
	margin-top: 10px;
	color: #FFFFFF;
}

.acctContent1 {
	display: inline-block;
	margin-bottom: 50px;
	padding: 25px 15px 20px 15px;
	position: relative;
	width: 995px;
	color: #fff;
	background: #000;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}
.mtTable table  {
	border: 1px solid #EEEAB1;
	background: #000;
}

.mtTable table th  {
	background-color: #EEEAB1;
	color: #000;
}

.mtTable table td  {
	border-bottom: 1px solid #EEEAB1;
}

.mtTable table td input  {
	width: 100px;
	float: none !important;
}

.mtTable table td input[type='checkbox']  {
	width: 15px;
}

.mtTable table th input[type='checkbox']  {
	width: 15px;
	float: none !important;
}
.rightCol {
	float: left;
	width: 700px;
	display: block;
	margin: 0px 0px 0px 20px;
	padding: 12px 12px 12px 12px;
	color: #fff;
	font-size: 12px;
	background: url(../../img/fancybox_overlay.png)repeat;
}

.statementInput  {
	width: 100px !important;
}

.statementInput input:focus  {
	width: 100px !important;
	padding: 0px !important;
}

.deptable table  {
	width: 700px;
	border-top: 1px solid #707070 !important;
	border-left: 1px solid #707070 !important;
	border-right: 1px solid #707070 !important;
}
.deptable table th, .deptable table td  {
	border-bottom: 1px solid #707070 !important;
	border-right: 1px solid #707070 !important;
	padding: 5px !important;
}
.deptable table th:last-child, .deptable table td:last-child  {
	border-right: 0px solid #707070 !important;
}


.acctRowT input {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #f000;
    float: left;
    height: 25px;
    padding: 0 15px 0 50px;
    width: 195px;
}


.acctRowT label {
    float: left;
    line-height: 30px;
    width: 150px;
}

.acctRowS input {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #000 !important;
    float: left;
    height: 25px;
    padding: 0 15px 0 50px;
    width: 100px;
}


.acctRowS label {
    float: left;
    line-height: 30px;
    width: 143px;
}

.submitAcct3 a:link, .submitAcct3 a:visited {
    background: #eeeab1 none repeat scroll 0 0;
    color: #000 !important;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct3 a:hover {
    background: #bcad20 none repeat scroll 0 0;
    color: #fff;
}

.eleLeft {
    display: inline-block;
    float: left;
}
.eleLeft label {
    width: 100px !important;
}
.eleLeft input {
    margin-right: 10px !important;
    width: 80px !important;
	color: #000;
}
.eleLeft select {
    margin-right: 10px !important;
}

.acctRowG table {
    border: 1px solid #707070 !important;
}


.acctRowG table th {
    background-color: #000;
    border-bottom: 1px solid #d6d6d6 !important;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.acctRowG table td, .acctRowG table th {
    padding: 10px 10px 10px 0;
}

.midBottom  {
	width: 1004px;
	height: auto;
	display: inline-block;
	position: relative;
	margin-top: -10px;
	padding: 0px;
}
