@charset "utf-8";
/* BANKING CSS */

/* OVERWRITE ORGINAL ELEMENTS */
body  {
	background: #000 url(../../img/sp-bg.jpg)center top repeat-x !important;
}

.loginDetails input  {
	background: url(../../img/nav-sub-bg.png)repeat !important;
	border: 1px solid #464646 !important;
}

.fPass a:link, .fPass a:visited  {
	color: #fff !important;
}

.fPass a:hover  {
	color: yellow !important;
}

/* PAGE TITLE */
.pgTitle  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
	z-index: -1;
}

.pgTitleInner  {
	width: 1024px;
	margin: 0 auto;
	padding: 0px;
	display: block;
}
/* PAGE TITLE */

/* NAVIGATION ELEMENT */
.navigation  {
	border-top: 1px solid #000 !important;
	background-image: url(../../img/navbg.png);
	background-repeat: repeat-x;
}

.navigation ul li ul li { 
  background: url(../../img/nav-sub-bg-slot.png)repeat !important; 
}

/* MID SECTION */
.midSect  {
	width: 100%;
	height: auto;
	margin: 10px 0px 0px;
	padding: 0;
	background: url(../../img/bg-lyr2.png)no-repeat top center;
	z-index: 99999999;
	display: block;
}

.midSectInner  {
	padding: 45px 0px 0px !important;
}

.bankContainer1 {
	width: 100%;
	height: auto;
	margin: 0px 0px 30px;
	padding: 0;
	position: relative;
}

.bankContainer1Inner  {
	width: 1024px;
	height: auto;
	margin: 10px auto 0px;
	padding: 0px;
	display: block;
	position: relative;
}
/* MID SECTION */

