@charset "utf-8";
/* LC CSS */

/* OVERWRITE ORGINAL ELEMENTS */
body  {
	background-color: #000;
	background-image: url(../../img/lc-bg.jpg);
	background-repeat: repeat-x;
}

.midSect  {
	margin: 245px 0px 0px;
}

	
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lc {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

.lc {
    width:245px;
    margin: 0px;
}

.showbox { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-1.png) no-repeat;
	} 

.showbox:hover {
	background: url(../../img/lc-thumb-1-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}
	
.showbox1 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-2.png)no-repeat;
	} 

.showbox1:hover { 
	background: url(../../img/lc-thumb-2-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	 

.showbox2 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-3.png)no-repeat;
	} 

.showbox2:hover { 
	background: url(../../img/lc-thumb-3-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox3 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-4.png)no-repeat;
	} 

.showbox3:hover { 
	background: url(../../img/lc-thumb-4-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-5.png)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-thumb-5-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-6.png)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-thumb-6-hover.png)no-repeat;
	}
	
	.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.lcCont  {
	padding-left: 35px;
	margin-left: 65px;
	margin-top: 22px;
}

/* CASINO LOBBY */
.lcLobby  {
	width: 100%;
	margin: 0px;
	position: relative;
}

.lcLobbyInner  {
	width: 1170px;
	height: auto;
	margin: 0 auto;
	padding: 15px 15px  ;
	display: block;
	position: relative;
}

.lcThumb  {
	float: left;
	display: block;
	width: 245px;
}
/* CASINO LOBBY */


.midSect {
    margin: 5px 0px 0px;
}

.lcTable {
	margin-left: 170px;
}

.midSect  {
	background: none !important;
}

.footerOuter  {
	background: url(../../img/bg-lyr2.png) repeat top center;
}

.footer  {
	padding-top: 15px !important;
}
