@charset "utf-8";
/* LC CSS */

/* OVERWRITE ORGINAL ELEMENTS */
body  {
	background-color: #000;
	background-image: url(../../img/mob-bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

.midSect  {
	margin: 0px 0px 0px;
	width: 100%;
}

.box1mob  {
	display: block;
	position: relative;
	float: left;
	width: 220px;
	height: 280px;
	border: 4px solid #0389c1;
	border-radius: 8px;
	margin: 25px 0px 25px 15px;
	background:url(../../img/allbet.png) no-repeat top center;
}

.box2mob  {
	display: block;
	position: relative;
	float: left;
	width: 220px;
	height: 280px;
	border: 4px solid #0389c1;
	border-radius: 8px;
	margin: 25px 0px 25px 25px;
	background:url(../../img/pt-mb.jpg) no-repeat top center;
}

.box3mob  {
	display: block;
	position: relative;
	float: left;
	width: 220px;
	height: 280px;
	border: 4px solid #0389c1;
	border-radius: 8px;
	margin: 25px 0px 25px 25px;
	background:url(../../img/gp-mb.jpg) no-repeat top center;
}

.box4mob  {
	display: block;
	position: relative;
	float: left;
	width: 220px;
	height: 280px;
	border: 4px solid #0389c1;
	border-radius: 8px;
	margin: 25px 0px 25px 25px;
	background:url(../../img/ag-mb.jpg) no-repeat top center;
}

.qr  {
	display: block;
	position: absolute;
	top: 110px;
	right: 10px;
}

.qr1  {
	display: block;
	position: absolute;
	bottom: 120px;
	right: -20px;
	width: 138px;
}

.qr2  {
	display: block;
	position: absolute;
	bottom: 0px;
	right: -20px;
	width: 138px;
}

.androidMb  {
	display: block;
	position: absolute;
	bottom: 45px;
	right: -20px;
}
.horseBtn  {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 100px;
}

	
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lc {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}



.lc {
    width:400px;
    margin: 0px;
 
}
 .showbox {
	float: left;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 326px;
	height: 300px;
	background: url(../../img/banner/gp-slot.png) no-repeat;
	} 

.showbox:hover {
	background: url(../../img/banner/gp-slot-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}
	
.showbox1 { 
    float: right; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 400px;
	height: 300px;
	background: url(../../img/banner/pt-slot.png)no-repeat;
	} 

.showbox1:hover {
	background: url(../../img/banner/pt-slot-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	 

.showbox2 {
	float: left;
	width: 370px;
	height: 300px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	} 

 
	
	.showbox3 {
	float: left;
	width: 445px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 18px;
	} 

 
	
	.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-5.png)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-thumb-5-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-6.png)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-thumb-6-hover.png)no-repeat;
	}
	

.lcCont  {
	padding-left: 35px;
	margin-top: 22px;
	width: 1170px;
}

/* CASINO LOBBY */
.lcLobby  {
	width: 100%;
	margin: 0px;
	position: relative;
}

.lcLobbyInner  {
	width: 1170px;
	margin: 0 auto;
	padding: 15px 15px;
	display: block;
	position: relative;
}

.lcLobbyInner3  {
	width: 1170px;
	height: auto;
	margin: 0 auto;
	padding: 60px 15px 15px;
	display: block;
	position: relative;
	text-align: center;
}

.lcThumb  {
	float: left;
	display: block;
	width: 245px;
}

.gpSlot  {
	display: block;
	position: absolute;
	right:300px;
	top: 0px;
}
.ptSlot  {
	display: block;
	position: absolute;
	right: 60px;
	top: 0px;
}
/* CASINO LOBBY */


.midSect {
    margin: 5px 0px 0px;
}

.lcTable {
	margin-left: 170px;
}

.midSect  {
	background: none !important;
	width: 100%;
}

.midSect2  {
	background: url(../../img/bg-lyr2.png) repeat-x top center;
}

.footerOuter  {
	background: url(../../img/bg-lyr2.png) repeat top center;
}

.footer  {
	padding-top: 15px !important;
}

.slotContainerBottom  {
	position: relative;
	display: inline-block;
	height: 100%;	
	padding-top: 15px;
}

.slotMenuHolder  {
	width: 1002px;
	height: 35px;
    background: url(../../img/navBG-slot.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: none;
}

.slot_menu ul li a:link  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #fff;
	height: 35px;
	padding: 0px 25px;
    margin: 0px 10px 0px 0px;
}
	
.slot_menu ul li a:visited  {
	color: #fff;
}

.slot_menu ul li a:hover  {
	color: #000;
	text-decoration: none;
	background-color: #00bff3;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	margin-top: 0px;
	width: 1024px;
	float: right;
	margin-bottom: 15px;
}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 1px solid #00bff3;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	border: 1px double #fff;
	color: #00bff3;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}

.floatLeftPromo  {
	display: block;
	position: absolute;
	top: 0px;
	left: -100px;
}

.floatRightPromo  {
	display: block;
	position: absolute;
	top: 0px;
	right: -100px;
}

#promo  {
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	padding: 20px 0px 0px 0px;
	z-index: 9999999;
	}
.accordion-toggle {
	cursor: pointer; 
	margin: 0px 0px 15px;
	}
		.accordion-content {display: none;}
		.accordion-content.default {display: none;background: #000;margin-top: -5px;}
		.accordion-content.default p {margin: 0;color: #fff;padding: 10px;font-size: 12px;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: relative;display: block;	width: 1024px;	height: 45px;	background:#1A2252;	margin-left: 0px; margin-bottom: 15px;	padding-left: 15px;}
		
		/* replace  */
		
        .promo_info  {	float: left;	display: block;	background-color: #ed1c24;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 10px;	text-align: center;	font-weight: bold;	-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;color: #fff !important;}
		
		.promo_info a  {color: #fff !important;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	float: left;	display: block;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 9px;	text-align: center;	font-size: 12px !important;	text-shadow: none !important;	color: #fff !important; 	font-weight: 600 !important;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);}
		.promo_title  {	float: right;	display: block;    color: #fff;		padding: 6px 0px;	width:  auto;	height: auto;	margin-top: 10px;	margin-right: 30px;	text-align: center;	font-weight: bold;
