@charset "utf-8";
/* Other Page */

/* OVERWRITE ORGINAL ELEMENTS */

body  {
	background-color: #000;
	background-image: url(../../img/sp-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0% 20%; 
}

.midSect  {
	margin: 10px 0px 0px;
}
.midSectInner  {
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 100%;
	background-repeat: no-repeat;
}

.pmLobby  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
}

.pmLobbyInner  {
	width: 994px;
	height: auto;
	margin: 0 auto;
	padding: 15px 15px 0px;
	display: block;
	position: relative;
	text-align: center;
}

.footer  {
	padding-top: 15px !important;
}

.promoContainerInner img  {
	margin-bottom: 40px;
}

.otherPG  {
	width: 1024px;
	background-repeat: no-repeat;
	margin-left: 423px;
}

.otherPG img  {
	margin-bottom: 8px;
}

.otherPG table  {
	border-top: 1px solid #00bff4;
	background-color: #000;
}

.otherPG table td  {
	border-bottom: 1px solid #00bff4;
	border-left: 1px solid #00bff4;
	padding: 5px;
	vertical-align: middle;
}

.otherPG table td:last-child  {
	border-right: 1px solid #00bff4;
}
