@charset "utf-8";
/* LC CSS */

/* OVERWRITE ORGINAL ELEMENTS */
body  {
	background-color: #000;
	background-image: url(../../img/sp-bg.jpg);
	background-repeat: repeat-x;
}

.isp  {
	background-color: #000;
	background-image: url(../../img/isport-bg.jpg);
	background-repeat: repeat-x;
}

.tsp  {
	background-color: #000;
	background-image: url(../../img/tsport-bg.jpg);
	background-repeat: repeat-x;
}

.midSect  {
	margin: 0px 0px 0px;
	width: 100%;
	background: url(../../img/bg-lyr2.png) repeat-x top center !important;
}

.midSect1  {
	margin: 0px 0px 0px;
	width: 100%;
	background: none;
}

.midSectInner  {
	padding-top: 33px;
}
	
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lc {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}



.lc {
    width:245px;
    margin: 0px;
 
}
 .showbox { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 400px;
	height: 300px;
	background: url(../../img/banner/isport.png) no-repeat;
	} 

.showbox:hover {
	background: url(../../img/banner/isport-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
}
	
.showbox1 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 400px;
	height: 300px;
	background: url(../../img/banner/tsport.png)no-repeat;
	} 

.showbox1:hover { 
	background: url(../../img/banner/tsport-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	 

.showbox2 {
	float: left;
	width: 245px;
	height: 300px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	} 

 
	
	.showbox3 {
	float: left;
	width: 445px;
	font-size: xx-large;
	text-shadow: 1px 0px #A2A2A2;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 18px;
	} 

 
	
	.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-5.png)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-thumb-5-hover.png)no-repeat;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 245px;
	height: 300px;
	background: url(../../img/lc-thumb-6.png)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-thumb-6-hover.png)no-repeat;
	}
	

.lcCont  {
	padding-left: 35px;
	margin-left: 37px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.sportsTit  {
	position: relative;
	display: block;
        text-align: center;
}

/* CASINO LOBBY */
.lcLobby  {
	width: 100%;
	margin: 0px;
	position: relative;
}

.lcLobbyInner  {
	width: 1170px;
	margin: 0 auto;
	padding: 15px 15px;
	display: block;
	position: relative;
	height: 150px;
}

.lcLobbyInnerM  {
	width: 1170px;
	margin: 0 auto;
	padding: 15px 15px;
	display: block;
	position: relative;
	height: 350px;
}

.lcThumb  {
	float: left;
	display: block;
	width: 245px;
}
/* CASINO LOBBY */


.midSect {
    margin: 5px 0px 0px;
}

.lcTable {
	margin-left: 170px;
}



.footerOuter  {
	background: #000;
}

.footerOuter1  {
	background: url(../../img/bg-lyr2.png)repeat-x top center;
}


.footer  {
	padding-top: 15px !important;
}
