﻿/* MAIN STYLING */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: url(../../img/homeBg.png);
	background-repeat: repeat-x;
	background-position: 0% -36px;
	font-family: 'Play', sans-serif, 宋体, SimSun, 华文细黑, STXihei;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.error1  {
	background: #000 !important;
	background-image: none !important;
}

.errText  {
	color: #fff;
	font-size: 30px;
	width: 100%;
	text-align: center;
	top: 80px;
	display: block;
	position: relative;
}

.errorBg  {
	display:block;
	position: relative;
	width: 1170px;
	height: 420px;
	background: url(../../img/404-bg.jpg)no-repeat center;
}

.popBg  {
	background: #bca868 url(../../img/bg-pop.jpg) center top repeat-x !important;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin: 0 auto 20px;
    padding: 50px 5px 0;
    width: 450px;
}
.msgBox1 p {
    color: #fff;
    font-size: 12px !important;
    padding: 0 0 2px;
    text-align: center;
}
.excl {
    color: #444;
    display: block;
    margin: -3px 0 8px;
    padding-top: 0;
    text-align: center;
}


.sliderInner0 {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

.sliderInner5 {
    display: block;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

table.bankingtable {
    border-collapse: collapse;
    border-color: #e7e7e7;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    width: 1024px;
	padding: 8px;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}

.bgOverlay  {}

.fa {margin-right: 5px;}

.subTitle  {
	color: #d51821;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	display: block;
}

.sym  {
	font-size: 20px;
	margin-right: 6px;
}

/* FORM ELEMENT */
input  {
	color: #fff !important;
	border: 1px solid #d51821;
	padding: 4px 6px;
	background: #000;
	font-size: 14px;
	font-family: 'Play', sans-serif;
} 

input:focus {
	border:solid 1px #d51821; 
	color: #d51821;
}

input[placeholder] {
   color: #fff;
   font-size: 15px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}
/* FORM ELEMENT END */

/* CONTAINER LEFT FOR PAGES WITH LEFT COLUMN */
.containerLeft  {
	width: 240px;
	height: 100%;
	margin-right: 20px;
	display: block;
	float: left;
}

.containerRight  {
	width: 764px;
	height: 100%;
	display: block;
	float: left;
}

.containerRight ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.containerRight ul li  {
	margin: 0px;
	padding: 1px 0px 5px 15px;
}

.containerRight table  {
	background: #000;
}

.containerRight table td  {
	padding: 5px 0px;
	text-align: center;
	border:1px solid #707070;
	vertical-align: middle;
}

.containerRight table th  {
	padding: 5px 0px;
	text-align: center;
	border:1px solid #000;
	vertical-align: middle;
	background: #CBB668;
	color: #000;
}
/* CONTAINER LEFT END */

/* BUTTON ELEMENT */
.submit  {
	float: left;
	margin-left: 5px;
}

.submit a:link, .submit a:visited  {
	width: 75px;
	height: 25px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #2996d4;
	font-size: 11px;
	font-weight: bold;
	display: block;
	background-color: #2996d4;
	
}

.submit a:hover  {
	color: #fff;
	background-color: #146695;
}

.submitPop  {
	float: left;
	margin-left: 0px;
}

.submitPop a:link, .submitPop a:visited  {
	width: 125px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	color: #65441A;
	border: 1px solid #65441A;
	font-size: 11px;
	font-weight: bold;
	display: block;
	background-image: url(../../img/submit-bg.jpg);
	background-repeat: repeat-x;
}

.submitPop a:hover  {
	background-image: url(../../img/submit-bg-hover.jpg);
	background-repeat: repeat-x;
	color: #000;
}

.logout  {
	float: right;
	margin-left: 5px;
}

.logout a:link, .logout a:visited  {
	width: 75px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid #0072bc;
	font-size: 11px;
	font-weight: bold;
	display: block;
	background-image: url(../../img/submit-bg.jpg);
	background-repeat: repeat-x;
}

.logout a:hover  {
	background-image: url(../../img/submit-bg-hover.jpg);
	background-repeat: repeat-x;
	color: #000;
}
/* BUTTON ELEMENT END */


/* HEADER ELEMENT */
.header  {
	width: 100%;
	height: 235px;
	margin: 0px;
	background-image: url(../../img/header-bg.png);
	background-repeat: repeat;
	background-position: bottom center;
	background-origin: content-box;
}

.headerInner  {
	width: 1024px;
	height: 100px;
	margin: 0 auto;
	padding: 5px 0px 0px;
	display: block;
}

.logo  {
	text-align: center;
	margin-top: 5px;
}

.logo img   {
	width: 135px;
	height: 112px;
	margin-bottom: 5px;
}


.logoMaint  {
	text-align: center;
	padding-top: 30px;
}

.loginDetails  {
	float: right;
	display: block;
	width: auto;
	margin-top: 15px;
}

.topMenu  {
	margin: 10px 0px 0px 452px;
	padding: 0px;
	display: block;
	position: relative;
	height: 22px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.topMenu ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	float: left;
}

.topMenu ul li  {
	display: inline;
	float: left;
	margin-right: 10px;
}

.topMenu ul li a:link, .topMenu ul li a:visited  {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	padding: 0px 0px 0px 0px;
}

.topMenu ul li a:hover  {
	color: #EDBD1B;
}

.hpgInput  {
	width: 100px;
	display: block;
	margin-right: 5px !important;
}

.logD  {
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 700px;
	float: left;
	padding-left: 62px;
	margin-left: 142px;
}

.logD1  {
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 850px;
	float: left;
	padding-left: 25px;
	margin-left: 142px;
}

.adj2 {
    display: block;
    position: absolute;
    left: -15px;
    top: 7px;
	color: #fff;
}

.adj3 {
    display: block;
    position: relative;
	color: #fff;
	float: right;
	width: 280px;
}

.welc1 {
    padding: 0px 10px;
}


.headerRightTable {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    position: relative;
	margin-bottom: 40px;
}


.logDinner  {
	float: left;
}

.logD span {
	width: auto;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	margin-right: 5px;
	line-height: 27px;
}

.logD span a:link, .logD span a:visited  {
	width: auto;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	margin-right: 5px;
	text-decoration: none;
}

.logD span a:hover  {
	color: #fff;
}

.logD input  {
	width: 100px;
}

.fPass  {
	float: right;
	font-size: 11px;
	display: block;
	margin-top: 5px;
	margin-right: 362px;
}

.fPass a:link, .fPass a:visited  {
	color: #fff;
	text-decoration: none;
}

.fPass a:hover  {
	color: #d51821;
}

.timer  {
	font-size: 11px;
	float: left;
}

.announcement  {
	width: 730px;
	height: auto;
	margin: -7px 0px 0px 10px;
	padding: 0px;
	float: left;
}

.announcement marquee  {
	color: #d51821;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.lang {
	float: right;
	margin-top: -1px;
}

.lang img  {
    margin-left: 3px;
	cursor: pointer;
}
/* HEADER ELEMENT END */
	
/* NAVIGATION ELEMENT */
.navigation  {
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-right: 125px;
	margin-left: 125px;
	margin-bottom: 12px;
	background-image: url(../../img/navbg.png);
	background-repeat: repeat-x;
	display: inline-block;
	padding-top: 0px;
}

.navigation ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;

}
.navigation ul li {
  font: bold 13px/19px sans-serif;
  display: inline-block;
  margin: 0px;
  position: relative;
  padding: 0;
}

.navigation ul li a:link, .navigation ul li a:visited {
	display: inline-block;
	margin: 0px;
	position: relative;
	padding: 8px 21px;
	cursor: pointer;
	text-decoration: none;
	color: #d51821;
	font-family: 'Play', sans-serif;
	font-size: 13px;
	font-weight: 700;
}

.navigation ul li a:hover {
  color: #fff;
  
}

.navigation ul li:hover {
	color: #fff !important;

	}

.navigation ul li ul {
  padding: 0;
  position: absolute;
  top: 3.2em;
  left: -10px;
  width: 140px;
  background: #000;
  display: none;
  visibility: hidden;
  z-index: 3;
  text-align: center;
  border-bottom: 2px solid #d51821;
}
.navigation ul li ul li { 
  background: url(../../img/nav-sub-bg.png)repeat; 
  display: block; 
  color: #d51821;
  z-index: 3;
  padding: 10px 0px;
  border-right: 2px solid #d51821;
  border-left: 2px solid #d51821;
  cursor: pointer;
  font-family: 'Play', sans-serif;
}
.navigation ul li ul li:hover { background: #d51821;z-index: 4; color: #000; }
.navigation ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 5;

}
/* NAVIGATION ELEMENT END */


/* SLIDER */
.imgRight  {
margin-right: -440px;
margin-top: -550px;
float: right;
}

.imgLeft  {
margin-left: -390px;
margin-top: -530px;
float: left;
}



.slider  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
	z-index: -1;
}

.sliderInner  {
	width: 1024px;
	height: 420px;
	margin: 0 auto;
	padding: 0px;
	display: block;
}
/* SLIDER */

/* MID SECTION */
.midSect  {
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 0;
	background: url(../../img/bg-lyr2.png)repeat-x top center;
	z-index: 99999999;
}

.midSectInner  {
	width: 1024px;
	height: auto;
	margin-top: 33px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	display: block;
	position: relative;
}

/* ADD THESE FOR JACKPOT COUNTER */
.jpCont  {
	z-index: 9999999999;
	margin-left: 0px;
    margin-top: -40px;
	margin-bottom: -20px;
	display: block;
	position: relative;
	background-image: url(../../img/jackpotBg.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 1024px;
	height: 180px;
}

.digitCont  {
	border: 0px solid #fff;
	width: 424px;
	height: 88px;
	display: block;
	position: absolute;
	right: -20px;
	top: 26px;
	word-wrap: break-word;
}

#counter  {
	display: block;
	position: relative;
	font-size: 52px;
	margin-top: 13px;
}

/* ADD THESE FOR JACKPOT COUNTER */

.midSectPop  {
	width: 100%;
	height: auto;
	margin: -20px 0px 0px;
	padding: 0;
	z-index: 99999999;
}

.midSectInnerPop  {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 5px 0px 0px;
	display: block;
}

.thumbContainer  {
	z-index: 9999999999;
	margin-top: 25px;
	margin-left: 0px;
	margin-top: -35px;
	margin-bottom: 20px;
	display: inline-block;
}

.thumbContainer img  {
	margin-right: 17px;
}

.textct1  {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width: 700px;
	height: auto;
	position: relative;
	display: block;
	float: left;
	margin: 40px 0px 15px 50px;
}

.textct1a  {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width: 700px;
	height: auto;
	position: relative;
	display: block;
	float: left;
	margin: 15px 0px 15px 220px;
}


.textct1a table td  {
	vertical-align: middle !important;
}

.valg  {
    margin-left: 15px;
}

.ct-girl  {
	display: block;
	position: absolute;
	right: 70px;
	top: -120px;
}
.noSpace  {
	margin-right: 0px !important;
}


.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}


.acctRow {
    color: #fff !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
}

.acctRow label {
    color: #ffffff;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}

.midContf  {
	padding-top: 20px;
}

.loginBtn a:link, .loginBtn a:visited {
    background: #d51821;
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    width: 70px;
}
.loginBtn a:hover {
    color: #fff;
}


.footerOutercc {
    background: url(../../img/bg-lyr2.png)no-repeat top center;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.footerOuter  {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background: none;
}

.footer  {
	width: 1024px;
	background: none;
	margin: 0px auto 0px;
	padding: 0px;
}

.footer ul  {
	list-style-type: none;
	float: right;
	margin-right: 15px;
	line-height: 10px;
}

.footer ul li  {
	display: inline;
	float: left;
	border-right: 1px solid #000;
	padding: 0px 10px 0px 0px;
}

.footer ul li a  {
    color: #808080;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.footer ul li a:hover  {
    color: red;
}

.footer ul li:last-child {
    border-right: 0px solid #000 !important;
}

.footerL  {
	float: left;
	padding: 0px;
	padding-top: 11px;
	padding-bottom: 13px;
	margin-right: 0px !important;
}

.footerR  {
	float: left;
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-top: 10px;
}

.line  {
	background: #000000 url(../../img/footer_line.white.gif)repeat-x;
	height: 1px;
	width: 100%;
	clear: both;
}

.footerInfo  {
	color: #4a4a4a;
	
}

.footerInfo  {

	margin-bottom: 20px;
}

.footerInfo span  {
	font-weight: 700 !important;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 0px;
	display: block;
	color: #4a4a4a;
}

.footer_sub  {
	padding: 12px 0px 8px;
	font-weight: bold;
	font-size: 12px !important;
}

.footerContent  {
	font-size: 11px !important;
	color: #3a3a3a;
}

.operatorContainer  {
	width: 780px;
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

.bankContainer  {
	width: 650px;
	float: left;
	margin-top: 15px;
	margin-bottom: 8px;
	
}

.socialContainer  {
	width: 200px;
	float: left;
	margin-top: 15px;
	
}

.browserContainer  {
	width: 160px;
	float: right;
	margin-top: 15px;
	
}

.footerBottom_title  {
	color: #4a4a4a;
	font-weight: 700 !important;
	float: right;
	display: block;
}

.footerBottom1_title  {
	color: #4a4a4a;
	font-weight: 700 !important;
	padding-bottom: 5px;
	display: block;
}

.footerBottom_title1  {
	color: #4a4a4a;
	font-weight: 700 !important;
	float: left;
	display: block;
}

.operatorIMG  {
	margin-top: 5px;
	float: left;
	text-align: left;
	display: block;
	margin-left: 6px;
}

.operatorIMG img  {
	margin-right: 10px;
}

.operatorIMG td  {
	width: 100px ;
}

.operatorIMG2  {
	margin-top: 8px;
	float: right;
	width: 120px;
}

.socialContainer  {
	float: left;
}
/* MID SECTION */

/* GENERAL CONTAINER FOR OTHER PAGES */
.generalContainer {
	width: 100%;
	height: auto;
	margin: 0px 0px 30px;
	padding: 0;
	position: relative;
}

.generalContainerInner  {
	width: 1024px;
	height: auto;
	margin: 10px auto 0px;
	padding: 0px;
	display: block;
	position: relative;
}

#details404  {
	padding-left: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

#left  {
	float: left; 
	font-size:30px;
	margin-top:18px;
	padding-left: 20px;
}

#right  {
	float: left; 
	font-size:100px;
	border-right: 1px solid #fff;
	padding-right: 20px;
}

.error  {
	margin-top: 10px;
	margin-bottom: 120px;
	margin-left: 190px;
	padding: 8px;
	display: inline-block;
	width: 1024px;
	height: 130px;
}
/* GENERAL CONTAINER FOR OTHER PAGES */

/* MAINTENANCE PAGE */
.maintenance  {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
	margin-top: 80px;
}

.maintenance span  {
	display: block;
	font-size: 28px;
}

.maintainMSG  {
	font-weight: bold;
	padding-bottom: 2px;
	line-height: 33px;
	color: #fff;
}

.maintainMSGsub  {
	font-weight: bold;
	line-height: 33px;
	font-size: 18px !important;
	color: #000;
	margin-top: 20px;
}

.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}

.submitAcct a:link, .submitAcct a:visited {
    background-color: #e9a06f;
    background-repeat: repeat-x;
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #ffae00 none repeat scroll 0 0;
    color: #000;
}

.acctContentReg input {
    width: 327px;
}

.acctContentReg label {
    width: 150px !important;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}

.msgBox  {
	display: block;
	position: relative;
	padding: 30px;
	text-align: center;
	margin: 0px auto;
	padding: 20px;
}

.msgBox span  {
	color: red;
}

.msgBox p  {
	padding: 5px 0px;
}

.msgBox a  {
	margin-right: 0px;
	margin-bottom: 0px;
}

.msgBox td  {
	padding: 5px 0px 5px 5px;
}

.lobbyNav  {
	margin-top: 5px;
	margin-bottom: 20px;
}

.lobbyNav img  {
	cursor: pointer;
	margin-right: 18px;
}

.midSectInner h3  {
	color: #d51821;
	font-weight: 700;
	font-size: 20px;
	padding: 0px 0px 8px !important;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 182px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d51821;
}
/* MAINTENANCE PAGE */

/* CHROME FIX */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.nav > li > a {
    padding: 0 31px;
}
}
/* CHROME FIX */

/* PRELOAD BIG IMAGES */
.preload { display: none; }
