@charset "UTF-8";
/* CSS Document */

body{
	background:#ebebeb;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:13px;
	color:#404040;
	margin:0;
	position:relative;
}

#login_box{
	background:url(../images/box_bg.jpg) repeat-x;
	width:360px;
	margin:0 auto;
	height:378px;
	margin-top:120px;
	position:relative;
	border:solid 5px #b0b0b0;
	border-radius:15px;
}

#logo{
	margin:25px auto 15px;
	width:240px;
	height:75px;
}

.title{
	color:#404040;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size:20px;
}

#contant_box{
	background-color:#ebebeb;
	margin:0 auto;
	padding:22px 0 0 45px;
	width:295px;
	height:228px;
}


.textField2{
	width:70px;
	padding:3px;
	margin:0;
	border:1px solid #666;
}

.textField1{
	width:150px;
	padding:3px;
	margin:0;
	border:1px solid #666;
}

#codeimg{
	float:right;
	margin-right:40px;
	width: 50px;
	height: 22px;
}


.jumpbox{ 
	padding:3px;
	width: 100px;
}


#login_btn a{
	float:left;
	color:#FFF;
	text-align:center;
	margin:10px 0px 0px 90px; 
	line-height:25px;
	text-decoration:none;
	background:#4386fc;
	border:1px solid #000;
	width:75px;
	height:25px;
}


#login_btn a:hover{
	color:#4386fc;
	background:#262626;
	border:1px solid #000;
	text-decoration:none;
}


.logintable{
	margin-top:15px;
}

.copyright{
	color:#666;
	text-align:center;
	font-size:11px;
	margin:5px auto ;
}