/* Main */

body  {	width: 100%;	height: 100%;	font-family: Arial, Helvetica, sans-serif;	color: #fff;	margin: 0 auto;	padding: 0;	font-size: 12px;	overflow-x: hidden; background-image: url(../../img/bg-blackSlot.jpg) !important; background-repeat: no-repeat; background-position: top center; background-color: #000000;}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 260px;
	height: 260px;
	padding-top: 10px;
	position: relative;
	z-index: 888;
	float: left;
	margin: 10px 18px 0px 0px;
	cursor: pointer;
}

.slot_container {
	position: absolute;
    display: block;
	height: 440px;
}

.slot_menu  {
	position: relative;
	top: 6px;
	display: block;
	float: left;
	width: 200px;
}

.slot_menu ul  {
	position: relative;
	list-style-type: none;
	float: left;
	margin-right: 15px;
	padding-top: -4px;
	margin-top: -12px;
	z-index: 99999;
	padding-left: 0px;
}

.slot_menu ul li  {
	display: block;

}

.slot_menu ul li a:link  {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 200px;
	height: 33px;
	line-height: 32px;
	background: url(../../img/slot-menu-bg.jpg)repeat-x;
	border: 1px solid #ccc;
	margin: 2px 0px 0px 0px;
	color: #fff;
	}
	
	.slot_menu ul li a:visited  {
	color: #fff;
	}

.slot_menu ul li a:hover  {
		width: 200px;
	height: 33px;
	color: yellow;
	}
	
#slot_lobby  {
	margin-top: -4px;
	display: block;	
	float: left;
	width: 900px;
	}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}
