.midSectInner table  {
	border-top: 0px solid #444;
	margin: 15px 0px;
}

.midSectInner table td  {
	border-bottom: 0px solid #444;
	border-left: 0px solid #444;
	padding: 4px;
	vertical-align: middle;
}

.midSectInner table td:last-child  {
	border-right: 0px solid #444;
}

.midSectInner table tr:last-child  {
	border-bottom: none;
}

.list  {}

.list ul  {
	list-style-type: upper-roman;
	margin: 8px 0px 0px 15px;
	padding: 0;
}

.list ul li  {
	margin: 0px 0px 5px;
}

.list span  {
	
	font-weight: bold;
	
}

/* ACCT CONTAINER */
.acctContainer {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: 10px 0px 25px;
	padding-left: 45px;
}

/* LOBBY MENU */
.lobbyMenu  {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: 8px;
}

.lobbyMenu ul  {
	margin: 0px 0px 0px -15px;
	padding: 0px;
	list-style-type: none;
}

.lobbyMenu ul li  {
	display: inline;
	float: left;
	margin-left: 15px;
	text-align: center;
}

.lobbyMenu ul li a:link  {
	display: block;
	width: 131px;
	height: 40px;
	line-height: 41px;
background: #A8792F;
    border: 1px solid #252525;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.lobbyMenu ul li a:hover  {
	background: rgb(204, 204, 204);
color: red;
text-shadow: 1px 1px 2px rgba(254, 255, 242, 1);
}

.lobby  {
	margin-top: 15px;
}

#casino_table_wrapper {
    height: 100%;
    overflow: auto;
    width: 1024px;
}

.tableInfo {
    background: url(../../img/casinoBox.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    color: white;
    float: left;
    height: 216px;
    margin: 0 11px 6px 0;
    width: 328px;
	border: 1px solid #636363;
}

.roomTitle {
    border: medium none;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.roomDetails {
    background: url("../../img/casinotableinfor_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 5px 3px;
    overflow: hidden;
    width: 315px;
}


.photo {
    border: medium none;
    float: left;
    height: 170px;
    margin-left: 20px;
    margin-right: 0;
    overflow: hidden;
    width: 140px;
}

.roomInfo {
    border-radius: 0 5px 5px 0;
    color: #bfbfbf;
    float: left;
    font-size: 12px;
    height: 162px;
    margin: 20px 0 0 15px;
    width: 130px;
	text-align: left;
}

.roomInfo select  {
	margin: 10px 0px;
}

.login_btn {
    background: red;
    border: 1px solid #333;
    color: #fff !important;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding: 0 !important;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.msgBox1  {
	width: 320px;
	height: 200px;
	display: block;
	margin: 0 auto;
	padding: 10px 5px;
	background: none;
}

.msgBox1 p  {
	text-align: center;
	padding: 0px 0px 2px 0px;
	color: #F1D97B;
}

.excl  {
	display: block;
	text-align: center;
	margin: 32px 0px 8px;
	color: #F1D97B;
}

.btit  {
	font-weight: bold;
	display: block;
	color: #f1d97b;
}