.midSectInner {
    background: url(../../img/midsect-bgM.jpg)repeat-x top center !important;

}
.promo  {
	width: 1024px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	}
	
	.accordion-toggle {cursor: pointer; margin: 0; padding: 2px 0px;margin-top: 10px; color: yellow; position: relative; }
		.accordion-content {display: none;}
		.accordion-content.default {display: none ;margin-left: 47px; margin-top: -80px; padding: 5px 5px 5px 30px;color: #ebebeb;margin: 5px 0px; background:url(../../img/promo-box-bg.jpg)no-repeat top center;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: absolute;display: block;	width: 1009px;	height: 45px; margin-left: 0px; margin-bottom: 0px;	padding-left: 15px; top: 0px;}
		
		/* replace  */
		
        .promo_info  {	
		position: absolute;
		display: block;	
		right: 10px;
		top: 140px;
		background: url(../../img/promo-btn.png)no-repeat;
		padding: 6px 0px;	
		width:  195px;	
		height: 45px;		
		text-align: center;	
		font-weight: bold;	
		font-family: "Merriweather",serif;
		line-height: 30px;
		}
		
		.promo_info a  {color: #000 !important; text-decoration: none;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	float: right; background: #000;	display: block;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 22px; margin-left: 20px;	text-align: center;	font-size: 12px !important;	text-shadow: none !important;	color: #fff !important; 	font-weight: 600 !important;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);}
		.promo_title  {	display: block;    color: #000;		padding: 6px 0px;	width:  320px;	margin-top: 10px;	margin-right: 0px;	text-align: left;	font-weight: bold;}