body  {
	background: #281409 !important;
}

.midSectInner  {
	background-image: url(../../img/midsect-bg.png) !important;
	background-position: top center;
	background-repeat: repeat-x;
}
.slotL  {
	display: block;
	position: absolute;
	left: -230px;
	top: 0px;
}
.slotR  {
	display: block;
	position: absolute;
	right: -230px;
	top: 0px;
}

.slotContainerBottom  {
	position: relative;
	display: block;
	height: 100%;
	margin-top: 30px;	
}
.slotMenuHolder  {
	width: 1002px;
	height: 35px;
    background: url(../../img/navBGslot.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.etabs {
    margin: 0px!important;
    padding: 0px!important;
    background: url(../../img/navBG.jpg) repeat-x;
    width: 1000px;
    height: 35px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(../../img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #000 !important;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #fff !important;
	text-decoration: none;
	background: #000;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1024px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 1px solid #EBAF4D;
	margin-top: 15px;
	transition: all 0.5s ease;
	width: 150px;
    height: 195px;
}

.slot_box:hover  {
	border: 1px dotted #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: 0px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}

.slotTab{
	width:1024px;
	margin:0 auto;
}

.tab{
	display:inline-block;
	background:url(../../img/slot-seperator.png) no-repeat right center;
	border-bottom:none;
	height:35px;
	float:left;
	padding:0px!important;margin:0px!important;
}

.tab a{
	font-size:12px;
	line-height:36px;
	display:inline-block;
	font-family:Arial,Helvetica,sans-serif;
	outline:none;
	text-decoration:none;
	text-align:center;
	font-weight:600;
	color:#000;
	height:35px;
	padding:0px 21px;
}

.tab a:hover{
	text-decoration:none;
	color:red;
}

.tab.active{
	padding-top:6px;
	position:relative;
	background:none;
	background-color:black;
	text-decoration:none;
}

.tab a.active{
	font-weight:bold;
	color:white;
}

.tab-container{
	-moz-border-radius:0 4px 4px 4px;
}
