@charset "utf-8";
/* Main */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-color: #261408;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.clr  {
	clear: both;
}

/* Header */
.header  {
	width: 100%;
	height: auto;
	display: inline-block;
	background-image: url(../../img/headerBg.jpg);
	background-repeat: repeat-x;
	background-position: bottom center;
}
.headerInner  {
	margin: 0 auto;
	width: 1024px;
	height: 125px;
	display: block;
	position: relative;
}
.logo  {
	margin: 30px 0px 0px;
	display: inline-block;
	height: 70px;
}

.dtime  {
	position: absolute;
	right: 245px;
	top: 13px;
	color: #fff;
	font-size: 12px;
}
.adj1  {
	display: block;
	position: absolute;
	right: 12px;
	top: 0px;
}
.adj2  {
	display: block;
	position: absolute;
	right: 12px;
	top: 35px;
}
.adj3  {
	display: block;
	position: absolute;
	width: 665px;
	height: 27px;
	right: 0px;
	top: 85px;
	padding-left: 50px;
	background-color: #6c4a05;
	background-image: url(../../img/anmt-icon.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    border: 1px solid #000;
}
.nTit  {
	line-height: 27px;
	margin-left: 15px;
	color: #000;
	font-weight: bold;
}
.adj3 marquee  {
	margin-top: 9px;
	display: block;
	font-size: 12px;
	color: #fff;

}
.pnlWrap  {
	display: block;
	position: absolute;
	width: 556px;
	height: 78px;
	background: #000;
	top: 0px;
	left: 309px;
	border: 1px solid #986701;
	-moz-border-radius-bottomright: 8px;
-webkit-border-bottom-right-radius: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.headerRight  {
	margin: 0px;
	right: 160px;
	display: inline-block;
	position: absolute;
	width: auto;
}
.headerRightTable  {
	display: block;
	position: relative;
	font-size: 10px;
	color: #fff;
	margin-right: 0px;
}

.headerRightTable table  {
	margin-top: 4px;
}
.headerRightTable table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
}
.headerRightTable table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable table td  {
	padding: 0px 3px;
}
.headerRightTable input  {
	width: 80px;
	font-size: 12px;
	padding: 4px 0px 4px 6px;
	background-color: #fff;
	color: #000;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #fff;
}

.headerRightTable input:focus  {
	box-shadow: 0 0 5px rgba(251, 236, 18, 1);
	border: 1px solid #fbec12;
}
.vrf  {
	background-color: #000 !important;
	border: 1px solid #00102d !important;
	width: 70px !important;
	color: #fff !important;
	text-align: center;
}




.loginBtn  {
	margin-top: 0px;
	height: 27px;
	}
.loginBtn a:link, .loginBtn a:visited  {
	padding: 0px;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	height: 27px;
	line-height: 28px;
	padding-left: -5px;
	background-image: url(../../img/loginBg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	width: 100px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	}
.loginBtn a:hover  {
	color: #000;
	background-image: url(../../img/loginBg-hover.jpg) !important;
	background-position: center;
	background-repeat: no-repeat;
}
.fp  {
	display: block;
	position: relative;
	width: 90px;
}
.fp a:link, .fp a:visited  {
	color: #000;
	text-decoration: none;
}
.regBtn  {}
.regBtn a:link, .regBtn a:visited  {
	padding: 5px 12px 5px 36px;
	color: #fff;
	text-decoration: none;
	height: 31px;
	line-height: 31px;
	background: url(../../img/reg-icon.png) no-repeat left center;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	}
.regBtn a:hover  {
	color: yellow;
}
.anmnt  {
	position: relative;
	height: 37px;
	display: block;
	font-size: 10px;
	color: #fff;
	width: 100%;
	background: #000;
	padding: 10px;
}
.anmntInner  {
	width: 1024px;
	margin: 0 auto;
	background-image: url(../../img/anmnt-bg.png);
	background-repeat: no-repeat;
	background-position:top left;
	height: 37px;
	line-height: 37px;
}

.anmnt marquee  {
	padding-left: 84px;
}
.anmnt marquee:hover  {
	color: yellow;
}
.box  {
	float: left;
	margin: 5px 30px;
}
.jnCont  {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120px;
	display: block;
}
.lchat  {
	background: rgb(0, 8, 22);
background: -moz-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -webkit-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -o-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -ms-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: linear-gradient(180deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
	width: 100px;
	height: 30px;
	margin-top: 7px;
	position: absolute;
	}
.lchat span  {
	width: 90px;
	height: 20px;
	margin: 5px 0px 0px 8px;
	background-image: url(../../img/chat-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px 0px 0px 25px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
	display: block;
}
.lchat:hover  {
	background: rgb(0, 8, 22);
background: -moz-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -webkit-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -o-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -ms-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: linear-gradient(0deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
}
.jnNow  {
	margin-top: 40px;
}
.navContOuter  {
	width: auto;
	position: relative;
	background-image: url(../../img/navBG.jpg);
	background-repeat: repeat-x;
	height: 35px;
	display: block;
	width: 100%;
	border-bottom: 5px solid #986701;
}
.navCont  {
	position: relative;
	display: block;
	width: 1024px;
	height: 35px;
	margin: 0px auto;
	z-index: 2008;
}
.navCont ul  {
	margin: 0px 0px 0px 39px;
	padding: 0;
	list-style-type: none;
}
.navCont ul li  {
	margin: 0;
	padding: 0px;
	display: block;
	float: left;
	height: 39px;
	line-height: 25px;
	position: relative;
			z-index: 2025px !important;
}
.navCont ul li a:link, .navCont ul li a:visited  {
	margin: 0px 0px 0px 0px;
	padding: 7px 33px 7px 32px;
	float: left;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.navCont ul li a:hover  {
	color: yellow;
	text-decoration: none;


}
.selected  {
	color: #000 !important;
	text-decoration: none !important;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.4) !important;
	background: rgb(250, 183, 25) !important;
    background: -moz-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -webkit-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -o-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -ms-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: linear-gradient(180deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: -44px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 37px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 1009;

	
}
.navCont ul li ul li {
    background: #986701;
    color: #000;
    display: block;
    z-index: 3;
	width: 100%;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #ffd200;
	font-size: 11px;
	width: 100% !important;
	margin: 0;
	padding: 0;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: #FFF224;
	border: none !important;
	font-weight: normal;
	color: #000 !important;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}
.navCont ul li ul li:hover {
    background: #000 none repeat scroll 0 0;
    z-index: 4;
	color: #EC531A;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
/* Mid sect */
.midSect  {
	width: 100%;
	height: auto;
	position: relative;
}
.midSectInner  {
	width: 100%;
	height: auto;
	position: relative;

}
.midSectCont  {
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.hpgBar  {
	display: block;
	position: relative;
	width: 100%;
	height: 110px;
	background: url(../../img/hpgMidbg.jpg)repeat-x;
}
.bar1  {
	display: block;
	position: relative;
	float: left;
	width: 500px;
	height: 125px;
	background-image: url(../../img/stepsBg.gif);
	background-repeat: repeat-x;
	margin-bottom: 5px;
	margin-left: 15px;
}

.bar1 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 72px;
}

.stp1  {
	width: 155px;
	height: 105px;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 15px;
	background-image: url(../../img/stp1-icon.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.stp2  {
	width: 155px;
	height: 105px;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 175px;
	background-image: url(../../img/stp2-icon.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.stp3  {
	width: 155px;
	height: 105px;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 340px;
	background-image: url(../../img/stp3-icon.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.stpTit {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
	margin-left: 0px;
	margin-top: 15px;
}
.spCt  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	margin-top: 50px;
}
.bar2  {
	display: block;
	position: relative;
	float: right;
	width: 500px;
	height: 125px;
	background-image: url(../../img/jackBg.jpg);
	background-repeat: repeat-x;
	margin-bottom: 5px;
	margin-right: 5px;
}

.bar2 span  {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
}
.bar3  {
	display: block;
	position: relative;
	float: left;
	width: 155px;
	height: 155px;
	margin-top: -25px;
	z-index: 999;
	margin-right: 20px;
}
.bar4  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-4.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 20px;
}
.bar4:hover  {
	background-image: url(../../img/bar-4-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar4 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 130px;
}
.bar5  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-5.png);
	background-repeat: no-repeat;
	margin-top: 15px;
}
.bar5:hover  {
	background-image: url(../../img/bar-5-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar5 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 100px;
}
.hpgBarBtm  {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}
.hpgBarBtmInner  {
	display: block;
	position: relative;
	width: 1024px;
	height: 100px;
	margin: 15px auto 0px;
	background-image: url(../../img/middleBg.png);
	background-repeat: no-repeat;
}
.hpgBarInner  {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 1024px;
	height: auto;
	margin: 0 auto;
}
.bxTit  {
	display: block;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	width: 300px;
	margin-left:65px;
	margin-top: 4px;
	
}
.bxCt {
	display: block;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	width: 340px;
	margin-left: 40px;
	margin-top: 15px;
}

.pgTxt  {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	display: block;
	top: 52px;
	left: 40px;
	width: 405px;
	height: 63px;
	line-height: 63px;
	text-align: center;
}

.bxCt2 {
	display: block;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	width: 340px;
	margin-left: 20px;
	margin-top: 15px;
}
.mobDl  {
	display: block;
	position: absolute;
	left: 460px;
	top: 27px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 15px;
	padding: 1px 0px 0px 30px;
}
.mobDl a:link, .mobDl a:visited  {
	text-decoration: none;
	color: #fff;
}
.mobDl a:hover  {
	color: yellow !important;
}
.promoDl  {
	display: block;
	position: absolute;
	right: 50px;
	top: 10px;
	background: url(../../img/promoDl.png)right center no-repeat;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	padding: 1px 30px 0px 0px;
	height: 25px;
}
.promoDl a:link, .promoDl a:visited  {
	text-decoration: none;
	color: #fff;
}
.promoDl a:hover  {
	color: yellow !important;
}
.bx1  {
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
}
.bx1 ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.bx1 ul li  {
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.bx1 ul li a:link, .bx1 ul li a:visited  {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0px 0px 0px 35px;
}
.bx1 ul li a:hover  {
	color: yellow !important;
}
.bx2  {
	display: block;
	position: relative;
	float: left;
	margin-right: 0px;
}
.bx2 ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.bx2 ul li  {
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.bx2 ul li a:link, .bx2 ul li a:visited  {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0px 0px 0px 35px;
}
.bx2 ul li a:hover  {
	color: yellow !important;
}
.img08  {
	float: left;
}
.bxTxt  {
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}
.bxTxt span  {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
.email  {
	background: url(../../img/email-icon.png)no-repeat left center;
}
.tel  {
	background: url(../../img/tel-icon.png)no-repeat left center;
}
.sliderCont  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -0px;
	background-image: url(../../img/slideBg.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.sliderContInner  {
	width: 1024px;
	height: 463px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
/* HOMEPAGE LOGIN BOX */
.floatLogin  {
	width: 340px;
	height: 335px;
	background-image: url(../../img/hpg-login-bg.png);
	background-repeat: no-repeat;
	background-position: center left;
	display: block;
	position: absolute;
}

.LoginBoxSpacing  {
	height: 90px;
}

.hpgInputBox  {
	width: 236px;
	margin-left: 0px;
}

.hpgInputBox input {
	float: left;
	width: 220px;
	margin-bottom: 14px;
}

.hpgInputBoxCode input[placeholder]{
	width: 140px;
	background: #63492b url(../../img/hpg-login-input-bg.png);
	background-repeat: repeat;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 1px solid #452a0e !important;
	height: 20px;
	color: #fff !important;
	margin-left: 27px;
}


.hpgInputBox input[placeholder] {
	background: #63492b url(../../img/hpg-login-input-bg.png);
	background-repeat: repeat;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 1px solid #452a0e !important;
	height: 20px;
	color: #fff !important;
}

.floatLogin img  {
	margin-left: 25px;
}
/* HOMEPAGE LOGIN BOX */
.midSectCont h3  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	margin: 0px 0px;
}

.hpgSelection  {
	width: 1020px;
	margin-right: 0px;
	display: inline-block;
	padding-left:20px;
}
.stepsContainer  {
	margin: 10px 0px;
}
.imgLeft  {
	position: absolute;
	left: -440px;
	top: -20px;
	display: block;
	width: 478px;
	height: 392px;
	background-image: url(../../img/imgLeft.png);
	background-repeat: no-repeat;
	background-position: center;
}
.imgRight  {
	position: absolute;
	right: -440px;
	top: -20px;
	display: block;
	width: 478px;
	height: 392px;
	background-image: url(../../img/imgRight.png);
	background-repeat: no-repeat;
	background-position: center;
}
.LCbox {
	float: left;
	margin-right: 33px;
    height:230px;
    width: 230px;
    overflow: hidden;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 background-position: center;   
}
.LCbox:hover {
	z-index: 1001;
   -webkit-animation: animatedBackground 0.2s ease-out 1;
   -moz-animation: animatedBackground 0.2s ease-out 1;
		animation: animatedBackground 0.2s ease-out 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
}

	@-webkit-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	
	
	@-moz-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	@keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
/* Footer*/
.footerMenu  {
	display: block;
	position: relative;
	margin-bottom: 25px;
}
.fmenuLeft  {
	float: left;
	display: block;
}
.fmenuRight  {
	float: right;
	display: block;
	font-size: 12px;
	color: #fff;
}
.fmenuLeft ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.fmenuLeft ul li  {
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
}
.fmenuLeft ul li a:link, .fmenuLeft ul li a:visited  {
	margin: 0px 0px 0px 5px;
	padding: 0px 5px 0px 0px;
	display: inline;
	float: left;
	border-right: 1px solid #fff;
	text-decoration: none;
}
.fmenuLeft ul li a:hover  {
	color: yellow !important;
	text-decoration: none;
}

.bglc  {
	background-image: url(../../img/midsect-bglc.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

.lcTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/lcTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.spTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/spTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.slotTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/slotTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.dTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/4dTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.mobTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/mobTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.promoTit  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/promoTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.ctTit1  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/ctTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.bkTit1  {
	display: block;
	position: relative;
	width: 388px;
	height: 82px;
	line-height: 82px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 231, 131, 1);
	background-image: url(../../img/bankTit-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.dCont  {
	display: block;
	position: relative;
	width: 1024px;
	height: 296px;
	background-image: url(../../img/dCont-bg.png);
	background-position:center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.dMtit  {
	display: block;
	position: relative;
	width: 295px;
	height: 39px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	line-height: 49px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.dMtit2  {
	display: block;
	position: relative;
	width: 295px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	line-height: 49px;
	color: #000;
}

.dMtit3  {
	display: block;
	position: relative;
	width: 800px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #000;
}

.dMtit3 input  {
	width: 35px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #e1cc6d;
	font-size: 20px;
        text-align: center;
}

.dMtit4  {
	display: block;
	position: relative;
	width: 930px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #000;
}

.dMtit4 input  {
	width: 35px;
	height: 25px;
	display: inline-block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #e1cc6d;
	font-size: 20px;
        text-align: center;
}

.dMtit5  {
	display: block;
	position: relative;
	width: 300px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #000;
}

.dMtit5 input  {
	width: 35px;
	height: 25px;
	display: inline-block;
	margin-right: 7px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #e1cc6d;
        font-size: 20px;
        text-align: center;
}

.dSubmit  {
	display: block;
	position: relative;
	width: 260px;
	height: 40px;
	line-height: 35px;
	margin: 10px auto 0px;
	padding: 0;
	text-align: center;
	background-image: url(../../img/dSubmit-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.dSubmit a:link, .dSubmit a:visited  {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

.dSubmit a:hover {
	color: yellow;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

.noM  {
	margin-right: 0px !important;
}

.noM1  {
	margin-right: 24px !important;
}

.mar  {
	margin-top: 20px !important;
	border-top: 1px dotted #fff;
	padding-top: 15px;
}

.d1  {
	line-height: 33px !important;
}

.mobR  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/pt-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobR1  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/gp-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobR2  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/bt-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobR3  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/ag-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobR4  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/cw-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobR5  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(../../img/al-mob-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

.mobRtd  {
	float: right;
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	margin-right: 30px;
	margin-top: 50px;
}

.ct  {
	margin-right: 80px !important;
}

.promo  {
	width: 1026px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0px 0px 20px 0px;
	}
	
	.accordion-toggle {cursor: pointer; margin: 0; margin-top: 10px; color: yellow; position: relative; border: 1px solid; height: 200px;}
		.accordion-content {display: none;}
		.accordion-content.default {display: none ;margin-left: 47px; margin-top: -80px; padding: 5px 5px 5px 30px;color: #000;margin: 5px 0px; background:#F5E783;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: absolute;display: block;	width: 1009px;	height: 45px; margin-left: 0px; margin-bottom: 0px;	padding-left: 15px; top: 0px;}
		
		/* replace  */
		
        .promo_info  {	
		position: absolute;
		display: block;	
		right: 140px;
		top: 155px;
		background: url(../../img/promo-btnBg.png)no-repeat;
		padding: 6px 0px;	
		width:  123px;	
		height: 36px;		
		text-align: center;	
		font-weight: bold;	
		line-height: 26px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}
		
		.promo_info a  {color: #000 !important; text-decoration: none;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	
		float: right; 
		background: url(../../img/promo-btnBg.png) no-repeat;	
		display: block;
		position: relative;	
		padding: 6px 0px;	
		width:  123px;	
		height: 36px;	
		line-height: 26px;	
		margin-top: 155px; 
		margin-right: 10px;	
		text-align: center;	
		font-size: 14px !important;	
		text-shadow: none !important;	
		color: #fff !important; 	
		font-weight: 600 !important;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
		
		}
		.promo_title  {	display: block;    color: #000;		padding: 6px 0px;	width:  320px;	margin-top: 10px;	margin-right: 0px;	text-align: left;	font-weight: bold;}


.footerb1  {
	display: block;
	position: relative;
	margin-bottom: 10px;
	color: #ffde00;
	font-weight: bold;
	font-size: 14px;
}

.footerb1 td  {
	padding: 4px;
}

.fbLeft  {
	display: block;
	float: left;
}

.fbRight  {
	display: block;
	float: right;
}


.last  {
	border: none !important;
}
.footer  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

}
.footerInner  {
	width: 1004px;
	margin: 0 auto;
	padding: 20px 10px 20px;
	height: auto;
	display: block;
}
.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 85px;
}
.footerCol h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 210px;
}
.footerCol3 h2  {
	margin: 0px 0px 10px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footerBottom  {
	margin-top: 20px;
	text-align: center;
	display: block;
	position: relative;
}
.footerBottom span  {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: -10px;
	font-size: 11px;
	color: #fff;
	padding-bottom: 10px;
}
.line {
    background: #363636 none repeat scroll 0 0;
    clear: both;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}
.boxP  {
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
}

/* Footer*/
.footer1  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}
.footerInner1  {
	width: 1004px;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	display: block;
}

.footerInner table  {

	margin-left: 160px;

}

.footerInner td  {

	padding: 0px 10px;

}

.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 305px;
}
.footTxt  {
	font-size: 12px;
	color: #fff;
}
.footerCol h2  {
	margin: 0px 0px 10px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 300px;
}
.footerCol3 h2  {
	margin: 0px 0px 7px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footer2  {
	position: relative;
	display: block;
	height: 50px;
}

.footer2 ul  {
	margin: 0;
	padding: 0px 40px 0px 0px;
	float: right;
}
.footer2 ul li  {
	float: left;
	display: inline;
}
.footer2 ul li a:link, .footer2 ul li a:visited  {
	text-decoration: none;
	color: yellow;
	font-style:italic;
	font-weight: bold;
	font-size: 11px;
	padding-left: 10px;
}
.footer2 ul li a:hover {
	text-decoration: none;
	color: #fff;
}
.mobileWrap  {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.mobileWrapInner {
	margin: 0 auto;
	width: 1024px;
}

.mobBg  {
	width: 250px;
	height: 464px;
	position: relative;
	display: block;
}
.mobSect1  {
	text-align: center;
}
.mobSect2  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	background: #000;
}
.mobSect3  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	font-size: 11px;
}
.mobSect4  {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}

.center  {
	width: 100%;
	text-align: center;
}

.msgBox1 {
	background: none;
	display: block;
	position: relative;
	height: 300px;
	margin: 0 auto 20px;
	padding-top: 70px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 100px;
	width: 450px;
}
.msgBox1 p {
    color: yellow;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excl {
	color: #444;
	display: block;
	margin-top: -3px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8px;
	text-align: center;
	padding-top: 0px;
}

#container404 {
    float:center;
    width:1024px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#colE1 {
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	right: 41px;
	padding-left: 300px;
	padding-top: 69px;
	font-size: 95px;
	height: 246px;
    color: yellow;
}
#colE2 {
	float: left;
	padding-top: 94px;
	font-size: 25px;
 color: yellow;
}

#containerbank {
	float: center;
	width: 1024px;
}
#colb1 {
	float: left;
	width: 20%;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	text-align: center;
}
#colb2 {
	float: left;
	width: 20%;
	text-align: center;
}
#colb3 {
	float: left;
	width: 20%;
	text-align: center;  

}
#colb4 {
	float: left;
	width: 20%;
	text-align: center;

}
#colb5 {
	float: left;
	width: 20%;
	text-align: center;
}

.ht1  {
	height: 800px;
}

.footerCol5  {
	display: block;
	position: relative;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 100%;
	text-align: center;
}
.footerCol5 table  {
	width: 750px;
	margin: 0 auto 15px;
	
}
.footerCol5 h2  {
	margin: 0px 0px 5px 0px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

.footerCol6  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 440px;
}
.footerCol6 h2  {
	margin: 0px 0px 5px 0px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

button  {
background: #2E2703 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff !important;
    float: right;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    overflow: visible;
    padding: 7px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: auto;
}

a:link, a:visited {
    color: #fff !important;
}

#container404 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    width: 1024px;
	height: 300px;
	display: block;
}
#colE1 {
    box-shadow: 0 0 0;
    color: yellow;
    float: left;
    font-size: 95px;
    height: 246px;
    padding-left: 300px;
    padding-top: 69px;
    right: 41px;
}
#colE2 {
    color: yellow;
    float: left;
    font-size: 25px;
    padding-top: 94px;
}
#containerbank {
    width: 1024px;
	z-index: 1000;
	position: relative;
	display: block;
	height: auto;
	padding-top: 60px;
}
table.bankingtable {
    border-collapse: collapse;
    border-color: #e7e7e7;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    width: 1024px;
	font-size: 14px;
	color: #000;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}

.midSectInner h2  {
	color: #fff;
	font-size: 16px;
}

.midSectInner p  {
	color: #000;
}

.midSectInner ul li  {
	color: #000;
	font-size: 12px;
}

.title {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.contactTitle {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contactTitle span {
    color: #fff;
    float: right;
    font-style: normal;
    margin-right: 200px;
    text-transform: none;
}
.contactRight table td {
    color: #fff;
    padding-right: 10px;
}
.contactRight table {
    margin-bottom: 10px;
    margin-top: 10px;
}
.contactContent {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-style: italic;
}
.contactContent span {
    float: left;
    margin-right: 15px;
}
.contactRight {
    height: auto;
    margin: 0 0 0 60px;
    width: 400px;
}
.contactLeft {
    margin-left: 120px;
}
.contactWrap {
    background: rgba(0, 0, 0, 0) url("../../img/contactBg.png") repeat scroll 0 0;
    padding-top: 10px;
}

.midContf {
    background: rgba(0, 0, 0, 0) url("../../img/contactBg.png") repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 10px;
    position: relative;
}

.midContf p {
    font-size: 14px;
}
.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}
.acctContentReg label {
    width: 150px !important;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}
.acctRow {
    color: #fff !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
}


.acctContentReg label {
    width: 150px !important;
}
.acctRow label {
    color: #ffffff;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}

.submitAcct a:link, .submitAcct a:visited {
    background-image: url("../../img/submit-bg.jpg");
    background-repeat: repeat-x;
    border: 1px solid #DCD198;
    color: #ffffff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #ffae00 none repeat scroll 0 0;
    color: #ffffff;
}
.otherPg {
    background: rgba(0, 0, 0, 0) url("../../img/contactBg.png") repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: auto;
    padding: 10px;
    width: 1004px;
}

.hpgBtm  {
	display: inline-block;
	position: relative;
	width: auto;
	height: 280px;
	margin-top: -10px;

}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 250px;
	height: 286px;
	padding-top: 0px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px;
	cursor: pointer;
}
.lcBox2  {
	width: 500px;
	height: 216px;
	padding-top: 0px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px;
	cursor: pointer;
}
.lc1  {
	float: left;
	display: block;
	position: relative;
	width: 260px;

}
.lc2  {
	float: left;
	display: block;
	position: relative;
	width: 330px;
	margin-left: 100px;
	margin-top: 150px;
	margin-bottom: 50px;
}
.lc3  {
	float: right;
	display: block;
	position: relative;
	width: 330px;
	margin-right: 100px;
	margin-top: 150px;
	margin-bottom: 50px;
}
.lc4  {
	float: left;
	display: block;
	position: relative;
	width: 330px;
	margin-left: 100px;
	margin-top: 60px;
	margin-bottom: 50px;
}
.lc5  {
	float: right;
	display: block;
	position: relative;
	width: 330px;
	margin-right: 50px;
	margin-top: 60px;
	margin-bottom: 50px;
}

.lcas1  {
	float: left;
	display: block;
	position: relative;
	width: 500px;
    margin-bottom: 24px;
}

.marL  {
	margin-left: 24px;
}

.tiTle  {
	display: block;
	position: absolute;
	width: 261px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	right: 0px;
	background: url(../../img/title-bg.png)no-repeat center center;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 28px;
}
.iStit  {
	width: 100%;
	display: block;
	text-align: center;
	top: 40px;
	position: relative;
}
.spCont  {
	margin-top: 70px;
	margin-bottom: 20px;
}
.slotTop  {
	width: 1024px;
	height: 300px;
	display: block;
	position: relative;
	padding-top: 117px;
}
.slotJP  {
	display: block;
	position: absolute;
	width: 427px;
	height: 98px;
	background:url(../../img/pjackpot-bg.png)no-repeat;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	line-height: 120px;
	text-align: center;
	top: 20px;
}
.slotLeft  {
	float: left;
	display: block;
	position: relative;
}
.slotLeft img  {
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.slotRight  {
	float: left;
	display: block;
	position: relative;
}
.sTop  {
	display: block;
	position: relative;
	margin-top: 5px;
}

.sTop img  {
	-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.join  {
	position: absolute;
	display: block;
	right: 0px;
	top: 15px;
}
.mobHead  {
	margin-left: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mobBx1  {
	position: relative;
	display: block;
	float: left;
	width: 500px;
	height: auto;
	margin-left: 20px;

}
.noMar  {
	margin-left: 0px !important;
}
.top10  {
	margin-top: 20px !important;
}
.mobBx1 span {
	display: block;
	position: relative;
	text-align: center;
	width: 500px;
	height: auto;
	color: #fff;
	font-size: 12px;
	padding: 3px 0px;
}
.underl  {
	text-decoration: underline;
}
.mobRt  {
	position: relative;
	display: inline-block;
	float: right;
	width: 120px;
	height: 170px;
	margin-right: 8px;
}
.mobBx1inner {
	position: relative;
	display: block;
	background: url(../../img/mob-bg.png)repeat;
	width: 480px;
	height: auto;
	padding: 10px;
}
.mobMxb  {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	width: 200px;
}
.mob1  {
	display: block;
	position: relative;
		text-align: center;
	font-size: 14px;
	text-decoration: underline;
	padding: 3px 0px;
	color: #fff;
}
.mobBtn  {
	width: 90px;
	height: 35px;
	display: block;
	position: relative;
	background: url(../../img/mobBtn.png)no-repeat;
	margin-left: 0px;
	font-size: 14px;
	padding-left: 35px;
	color: #000;
	line-height: 27px;
}
.mobBtn a:link, .mobBtn a:visited  {
	color: #000 !important;
}
.mobBtn1  {
	width: 90px;
	height: 35px;
	display: block;
	position: relative;
	background: url(../../img/mobBtn2.png)no-repeat;
	margin-left: 0px;
	font-size: 14px;
	padding-left: 35px;
	color: #000;
	line-height: 27px;
}
.mobBtn1 a:link, .mobBtn1 a:visited  {
	color: #000 !important;
}
.ctBg  {
	width: 1024px;
	height: 450px;
	display: inline-block;
	position: relative;
	background:url(../../img/contact-bg.png)no-repeat;
	margin-bottom: 20px;
}
.ctBox  {
	width: 420px;
	height: 380px;
	float: right;
	margin-right: 200px;
	margin-top: 20px;
	padding: 15px;
	color: #000;
}
.ctTit  {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	font-weight: bold;
	color: yellow;
	font-size: 22px;
}
.ct1  {
	margin-top: 15px;
}

.ct2  {
	margin-top: 15px;
}

.ct2 td:nth-child(odd)  {
	padding: 10px 2px;
	
}

.ct2 tr:nth-child(even)  {
	background: none !important;
}

.ct2 td:nth-child(1)  {
	width: 100px;
}

.ct2 td:nth-child(2)  {
	width: 20px;
	
}

.ct2 td:nth-child(3)  {
	width: 200px;
}
.welc  {
	width: 165px;
}
.welc1  {
	width: 90px;
}

.submitAcct a:link, .submitAcct a:visited {
    background: #CEBA59;
	   border: 1px solid #CEBA59;
    color: #ffffff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #ffae00 none repeat scroll 0 0;
    color: #ffffff;
}

.otherPg p  {
	color: #fff;
}

.ui-datepicker  a:link, a:visited {
   background: #000;
   border: 1px solid #555;
   color: #FFF;
 }