.searchbox {
	margin: -8px 0;
}
.info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}

.formLabelLeft {
	width: 150px;
	padding-right: 10px;
	vertical-align: top;
	font-weight: bold;
}

table.formTable th {
	min-width: 120px;
	padding: 3px 10px;
	vertical-align: top;
	font-weight: bold;
}

div.datagrid-cell a {
	color: #33f;
	text-decoration: none;
}

div.flag {
  width: 0;
  height: 0;
  border-bottom: 15px solid;
  /* 104 = 120 * 0.866 */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

div.triangle {
  width:0px; 
  height:0px; 
  border-left:9px solid transparent;  /* left arrow slant */
  border-right:9px solid transparent; /* right arrow slant */
  border-bottom:10px solid; /* bottom, add background color here */
  margin:0 auto; /* centers the arrow within the parent container */
  font-size:0px;
  line-height:0px;
  display:inline;
  position: relative;
  bottom:11px;
}