@charset "utf-8";
/* CSS Document */

body{
	margin:0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#2d1500 url(../images/header_bg.jpg) repeat;
}
h2{
	color:#C2B485;
}
#main{
	margin:0 auto;
}
#header{
	
	width:100%;
	background:#2d1500 url(../images/header_bg.jpg) repeat-x;
	height:129px;
}
#logo{
	float:left;
	width:520px;
	height:129px;
}

#form_portion{
	width:385px;
	height:50px;
	float:right;
	margin-top:25px;
	position:relative;
	color:#000;
	font-size:14px;
	text-align:center;
}
a:-webkit-any-link {
	text-decoration:none !important;
}

a #reg_btn{
	color:#000;
	text-decoration:none;
}
a:hover #reg_btn{
	text-decoration:none;
	opacity:0.9;
}
#reg_btn{
	height:49px;
	width:104px;
	border:1px solid #999;;
	background:url(../images/join_now_btn.jpg) no-repeat;
	float:left;
	}
		


		
.username{
	width:120px;
	height:19px;
		background:#000;
	border:1px solid #74612e;

	position:absolute;
	left:115px;
	top:0px;
	font-size:13px;
	color:#a5a5a5;
	padding-top:2px;
	text-align:center}
.pass{
	width:120px;
	height:19px;
	background:#000;
	border:1px solid #74612e;
	position:absolute;
	left:115px;
	top:28px;
	font-size:13px;
	color:#a5a5a5;
	padding-top:2px;
	text-align:center}
	
	#code{
		height:22px;
		width:50px;
		position:absolute;
		left:245px;
		top:0;
	}
	.code_fill{
		height:19px;
		width:48px;
		padding-top:2px;
	     background:#000;
	    border:1px solid #74612e;
	 	color:#a5a5a5;
		position:absolute;
		left:245px;
		top:28px;
	}
a #login_btn{
	color:#000;
	text-decoration:none;
}
a:hover #login_btn{
	text-decoration:none;
	opacity:0.9;
}
#login_btn{
	height:49px;
	width:77px;
	border:1px solid #999;;
	background:url(../images/login_btn.jpg) no-repeat;
	position:absolute;
	right:0;
	top:0;
	}
		

	
#forgot_pass a{
	text-decoration:underline !important;
	color:#FFF;
}
#forgot_pass a:hover{
	text-decoration:none !important;
	color:#FFF;
}

#navbar{
	
	width:100%;
	background:#070606 url(../images/nav_bar_bg.jpg) no-repeat center ;
	height:88px;
	
}
#navbar ul, #navbar li, #navbar li a {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	height:53px;
	color:#FFF;
	font-style:italic;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	
}
.nav_divider{
	width:2px;
	height:88px;
	background:url(../images/nav_divider.png) no-repeat;
	float:left;
}
#nav_home{
	width:72px;
	background:url(../images/nav/home_btn.png) no-repeat;
	padding-left:100px !important;
    padding-top:35px !important;

}
#nav_home:hover{
		width:72px;
	background:url(../images/nav/home_btn_hover.png) no-repeat,url(../images/nav_hover_bg.png) repeat-x ;
	cursor:pointer;
}
#nav_product{
	width:109px;
	height:88px;
	background:url(../images/nav/product_btn.png) no-repeat;
	
	padding-left:100px !important;
    padding-top:25px !important;
	padding-bottom:10px!important	;	
	
}
#nav_product:hover{
		width:109px;
	background:url(../images/nav/product_btn_hover.png) no-repeat,url(../images/nav_hover_bg.png) repeat-x ;
	cursor:pointer;
}

#nav_cp{
	width:147px;
	background:url(../images/nav/cp_btn.png) no-repeat;
	padding-left:100px !important;
    padding-top:25px !important;
	padding-bottom:10px!important	;
}
#nav_cp:hover{
		width:147px;
	background:url(../images/nav/cp_btn_hover.png) no-repeat,url(../images/nav_hover_bg.png) repeat-x ;
	cursor:pointer;
}

#nav_faq{
	width:75px;
	background:url(../images/nav/faq_btn.png) no-repeat;
	padding-left:100px !important;
    padding-top:35px !important;	

}
#nav_faq:hover{
		width:75px;
	background:url(../images/nav/faq_btn_hover.png) no-repeat,url(../images/nav_hover_bg.png) repeat-x ;
	cursor:pointer;
	
}

#nav_contact{
	width:89px;
	background:url(../images/nav/contact_btn.png) no-repeat;
	padding-left:100px !important;
    padding-top:35px !important;	
}
#nav_contact:hover{
		width:89px;
	background:url(../images/nav/contact_btn_hover.png) no-repeat,url(../images/nav_hover_bg.png) repeat-x ;
	cursor:pointer;
}
#banner_wrapper{
	width:100%;
	background:#28231c url(../images/banner_bg.jpg) no-repeat center;
	height:354px;
}
#slider_banner{
	width:1000px;
	height:354px;
	margin:0 auto;
}

#steps{
	width:100%;
	height:113px;
	background-color: rgba(0, 0, 0, 0.4); 
	background-image:url(../images/steps.jpg);
	background-repeat:no-repeat;
	background-position:center;

}
#steps_content{
	width:1000px;
	height:113px;
	margin:0 auto;
}
#footer_content{
	width:100%;
	height:258px;
	background:rgba(0, 0, 0, 0.9) url(../images/footer_content_bg.png) center no-repeat;
	padding:10px;
}

#copyright{
	
	width:100%;
	height:28px;
	
	color:#999;
	font-size:12px;
}
.center_content{
	width:1000px;
	margin:0 auto;
	min-height
	height:auto;
	position:relative;
}
#icon{
	margin-top:20px;
	float:left;
}
#left_copyright{
	padding-top:5px;
	width:500px;
	height:20px;
	float:left;
}
#right_tnc{
	float:right;
	width:500px;
	height:20px;
	padding-top:5px;
	text-align:right;

}
#right_tnc a{

	color:#999;
}
#right_tnc a:hover{

	color:#767057;
}
.boxes{
	width:329px;
	height:255px;
	float:left;
	margin-left:4px;
	
}
#contact{
	position:relative;
}
#email{
	position:absolute;
	top:100px;
	right:30px;
	color:#CCC;
	font-size:14px;
}
#email a{
	color:#ccc;
}
#email :hover{
	color:#FFF;
}

#main_container{
	width:970px;
	margin:0 auto;
	min-height:500px;
	height:auto;
	color:#666;
	font-size:12px;
    background:#000;
	padding:15px;
}
.white{
	color:#FFF;
}
.product_left{
	width:480px;
	margin-right:10px;
	height:300px;
	margin-bottom:10px;
	float:left;
}

.product_right{
	width:480px;
	height:300px;
	margin-bottom:10px;
	float:left;
}
.clear{
	clear:both;
}


.accordion-toggle {cursor: pointer; margin: 0; color:#8A7D51}
.accordion-toggle h4:hover {cursor: pointer; color: yellow;}
		.accordion-content {margin-top:5px;display: none; background:#262626;
		padding:0px 10px;}
		.accordion-content.default {display: none; color:#ccc}

.contact_dd{
	position: absolute;
	width: 200px;
	min-height: 80px;
	height:auto;
    right:0px;
	top: 88px;
	background:#000;
	padding:15px;
	font-size:12px;
	text-transform:none !important;
	border:1px solid #706250;
	
	
}

.contact_dd a{
	text-transform:none !important;
	font-size:12px !important;}

.contact_dd, #nav_contact:hover>div {
    display: none;
}

#nav_contact:hover>.contact_dd {
    display: block;
}