@charset "UTF-8";
/* CSS Document */

body{
	width:100%;
	font-family:"Open Sans", Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding:0;
	margin:0;
	background:#ebebeb;		
}
#container{
	width:100%;
	min-width:800px;
}
#header{
	position:relative;
	width:100%;
	height:110px;
	background:#f5f5f5;	
}
#header_top{
	position:relative;
	width:100%;
	height:69px;
}
#logo{
	position:absolute;
	left:10px;
	top:10px;
	width:259px;
	height:52px;	
}
#top_bar{
	position:absolute;
	height:38px;
	bottom:0px;
	background:#4386fc;
	width:100%;
}
ul{
	list-style:none;
	margin:0;
	padding:0;	
}
.blue{
	color:#4386fc;	
	font-weight:bold;
}
#login{
	position:absolute;
	right:5px;
	top:5px;	
}
#login li{
	float:left;
	color:#404040;
	padding:0 5px;
}
#login li a {
	display:block;
	color:#404040;
	font-size:12px;
	text-decoration:none;
	padding:0 10px;
}
#login li a:hover{
	color:#21437e;
	text-decoration:underline;
}
#timezone{
	float:left;
	line-height:38px;
	font-size:11px;
	color:#fff;
	width:375px;	
	padding-left:5px;
}
#announcement{
	overflow:hidden;
	width:auto;
	border:1px solid #3f619c;
	min-width:400px;
	padding:0 5px;
	line-height:23px;
	margin:7px 5px 0 0;
	background:#21437e;
	font-size:11px;
	color:#fff;	
}
#content{
	min-height:500px;
	background:#ffffff;	
	overflow:hidden;
}
#left{
	z-index:1;
	display:block;
	min-height:500px;
	float:left;
	width:209px;
	background:#fafafa;
	border-right:1px solid #dddddd;
}
#left li{
	position:relative;
	border-bottom:1px solid #cccccc;	
}
#left li a{
	cursor:pointer;
	display:block;
	line-height:40px;
	color:#545454;
	text-decoration:none;
	padding-left:25px;
}
#left li a:hover{
	background:#f0f0f0;
}
#left li ul{
	display:none;
}
#left li li{
	background:#fafafa;
	border-bottom:none;	
}
#left li li a{
	display:block;
	line-height:30px;
	color:#808080;
	text-decoration:none;
	padding-left:35px;
	border:none;
	background:#fafafa;
}
#left li li a:hover{
	background:#f5f5f5;
	color:#545454;
}
.arrow{
	position:absolute;
	right:10px;
	top:14px;
	background:url(../images/arrow.png) no-repeat 0 0;
	width:13px;
	height:13px;
}
.selected .arrow{
	background:url(../images/arrow.png) no-repeat -13px top;
}
.selected{
	background:#f0f0f0;
	border-bottom:1px solid #fff;
	color:#545454;	
}
#right{
	overflow:hidden;
	width:auto;
}
#title{
	height:33px;
	padding:18px 0 0 10px;
	font-size:20px;
	font-weight:bold;
}
#tab{
	line-height:18px;
	overflow:hidden;
	padding:10px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	width:100%;
	background:#f5f5f5;
}

#tab table{
	text-align:left;
}
#tab td{
	vertical-align:top;
}
#table{
	color:#3f3f3f;
	width:100%;
	padding:10px 10px;
}
table{
	text-align:left;	
}
.table_header,
.table_footer{
	background:#505050;
	color:#fff;
	font-weight:bold;	
}
.c1{
	background:#f2f2f2;	
}
.c2{
	background:#ededed;	
}
#footer{
	clear:both;
	position:relative;
	width:100%;
	line-height:40px;
	background:#dddddd;	
	font-size:10px;
	color:#404040;
	text-align:center;
}
.content{
	display:block !important;	
	min-width:370px !important;	
	text-align:left;
}
.content table{
	text-align:left;	
}
.btn{
	cursor:pointer;
	background:#4386fc;
	border:none;
	padding:5px 10px;
	margin:0;
	color:#fff;
}
.btn:hover{
	background:#505050;
	color:#fff;
}
#show{
	padding:5px 0;
}
.checkbox{
	float:left;
	padding:0;
	margin:0 5px;
	display:block;
}
#dateSelect,#dateSelect a{
	color:	#4386fc;
}
#dateSelect a:hover{
	color:#333;
	text-decoration:none;	
}
input {
	padding:2px;
	margin:0;	
}
.colorbox{
	float:left;	
}
.color1,.color2,.color3,.color4,.color5,.color6,
.color7,.color8,.color9,.color10,.color11,.color12,
.color13,.color14,.color15,.color16,.color17,.color18,.color19{
	float:left;	
	width:14px;
	height:14px;
	border:#333;
	margin:0 0 3px 3px;
}
.color1{
	background:#669933;	
}
.color2{
	background:#cc6666;	
}
.color3{
	background:#33ff00;	
}
.color4{
	background:#0000cc;	
}
.color5{
	background:#ffff00;	
}
.color6{
	background:#6600cc;	
}
.color7{
	background:#cc0000;	
}
.color8{
	background:#99ffff;	
}
.color9{
	background:#000000;	
}
.color10{
	background:#ff6600;	
}
.color11{
	background:#ff99ff;	
}
.color12{
	background:#330066;	
}
.color13{
	background:#999966;	
}
.color14{
	background:#cc33ff;	
}
.color15{
	background:#33cc99;	
}
.color16{
	background:#736aff;	
}
.color17{
	background:#c85a17;	
}
.color18{
	background:#808080;	
}