.midSectInner {


}

.lcBox2  {
	width: 330px;
	height: 330px;
	position: relative;
    display: block;
	margin: 0px;
	cursor: pointer;
}
.lcBox3  {
	width: 260px;
	height: 210px;
	position: relative;
    display: block;
	margin: 0px;
	cursor: pointer;
}
body  {

}

.dContainer  {
	margin-top: -8px;
	display: inline-block;
	width: 100%;
	height: 510px;
	background-image: url(../../img/4dbg.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.dContainerTop  {
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 0px;
	position: relative;
}

.dContainerTopInner  {
	width: 1024px;
	height: 150px;
	margin: 10px auto 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.dBtnLeft  {
	display: block;
	position: absolute;
	top: 0;
	left: 300px;
	width: 133px;
	height: 133px;
}

.dBtnRight  {
	display: block;
	position: absolute;
	top: 0;
	right: 330px;
	width: 133px;
	height: 133px;
}

.dContainerBottom  {

}

.dContainerBottomInner  {
	width: 1024px;
	height: 100%;
	margin: 0px auto 10px;
	padding: 0px;
	display: inline-block;
	position: relative;
}

#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0px 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 140px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table3 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
}

.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 210px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}