@charset "utf-8";

#container .itemdiv {
	width:1004px;
	margin: 0 auto 40px auto;
	display:inline-block;
	vertical-align:top;
}
	dl.tabs {
		position:relative;
		background: url(../../img/tabBg.png)no-repeat top center;

	}
		dl.tabs dt {
			background:#e0e0e0;
			border:none;
			color:#333;
			float:left;
			padding:5px 10px 8px 10px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:13px;
			font-weight:bold;
			margin:9px 3px 0 35px;	
			text-transform:uppercase;
			height: 50px;
			line-height: 50px;
		}
			
		dl.tabs dd {
			border: 0px solid #bdbdbd;
			width:1004px;
			height:auto;
			background: none;		
			clear:both;
			display:block;
			
		}
					
		/* if JS is ACTIVATED, enable new style to dl.tabs */
		dl.tabs.enabled {
			height:202px;
		}
		dl.tabs.enabled dt {
			background: none;

			color:#7a7a7a;
			cursor:pointer;
		}
			dl.tabs.enabled dt:hover {
				background-color: none;
				color:#fff;
			}
		dl.tabs.enabled dt.active {
			background: url(../../img/tab-icon-hover.png)no-repeat center center;
			padding:5px 10px;
			border:none;
			color:#000;
			cursor:default;
			
		}
			dl.tabs.enabled dd {
				position:absolute;
				top:100px;
				left:0;
				margin:0;
				z-index:1;
				clear:none;height:378px;
			}
			dl.tabs.enabled dd.active {
				z-index:3;
			}
