/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
	overflow-x: hidden;
	width:100%;
}

body {
    padding-bottom: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background: url(../images/bg.jpg) no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #000;
	overflow-x: hidden;
}

.bg-02  {
	background: url(../images/timer-bg.png)repeat;
}

.userN  {
	display: block;
	color: #fff;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	margin-bottom: 13px;
	margin-top: 5px;
}

.userN span  {
	color: #f4ff7d;
}

.tokenWrap  {
	display: block;
	position: relative;
	width: 135px;
	height: 26px;
	line-height: 28px;
	padding-left: 36px;
	background: url(../images/token-bg.png)no-repeat left center;
	font-size: 8px;
	font-weight: bold;
	margin-bottom: 13px;
	margin-top: 5px;
}

.tokenWrap span  {
	color: red;
	margin-left: 10px;
}

table thead th  {
	background: #fff;
	font-size: 11px;
	font-weight: bold;
	border-right: 1px solid #ffda44;
}

table tr  {
	background: #fff;
}

table tr td  {
	font-size: 11px;
}

table th:last-child  {
	border-right: 0px solid #ffda44;
}

table tbody th {
	font-size: 11px;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.flex-container > div {
  background: none;
  width: 100px;
  margin: 2px;
  text-align: center;
  line-height: normal;
  font-size: 9px;
  padding: 7px 0px 2px;
}

.btm  {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.btmTxt  {
	line-height: normal;
	padding: 2px 0px;
	text-transform: uppercase;
	color: #fff17c;
	font-size: 9px;
	font-weight: bold;
}

.btmTxt a:link, .btmTxt a:visited  {
	color: #fff17c;
	text-decoration: none;
}

.wrap01  {
	background: #fff;
	padding: 8px 0px 80px;
}

.text-grey  {
	color: #6b6868 !important;
	margin-left: 8px;
}

.text-grey2  {
	color: #6b6868 !important;
	font-weight: bold;
}

.bg-03  {
	background: #fcf7d2;
}

.wrapDesc  {
	display: block;
	width: 300px;
	margin: 8px auto 2px;
}

.descImg  {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
}

.descTxt  {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	font-weight: bold;
	margin-top: 7px;
}

.descTxt span  {
	color: #b9000a;
}

.spend  {
	font-size: 10px;
	font-style: italic;
	padding: 5px 0px;
}

.form-check  {
	display: block;
	height: 25px;
}

.tt1  {
	vertical-align: -4px;
	margin: 0px 8px;
}

.tt2  {
	margin: 0px 8px 0px 0px;
	font-weight: normal;
	font-size: 12px;
}

.tt3  {
	vertical-align: -2px;
	margin: 1px 2px 0px;
}

.tt4  {
	margin: 0px 4px 0px 0px;
	font-weight: normal;
	font-size: 11px;
}

.tt5  {
	vertical-align: 5px;
	margin: 0px 2px;
	font-size: 10px;
}

.tt6  {
	vertical-align: -2px;
	margin: 1px 2px 0px;
}

.wrapS  {
	margin: 5px 0px 5px 8px;
}

.wrapS1  {
	margin: 5px 0px 5px 3px;
}

.wrapS2  {
	margin: 5px 0px 5px 1px;
}

.adj01  {
	margin-top: 16px;
	height: 40px;
}

.totToken  {
	display: block;
    width: 100%;
    height: 30px;
    line-height: 28px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px 0px 0px 8px;
    float: left;
	font-size: 12px;
	padding-left: 8px;
	font-weight: bold;
}

.totToken span  {
	color: red;
	margin-left: 18px;
}

.submitBtn a:link, .submitBtn a:visited {
    display: block;
    background: #cc2127;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
	text-align: center;
	margin: 10px 12px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {}

.text-red  {
	color: #790000 !important;
}

.gT  {
	margin-left: 8px;
	margin-top: 5px;
	color: #1fa7c2;
	font-weight: bold;
}

.gT span  {
	margin-left: 6px;
}

.line  {
	display: block;
	width: 93%;
	height: 1px;
	background: #828383;
	margin: 5px 8px;
}


/*WC Timer*/
.wc  {
	display: block;
	width: 300px;
	height: auto;
	margin: 0 auto;
}
.wcInner  {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.timerDig  {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: 55px;
	top: 10px;
	letter-spacing: 5px;
}
.timerWrap  {
	display: inline-block;
	width: 100%;
	height: 68px;
	position: relative;
	background: url(../images/wc-bg.png)no-repeat;
	margin: 0px;
}
.wcWrap  {
	display: inline-block;
}

.pl  {}

.pl ul  {
	margin: 0px 0px 0px 8px;
	padding: 0;
}

.pl ul li  {
	margin: 0;
	padding: 4px 0px;
	list-style-type: none;
}

.pl ul li a:link, .pl ul li a:visited  {
	text-decoration: none;
	color: #535353;
}

.pl ul li a:hover  {
	text-decoration: none;
	color: #000;
}

/*WC Timer*/

/* Additional Styling */

.logBtn  {
	display: inline-block;
	float: right;
}

.logBtn a:link, .logBtn a:visited  {
	display: block;
	padding: 3px 16px;
	background: #cc2127;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin: 20px 18px 0px 0px;
	border-radius: 6px;
}

.logBtn a:hover  {
	font-size: 12px;
	color: yellow;
	text-decoration: none;
}

.mar01  {
	margin: 18px 0px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}