.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 20px auto 0px !important;
	padding: 0 !important;
	display: block;
}

.slotBg  {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	padding: 0px;
	background-image: url(../../img/slotBg.png);
	background-position:top center;
	background-repeat: no-repeat;
	z-index: 2005;
}
.slotContainerBottom  {
	position: relative;
	display: block;
	height: 100%;	
}
.slotMenuHolder  {
	width: 1002px;
	height: 35px;
    background: url(../../img/navBG.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(../../img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #000;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #fff;
	text-decoration: none;
	background: #000;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1024px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 1px solid #EBAF4D;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	border: 1px dotted #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}