.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 20px auto 0px !important;
	padding: 0 !important;
}
.footerInner  {
	width: 1004px;
	margin: -27px auto 0px !important;
	padding: 50px 10px 10px;
	height: auto;
	display: block;
	background-image: url(../../img/footerInnerBg-other.png) !important;
	background-position: top bottom;
	background-repeat: no-repeat;
}
.spBg  {
	width: 100%;
	height: 280px;
	background-image: url(../../img/spBg.png);
	background-repeat: no-repeat;
	background-position:top center;
	position: relative;
	display: inline-block;
}
.spLeft  {
	position: absolute;
	width: 157px;
	height: 48px;
	left: 100px;
	top: 118px;
}
.spRight  {
	position: absolute;
	width: 192px;
	height: 48px;
	right: 100px;
	top: 118px;
}