/*WC Timer*/
.wc  {
	display: block;
	width: 100%;
	height: 88px;
}
.wcInner  {
	display: block;
	width: 1024px;
	height: auto;
	margin: 0 auto;
}
.timerDig  {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
	right: 45px;
	top: 7px;
	letter-spacing: 6px;
}
.timerWrap  {
	display: inline-block;
	width: 700px;
	height: 68px;
	position: relative;
	background: url(../../img/wc-timer-bg.png)no-repeat;
	margin: 6px 0px;
}
.wcWrap  {
	display: inline-block;
}
/*WC Timer*/