
.slide-out-div1 {
        padding: 10px;
        width: 200px;
        background: #510303;
		height: 410px !important;
		margin-top: 2px;
    }
	
		.slide-out-div1 td:hover {
		background: #420305;
    }
	
	.emailContainer  {
		background-color: #363636;
		background-image: url(images/email-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	
	.telContainer  {
		background-color: #363636;
		background-image: url(images/tel-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	.wcContainer  {
		background-color: #363636;
		background-image: url(images/wechat-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	
	.floatSpace  {
		width: 100%;
		text-align: center;
	}
	
	.click  {
		margin-top: 12px;
	}
	
	.slide-out-div {
		padding: 10px;
        width: 200px;
        background: #510303;
		height: 410px !important;
		margin-top: 2px;
    }
	
		.slide-out-div td:hover {
		background: #420305;
    }

 
