.midSectInner  {
	background: url(../../img/contactBg.png)repeat;
	padding: 10px !important;
	color: #fff;
	width: 1004px !important;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 400px;
    margin: 0 auto 20px;
    padding: 80px 5px 0 !important;
    width: 450px;
}
