body  {
	width: 100%;
	height: 100%;
	background-image: url(../../img/bg-other.jpg) !important;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #15071c;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 290px;
	height: 290px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 25px 10px 25px;
	cursor: pointer;
}
.lcBox1  {
	width: 230px;
	height: 230px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

.lcBottom  {
	margin-left: 170px;
}