.midSectInner  {
	background: url(../../img/contactBg.png)repeat;
	padding: 10px;
	color: #fff !important;
	width: 1004px !important;
}

.midSectInner h2  {
	color: yellow !important;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}

.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 input {
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 0px;
	padding-bottom: 0;
	width: 195px;
	color: #FFFFFF;
	padding-right: 15px;
}
.acctRow2 label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #fff;
}
.acctRow label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}
.acctRowR input {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 25px;
}
.acctRowR td {
    padding-bottom: 5px;
	color: #fff;
	font-size: 13px;
}
.acctRow input {
	background: #e1e1e1 none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 90px;
	padding-bottom: 0;
	width: 195px;
	color: #FFFFFF;
	padding-right: 15px;
}