body  {
	background-image: url(../../img/promo-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #15071c;
}

.anmnt  {
	margin-top: 10px;
}

#element_to_pop_up { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
	font-weight: bold;
	font-size: 20px;
}

#my-button  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up1  { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button1  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up2 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button2  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up3 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button3  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up3 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button3  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up4 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button4  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up5 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button5  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up6 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button6  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

#element_to_pop_up7 { 
background-color:#000;
    border-radius:15px;
	border: 1px solid #C31818;
    color:#fff;
    display:none; 
    padding:20px;
	width: 800px;
    min-width:400px;
    min-height: 180px;
	font-size: 12px;
}

#my-button7  {
	background: none !important;
	border: 0px solid !important;
	cursor: pointer !important;
}

.promoContainerInner table td  {
	padding: 0px 5px 5px;
}

.promoContainer  {
	margin-top: 15px;
}