body  {
	background-image: url(../../img/bg-sp.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #15071c;
}

.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 20px auto 0px !important;
	padding: 0 !important;
}

.anmnt  {
	margin-top: 10px;
}

.slotBg  {
	width: 100%;
	height: 240px;
	position: relative;
	display: inline-block;
}
.slotLeft  {
	position: absolute;
	width: 157px;
	height: 48px;
	left: 300px;
	top: 188px;
}
.slotRight  {
	position: absolute;
	width: 157px;
	height: 48px;
	right: 300px;
	top: 242px;
}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 290px;
	height: 290px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 25px 10px 25px;
	cursor: pointer;
}
.lcBox1  {
	width: 230px;
	height: 230px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

#slot  {
	width: 1024px;
	height: auto;
	display: block;
	padding: 0px;
	background: #000;
	}


.slot_menu  {
	position: relative;
	display: block;
	top: 9px;
	width: 170px;
	height: auto;
	padding-left: 0px;
	float: left;
	margin-top: -13px;
	margin-left: 10px;

}

.slot_menu ul  {
	width: 170px;
	position: relative;
	list-style-type: none;
	float: left;
	padding-top: -4px;
	margin: 10px auto 0px !important;
	padding: 0;
	z-index: 99999;
	text-align: center;
}

.slot_menu ul li  {
	display: block;

}

.slot_menu ul li a:link  {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 170px;
	height: 33px;
	font-weight: 600;
	line-height: 32px;
	background: #15071C;
	border: 0px solid #ccc;
	margin: 4px 9px 0px 0px;
	color: #fff;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size: 12px;
	}
	
	.slot_menu ul li a:visited  {
	color: #fff;
	}

.slot_menu ul li a:hover  {
	width: 170px;
	height: 33px;
	background: #84194D;
	color: yellow;
	}
	
#slot_lobby  {
	margin-top: -4px;
	width: 840px;
	float: right;
	}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 15px;
	margin-bottom: 5px;
	border: 1px solid #541D5E;
	margin-top: 15px;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #fff;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}

#slot_top  {
	width: 820px;
	height: 200px;
	display: block;
	float: right;
	}

.noatt  {
	background: none !important;
	border: 0px solid #fff !important;
}

.noatt td  {
	background: none !important;
	border: 0px solid #fff !important;
}




