body  {
	background-image: url(../../img/bg-sp.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #15071c;
}

.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 20px auto 0px !important;
	padding: 0 !important;
}

.anmnt  {
	margin-top: 10px;
}

.spBg  {
	width: 100%;
	height: 240px;
	background-image: url(../../img/spBg.png) ;
	background-repeat: no-repeat;
	background-position:top center;
	position: relative;
	display: inline-block;
}
.spLeft  {
	position: absolute;
	width: 157px;
	height: 48px;
	left: 300px;
	top: 188px;
}
.spRight  {
	position: absolute;
	width: 157px;
	height: 48px;
	right: 300px;
	top: 242px;
}