body  {
	background-image: url(../../img/bg-other.jpg) !important;
	background-repeat: no-repeat;
	background-position: top center;
}
.anmnt  {
	margin-top: 10px;
}

.showbox { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb1.png) no-repeat;
	} 

.showbox:hover { 
	background: url(../../img/lc-thumb1.png)no-repeat;
	}
	
.showbox1 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb2.png)no-repeat;
	} 

.showbox1:hover { 
	background: url(../../img/lc-thumb2.png)no-repeat;
	}
	
	.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.showbox2 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb3.png)no-repeat;
	} 

.showbox2:hover { 
	background: url(../../img/lc-thumb3.png)no-repeat;
	}
	
	.showbox3 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb4.png)no-repeat;
	margin-left: 150px;
	} 

.showbox3:hover { 
	background: url(../../img/lc-thumb4.png)no-repeat;
	}
	
	.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb5.png)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-thumb5.png)no-repeat;
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 300px;
	height: 300px;
	background: url(../../img/lc-thumb-6.png)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-thumb-6-hover.png)no-repeat;
	}
	
	.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lcLobby  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
}

.lcLobbyInner  {
	width: 994px;
	height: 580px;
	margin: 0 auto;
	padding: 15px 15px 0px;
	display: block;
	position: relative;
}

.lcLobbyInner table  {
	margin-left: 60px;
}