@charset "utf-8";
/* General */
html, body  {height: 100%;}
body  {
	width: 100%;
	height: 100%;
	background-image: url(../../img/bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
}
.clr  {
	clear: both;
}
/* Header */
.header  {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
}
.headerInner  {
	margin: 0 auto;
	width: 1100px;
	height: 118px;
	display: block;
	position: relative;
	text-align: center;

}
.headerInner2  {
	margin: 0 auto;
	width: 1024px;
	height: 100px;
	display: block;
	position: relative;
	text-align: center;
}
.logo  {
	margin: 0px;
	display: inline-block;
	height: 94px;
	float: left;
}
.logo img  {
	margin: 10px 0px 0px 0px;
}
.logo2  {
	float: left;
	margin: 6px 0px 0px 100px;
	display: inline-block;
	height: 105px;
}
.logo2 img  {
	width: 200px;
	margin: 0px 0px 0px;
}

.livC  {
	display: block;
	position: absolute;
	background: url(../../img/live-help.png)no-repeat;
	width: 70px;
	height: 28px;
	top: 10px;
	right: 55px;
}

.livC a:link, .livC a:visited  {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 10px;
}

.livC a:hover  {
	color: red;
	text-decoration: none;
}

.headerRight  {
	margin: 0px 0px 0px 0px;
	top: 20px;
	right: 15px;
	display: block;
	position: absolute;
	width: auto;
}

.joinNow  {
	display: block;
	position: absolute;
	background: url(../../img/join-bg.png)no-repeat;
	width: 140px;
	height: 28px;
	line-height: 28px;
	right: 140px;
	top: 10px;
	text-align: center;
}

.joinNow a:link, .joinNow a:visited  {
	color: #fff;
	text-decoration: none;
	font-family: "Cinzel",serif;
	font-size: 12px;
}

.joinNow a:hover {
	color: #F5DD6E;
	text-decoration: none;
}

.liveC  {
	display: block;
	position: absolute;
	background: url(file:///C|/Users/lenovo/Desktop/AVX/Backup_300514/Web/ampmbet/HTML/img/live-help.png)
	width: 70px;
	height: 28px;
	line-height: 28px;
	right: 0px;
	top: 0px;
}
.cSelect  {
	display: block;
	position: absolute;
	right: 0px;
	width: auto;
	top: 12px;
}

.cSelect ul  {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cSelect ul li  {
	display: inline-block;
	margin: 0px 3px;
	padding: 0;
	float: left;
}

.wallCont  {
	display: block;
	position: relative;
	width: 100%;
}

.wallCont table  {
	display: block;
	position: relative;
	width: 100%;
}

.wallcc table td  {
	width: 100% !important;
}


.wallcc  {
	display: block;
	position: relative;
	background-color: #FFB75C !important;
}

.wallIt  {
	padding: 5px 0px 5px;
	color: #000;
	width: 150px;
	float: left;
}

.head  {
	padding: 5px 0px 5px;
	background: #000;
	color: #fff !important;
}

.total  {
	padding: 5px 0px 5px;
	background: #d6841d;
	color: #000 !important;
}

.sep  {
	margin-top: 1px;
}


.headerLeft  {
	margin: 0px 0px 0px 0px;
	top: 127px;
	left: 15px;
	display: inline-block;
	position: absolute;
	width: 560px;
}
.headerLeftTable  {
	float: left;
	margin-top: 6px;
}

.headerLeft table span  {
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-top: 0px;
	font-style: italic;
}
.headerLeft table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerLeft table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerLeft table span:hover  {
	color: yellow;
	cursor: pointer;
	font-style: italic;
}
.headerLeft table td  {
	padding: 0px 3px;
	color: #fff;
	font-size: 11px;
}
.headerLeft table td img  {
	vertical-align: -6px;
}

.headerRightTable1  {
	float: right;
	margin-top: 8px;
}
.headerRightTable1 table td  {
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-top: -20px;
	color: #fff;
}
.headerRightTable1 table span a:link, .headerRightTable1 table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable1 table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}

.headerRightTable table  {
	float: right;
	margin-top: 6px;
}
.headerRightTable table span  {
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-top: 0px;
	font-style: italic;
}
.headerRightTable table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable table span:hover  {
	color: yellow;
	cursor: pointer;
	font-style: italic;
}
.headerRightTable table td  {
	padding: 0px 3px;
}
.headerRightTable input  {
	width: 80px;
	font-size: 11px;
	padding: 0px 6px;
	background-color: #363636;
	color: #fff;
	border: 1px solid #000;
	line-height: 20px;
	height: 20px;
}

.headerRightTable input:focus  {
	box-shadow: 0 0 5px rgba(131, 20, 147, 1);
	border: 1px solid #831493;
}
.acctRow label {
    color: #ffffff;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}
.loginC  {
	display: block;
	position: absolute;
	width: 140px;
	height: 40px;
	top: 35px;
	right: 140px;
	background: #ff0000;
	background-image: url(../../img/login-btn.png);
	background-repeat: no-repeat;
	background-position: 25% 40%;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.loginC a:link, .loginC a:visited  {
	width: 120px;
	height: 40px;
	line-height: 40px;
	display: block;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	text-decoration: none;
	margin-left: 10px;
}
.loginC a:hover  {
	color: yellow;
}
.fp {line-height: 10px;

text-align: left;
margin-left: 5px;
}

.fp a:link, .fp a:visited {
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	text-align: left;
}
.fp a:hover {
	color: #F4DB6C;
	text-decoration: none;
}

.usr input  {
	background: #fff url(../../img/usr-icon.png)no-repeat 3px center;
	padding-left: 20px;
	font-size: 12px;
	border: 0px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}
	
	.psw input  {
	background: #fff url(../../img/psw-icon.png)no-repeat 3px center !important;
	padding-left: 20px;
	font-size: 12px;
	border: 0px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}
	
	.cde input  {
		background: #fff !important;
	padding-left: 20px;
	font-size: 12px;
	border: 0px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}
		

.joinC  {
	display: block;
	position: absolute;
	width: 132px;
	height: 100px;
	top: 0px;
	right: 0px;
}
.fpswd  {
	color: #ff0006;
	font-size: 12px;
	margin-top: -12px;
}
.fpswd a:link,.fpswd a:visited   {
	color: #FF0000 !important;
	font-size: 12px;
	text-decoration: none;
	text-shadow: none;
}
.fpswd a:hover   {
	color: #000 !important;
	text-decoration: none;
}
.outer  {
	height: 500px;
}
.hrTopTime  {
	display: block;
	position: absolute;
	font-size: 10px;
	top:12px;
	left: 160px;
	width: 300px;
	text-align: right;
	color: #fff;
}
.hrTopTime1  {
	display: block;
	position: absolute;
	font-size: 10px;
	top:12px;
	left: 60px;
	width: 300px;
	text-align: right;
	color: #fff;
}
.vrf  {
	background-color: #000 !important;
	border: 1px solid #464646 !important;
	width: 50px !important;
	color: #fff !important;
	text-align: center;
	padding: 0px !important;
	line-height: 20px !important;
	height: 20px !important;
}
.loginBtn  {
	}
.loginBtn a:link, .loginBtn a:visited  {
	background: url(../../img/loginBtn.gif)no-repeat;
	height: 28px;
	width: 70px;
	line-height: 28px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 12px;
	}
.loginBtn a:hover  {
	color: #fff;
}
.submitBtn  {
}
.submitBtn a:link, .submitBtn a:visited  {
	background: url(../../img/submitBtn.gif)no-repeat;
	height: 28px;
	width: 70px;
	line-height: 28px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 12px;
}
.submitBtn a:hover  {
	color: #fff;
}
.registerBtn  {
	}
.registerBtn a:link, .registerBtn a:visited  {
	background: url(../../img/register_button.gif)no-repeat;
	height: 28px;
	width: 70px;
	line-height: 28px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 12px;
	}
.registerBtn a:hover  {
	color: #fff;
}
.logoutBtn  {
	}
.logoutBtn a:link, .logoutBtn a:visited  {
	background: url(../../img/logout_button.gif)no-repeat;
	height: 28px;
	width: 70px;
	line-height: 28px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 12px;
	}
.logoutBtn a:hover  {
	color: #fff;
}
.anmnt  {
	position: relative;
	height: 20px;
	line-height: 20px;
	display: block;
	font-size: 12px;
	color: #000;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin-bottom: 10px;
}

.anmntInner  {
	width: 1050px;
	margin: 0 auto;
	background-image: url(../../img/banner/anmtIcon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	padding-botom: 10px;
}

.anmnt marquee  {
	color: #fff;
	}

.anmnt marquee:hover  {
	color: yellow;
}
.anmnt2  {
	position: relative;
	height: 28px;
	line-height: 28px;
	display: block;
	font-size: 12px;
	color: #fff;
	width: 990px;
	padding: 0px 0px 0px 36px;
	background-color: #fff7d0;
	background-image: url(../../img/marquee2.png);
	background-repeat: no-repeat;
	background-position: 1% center;
	margin-bottom: 10px;
	margin-top: -25px;
}

.anmnt2 marquee {
	position: absolute;
	color: #000;
	left: 50px;
	width: 970px;
}

.anmnt2 marquee:hover  {
	color: yellow;
}
.jnCont  {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120px;
	display: block;
}
.lchat  {
	background-color: #de0b10;
	width: 150px;
	height: 30px;
	margin-top: -4px;
	position: absolute;
	}
.lchat span  {
	width: 90px;
	height: 30px;
	margin: 7px 0px 0px 28px;
	background-image: url(../../img/chat-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 25px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.lchat:hover  {
	background-color: #170000;
}
.navCont  {
	position: absolute;
	display: block;
	width: 850px;
	height: auto;
	margin: 0px;
	right: 0px;
	z-index: 2008;
	padding-left: 0px;
	background-image: url(../../img/navBg.png);
	background-repeat: no-repeat;
	top: 50px;
}
.navCont ul  {
	display: block;
	position: relative;
	margin: 0px 30px 0px 0px;
	padding: 0;
	list-style-type: none;
	float: right;
}
.navCont ul li  {
	margin: 10px auto 0px;
	padding: 0px 16px 0px 16px;
	display: block;
	float: left;
	height: auto;
	position: relative;
	z-index: 2025px !important;
	text-align: center;
}
.navCont ul li span  {
	display: block;
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #f3ef96;
}
.navCont ul li a:link, .navCont ul li a:visited  {
	margin: 0px auto;
	padding: 0px;
	color: #fff;
	font-size: 13px !important;
	font-weight: bold;
	text-decoration: none;
	display: block;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
	line-height: 26px;
}
.navCont ul li a:hover  {border-bottom: 2px solid red;}
.selected  {
	color: #000;
	background: #000;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(131, 20, 147, 0.75);
-moz-box-shadow:    1px 1px 10px 0px rgba(131, 20, 147, 0.75);
box-shadow:         1px 1px 10px 0px rgba(131, 20, 147, 0.75);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
color: yellow;
border-bottom: 2px solid red;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: -50px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 70px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 9999;
	background: url(../../img/menu-drop-bg.png)repeat;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(131, 20, 147, 0.75);
-moz-box-shadow:    1px 1px 10px 0px rgba(131, 20, 147, 0.75);
box-shadow:         1px 1px 10px 0px rgba(131, 20, 147, 0.75);
    -moz-border-radius-bottomright: 15px !important;
    -webkit-border-bottom-right-radius: 15px; !important;
    border-bottom-right-radius: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
color: yellow;
}
.navCont ul li ul li {
    display: inline-block;
	float: left;
    z-index: 3;
	width: auto;
	font-size: 12px;
	height: 180px;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
	
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #fff;
	font-size: 12px;
	width: 100% !important;
	margin: 0;
	padding: 0;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: none;
	border: none !important;
	font-weight: normal;
	color: yellow ;
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
display: block;
}
.navCont ul li ul li:hover {
    background: none;
    z-index: 4;
	color: #EC531A;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
.mm_sp  {
	width: 540px !important;
	background: url(../../img/menu-drop-bg.png)repeat;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-border-radius-bottomright: 15px !important;
    -webkit-border-bottom-right-radius: 15px; !important;
    border-bottom-right-radius: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
	margin-left: 55px !important;
}

.mm_sp ul li  {
	float: left !important;
	display: inline-block !important;
}
.mm_lc  {
	width: 1024px !important;
	background: url(../../img/menu-drop-bg.png)repeat;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-border-radius-bottomright: 15px !important;
    -webkit-border-bottom-right-radius: 15px; !important;
    border-bottom-right-radius: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
	margin-left: -180px !important;
	height: 400px !important;
}

.mm_lc ul li  {
	float: left !important;
	display: inline-block !important;
}
.mm_slt  {
	width: 1024px !important;
	background: url(../../img/menu-drop-bg.png)repeat;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-border-radius-bottomright: 15px !important;
    -webkit-border-bottom-right-radius: 15px; !important;
    border-bottom-right-radius: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
	margin-left: -290px !important;
	height: 180px !important;
}

.mm_slt ul li  {
	float: left !important;
	display: inline-block !important;
}
/* Mid sect */
.midSect  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -5px;
}
.midSectSP  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -5px;
	background: url(../../img/midcont-bg-sp.png)no-repeat center top;
}
.midSectSLT  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -5px;
	background: url(../../img/midcont-bg-slot.png)no-repeat center top;
}
.midSectInner  {
	width: 1100px;
	height: auto;
	position: relative;
	margin: 0px auto 0px;
	padding: 0;
	font-size: 12px;
}
.midSectCont  {
	width: 1100px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.Cs  {
	display: block;
	position: relative;
	width: 100%;
	height: 390px;
	background: url(../../img/cs-bg.png)no-repeat top center;
}
.CsHead  {
	position: absolute;
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	top: 145px;
	left: 400px;
}
.CsTxt  {
	position: absolute;
	display: block;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	top: 210px;
	left: 270px;
}
.pg  {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 10px 0px 0px;
	background: url(../../img/csCt.png)no-repeat right center;
}

.ctTxt {
	position: absolute;
	display: block;
	width: 460px;
	height: auto;
	top: 210px;
	left: 120px;
}
.ctTxt td {
	padding: 5px 0px;
	font-weight: bold;
	font-size: 14px;
	color: #7E0003;
}
.promoLeft  {
	display: block;
	position: relative;
	float: left;
}
.promoRight  {
	display: block;
	position: relative;
	float: left;
}
.spCont  {
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
}
.leftCol  {
	float: left;
	display: inline-block;
	position: relative;
	width: 240px;
}
.loginBox  {
	width: 203px;
	height: 120px;
	background-image: url(../../img/loginBoxBg.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	padding: 10px;
	z-index: 999;
	-moz-border-radius-bottomright: 18px;
    -webkit-border-bottom-right-radius: 18px;
border-bottom-right-radius: 18px;
-moz-border-radius-bottomleft: 18px;
-webkit-border-bottom-left-radius: 18px;
border-bottom-left-radius: 18px;
-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
top: 80px;
left: -90px;
}

.loginBox input  {
	width: 160px;
	height: 27px;
	line-height: 27px;
	border: 0px solid #fff;
	display: block;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding-left: 40px;
	margin-bottom: 10px;
}

.lgn input  {
	background-image: url(../../img/Untitled-2.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
}

.psw input  {
		background-image: url(../../img/passIcon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.loginbbt  {
	display: block;
	position: absolute;
	width: 92px;
	height: 38px;
	line-height: 40px;
	background: url(../../img/loginbbt-bg.png)no-repeat center;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	top: -37px;
	left: 40px;
	z-index: 99999;
}


.loginbbt2  {
	display: block;
	position: absolute;
	width: 110px;
	height: 30px;
	line-height: 32px;
	background: url(../../img/loginbbt-bg2.png)no-repeat center;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	top: -30px;
	right: 0px;
}

.loginbbt2 a:link, .loginbbt2 a:visited  {
	color: #fcb813;
	text-decoration: none;
}

.submit1  {
	display: block;
	float: right;
	margin-right: 3px;
	margin-top: 5px;
}

.submit1 a:link, .submit1 a:visited  {
	display: block;
	position: relative;
	color: #fcb813;
	background: #000;
	padding: 5px 15px;
	text-decoration: none;
}

.submit1 a:hover  {
	color: #000;
	background: #fcb813;
	text-decoration: none;
}

.loginTitle  {
	font-weight: bold;
	margin-left: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.loginInput  {
	font-weight: bold;
	margin-left: 0px;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 10px;
}
.loginInputFP {
	font-weight: normal;
	margin-left: 0px;
	color: #fff;
	font-size: 10px;
	font-style: italic;
	margin-top: 10px;
}
.loginInputFP a:link, visited {
	color: #fff;
	text-decoration: none;
}
.loginInputFP a:hover {
	color: red;
	text-decoration: none;
}
.loginTxt input  {
	width: 192px;
	height: 26px;
	line-height: 26px;
	background: #fff6d0;
	border: 0px;
	padding-left: 10px;
	margin-top: 5px;
}
.loginTxtsmall  {
	margin-top: 10px;
}
.loginTxtsmall input  {
	width: 60px;
	height: 26px;
	line-height: 26px;
	background: #e7d076;
	border: 0px;
	padding-left: 10px;
	margin-top: 5px;
	float: left;
}

.loginInputsmall  {
	float: left;
	height: 26px;
	line-height: 37px;
	margin-left: 10px;
	color: #FF0206;
	font-size: 12px;
}

.submitBox a:link, a:visited  {
	display: block;
	float: left;
	background: red;
	color: #fff;
	padding: 8px 25px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 10px;
	text-transform: uppercase;
}

.submitBox a:hover  {
	color: yellow;
	text-decoration: none;
}

.langBox  {
	float: left;
	margin-left: 10px;
}

.langBox ul  {
	list-style-type: none;
	margin: 18px 0px 0px 0px;
	padding: 0;
}

.langBox ul li  {
	float: left;
	display: inline-block;
	margin: 0px 0px 0px 7px;
	padding: 0;
}

.vid  {
	margin-top: 10px;
}

.rightCol  {
	float: right;
	width: 223px;
}

.rightCol img {
	margin-bottom: 35px;
}

.bx1  {
	margin-top: 20px;
}
.midCont  {
	width: 100%;
	display: inline-block;
	position: relative;
}

.midCont1  {
	float: left;
	width: 100%;
	display: inline-block;
	position: relative;
}

.hpgBox  {
	float: left;
	display: block;
	position: relative;
	width: 320px;
	height: auto;
}

.hpgBox2  {
	float: left;
	display: block;
	position: relative;
	width: 320px;
	height: auto;
	margin-left: 40px;
}

.hpgBox3  {
	float: left;
	display: block;
	position: relative;
	width: 280px;
	height: auto;
	margin-left: 40px;
}

.boxTit  {
	display: block;
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #f5e5a4;
	width: 240px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	background-color: #800305;
	-moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	margin: 0px 0px 0px 40px;
}

.boxTit1  {
	display: block;
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #f5e5a4;
	width: 210px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	background-color: #800305;
	-moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	margin: 0px 0px 0px 42px;
}

.boxReg  {
	padding: 25px 15px 25px 118px;
	border: 1px solid #e17950;
	background: #000 url(../../img/reg-icon.png)58px center no-repeat;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.boxReg span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.boxDep  {
	padding: 25px 15px 25px 118px;
	border: 1px solid #e17950;
	background: #000 url(../../img/dep-icon.png)58px center no-repeat;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
}

.boxDep span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.boxTrsf  {
	padding: 25px 15px 25px 118px;
	border: 1px solid #e17950;
	background: #000 url(../../img/trsf-icon.png)58px center no-repeat;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
}

.boxTrsf span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.boxWith  {
	padding: 25px 15px 25px 118px;
	border: 1px solid #e17950;
	background: #000 url(../../img/with-icon.png)58px center no-repeat;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}

.boxWith span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.box2in  {
	padding: 15px;
	border: 1px solid #e17950;
	background: #000;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.box2in span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.box3in  {
	padding: 15px;
	background: url(../../img/hpgBtm-bg1.png)no-repeat;
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.box3in ul  {
	margin: 0px 0px 0px 85px;
	padding: 0px;
	list-style-type: none;
}

.box3in ul li  {
	margin: 0px;
	padding: 1px 0px;
}

.box3in ul li a:link, .box3in ul li a:visited  {
	font-size: 10px;
	text-decoration: none;
	font-style: italic;
	color: #e8bd42;
}

.box3in span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.box3in1  {
	padding: 15px;
	background: url(../../img/hpgBtm-bg2.png)no-repeat;
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.box3in1 ul  {
	margin: 0px 0px 0px 85px;
	padding: 0px;
	list-style-type: none;
}

.box3in1 ul li  {
	margin: 0px;
	padding: 1px 0px;
	height: 15px;
}

.box3in1 ul li a:link, .box3in1 ul li a:visited  {
	font-size: 10px;
	text-decoration: none;
	font-style: italic;
	color: #e8bd42;
}

.box3in1 span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.box3in2  {
	padding: 15px;
	background: url(../../img/hpgBtm-bg3.png)no-repeat;
	z-index: 99999;
	color: #e8bd42;
	position: relative;
	display:  block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.box3in2 ul  {
	margin: 0px 0px 0px 85px;
	padding: 0px;
	list-style-type: none;
}

.box3in2 ul li  {
	margin: 0px;
	padding: 1px 0px;
	height: 15px;
}

.box3in2 ul li a:link, .box3in2 ul li a:visited  {
	font-size: 10px;
	text-decoration: none;
	font-style: italic;
	color: #e8bd42;
}

.box3in2 span  {
	position: absolute;
	display:  block;
	left: 15px;
	bottom: 12px;
	font-size: 41px;
	font-weight: bold;
}

.left  {
	float: left;
}

.left1  {
	float: left;
}
.left1 ul  {
	margin-left: 10px !important;
}



.inTit  {
	margin-left: 5px !important;
}

.inTit1  {
	font-size: 14px !important;
	font-style: italic;
	margin-left:80px;
}


.box2in p  {
	font-size: 10px;
	font-weight: normal;
	margin: 2px 0px;
}

.inner1  {
	float: left;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	margin: 3px 0px;
	color: #fff;
	height: 20px;
	line-height: 20px;
	padding-left: 40px;
	background: url(../../img/money-icon.png)left center no-repeat;
}

.inner2  {
	float: left;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	margin: 3px 0px;
	color: #fff;
	height: 20px;
	line-height: 20px;
	padding-left: 40px;
	background: url(../../img/money2-icon.png)left center no-repeat;
	margin-left: 10px;
}

.inner3  {
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	margin: 3px 0px;
	height: 20px;
	line-height: 20px;
	padding-left: 30px;
	background: url(../../img/clock-icon.png)left center no-repeat;
}

.midBottom  {
	width: 1100px;
	height: auto;
	display: inline-block;
	position: relative;
	margin-top: 1px;
	padding: 0px;
}

.marL  {
	margin-left: 35px;
}

.lcCont table  {
	margin-left: 20px;
	margin-top: 20px;
	z-index: 999;
}

.lcCont table1  {
	margin-right: 55px;
	margin-top: 20px;
	z-index: 999;
}

.lcCont table2  {
	margin-right: 239px;
	margin-top: 20px;
	z-index: 999;
}

.lcCont table3  {
	margin-right: 239px;
	margin-top: 20px;
	z-index: 999;
}

.tp1  {
	margin-top: 15px;
}

.stripe1  {
	width: 1037px;
	height: 33px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 210px;
	left: 28px;
}

.stripe2  {
	width: 1037px;
	height: 35px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 453px;
	left: 28px;
}

.stripe3  {
	width: 1037px;
	height: 70px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 78px;
	left: 28px;
}

.stripe4  {
	width: 1037px;
	height: 25px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 357px;
	left: 28px;
}

.stripe5  {
	width: 1037px;
	height: 30px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 108px;
	left: 28px;
}
.stripe6  {
	width: 1037px;
	height: 30px;
	display: block;
	position: absolute;
	background:url(../../img/lc-stripe.jpg)no-repeat;
	top: 78px;
	left: 28px;
}

.mobR {
    background-image: url("../../img/mobile/ag-mob-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;
}
.mobR1 {
    background-image: url("../../img/mobile/pt-mob-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;
}
.mobR2 {
    background-image: url("../../img/mobile/gp-mob-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;
}
.mobR3 {
    background-image: url("../../img/mobile/allbet_mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;
}
.mobRtd {
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 50px;
    position: relative;
	color: #fff;
}

.tp2  {
	display: block;
	position: relative;
	margin-top: 56px;
}

.tp3  {
	display: block;
	position: relative;
	margin-top: -5px;
}

.spTit  {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 40px;
}

.ctBg {
    background: rgba(0, 0, 0, 0) url(../../img/ct-bg.jpg) no-repeat scroll 0 0;
    display: inline-block;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    width: 1100px;
}
.ctBox {
    color: #fff;
    float: right;
    height: 380px;
    margin-right: 80px;
    margin-top: 20px;
    padding: 15px;
    width: 420px;
}
.ctTit {
    color: yellow;
    display: block;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 100%;
}
.ct1 {
    margin-top: 15px;
}
.ct2 {
    margin-top: 15px;
}
.ct2 td:nth-child(2n+1) {
    padding: 10px 2px;
}
.ct2 tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.ct2 td:nth-child(1) {
    width: 100px;
}
.ct2 td:nth-child(2) {
    width: 20px;
}
.ct2 td:nth-child(3) {
    width: 200px;
}



.mobTit  {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 10px;
}


.spp  {
	display: block;
	position: absolute;
	width: 1030px;
	height: 33px;
	z-index: 9999;
	left: 31px;
}

.jackp  {
	display: block;
	position: absolute;
	width: 1030px;
	height: 66px;
	z-index: 9999;
	left: 31px;
}

.jpTit  {
	display: block;
	position: relative;
	float: left;
	margin-top: 8px;
}

.jpCount  {
	display: block;
	position: relative;
	float: left;
	margin-top: 6px;
	width: 420px;
	height: 50px;
	background: url(../../img/fancybox_overlay.png) repeat;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}

.tabCasino table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.tabSlot table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.slotContainerBottom  {
	position: relative;
	display: block;
	height: 100%;
	margin-top: 50px;
	padding-bottom: 0px;
	padding-top: 1px;
	padding-left: 10px;
	background: url(../../img/slot-small-bg.png)repeat;	
}
.slotMenuHolder  {
	width: 1060px;
	height: 35px;
    background: url(../../img/navBGslot.jpg) repeat-x;
	display: block;
	margin: 0px 20px 0px 20px;
	padding: 0;
	margin-top: 5px;
	border-bottom: 1px solid #dee2e4;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #fff;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #000 !important;
	text-decoration: none;
	background: #dee2e4;
	-moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;
}

.st_selected  {
	color: #000 !important;
	text-decoration: none;
	background: #dee2e4;
	-moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;
}

.st_selected  a{
	
	color: black;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1060px;
	margin: 0px 20px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 25px;
	margin-bottom: 5px;
	border: 1px solid #EBAF4D;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	border: 1px dotted #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}

.slotBg  {
	background: #361363 url(../../img/bg-slot.jpg) no-repeat !important;
}

.spBg  {
	background: #361363 url(../../img/bg-sp.jpg) no-repeat center !important;
}


.tabCasino {
	float: left;
	margin-left: 6px;
}

.tabCasinoFull {
	width: 924px;
	float: left;
	margin-left: 6px;
	padding-left: 50px;
}

.tabCasinoFull table td img  {
	border: 1px solid #A9935E;
	margin: 0px 35px 10px 35px;
}

.tabCasinoFull table {
	margin-top: 12px;
}

.tabTit  {
	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	font-size: 14px;
	background: url(../../img/tabLine.png) no-repeat bottom center;
	padding: 10px 0px 10px;
}
.tabSlot  {
	float: left;
	margin-left:20px;
}

.tabCont  {
	display: block;
	position: relative;
	width: 1024px;
	height: 520px;
	background-image:url(../../img/tab-header-bg.png);
	background-position:top center;
	background-repeat: no-repeat;
	margin: 0px 0px 25px;
}

.sliderCont  {
	width: 100%;
	height: auto;
	position: relative;
	background: none;
	margin-top: 0px;
}
.sliderContInner  {
	width: 1280px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.adj1  {
	margin-right: 22px;
}

.adj2  {
	position: absolute;
	display: block;
	right: 70px;
	top: 9px;
}

.adj2 input  {
	width: 60px;
	margin-left: 5px;
}

.adj2 img  {

	margin-left: 5px;
}


.adj3  {
	margin-right: 20px;
}

.midSectCont h3  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
}
.midSectCont h4  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: left;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	margin: 5px 0px 15px;
	border-bottom: 1px solid #D91114;
}
table.bankingtable {
    border-collapse: collapse;
    border-color: #e7e7e7;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 14px;
    padding: 8px 0 1px;
    width: 1024px;
}
.txtwh  {
	color: #fff;
}
.welc {
    width: 150px;
	color: #fff;
	font-size: 12px;
}
.welc1 {
    width: 68px;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}
.hpgSelection  {
	width: 1024px;
	margin-right: 30px;
	display: inline-block;
}
.LCbox {
	float: left;
	margin-right: 7px;
    height:140px;
    width: 175px;
    overflow: hidden;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 background-position: center;   
}
.LCbox:hover {
	z-index: 1001;
   -webkit-animation: animatedBackground 0.2s ease-out 1;
   -moz-animation: animatedBackground 0.2s ease-out 1;
		animation: animatedBackground 0.2s ease-out 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
}



	@-webkit-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	
	
	@-moz-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	@keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
/* Footer*/
.footer  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

}
.footerInner2  {
	width: 1024px;
	margin: 15px auto 10px;
	left: 2px;
	height: 35px;
	line-height: 35px;
	color: #e8bd42;
	font-size: 10px;
	font-weight: bold;
	display: block;
	position: relative;
	background: url(../../img/footerbg2.png)no-repeat center;
	text-align: right;
}
.footerInner3  {
	width: 1100px;
	margin: 0px auto 15px;
	left: 2px;
	height: 35px;
	line-height: 35px;
	color: #e8bd42;
	font-size: 10px;
	font-weight: bold;
	display: block;
	position: relative;
}
.vend  {
	width: 547px;
	display: block;
	position: relative;
	float: left;
	margin-right: 30px;
}

.vend table td  {
	padding: 0px 3px;
}
.venTit  {
	color: #e8bd42;
	width: 100%;
}

.bk  {
	width: 497px;
	display: block;
	position: relative;
	float: left;
}

.bk table td  {
	padding: 0px 3px;
}
.venTit  {
	color: #ffab3c;
	width: 100%;
	padding-left: 5px;
}
.footerInner1  {
	width: 1100px;
	margin: 5px auto 5px;
	left: 2px;
	height: 35px;
	display: block;
	position: relative;
}
.footerInner1 ul  {
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: relative;
	width: 500px;
}

.footerInner1 ul li  {
	margin: 8px 15px 0px 0px;
	padding: 0px 15px 0px 0px;
	display: inline-block;
	position: relative;
	list-style-type: none;
	float: left;
	background-image: url(../../img/footerSep.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	height: 22px;
	line-height: 22px;
}

.footerInner1 ul li a:link, .footerInner1 ul li a:visited  {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold; 
	height: 22px;
	line-height: 22px;
	display: block;
	text-aign: center;
}

.footerInner1 ul li a:hover  {
	color: #E4B54A;
	text-decoration: none;
}

.foot1 a:link, .foot1 a:visited  {
	background: url(../../img/foot1.png)no-repeat left center !important;
}

.foot2 a:link, .foot2 a:visited  {
	background: url(../../img/foot2.png)no-repeat left center !important;
}
.foot3 a:link, .foot3 a:visited  {
	background: url(../../img/foot3.png)no-repeat left center !important;
}

.foot3  {
	background: none !important;
}

.ftlast  {
	background: none !important;
}
.footerInner  {
	width: 1024px;
	margin: 0 auto;
	left: 2px;
	height: auto;
	display: block;
	border-top: 0px solid #b00e0c;
	background: #000;
}
.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 85px;
}
.footerCol h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 10px 15px 0px -27px;
	width: 1024px;
	height: 129px;
	position: relative;
	background-image: url(../../img/footerTopBg.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.footerCol3 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px 2px;
}
.footerCol3 table  {
	margin-top: 42px;
	float: right;
	margin-right: 18px;
}
.footerBottom  {
	margin-top: 0px;
	text-align: center;
}
.footerBottom span  {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: -10px;
	font-size: 11px;
	color: #fff;
	padding-bottom: 10px;
}
.line {
    background: #363636 none repeat scroll 0 0;
    clear: both;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}

.footerMenu  {
	font-size: 11px;
	float: left;
	padding-right: 10px;
	margin-top: 37px;
}

.footerMenu table  {
	margin: 0px 0px 0px 20px !important;
}

.footerMenu table td  {
	padding: 0px 0px 3px !important;
}

.footerMenu a:link  {
	color: #898989;
	text-decoration: none;
}

.social  {
float: left;
}

.social table  {
margin: 32px 10px 0px 50px !important;
padding-right: 50px;
padding-bottom: 15px;
}

.bank  {
float: left;
width: 100%;
display: block;
}

.bank table  {
margin: 0px auto 0px !important;
padding-right: 50px;
}

.bank table img  {
padding: 5px 10px 0px 0px !important;
}



.footerTitle  {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	vertical-align: -2px;
	padding-bottom: 2px;
}

.badge {
  background-color: #777;
}

.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 700px;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 210px;
    background: none;
	margin: 0;
	padding: 0;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    overflow: hidden;
    position: relative;
    right: 0px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 10px 10px;
	background-color: #000;
	text-decoration: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
	background: #333333;
}
.ui-tabs.ui-tabs-vertical {
    margin-bottom: 0.2em;
    padding-bottom: 0;
	background: #333333 !important;
}
.ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
	background: #333333 !important;
	margin-left: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-radius: 0;
    position: relative;
    left: 5px;
	margin-top: 3px;
}

.tabWrap  {
	padding: 7px 6px 0px 10px;
	width: 988px;
	height: auto;
	display: inline-block;
	position: relative;
}

.thumbRight  {
	float: right;
}

.title  {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.contactTitle  {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.contactTitle span  {
	float: right;
	color: #fff;
	text-transform: none;
	font-style: normal;
	margin-right: 200px;
}

.contactRight table td  {
	padding-right: 10px;
	color: #fff;
}

.contactRight table  {
	margin-top: 10px;
	margin-bottom: 10px;
}

.contactContent  {
	color: #fff;
	font-size: 11px;
	display: inline-block;
	font-style: italic;
}

.contactContent span  {
	float: left;
	margin-right: 15px;
}

.contactRight  {
	width: 400px;
	height: auto;
	margin: 0px 0px 0px 60px;
}

.contactLeft  {
	margin-left: 120px;
}

.contactWrap  {
	padding-top: 10px;
}

.mobileWrap  {
	margin-bottom: 20px;
	padding-left: 120px;
}

.mobBg  {
	width: 250px;
	height: 464px;
	position: relative;
	display: block;
	background: url(../../img/mobBg1.png)no-repeat bottom center;
	margin-right: 20px;
}
.mobSect1  {
	text-align: center;
}
.mobSect2  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	background: #000;
}
.mobSect3  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	font-size: 11px;
}
.mobSect4  {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}

.center  {
	width: 100%;
	text-align: center;
}

.msgBox1 {
	background: none;
	display: block;
	height: 300px;
	margin: 0 auto 20px;
	padding-top: 50px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
	width: 450px;
}
.msgBox1 p {
    color: #fff;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excl {
	color: #444;
	display: block;
	margin-top: -3px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8px;
	text-align: center;
	padding-top: 0px;
}

#container404 {
    float:center;
    width:1024px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#colE1 {
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	right: 41px;
	padding-left: 300px;
	padding-top: 69px;
	font-size: 95px;
	height: 246px;
    color: #FFB75C;
}
#colE2 {
	float: left;
	padding-top: 94px;
	font-size: 25px;
 color: #FFB75C;
}

#containerbank {
	float: center;
	width: 1024px;
}
#colb1 {
	float: left;
	width: 20%;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	text-align: center;
}
#colb2 {
	float: left;
	width: 20%;
	text-align: center;
}
#colb3 {
	float: left;
	width: 20%;
	text-align: center;  

}
#colb4 {
	float: left;
	width: 20%;
	text-align: center;

}
#colb5 {
	float: left;
	width: 20%;
	text-align: center;
}

table.bankingtable {
	border-width: 1px;
	border-color: #E7E7E7;
	border-collapse: collapse;
	margin-top: 15px;
}
table.bankingtable tr {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	height: 20px;
}
table.bankingtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	width: 1024px;
}

.excl2 {
	color: #444;
	display: block;
	margin-top: 55px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8px;
	text-align: center;
}
 
.msgBoxn {
    background: none;
    display: block;
    height: 280px;
    margin: 0 auto 20px;
    padding: 10px 5px;
    width: 320px;
}
.msgBoxn p {
    color: #000;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excln {
    color: #444;
    display: block;
    margin: 32px 0 8px;
    text-align: center;
}
.midContf  {
	background: url(../../img/contactBg.png)repeat;
	padding: 10px;
	position: relative;
	display: block;
	color: #fff;
}
.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}
.acctContentReg label {
	width: 150px !important;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.submitAcct a:link, .submitAcct a:visited {
	background-color: #E9A06F;
	background-repeat: repeat-x;
	color: #000;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 0px;
}
.submitAcct a:hover {
	background: #ffae00;
	color: #000;
}

.headerTop ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 26px;

}
.headerTop ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 3px;
  background: none; 
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.headerTop ul li:hover {
	background: none;
}
.headerTop ul li ul {
  padding: 0;
  position: absolute;
  top: 20px;
  left: 10px;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;

}
.headerTop ul li ul li { 
  background: none; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  width: 0px;
  text-align: center;
}
.headerTop ul li ul li:hover { background: none;  }
.headerTop ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.lgCont  {
	width: 36px;
	padding-left: 9px;
	margin-right: 5px;
	height: 20px;
	background: url(../../img/top-dropBg.png)no-repeat;
}

.fa-caret-down  {
	color: #fff;
	margin-left: 5px;
	vertical-align: 3px;
}

#signup {    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
       
}

#signup-header {
    background: #E2CD60;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
}
#signup-header h2 {
    color: #fff;
    font-size: 1em !important;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-align: center;
}
#signup-header p {
    color: #000;
    font-size: 12px;
    margin: 0;
    text-shadow: none;
	text-align: center;
}
#signup .txt-fld {
    border-bottom: 1px solid #eee;
    padding: 14px 20px;
    position: relative;
    text-align: right;
    width: 364px;
	color: #000 !important;
}
#signup .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}
#signup .txt-fld label {
    color: #222 !important;
    display: block;
    float: left;
    font-size: 12px !important;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}
#signup .txt-fld input {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #222 !important;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    outline: medium none;
    padding: 8px;
    width: 244px;
}
#signup .txt-fld input.good_input {
    background: url(../../img/good.png) no-repeat scroll 236px center #def5e1;
}
#signup .txt-fld input.error_input {
    background: none repeat scroll 0 0 #fde0e0;
}

#signup button a:link, #signup button a:visited  {
	background: #CDB23F;
	padding: 10px;
	color: #fff !important;
	text-decoration: none !important;
}

#signup button  {
	background: none;
	border: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal_close {
    background: url(../../img/modal_close.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 14px;
    z-index: 2;
}

#register {    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
	margin-top: -150px !important;
	font-size: 12px;
       
}

.ct-bx  {
	color: #e8bd42;
	font-size: 12px;
	font-weight: bold;
}

.ct-bx td  {
	padding: 3px 0px;
}
.ct-qr  {
	display: block;
	position: relative;
	text-align: center;
}
.ct-submit  {
	display: block;
	position: relative;
	text-align: center;
}
.ct-submit a:link, .ct-submit a:visited  {
	margin: 10px auto 0px;
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #70000d;
    padding: 8px 0px;
	width: 130px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	background: rgb(220, 158, 54);
background: -moz-linear-gradient(90deg, rgb(220, 158, 54) 8%, rgb(241, 231, 140) 63%);
background: -webkit-linear-gradient(90deg, rgb(220, 158, 54) 8%, rgb(241, 231, 140) 63%);
background: -o-linear-gradient(90deg, rgb(220, 158, 54) 8%, rgb(241, 231, 140) 63%);
background: -ms-linear-gradient(90deg, rgb(220, 158, 54) 8%, rgb(241, 231, 140) 63%);
background: linear-gradient(180deg, rgb(220, 158, 54) 8%, rgb(241, 231, 140) 63%);
}

#register-header {
    background:#CDB23F;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
}
#register-header h2 {
    color: #fff;
    font-size: 2em !important;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)!important;
}
#register-header p {
    color: #fff;
    font-size: 1.0em;
    margin: 0;
    text-shadow: none;
}
#register .txt-fld {
    border-bottom: 1px solid #eee;
    padding: 7px 13px;
    position: relative;
    text-align: right;
    width: 364px;
	color: #000;
}
#register .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}
#register .txt-fld label {
    color: #222 !important;
    display: block;
    float: left;
    font-size: 1.1em !important;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}
#register .txt-fld input {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #222 !important;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    outline: medium none;
    padding: 3px;
    width: 244px;
}
#register .txt-fld input.good_input {
    background: url(../../img/good.png) no-repeat scroll 236px center #def5e1;
}
#register .txt-fld input.error_input {
    background: none repeat scroll 0 0 #fde0e0;
}

#mxbMob,#agMob,#ptMob,#gpMob,#alMob {    
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
	border: 3px solid #3e0000;
       
}

#mxbMob-header {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
}
#mxbMob-header h2 {
    color: #3e0000;
    font-size: 1em !important;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-align: center;
	border-bottom: 2px solid #3e0000;
	padding-bottom: 10px;
}
.mobQr img  {
	text-align: center;
	border: 3px solid #3e0000;
}
.mobQr {
	text-align: center;
}
.mobBtn  {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.mobBtn a:link, .mobBtn a:visited  {
	display: block;
	position: relative;
	margin: 15px auto 0px;
	padding: 0;
	color: #3e0000;
	font-weight: bold;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	background: rgb(241, 230, 138);
background: -moz-linear-gradient(90deg, rgb(241, 230, 138) 30%, rgb(224, 169, 0) 70%);
background: -webkit-linear-gradient(90deg, rgb(241, 230, 138) 30%, rgb(224, 169, 0) 70%);
background: -o-linear-gradient(90deg, rgb(241, 230, 138) 30%, rgb(224, 169, 0) 70%);
background: -ms-linear-gradient(90deg, rgb(241, 230, 138) 30%, rgb(224, 169, 0) 70%);
background: linear-gradient(180deg, rgb(241, 230, 138) 30%, rgb(224, 169, 0) 70%);
text-decoration: none;
}
.leftDD  {
	float: left;
	margin-right: 5px;
}
#mxbMob table  {
	margin: 10px 20px 10px;
	border: 1px solid #cc9e37;
}

#mxbMob table td  {
	border: 1px solid #cc9e37;
	padding: 4px;
	background: #3e0000;
	color:#e8bd42;
	font-size: 12px;
	text-align: center
}
#mxbMob button  {
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 5px 15px;
	color: #3e0000;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	background: #dbcb6a !important;
	text-decoration: none;
}

#agMob table  {
	margin: 10px 20px 10px;
	border: 1px solid #cc9e37;
}

#agMob table td  {
	border: 1px solid #cc9e37;
	padding: 4px;
	background: #3e0000;
	color:#e8bd42;
	font-size: 12px;
	text-align: center
}
#agMob button  {
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 5px 15px;
	color: #3e0000;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	background: #dbcb6a !important;
	text-decoration: none;
}

#ptMob table  {
	margin: 10px 20px 10px;
	border: 1px solid #cc9e37;
}

#ptMob table td  {
	border: 1px solid #cc9e37;
	padding: 4px;
	background: #3e0000;
	color:#e8bd42;
	font-size: 12px;
	text-align: center
}
#ptMob button  {
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 5px 15px;
	color: #3e0000;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	background: #dbcb6a !important;
	text-decoration: none;
}

#gpMob table  {
	margin: 10px 20px 10px;
	border: 1px solid #cc9e37;
}

#gpMob table td  {
	border: 1px solid #cc9e37;
	padding: 4px;
	background: #3e0000;
	color:#e8bd42;
	font-size: 12px;
	text-align: center
}
#gpMob button  {
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 5px 15px;
	color: #3e0000;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	background: #dbcb6a !important;
	text-decoration: none;
}

#alMob table  {
	margin: 10px 20px 10px;
	border: 1px solid #cc9e37;
}

#alMob table td  {
	border: 1px solid #cc9e37;
	padding: 4px;
	background: #3e0000;
	color:#e8bd42;
	font-size: 12px;
	text-align: center
}
#alMob button  {
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 5px 15px;
	color: #3e0000;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	background: #dbcb6a !important;
	text-decoration: none;
}

.mbdl  {
	background: #7f0003;
	padding: 5px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-bottom: 10px;
}

.mbdlTxt  {
	display: block;
	color: #e8bd42;
	font-weight: bold;
}

.mbdlTxt a:link, .mbdlTxt a:link  {
	display: block;
	color: #e8bd42;
	font-weight: bold;
	text-decoration: none;
}

#mxbMob button a:link  {
	text-decoration: none;
	color: #520303;
}

#agMob button a:link  {
	text-decoration: none;
	color: #520303;
}

#ptMob button a:link  {
	text-decoration: none;
	color: #520303;
}

#gpMob button a:link  {
	text-decoration: none;
	color: #520303;
}

#alMob button a:link  {
	text-decoration: none;
	color: #520303;
}

	
#mxbMob-header p {
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-shadow: none;
}
#mxbMob .txt-fld {
    border-bottom: 1px solid #eee;
    padding: 14px 20px;
    position: relative;
    text-align: right;
    width: 364px;
	color: #000 !important;
}
#mxbMob .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}
#mxbMob .txt-fld label {
    color: #222 !important;
    display: block;
    float: left;
    font-size: 12px !important;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}
#mxbMob .txt-fld input {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #222 !important;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    outline: medium none;
    padding: 8px;
    width: 244px;
}
#mmxbMob .txt-fld input.good_input {
    background: url(../../img/good.png) no-repeat scroll 236px center #def5e1;
}
#mxbMob .txt-fld input.error_input {
    background: none repeat scroll 0 0 #fde0e0;
}

#mobMxb button a:link, #mobMxb button a:visited  {
	background: #1B061A;
	padding: 10px;
	color: #fff !important;
	text-decoration: none !important;
}

#mxbMob button  {
	background: none;
	border: none;
}

.box table  {
	width: 200px;
	height: 240px;
	background: #271230;
}

.box table td  {
	padding: 5px 10px;
}

.tit  {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

.boxP  {
	color: #fff;
	font-size: 12px;
	border-top: 1px solid #fff;
	padding-top: 15px;
}

.box  {
	margin-left: 15px;
}

.pgTitle  {
	width: 100%;
	text-align: center;
	display: block;
	position: relative;
}
.sltGP  {
	margin-top: 0px !important;
	margin-left: 46px !important;
}
.sltMXB  {
	margin-top: -30px !important;
	margin-right: 184px !important;
}
.spCont  {
	display: block;
	position: relative;
	height: auto;
}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.showbox { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 10px;
	background: url(../../img/lc-gd-thumb.jpg) no-repeat;
	} 

.showbox:hover { 
	background: url(../../img/lc-gd-thumb.jpg)no-repeat;
	}
	
.showbox1 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 50px;
	background: url(../../img/lc-pt-thumb.jpg)no-repeat;
	} 

.showbox1:hover { 
	background: url(../../img/lc-pt-thumb.jpg)no-repeat;
	}
	
.showbox2 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 10px;
	margin-top: 30px;
	background: url(../../img/lc-gp-thumb.jpg)no-repeat;
	} 

.showbox2:hover { 
	background: url(../../img/lc-gp-thumb.jpg)no-repeat;
	}

.showbox3 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 50px;
	margin-top: 30px;
	background: url(../../img/lc-ag-thumb.jpg)no-repeat;
	} 

.showbox3:hover { 
	background: url(../../img/lc-ag-thumb.jpg)no-repeat;
	}
	
.showbox4 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 10px;
	margin-top: 30px;
	background: url(../../img/lc-ap-thumb.jpg)no-repeat;
	} 

.showbox4:hover { 
	background: url(../../img/lc-ap-thumb.jpg)no-repeat;
	}
	
	.showbox5 { 
    float: left; 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	width: 480px;
	height: 248px;
	margin-left: 50px;
	margin-top: 30px;
	background: url(../../img/lc-mxb-thumb.jpg)no-repeat;
	} 

.showbox5:hover { 
	background: url(../../img/lc-mxb-thumb.jpg)no-repeat;
	}
	
	.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.lcBox  {
	width: 290px;
	height: 290px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 25px 10px 25px;
	cursor: pointer;
}

.lcBox2  {
	width: 510px;
	height: 210px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 0px 10px 0px;
	cursor: pointer;
}

.blackfont{
	color: black;
	
}

.myaccountBox {
    background-image: url("../../img/my-account.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 201px;
    left: -20px;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 47px;
    z-index: 1000;
	cursor: pointer;
}

.myaccountBox2  {
	width: 164px;
	height: 217px;
	background-image: url(../../img/login/bg-orange.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	padding: 10px;
	z-index: 999;
	margin-left: 21px;
	display: none;
}

.myaccountBox2 input  {
	width: 154px;
	height: 34px;

}

.myaccountBox2 #username  {
	background-image: url(../../img/login/my-account_03.png);
	width: 116px;
	height: 25px;
	border: 0;
	margin-left: 10px;
	margin-top:14px;
	padding-left: 32px;
	color: white;

	
	
}


.myaccountBox2 #password  {
	background-image: url(../../img/login/my-account_06.png);
	width: 116px;
	height: 25px;
	border: 0;
	margin-left: 10px;
	margin-top:7px;
	padding-left: 32px;
	color: white;

}

.myaccountBox2 #code  {
	background-image: url(../../img/login/my-account_09.png);
	width: 45px;
	height: 25px;
	border: 0;
	margin-left: 10px;
	margin-top:8px;
	color: white;
	padding-left: 16px;
}

#myaccountBox2-login{
	background-image: url(../../img/login/my-account_13.png);
	width: 55px;
	height: 22px;
	margin-left: 36px;
	margin-top: 7px;
	color: white;	
	padding-left: 30px;
	padding-top: 5px;
	cursor: pointer;
}

#myaccountBox2-register{
	background-image: url(../../img/login/my-account_17.png);
	width: 65px;
	height: 22px;
	margin-left: 31px;
	margin-top: 5px;
	color: white;	
	padding-left: 30px;
	padding-top: 5px;
	cursor: pointer;
}


.midSectContent h5 {
    color: #f1d97b;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 10px;
    padding: 8px 8px 8px 0;
}

.midSectContent p {
    color: white;

}
.midSectContent span {
    color: #f1d97b;

}