a {
	color: #0368BA;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.contactBox {
	position:fixed;
	top:105px;
	right:0;
	z-index:1;
	width:205px;
	height:362px;
	margin-right:-163px;
	color:#f1f1f1;
	background:url(../images/contact-slide-right_.png) no-repeat right top;
}
.leftBox {
	position:fixed;
	top:145px;
	left:0;
	z-index:1;
	width:205px;
	height:276px;
	margin-left:-156px;
	background:url(../images/download-slide-left_.png) no-repeat left top;
}
.contactBox a.clickable {
	display:block;
	height:206px;
	width:58px;
	position:absolute;
	top:46px;
	
}
.contactBox .contactBlock {
	position:absolute;
	top:190px;
	left:55px;
	font-size:.9em;
	font-weight:bold;
}
.contactBox .contactBlock span {
	display:block;
	font-size: 1.0em;
}
.contactBox .watappsContact {
	margin-bottom:35px;
}
.contactBox .wechatContact {
	margin-bottom:20px;
}
.wechatqr {
	position:absolute;
	right:0;
	bottom:0;
	width:123px;
	height:123px;
	text-align:center;
	background:url(../images/slide-separator_.png) no-repeat -35px 5px;
}
.wechatqr img {
	margin-top:40px;
}
.leftBox a.clickable2 {
	display:block;
	float:right;
	display:block;
	height:206px;
	width:80px;
	position:absolute;
	right:0;
	top:5px;
	z-index:3;
}
.leftBox a.link {
	display:block;
	height:58px;
	width:100%;
	padding-bottom:32px;
	text-align:center;
	background:transparent url(../images/slide-separator-left_.png) no-repeat left 15px;
}
.leftBox a.link:first-child {
	margin-top:20px;
}
.leftBox a.link:last-child {
	background-image:none;
	padding-bottom:0;
}
.leftBox img {
	
	
}
.products {
	min-height:256px;
	max-height:256px;
	overflow-y:auto;
	margin:11px 8px;
	width:140px;
}
#footer {
	clear:both;
	width:100%;
	border-top:2px solid #4b402a;
}
#footer .wrapper {
}
#footer .wrapper .col {
	float:left;
	width:230px;
	text-align:left;
	min-height:330px;
	padding:0 30px;
	background:url(../images/footer-leftbg.png) no-repeat left top;
}
#footer .wrapper .col ul {
	float:left;
	margin:0;
	padding:0;
}
#footer .wrapper .col ul li {
	display:block;
	margin:0;
	padding:0;
}
#footer .wrapper .col ul li a {
	display:block;
	color:#f1f1f1;
	line-height:20px;
}
#footer .wrapper .col ul li a:hover {
	text-decoration:underline;
}
#footer .wrapper .col h3 {
	color:#ac2c2b;
	font-size:1.5em;
	font-weight:normal;
}
#footer .download {
	float:right;
	width:304px;
	height:211px;
	margin-right:13px;
	margin-top:-10px;
	position:relative;
	background:url(../images/software-download.png) no-repeat left top;
}
#footer .download h3 {
	margin-top:30px;
	font-size:1.5em;
	text-align:center;
	text-shadow:1px 1px 2px rgba(255, 255, 255, 1);
	text-transform:uppercase;
}
#footer .download a {
	float:left;
	width:78px;
	height:70px;
}
#footer .download a.mobile {
	float:left;
}
#footer .download .links {
	position:absolute;
	bottom:40px;
	left:35px;
	right:30px;
}
#footer .bankLogos {
	float:left;
	width:100%;
	clear:both;
	border-top:2px solid #4b402a;
	text-align:center;
	padding-top:20px;
	margin-top:-100px;
	color:#f1f1f1;
	margin-bottom:20px;
}
.backtotop {
	float:right;
	width:35px;
	height:33px;
	right:10px;
	bottom:100px;
	position:fixed;
	display:none;
	z-index:3;
	background:url(../images/backtotop.png) no-repeat left top;
}
.tableBlock, .table-striped {
	border-color:#fbe8ad;
	width:100%;
}
.tableListBlock {
	width:800px;
	margin:auto;
	margin-bottom:20px;
}
.tableBlock td, .table-striped td {
	padding:6px 0;
	text-align:center;
	background:#140b02;
	border-color:#fbe8ad;
}
.tableBlock th, .table-striped .datagrid-header td {
	background:#4c0000;
	color:#f1f1f1;
	padding:7px 0;
	text-align:center;
	font-size:1.2em;
	border-color:#fbe8ad;
}
.LBD_CaptchaDiv {
	float:left;
}
.LBD_CaptchaDiv div, .LBD_CaptchaDiv img {
	float:left;
}
.formWrapper {
	float:left;
	width:90%;
	padding:0 5%;
	text-align:left;
	margin-top:-149px;
	position:relative;
	min-height:200px;
	padding-bottom:150px;
	position:relative;
	z-index:3;
	background:url(../images/formWrapper_v.png) no-repeat 40px bottom;
}
.formWrapper .createButton {
	border:0;
	height:42px;
	width:100px;
	color:#fff;
	font-size:1.3em;
	font-weight:bold;
	outline:0;
	cursor:pointer;
	text-transform:uppercase;
	background:url(../images/button.png) no-repeat center bottom;
}
.formWrapper a {
	font-size:.9em;
	color:#f1f1f1;
}
.game {
	float:left;
}
.game.slot {
	width:auto;
	height:auto;
	margin-left:11px;
	width:230px;
	height:249px;
	margin-bottom:25px;
	overflow:hidden;
	text-align:center;
	border:0;
	background-image:url(../images/frame.png);
	background-repeat:no-repeat;
	position:relative;
	z-index:3;
}
.game.slot.playtech {
	margin-left:30px;
	width:208px;
	height:323px;
	background-image:url(../images/long_frame.png);
}
.game.slot a {
	color:#f1f1f1;
}
.game.slot a:hover {
	text-decoration:none;
}
.game.slot img {
	margin-top:20px;
	width:184px;
}
.game.slot.playtech img {
	margin-top:25px;
	width:126px;
}
.game.slot a.playnow {
	position:absolute;
	display:block;
	width:100%;
	line-height:48px;
	height:48px;
	bottom:0;
	left:0;
	padding:0;
	margin:0;
}
.game .game-label {
	display:block;
	color:#f1f1f1;
	padding:4px 5px;
}
