@media screen and (max-width: 1024px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
	
	.st-deco  {
		top: 50px;
	}
	
	.st-deco img{
		width: auto;
		margin: 0 auto;
		display: block;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.footer  {
		top: auto;
		bottom: 0;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
}
}

@media screen and (max-width: 960px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
	
	.st-deco  {
		top: 50px;
	}
	
	.st-deco img{
		width: auto;
		margin: 0 auto;
		display: block;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco img{
		width: 300px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
}
}

@media screen and (max-width: 780px) {
	
	.footer {
    display: block;
    position: absolute;
    top: auto;
	bottom: 0px;
	width: 100%;
	height: 90px;
	}
	
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
	
	.st-deco{
		width: 100%;
		margin-left: 0px;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco  {
		top: 50px;
	}
	
	.st-deco img{
		width: auto;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
}
}

@media screen and (max-width: 640px) {
	
	.footer {
    display: block;
    position: absolute;
    top: auto;
	bottom: 0px;
	width: 100%;
	height: 90px;
	}
	
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
	
	.st-deco{
		width: 100%;
		margin-left: 0px;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco img{
		width: 300px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
}
}

@media screen and (max-width: 520px) {
	
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
	
	.st-deco{
		width: 100%;
		margin-left: 0px;
		top: 75px;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco img{
		width: 300px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
}

@media screen and (max-width: 480px) {
	.st-deco{
		width: 100%;
		margin-left: 0px;
		top: 75px;
	}
	
	.btnWrap {
    width: 375px;
    height: auto;
    position: absolute;
    top: 255px;
	left: 0;
    right: 0;
	margin: auto;
	display: block;
	}
	
	.btnWrap img  {
		width: 184px;
	}
	
	.st-deco img{
		width: 320px;
		margin: 0 auto;
		display: block;
	}
	
	.footer {
    display: block;
    position: absolute;
    top: auto;
	bottom: 0px;
	width: 100%;
	height: 100px;
	}
	
	.left  {
		float: none;
		text-align: center;
		width: 380px;
	}
	
	.right  {
		float: none;
		text-align: center;
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 100%;
		margin-left: 0px;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco img{
		width: 300px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 50px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
   }
}

@media screen and (max-width: 360px) {
	.st-deco{
		width: 100%;
		margin-left: 0px;
		top: 5px;
	}
	
	.btnWrap {
    width: 320px;
    height: auto;
    position: absolute;
    top: 195px;
	display: block;
	margin: auto;
	left:  0;
	right:0;
	}
	
	.btnWrap img  {
		width: 157px;
	}
	
	.st-deco img{
		width: 320px;
		margin: 0 auto;
		display: block;
	}
	
	.footer {
    display: block;
    position: absolute;
    top: auto;
	bottom: 0px;
	width: 100%;
	height: 90px;
	}
	
	.left  {
		float: none;
		text-align: center;
		width: 320px;
	}
	
	.right  {
		float: none;
		text-align: center;
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 30px;
	}
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		wwidth: 100%;
		margin-left: 0px;
	}
	
	
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
	
	.st-deco img{
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 30px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
}
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
   }
}

@media screen and (max-width: 320px) {
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 100%;
		margin-left: 0px;
		top: 5px;
	}
	
	.btnWrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 195px;
	}
	
	.btnWrap img  {
		width: 157px;
	}
	
	.st-deco img{
		width: 320px;
		margin: 0 auto;
		display: block;
	}
	
	.footer {
    display: block;
    position: absolute;
    top: auto;
	bottom: 0px;
	width: 100%;
	height: 90px;
	}
	
	.left  {
		float: none;
		text-align: center;
		width: 320px;
	}
	
	.right  {
		float: none;
		text-align: center;
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	
	.enter  {
		margin-top: 30px;
	}
	
	.bg  {
		display: none;
	}
	
	.sm  {
		display: block;
		width: 70px;
	}
	
	#st-control-1, #st-control-1 + a {
        left: 25%;
		    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
}
    }
	
	#st-control-2, #st-control-2 + a {
    left: 50%;
	-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
border-top-right-radius: 20px;
     }
	 
	 #st-control-3, #st-control-3 + a {
    left: 50%;
    }
	
	#st-control-4, #st-control-4 + a {
    left: 75%;
    }
	
	.st-container > input,
    .st-container > a {
	width: 25%;
   }
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}