﻿/* MAIN STYLING */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: url(../../dadu/home/landing-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	font-family: 'Play', sans-serif, 宋体, SimSun, 华文细黑, STXihei;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.showbox1 {
    background: rgba(0, 0, 0, 0) url("../../dadu/home/masuk.png") no-repeat scroll 0 0;
    height: 113px;
    transition: all 0.4s ease-in-out 0s;
    width: 194px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 200px;
}
.showbox1:hover {
    background: rgba(0, 0, 0, 0) url("../../dadu/home/masuk_over.png") no-repeat scroll 0 0;
}

.showbox2{
    background: rgba(0, 0, 0, 0) url("../../dadu/home/daftar.png") no-repeat scroll 0 0;
    height: 113px;
    transition: all 0.4s ease-in-out 0s;
    width: 287px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: -28px;
}
.showbox2:hover {
    background: rgba(0, 0, 0, 0) url("../../dadu/home/daftar_over.png") no-repeat scroll 0 0;
}

.showbox3{
    background: rgba(0, 0, 0, 0) url("../../dadu/home/bonus.png") no-repeat scroll 0 0;
    height: 113px;
    transition: all 0.4s ease-in-out 0s;
    width: 386px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: -29px;
}
.showbox3:hover {
    background: rgba(0, 0, 0, 0) url("../../dadu/home/bonus_over.png") no-repeat scroll 0 0;
}
.transition {
    transform: scale(1.2);
}

.txtBar  {
	display: block;
	position: relative;
	width: 100%;
	height: 113px;
	text-align: center;
	margin-top: -15px;
	z-index: 9999;
}

.txtBar img   {
	margin-bottom: 5px;
	width: 623px;
}

.ladies  {
	display: block;
	position: relative;
	width: 700px;
	height: 286px;
	margin: -63px auto 0px;
}

.ft1  {
	border-top: 4px solid #d51821;
}

.ft02  {
	padding: 10px 0px;
}





/* HEADER ELEMENT */
.header  {
	width: 100%;
	height: auto;
	margin: 0px;
	background-image: url(../../dadu/home/header-bg.png);
	background-repeat: repeat;
	background-position: bottom center;
	background-origin: content-box;
}

.headerInner  {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 5px 0px 0px;
	display: block;
}

.logo  {
	text-align: center;
	margin-top: 5px;
}

.logo img   {
	margin-bottom: 5px;
}





/* MID SECTION */
.midSect  {
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 0;
	background: url(../../dadu/home/bg-lyr2.png)repeat-x top center;
	z-index: 99999999;
}

.midSectInner  {
	width: 1024px;
	height: auto;
	margin-top: 33px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	display: block;
	position: relative;
}



.footerOutercc {
    background: url(../../dadu/home/bg-lyr2.png)no-repeat top center;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.footerOuter  {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background: none;
}

.footer  {
	width: 1024px;
	background: none;
	margin: 0px auto 0px;
	padding: 0px;
}

.footer ul  {
	list-style-type: none;
	float: right;
	margin-right: 15px;
	line-height: 10px;
}

.footer ul li  {
	display: inline;
	float: left;
	border-right: 1px solid #000;
	padding: 0px 10px 0px 0px;
}

.footer ul li a  {
    color: #808080;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.footer ul li a:hover  {
    color: red;
}

.footer ul li:last-child {
    border-right: 0px solid #000 !important;
}

.footerL  {
	float: left;
	padding: 0px;
	padding-top: 11px;
	padding-bottom: 13px;
	margin-right: 0px !important;
}

.footerR  {
	float: left;
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-top: 10px;
}

.line  {
	background: #000000 url(../../dadu/home/footer_line.white.gif)repeat-x;
	height: 1px;
	width: 100%;
	clear: both;
}

.footerInfo  {
	color: #4a4a4a;
	
}

.footerInfo  {

	margin-bottom: 20px;
}

.footerInfo span  {
	font-weight: 700 !important;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 0px;
	display: block;
	color: #4a4a4a;
}

.footer_sub  {
	padding: 12px 0px 8px;
	font-weight: bold;
	font-size: 12px !important;
}

.footerContent  {
	font-size: 11px !important;
	color: #3a3a3a;
}



/* CHROME FIX */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.nav > li > a {
    padding: 0 31px;
}
}
/* CHROME FIX */


