<fa-app class="full-screen scratchGame">
		
			<!-- stage display -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="stagePos.get()">
					<fa-surface fa-size="[true, true]">
							<img ng-style="stageStyle" ng-src="{{imgPath}}stage.png"/>
					</fa-surface>
				</fa-modifier>
			</fa-modifier>
			
			<!-- wheel display -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="wheelPos.get()">
						<fa-surface fa-size="[true, true]">
							<img ng-style="wheelStyle" ng-src="{{imgPath}}wheel.png"/>
						</fa-surface>
						<!-- light blink -->
						<fa-modifier fa-translate="blinkPos.get()">
							<fa-surface fa-size="[true, true]">
								<img ng-style="blinkStyle" ng-src="{{imgPath}}wheel_animation.gif"/>
							</fa-surface>
						</fa-modifier>
						<!-- prizes display -->
						<fa-modifier fa-translate="lightPos1.get()" fa-origin="[0.5,0.5]">
							<fa-modifier ng-repeat="x in prizeArr" fa-origin="[0.5,0.5]">
								<fa-modifier fa-translate="prizePos.get()" fa-rotate-z="prizeRotateZ[$index].get()">
									<fa-surface fa-size="[true, true]">
										<img ng-style="prizeStyle" ng-src="{{prizeArr[$index].prize_img}}"/>
									</fa-surface>
								</fa-modifier>
							</fa-modifier>
							<fa-modifier ng-repeat="x in bonusArr" fa-origin="[0.5,0.5]">
								<fa-modifier fa-translate="bonusPos.get()" fa-rotate-z="prizeRotateZ[$index].get()">
									<fa-surface fa-size="[true, true]">
										<img ng-style="bonusStyle" ng-src="{{bonusArr[$index].bonus_img}}"/>
									</fa-surface>
								</fa-modifier>
							</fa-modifier>
						</fa-modifier>
						<!-- light select display -->
						<fa-modifier fa-translate="lightPos1.get()" fa-origin="[0.5,0.5]">
							<fa-modifier ng-show="prizeLightShow" fa-translate="lightPos2.get()" fa-rotate-z="rotateZ.get()">
								<fa-surface fa-size="[true, true]">
									<img ng-style="lightStyle" ng-src="{{imgPath}}select_light.png"/>
								</fa-surface>
							</fa-modifier>
							<fa-modifier  ng-show="bonusLightShow" fa-translate="lightPos3.get()" fa-rotate-z="rotateZ2.get()">
								<fa-surface fa-size="[true, true]">
									<img ng-style="lightStyle2" ng-src="{{imgPath}}select_light2.png"/>
								</fa-surface>
							</fa-modifier>
						</fa-modifier>
						<!-- logo display -->
						<fa-modifier fa-origin="[0.5,0.5]">
							<fa-modifier fa-translate="logoPos.get()">
								<fa-surface fa-size="[true, true]">
									<img ng-style="logoStyle" ng-src="{{imgPath}}logo.png"/>
								</fa-surface>
							</fa-modifier>
						</fa-modifier>
				</fa-modifier>
			</fa-modifier>
			
			<!-- spin btn -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="spinBtnPos.get()">
					<fa-surface fa-size="[true, true]"  fa-click="spin()">
						<img ng-style="spinBtnStyle" ng-src="{{imgPath}}spinBtn.png"/>
					</fa-surface>
				</fa-modifier>
			</fa-modifier>
			
			<!-- auto btn -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="autoBtnPos.get()">
					<fa-surface fa-size="[true, true]"  fa-click="autoSpin()">
						<img ng-style="autoBtnStyle" ng-src="{{autoBtnImg}}"/>
					</fa-surface>
				</fa-modifier>
			</fa-modifier>

			<!-- confirm box -->
			<fa-modifier fa-origin="[0.5, 0.5]">
				<fa-modifier fa-translate="confirmBoxPos.get()">
					<fa-surface fa-size="[true, true]">
						<img ng-style="confirmBgStyle" ng-src="{{imgPath}}resultBg.png"/>
					</fa-surface>
					<fa-modifier fa-origin="[0.5, 0.5]" fa-size="iconSize">
						<fa-modifier fa-origin="[0.5, 0.5]" fa-translate="winAmtPos.get()">
							<fa-surface fa-size="[true, true]">
								<div style="text-align: center;">
									<span class="winNum" ng-style="confirmAutoStyle" ng-bind-html="autoSpinHelp">
									</span>
								</div>
							</fa-surface>
						</fa-modifier>
					</fa-modifier>
					<fa-modifier ng-show="yesnoShow" fa-size="yesnoSize" fa-align="[0.5, 0.5]" fa-translate="yesPos.get()">
						<fa-surface fa-click="confirmhandler()">
							<img style="cursor: pointer; height: 90px; width: auto;" ng-src="{{imgPath}}yes.png" />
						</fa-surface>
					</fa-modifier>
					<fa-modifier ng-show="yesnoShow" fa-size="yesnoSize" fa-align="[0.5, 0.5]" fa-translate="noPos.get()">
						<fa-surface fa-click="noConfirmhandler()">
							<img style="cursor: pointer; height: 90px; width: auto;" ng-src="{{imgPath}}no.png"/>
						</fa-surface>
					</fa-modifier>
				</fa-modifier>
			</fa-modifier>
			
			<!-- result box -->
				<fa-modifier fa-origin="[0.5, 0.5]">
					<fa-modifier fa-translate="resultBoxPos.get()">
						<fa-surface fa-size="[true, true]">
							<img ng-style="resultBgStyle" ng-src="{{imgPath}}resultBg.png"/>
						</fa-surface>
						<fa-modifier fa-origin="[0.5, 0.5]" fa-size="iconSize">
							<fa-image-surface fa-image-url="{{winIconUrl}}"></fa-image-surface>
							<fa-modifier fa-origin="[0.5, 0.5]" fa-translate="winAmtPos.get()">
								<fa-surface fa-size="[true, true]">
									<span class="winNum" ng-style="winAmtStyle">{{winAmt}}</span>
								</fa-surface>
							</fa-modifier>
						</fa-modifier>
						<fa-modifier ng-show="autoYesShow" fa-size="yesnoSize" fa-align="[0.5, 0.5]" fa-translate="yesPos.get()">
							<fa-surface fa-click="bonushandler()">
								<img style="cursor: pointer; height: 90px; width: auto;" ng-src="{{imgPath}}autoYes.gif" />
							</fa-surface>
						</fa-modifier>
						<fa-modifier ng-show="yesnoShow" fa-size="yesnoSize" fa-align="[0.5, 0.5]" fa-translate="yesPos.get()">
							<fa-surface fa-click="bonushandler()">
								<img style="cursor: pointer; height: 90px; width: auto;" ng-src="{{imgPath}}yes.png" />
							</fa-surface>
						</fa-modifier>
						<fa-modifier ng-show="yesnoShow" fa-size="yesnoSize" fa-align="[0.5, 0.5]" fa-translate="noPos.get()">
							<fa-surface fa-click="noBonushandler()">
								<img style="cursor: pointer; height: 90px; width: auto;" ng-src="{{imgPath}}no.png"/>
							</fa-surface>
						</fa-modifier>
					</fa-modifier>
				</fa-modifier>
				
			<!-- token display -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="tokenBoxPos.get()" fa-size="tokenBoxSize.get()">
					<fa-surface fa-size="[true, true]">
						<img ng-style="tokenBoxStyle" ng-src="{{imgPath}}tokenBg.png"/>
					</fa-surface>
					<fa-surface fa-size="[true, true]">
						<span ng-style="tokenBgStyle">{{spinLabel}} : {{userToken}}</span>
					</fa-surface>
				</fa-modifier>
			</fa-modifier>
			
			<!-- get data loading -->
			<fa-modifier fa-origin="[0.5,0.5]">
				<fa-modifier fa-translate="[0,0,99]">
					<fa-surface ng-show="loadingShow" class="loadingMsgClass">
						<img height="42" width="42" ng-src="{{imgPath}}/loadingGif.gif"/><br/>
						{{loadingMsg}}
					</fa-surface>
				</fa-modifier>
			</fa-modifier>
</fa-app>