@charset "utf-8";
/* CSS Document */
body{
	/*overflow:hidden !important;*/
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	
}
.center {
	position:relative;
    margin: auto;
    width: 100%;
	
  /*border: 10px solid green;*/
    /* padding: 10px;*/
	/*background:#CCC*/
}
html { 

  background: #000 url(imgs/bg.jpg) no-repeat center center; 
  
}


.main_wrapper{
	margin:0 auto;
	width:1024px;
	/*background: #030;*/
	height:630px;
	
}
#left_wrap{
	float:left;
	width:170px;
	height:465px;
	/*background:#333;*/
}
#center_wrap{
	position: relative;
	float:left;
	/*left:270px;*/
	width:595px;
	height:465px;
	/*background:#039;*/
}
#right_wrap{
	float:left;
	/*left:1200px;*/
	width:259px;
	height:465px;
	/*background:#339;*/
}
#priceList_title{
	position:relative;
	padding-top:15px;
	width:170px;
	height:33px;
	text-align: center;
	
}
#winnerList_title{
	padding-top:15px;
	text-align: center;
	width:259px;
	height:33px;
	
}
#prizelist{
	position:relative;
	background:url(imgs/price_list_Bg.png) no-repeat;
	background-size: 170px 465px;
	height:465px;
	width:170px;
	margin-top: 10px;
	padding:5px 0 0 5px;
}

#model1{
	position:absolute;
	width:261px;
	height:188px;
	top:100px;
}
#model2{
	position:absolute;
	width:132px;
	top:288px;
}
#top_title{
	position:relative;
	width:100%;
    height:150px;
}
#maintitle{
	position:absolute;
	right:90px;
	top:15px;
	width:375px;
	height:90px;	
	
}
#winnerlist{
	margin-top: 10px;
	width:259px;
}
#winnerlist ul, #winnerlist ul li{
	margin: 0 ;
	padding:0;
	list-style:none;
}
.winnerlist{
	background:url(imgs/winner_list_bg.png) no-repeat;
	background-size: 259px 50px;
	width:259px;
	height:50px;
	padding:5px 5px 5px 60px!important;
	margin-bottom:5px;
}
.claim_btn{
	cursor:pointer;
	text-align:center;
}
.winner_font{
	font-size:18px;
	text-transform:uppercase;
	color:#FFF;
	font-weight:bold;
}

.prize_font{
	font-size:14px;
	
	color:#D1A74E;
	font-weight:bold;
}
.grandPrz{
	font-family:Verdana, Geneva, sans-serif;
	position:absolute;
	top:49px;
	left:98px;
	width:239px;
	
	color:#000;
	font-size:24px;
	font-weight:bold;
	text-align: center;
}
.totalwin_bg{
	position: relative;
	left: -10px;
	width:157px;
	height:73px;
	padding:10px 10px 10px 100px;
	background: url(imgs/totalwin_bg.png) no-repeat;
	background-size: 267px 93px;
	justify-content: center;
	display:flex;
	align-items:center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color:#fff;
}
#games{
	position: absolute;
	left:96px;
	top:110px;
	border:none;
}
.loadingMsgClass{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color:#cbcbcb;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
	text-align: center;
	padding-top: 25%;
}
