<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grand Royale Jackpot</title>
<link rel="shortcut icon" type="image/png" href="imgs/favicon.ico"/>
<link href="css.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
<div id="lobby" ng-app="lobby" ng-controller="prizelists" class="main_wrapper">
	<div id="left_wrap">
		<div id="priceList_title">
			<img src="{{imgPath}}btn_price_list.png" width="155" height="33" />
		</div>
		<div id="prizelist">
			<div ng-repeat="x in prizeArr"><img src="{{x.prize_img}}" width="160" height="{{prizeHeight - 1}}"/></div>
		</div>
	</div> <!--/left_wrap-->
	<div id="center_wrap">
		<div id="top_title">
			<div id="maintitle">
				<img src="{{imgPath}}top_title.gif" width="375" height="90" />
				<div class="grandPrz">{{jackpot | number}}</div>
			</div>
			<iframe id="games" ng-src="{{gameUrl}}" height="512" width="512"></iframe>
			<div id="model1"><img src="{{imgPath}}girl1.png" height="188" width="261" /></div>
			<div id="model2" style="z-index: -1;">
				<img src="{{imgPath}}girl2.png" height="354" width="auto" />
			</div>
		</div>
	</div> <!--/center_wrap-->
	<div id="right_wrap">
		<div id="winnerList_title"><img src="{{imgPath}}btn_winner_list.png" width="155" height="33" /></div>
		<div id="winnerlist">
			<ul>
				<li class="winnerlist" ng-repeat="x in winnerArr"><span class="winner_font">{{x.winner_name}}</span><br/><span class="prize_font">{{currency}} {{x.prize_name | number}}{{currencyPost}}</span></li>
			</ul>
		</div>
		<div class="totalwin_bg">{{totalWinAmt}}</div>
		<div class="claim_btn"><img ng-click="confirmClaim()" src="{{imgPath}}btn_claim.png" width="124" height="124" /></div>
	</div><!--/right_wrap-->
<div ng-show="loadingShow" class="loadingMsgClass">
		<img height="42" width="42" ng-src="{{loadingImg}}"/><br/><br/>
		{{loadingMsg}}
</div>
</div><!--/main_wrapper-->
<script src="scripts/controller.js?v=3"></script>
<script src="scripts/callApi.js"></script>
</body>
</html>
