﻿body 
{
background-image: url('../home/home_original_bg.jpg');
background-position: initial;
background-repeat: no-repeat;
background-size: 100% 596px;
background-color: black;
font-family: arial,MingLiu;
font-size: 14px;
color: white;
}

.body_wrapper
{
    width: 995px;
    margin:0 auto;
}

.body_top
{
 background: url('../home/headerBg1.png') no-repeat;
background-position: center 0px;

 width: 995px;

 height: 210px;
}
.body_top_default
{
     background: url('../home/headerBg.png') no-repeat;
background-position: center 0px;

 width: 995px;

 height: 210px;
}
.top_logo
{
 height:130px;
}
.logo
{
 float:left;
 width: 260px;   
 margin-left: 90px;
 margin-top: 20px;
}
.logo_default
{
    width: 355px;
    margin: 0 auto;
}
#logo_img
{
    width:260px;
    margin:0 auto;
}
#logo_img_default
{
    width: 355px;
    margin:0 auto;
    margin-top: 15px;
}
.top_right
{
 float:right;
 width: 620px;
 height:105px;   
}

.top_login
{
 float:right;
 width: 600px;
 height:80px; 
}

.login_panel
{
width: 560px;
height: 77px;
float: right;
font-size: 12px;
font-weight: bold;
margin-top: 6px;
}

.top_anoucement
{
 float:right;
 width: 580px;
 height:26px;   
border: 1px solid #404040;
background-color: #262303;
text-align: center;
color: gold;
}

.default_anoucement
{
 float:right;
 width: 730px;
 height:26px;   

 margin-top: 10px;
 border: 1px solid #404040;
background-color: #262303;
text-align: center;
color: gold;
}

.top_menu
{
 height:65px; 
}

.top_menu ul
{
 padding:0px;
 margin:0px;   
 height: 75px;
 list-style:none;
}

.top_menu ul li
{
   float:left;
   width: 80px;
   height: 75px;
   margin-left: 40px;
}
#language{
overflow: hidden;
text-align: center;
width: 68px;
padding: 2px 0px 4px 3px;
float: right;
margin: 6px 28px 0px 0px;
}
#EN-lang{
	width:17px;
	padding-top:2px;
	height:16px;
	float:left;
	/* margin-right:5px; */
}
#ID-lang{
	width:17px;
	padding-top:2px;
	height:16px;
	float:left;
	margin-left:5px;
}
#CN-lang{
	width:17px;
	padding-top:2px;
	height:16px;
	float:left;
	margin-left: 8px;
}
#VN-lang{
	width:17px;
	padding-top:2px;
	height:16px;
	float:left;
	margin-left: 8px;
}
#flag_lan{
float: left;
height: 17px;
min-width: 55px;
line-height: 30px;
background: black;
display: inline-block;
margin: 32px 6px 5px 40px;
padding: 5px 0px 8px 4px;
border: 1px grey solid;
position: relative;
}
#flag_lan ul{
	z-index:99;
	list-style:none;
	margin:0;
	padding:0;	
}
#flag_lan li{
	float:left;
	height:17px;
	width:28px;
	padding-right:5px;
	background:#111111;	
}
#flag_lan li:last{
	padding-right:0px;
}
#flag_lan a{
	position:relative;
	display:block;
	height:17px;
	width:25px;
}
.body_content
{
width: 995px;
position: relative;
background-color:transparent;
}

.body_content_default
{
width: 995px;
height: 465px;
position: relative;
}

.body_left
{ 
    width: 220px;
    float: left;
    height: 465px;
    display: inline-block;
}
.body_right
{
     
    width: 765px;
    height: 465px;
    display: inline-block;
}
.body_right_top
{
 height:50px;   
}
.body_right_bottom
{
    width: 765px;
    height: 450px;
}
.default_banner
{
float:left;
width: 545px;
height: 413px
;
display: inline-block;
}
.default_banner_left
{
    float: right;
    width: 216px;
    display: inline-block;
    height: 420px;
}

.default_login
{
    background-image:url('/img/loginBg.png');
    width: 227px;  
    height: 185px;
    background-repeat: no-repeat;
}
.default_register
{
    width:215px;
    height: 90px;
    padding-bottom: 5px;
}
.default_tutorial
{
    width:215px;
    height: 82px;
    padding-bottom: 5px;
}
.default_spin
{
     width:215px;
    height:95px;
}
.topnav_grey {
color: #999999;
font-size: 10px;
padding: 0;
text-decoration: none;
}

.body_bottom
{
    
    width: 995px;
height: 105px;
    
}

.footer_bank img
{
margin: 0 auto;
width: 980px;
height: 40px;
display: block;
margin-top: 5px;
}

.footer_bank
{
 margin-top:5px;
 margin-bottom:5px;   
}

.footer_menu ul
{
     padding:0px;
 margin:0px;   
 height: 25px;
 list-style:none;
     float: left;
}    

.footer_menu ul li
{
    
     float:left;
     height: 15px;
     line-height: 15px;
     border-right: 2px solid #999999;
}

.footer_menu ul li a
{
    text-decoration: none;
color: #999999;

    font-size: 11px;
padding: 0;
margin: 0px 5px 0px 5px;
}
.footer_menu span
{
    color: #999999;
font-size: 10px;
padding: 0;

    float: right;
    text-decoration: none;
}

.footer_product
{
    padding-bottom: 5px;
 
    margin-bottom: 5px;
    border-bottom: 1px solid #404040;   
}

.footer_product a img
{
 float:right;   
}

#RegistrationTable tr td
{
    vertical-align:middle;
}

#RegistrationTable tr
{
   height:30px;
}

.transferBtt
{
    /* width: 100px; */
background: #088A08;
text-align: center;

    padding: 3px;
    color: white;
cursor: pointer;
float: left;
font-size: 18px;
margin-right:10px;
}
.cancelBtt
{
    /* width: 100px; */
background: #B40404;

    padding: 3px;
    text-align: center;
color: white;
cursor: pointer;
float: left;
font-size: 18px;
margin-right:10px;
}

.footernew{font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#999;height:200px;}
.footernew a{text-decoration:none;color:#666;}.footernew a:hover{color:#FFF;}
.footernew .ttl{font-weight:bold;width: 479px;padding-bottom:5px;padding-top:12px;border-bottom:1px dotted;}
.footernew ul{list-style-type:none;margin:0px;position:absolute;padding:0px;text-decoration:none;}
.footernew ul li{font-size: 12px;color:#666;list-style-type:none;text-align:justify;display:block;padding-top:5px;padding-bottom:5px;}
.footernew ul .footersubtitle{margin-bottom:-5px;font-weight:bold;color:#999;font-size:12px;}