@charset "UTF-8";
/* CSS Document */

*::after, *::before {
    box-sizing: border-box;
}

body{
	padding:0;
	margin:0;
	background:#000;
}

ul{
	margin:0;
	padding:5px 5px 5px 25px;
}

#lottery4d{
	width:980px;
	position:relative;
	background:url(../images/bg.jpg) no-repeat;
	/*background:url(../images/cny_bg.jpg) no-repeat;*/
}

#winnerList{
	position:absolute;
	right:5px;
	top:0px;
	width:250px;
	z-index:99;
}

#left{
	position:relative;
	width:210px;	
}

#right{
	position:absolute;
	left:220px;
	top:0;
	width:750px;
	padding-left:10px;
	background:url(../images/reel_l4d.png) no-repeat;
	/*background:url(../images/cny_reel.png) no-repeat;*/
	min-height:450px;
}

#prizeTitle{
	position:relative;
	width:100%;
	height:35px;
	background:url(../images/bar.png) repeat-x;
	text-align:center;
	line-height:35px;
}

#prize{
	/*background-color:#292929;*/
	width:100%;
}

#winner{
	position:relative;
	width:100%;
}

#winnerBg{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#FFF;
	opacity:0.1;
  	filter:alpha(opacity=10); /* For IE8 and earlier */
	height:100%;
	width:100%;
	z-index:0;
}

#bar{
	z-index:2;
	position:relative;
	width:100%;
	height:25px;
}

#barBg{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.5;
  	filter:alpha(opacity=50); /* For IE8 and earlier */
	height:100%;
	width:100%;
	z-index:-1;
}

#prize td{
	border-bottom:1px solid #494949;
	height:37px;
}

#prize tr:last-child td{
	border-bottom: none;
}

#ticketFrame{
	position:absolute;
	top: 343px;
	left: 12px;
}

#ticket{
	position:relative;
	width:170px;
	height:47px;
	margin-top:15px;
	background:url(../images/insert.png) no-repeat;
}

#ticket_id{
	position:relative;
	width:170px;
	height:47px;
	margin-top:15px;
	background:url(../images/insert3_id.png) no-repeat;
}

#ticketCount{
	text-align:right;
	padding-right: 5px;
	position:absolute;
	top:6px;
	right:5px;
	width:69px;
	height:17px;
	font-family:Helvetica;
	font-size:16px;
	font-weight:bold;
	color:#2aff00;	
}

#historyBtn{
	position:absolute;
	top:350px;
	left:285px;
	cursor:pointer;
}

#spinBtn{
	position:absolute;
	top:340px;
	left:375px;
	cursor:pointer;
}

#bottom{
	margin-top:3px;
	width:710px;
}

#termTitle{
	width:705px;
	height:35px;
	background:url(../images/bar.png) repeat-x;
	text-align:left;
	line-height:35px;
	padding-left:5px;
}

#termFrame{
	position:relative;
	/*background-color:#292929;*/
	width:705px;
	height:150px;
	padding:5px 0 0 5px;
}

#term{
	background-color:#212121;
	border:1px solid #373737;
	width:697px;
	height:142px;
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}

#term li{
	list-style:decimal;	
}

.winnerList td{
	height:16px;	
}

#arrowLeft{
	position:absolute;
	top:10px;
	left:10px;
	cursor:pointer;
}

#arrowRight{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}

#currentBets{
	width:210px;
	height:177px;
	background:url(../images/currentBets.png) no-repeat;
}

#ticketFrame2{
	width:200px;
	height:140px;
	position:relative;
	top:0;
	left:5px;
}

#ticketTitle{
	height:19px;
	width:100%;
}

#ticketTable td{
	border-bottom:1px solid #494949;
}

.more{
	display:block;
	cursor:pointer;
	position:absolute;
	top:125px;
	right:5px;
	background:url(../images/arrowMore.png) 0 2px no-repeat;
	padding-left:10px;	
	font-family:Helvetica;
	font-size:10px;
	font-weight:bold;
	color:#bfbfbf;
	line-height:10px;
}

.more:hover{
	color:#F00;
}

/* class text */
.textTitle{
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	color:#000;	
}

.textPrize{
	font-family:Helvetica;
	font-size:18px;
	color:#fbf9c7;
	font-weight:bold;
}

.textPrize2{
	font-family:Helvetica;
	font-size:13px;
	color:#fbf9c7;
	font-weight:bold;
}

.textWinner{
	font-family:Helvetica;
	font-size:12px;
	color:#fbf9c7;
	font-weight:bold;
}

.textName{
	font-family:Helvetica;
	font-size:14px;
	color:#fde286;
}

.textName3{
	font-family:Helvetica;
	font-size:13px;
	color:#fde286;
}

.textName2{
	font-family:Helvetica;
	font-size:12px;
	color:#fde286;
	font-weight:bold;
}

.textTitle2{
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	color:#FFF;	
}

.textSmall{
	font-family:Helvetica;
	font-size:10px;
	color:#bfbfbf;	
}

.textContent{
	font-family:Helvetica;
	font-size:12px;
	color:#bfbfbf;	
	line-height:15px;	
}

.content{
	font-family:Helvetica;
	font-size:12px;
	color:#bfbfbf;	
	font-weight:bold;
	line-height:15px;
}

#slotMachineContainer {
	position: absolute;
	width: 500px; height: 300px; left: 11px; top: 95px;
}

#slotMachineContainer #ReelContainer {
	position: absolute; 
	left: 7px; top: 9px; width: 482px; height: 217px;
	overflow: hidden;
}
#slotMachineContainer #ReelContainer .reel {
	position: absolute;
	width: 147px; height: 2967px; top: 38px;
	background: transparent url(../images/reelNum.png) 0 0 repeat-y;
}
#slotMachineContainer #ReelContainer #reel1 { left: -20px; }
#slotMachineContainer #ReelContainer #reel2 { left: 98px; }
#slotMachineContainer #ReelContainer #reel3 { left: 215px; }
#slotMachineContainer #ReelContainer #reel4 { left: 332px; }

.header{
	float:left;
	position:relative;
	width:30%;
	background-color:white;
	color:black;
	font-weight:bold;
	height:20px;
	text-align:center;
	padding-top:5px;
}
.header1{
	float:left;
	position:relative;
	width:10%;
	background-color:white;
	color:black;
	font-weight:bold;
	height:20px;
	text-align:center;
	padding-top:5px;
}
.hresult1{
	float:left;
	width:10%;
	height:30px;
	background-color:white;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:1px solid gray;
	padding-top:3px;
}
.hresult{
	float:left;
	width:30%;
	height:30px;
	background-color:white;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:1px solid gray;
	padding-top:3px;
}

.winner-wrap {
    font-size: 13px;
    line-height: 20px;
	width: 305px;
}
.winner-wrap li:first-child {
    border-bottom: 0 none;
    padding: 5px 0 0;
    width: 95%;
}
.winner-wrap li {
    border-bottom: 1px solid #262626;
    padding: 10px 0;
    width: 100%;
}
.winner-wrap li > div:first-child {
    color: #ffe189;
    float: left;
    font-weight: bold;
    padding: 0 0 0 10px;
    text-align: left;
    width: 40%;
}
.winner-wrap li > div:last-child {
    color: #faf8c8;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    width: 100%;
}
.winner-wrap div p:nth-child(2n+1) {
    float: left;
    text-align: left;
    width: 50%;
}
.winner-wrap div p:nth-child(2n) {
    float: right;
    text-align: right;
    width: 50%;
}
.winner-wrap li::after, .winner-wrap li div:last-child::after {
    clear: both;
    content: "";
    display: table;
}
.winner-wrap p {
    margin: 0px 0px 2px 0px !important;
}

.bxWrap  {
 display: block;
 position: relative;
width: 100%;
    height:100px;
    overflow-x: hidden;
    overflow-y: auto;
}

