@charset "utf-8";
/* ACCOUNT MANAGEMENT CSS */

.greeting  {
	background: none !important;
}

.hrBottomlg  {
	float: right;
	margin: 20px 0px 0px;
}

.hrBottomlg span  {
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	display: block;
	padding: 6px 24px 6px 24px;
	background-image: url(../../img/top-seperator.jpg);
	background-position: right center;
	background-repeat: no-repeat;
}

.hrBottomlg span a:link, .hrBottomlg span a:visited  {
	color: #fff;
	text-decoration: none;
}

.hrTop {
    margin-left: 115px;
}

.headerRight {
    margin-right: -15px;
}

.acctRight  {
	float: right;
}


.midSectInner h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px;
    padding: 8px;
	background: none;
}

.mainWallet  {
	border: 1px solid #F1D97B;
	display: inline-block;
	background #eee;
	float: left;
	padding: 5px;
}

.wLeft  {
	background: #C59F4D;
	padding: 12px 15px 11px;
	border-right: 1px dotted #fff;
	float: left;
}

.wLeft1  {
	background: #C59F4D;
	padding: 15px 15px 14px;
	border-right: 1px dotted #fff;
	float: left;
}

.wTitle  {
	display: block;
	color: #666666;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.wCurrency  {
	color: #444444;
	font-weight: bold;
	font-size: 40px;
}

.wRight  {
	float: right;
	background: #eee;
	padding: 9px 25px 8px;
	font-size: 60px;
	font-weight: bold;
	color: #000;
}

.rewardPts  {
	border: 1px solid #f1d97b;
	display: inline-block;
	background #eee;
	float: right;
	padding: 5px;
}

.wRewardTitle  {
	display: block;
	color: #666666;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 13px 0px;
}

.walletTable  {
	display: inline-block;
	margin-top: 15px;
	margin-left: 2px;
width: 100%;
	}

.walletTable ul  {
	margin: 0px;
	padding: 0px;
	background: none;
	width: 100%;
}

.walletTable ul li  {
	display: inline-block;
	float: left;
	border: 1px solid #D6D6D6;
	padding: 20px 0px;
	background: #eee;
	width: 155px;
}

.wItemAmt  {
	display: block;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #000;
	margin-bottom: 8px;
}

.wItem  {
	display: block;
	text-align: center;
	color: #000;
}

.title_bar  {
	border-bottom: 1px solid #C59F4D;
	display: block;
	padding-left: 15px;
	height: 31px;
	line-height: 30px;
	margin: 15px 0px -1px;
}

.title_bar ul  {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.title_bar ul li  {
	display: inline-block;
	float: left;
	
}

.title_bar ul li a:link, .title_bar ul li a:visited {
   padding: 5px 8px;
   z-index: 999;
   color: #d6d6d6;
   font-weight: bold;
   text-decoration: none;

}

.title_bar ul li a:hover{
   color: red;
}

.selected  {
	border-right: 1px solid #C59F4D !important;
   border-left: 1px solid #C59F4D !important;
   border-top: 1px solid #C59F4D !important;
   border-bottom: 1px solid #C59F4D !important;
   background: #C59F4D;
   z-index: 999;
   color: #000;
}

.selected a:link, .selected a:visited  {
	color: #000 !important;
}

.selected a:hover  {
	color: red !important;
}


.title_bar span  {
   padding: 0px 12px 0px;
   border-right: 1px solid #d6d6d6;
   border-left: 1px solid #d6d6d6;
   border-top: 1px solid #d6d6d6;
   background: #fff;
   position: absolute;
   color: #444444;
   font-weight: bold;
}

.title_bar span:hover  {
   color: red;
   cursor: pointer;
}

.acp  {
   padding: 0px 12px 0px;
   border-right: 0px solid #d6d6d6 !important;
   border-left: 0px solid #d6d6d6 !important;
   border-top: 0px solid #d6d6d6 !important;
   background: #fff;
   color: #444444;
   font-weight: bold;
   margin-left: 140px;
}

.ntSlct {}

.ntSlct ul {}

.ntSlct ul li a:link  {
	border: none;
}

.acctContent  {
	width: 1024px;
	height: auto;
	display: block;
	padding: 0px 0px 0px 0px;
	position: relative;
	margin: 5px auto 30px;
	position: relative;
}

.acctContent p  {
	margin-top: 10px;
}

.acctContentReg  {
	width: 925px;
	display: block;
	background: #000;
	padding: 25px 0px 0px 100px;
	position: relative;
	margin-bottom: 50px;
	position: relative;
}

.wallet_title  {
	font-weight: bold;
	font-size: 16px;
	color: #C59F4D;
	margin-left: 0px;
	margin-bottom: 12px;
	display: block;
}

/* FORM ELEMENT */
.acctRow  {
	width: 100%;
	height: 30px;
	display: block;
	margin-bottom: 10px;
}

.acctRow span  {
	vertical-align: -6px;
	font-weight: bold;
}



.acctRowR  {
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: 10px;
}

.acctRowR label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRow label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRowR input  {
	padding: 0px 0px 0px 3px;
	float: left;
	border: 1px solid #ccc;
	background: #000;
	margin-top: 3px;
}

.acctRowR td  {
	padding-bottom: 5px;
}

.acctRow input  {
    width: 150px;
	height: 25px;
	padding: 0px 0px 0px 5px;
	border: 1px solid #ccc;
	background: #eee;
	color: #444 !important;
}

.acctRow select  {
	height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	border: 1px solid #ccc;
	background: #eee;
	color: #444 !important;
}

.eleLeft {
    display: inline-block;
    float: left;
}

.eleLeft label {
    width: 100px !important;
}

.eleLeft input {
    margin-right: 10px !important;
	width: 80px !important;
}

.eleLeft select {
    margin-right: 10px !important;
}


.upload  {
	background: #fff !important;
	padding: 3px 3px !important;
}

select:focus {
	border:solid 1px #3B8DC5; 
	color: #444 !important;
}

input:focus {
	border:solid 1px #3B8DC5; 
	color: #444 !important;
}

input[placeholder] {
   color: #444;
   font-size: 11px;
}

::-webkit-input-placeholder {
   color: #444;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444;
}

:-ms-input-placeholder {
   color: #444;
}

.DepContent  {
	width: 1014px;
	display: block;
	background: #000;
	padding: 25px 5px 0px 5px;
	position: relative;
	margin-bottom: 50px;
	position: relative;
}

.depLeft  {
	float: left;
	color: #808282;
	font-size: 12px;
	padding: 15px 30px 20px 0px;
	margin: 0px;
	width: 260px;
	text-align: justify;
	display: block;
}

.depRight  {
	float: left;
	border-left: 1px solid #c59f4d;
	padding-left: 20px;
	padding-top: 20px;
	width: 700px;
}

.depLeft ul	 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.depLeft ul li	 {
	margin: 0px 0px 5px;
	padding: 0;
	color: #fff !important;
}

.depLeft p  {
	margin-top: 10px;
}

.radiobtn  {
	width: 30px !important;
}

.acctRowR table  {
	border: none !important;
}

.acctRowR table td  {
	border: none !important;
}

.submitAcct  {

}

.submitAcct a:link, .submitAcct a:visited  {
	width: 75px;
	height: 27px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	background: #c59f4d;
	margin-top: 10px;
}

.submitAcct a:hover  {
	background: #98171A;
	color: #fff;
}

.promoWrap  {
	display: inline-block;
	padding: 8px;
	border: 0px solid #d6d6d6;
}

.cont  {
	color: #fff;
}