/* Main */

html, body  {height: 100%; margin: 0; padding: 0;}

body  {	width: 100%;	height: 100%;	font-family: Arial, Helvetica, sans-serif;	color: #fff;	margin: 0 auto;	padding: 0;	font-size: 12px;	overflow-x: hidden; background-image: url(../../img/bg-lc.jpg); background-repeat: no-repeat; background-position: top center; background-color: #000000;}

.container  {width: 1027px; height: 100%; margin: 0 auto; padding: 0px;}

.clr  {clear: both;}

.header  {position: relative; display: inline-block; width: 100%; height: auto; margin: 0; padding: 0px;}

.headerMain  {padding: 10px 0px;width: 100%; height: 70px;}

.headerDTT  {display: block; position: relative; float: right;}


.lchat  {margin-right: 60px;}

.headerTop  {position: relative; display: block; margin-top: 42px;z-index:9999;}

.usrPw input  {width: 100px; height: 22px; background: #939393; border: 0px; font-size: 12px; font-weight: bold; font-style: italic; padding-left: 5px; margin-left: 15px; }

.usrPw1 input  {width: 100px; height: 22px; background: #939393; border: 0px; font-size: 12px; font-weight: bold; font-style: italic; padding-left: 5px; margin-left: 5px; }

.usrPw2 input  {width: 50px; height: 22px; background: #939393; border: 0px; font-size: 12px; font-weight: bold; font-style: italic; padding-left: 5px; margin-left: 5px; }

.fP  {font-size: 10px; margin: 0px 5px;}

.submitHeader a:link, .submitHeader a:visited  {position: relative; display: block; width: 60px; height: 22px; line-height: 22px; text-align: center; background: rgb(170, 133, 32); background: -moz-linear-gradient(270deg, rgb(170, 133, 32) 18%, rgb(242, 236, 124) 80%); background: -webkit-linear-gradient(270deg, rgb(170, 133, 32) 18%, rgb(242, 236, 124) 80%); background: -o-linear-gradient(270deg, rgb(170, 133, 32) 18%, rgb(242, 236, 124) 80%); background: -ms-linear-gradient(270deg, rgb(170, 133, 32) 18%, rgb(242, 236, 124) 80%); background: linear-gradient(0deg, rgb(170, 133, 32) 18%, rgb(242, 236, 124) 80%);-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #000; font-size: 11px; text-decoration: none; }

.submitHeader a:hover {
	background-color: #a67e1a !important;
	color: red;
}

.slotCont  {margin-top: -50px; width: 1024px;}
.joinHeader a:link, .joinHeader a:visited  {position: relative; display: block; width: 80px; height: 22px; line-height: 22px; text-align: center; background: rgb(105, 0, 0);
background: -moz-linear-gradient(270deg, rgb(105, 0, 0) 30%, rgb(197, 0, 0) 70%);
background: -webkit-linear-gradient(270deg, rgb(105, 0, 0) 30%, rgb(197, 0, 0) 70%);
background: -o-linear-gradient(270deg, rgb(105, 0, 0) 30%, rgb(197, 0, 0) 70%);
background: -ms-linear-gradient(270deg, rgb(105, 0, 0) 30%, rgb(197, 0, 0) 70%);
background: linear-gradient(0deg, rgb(105, 0, 0) 30%, rgb(197, 0, 0) 70%);-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #fff; font-size: 11px; text-decoration: none; font-weight: bold; margin-left: 10px;}

.joinHeader a:hover {
	background-color: #a67e1a !important;
	color: yellow;
}

.headerLeft  {position: relative; display: inline-block; width: 270px !important; height: 70px !important; float: left; padding-top: 1px; background-image:url(../../img/logo.png)}

.headerLeftrj  {position: relative; display: inline-block; width: 270px !important; height: 70px !important; float: left; padding-top: 4px; background-image: url(../../img/logo.png);}

.headerRight  {position: relative; display: inline-block; width: auto; height: auto; float: right;}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 180px !important;
    position: relative;
}

.topMenu  {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.line-seperator  {
	width: 1024px;
	height: 1px;
	display: block;
	position: relative;
	background: url(../img/line-seperator.png)no-repeat;
	margin: 8px 0px;
}


/* language dropdown */

.headerTop ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 26px;
z-index: 999999;
}
.headerTop ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 3px;
  background: none; 
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.headerTop ul li:hover {
	background: #374A2C;
}
.headerTop ul li ul {
  padding: 0;
  position: absolute;
  top: 25px;
  left: 0;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;

}
.headerTop ul li ul li { 
  background: #374A2C; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  width: 50px;
  text-align: center;
}
.headerTop ul li ul li:hover { background: #13200E;  }
.headerTop ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.lgCont  {
	width: 36px;
	padding-left: 9px;
	margin-right: 5px;
	height: 20px;
	background: url(../img/top-dropBg.png)no-repeat;
}

.lgCont1  {
	width: 36px;
	padding-left: 9px;
	margin-right: 5px;
	height: 20px;
	background: url(../img/top-dropBg.png)no-repeat;
}

.anmnt  {position: relative;width: 934px;height: 26px;line-height: 26px;display: block;font-size: 12px;color: #000;background-color: #b7b7b3;margin-top: 0px; background-image: url(../../img/anmt-icon.jpg); background-position: center left; background-repeat: no-repeat;padding: 0px 30px 0px 60px;}

.anmnt marquee:hover  {	color: yellow;}

.caro  {width: 420px; position: absolute !important;right: 30px; top: 50px;}

.jackP  {width: 1024px; height: 134px; display: block; position: relative;margin-top: 20px;}

.jackPick  {position: absolute; left: 235px; top: 59px; font-size: 30px; font-weight: bold;letter-spacing: 4px;}

.hpgGames  {margin-top: 20px;}

.bott  {margin-top: 20px; display: inline-block; position: relative; height: auto;}

.col1  {float: left;margin-left: 5px;}

.col1 td  {padding-bottom: 25px;}

.col2  {float: left;margin-left: 60px;}

.col3  {width: 482px; height: 300px;float: left;margin-left: 5px; background:url(../img/jackport.png)no-repeat;position: relative;}

.col6  {width: 362px; height: 300px;float: right;margin-left: 5px;position: relative;}

.digit  {font-size: 34px; font-weight: bold;position: absolute;bottom: 47px;left: 120px;}
.col4  {width: 350px; height: 260px;float: left;margin-left: 55px;}

.bx1  {width: 300px; height: 60px;  background: url(../img/live-support1.png)no-repeat; display: block;position: relative;}

.bx1 span  {position: absolute; left: 80px; top: 24px;}

.bx2  {width: 300px; height: 60px;  background: url(../img/live-support2.png)no-repeat; display: block;position: relative;}

.bx2 span  {position: absolute; left: 80px; top: 22px;}

.bx3  {width: 300px; height: 60px;  background: url(../img/live-support3.png)no-repeat; display: block;position: relative;}

.bx3 span  {position: absolute; left: 80px; top: 22px;}

.jp1  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 33px; text-align: center;top: 118px;left: 20px;}

.jp2  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 30px; text-align: center;top: 200px;left: 20px;}

.jp3  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 30px; text-align: center;top: 288px;left: 20px;}

.jp4  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 30px; text-align: center;top: 288px;right: 20px;}

.jp5  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 30px; text-align: center;top: 200px;right: 20px;}

.jp6  {position: absolute; font-size: 15px; font-weight: bold;width: 148px; height: 30px;line-height: 30px; text-align: center;top: 118px;right: 20px;}

.footer  {width: 100%; height: auto; display: inline-block; position: relative;padding: 10px 0px 10px; background-color: #393928;margin-top: 15px;}

.copyright  {	margin-left: 10px; float: left;	}

.copyright ul  {	margin: 10px 0px 0px -8px;	padding: 0;display: block;}

.copyright ul li  {	margin: 0;	padding: 0; list-style-type: none; float: left; display: inline-block;border-right: 1px solid #fff;}

.copyright ul li a:link, .copyright ul li a:visited  {color: #fff;text-decoration: none; margin: 0px 8px 0px 8px;}

.copyright ul li a:hover  {color: yellow;text-decoration: none;}

.line {width: 99%; margin: 5px 5px 10px;height: 1px; background: #c59f4d; display: block;}

.social  {	margin-right: 10px; float: right;margin-top:10px;	}

.social ul  {	margin: -8px 0px 0px 10px;	padding: 0;display: block;}

.social ul li  {	margin: 0;	padding: 0; list-style-type: none; float: right; display: inline-block;padding-left: 8px;}

.sliderCont  {position: relative;}

.pgCont  {position: relative;margin-top: 15px;padding-left: 40px;}

.cms1  {position: absolute; top: 418px; right: 20px;z-index: 9999;}

.D_container {
	position: relative;
	width: 1100px;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
}

.D_menu  {

}

.D_menu ul  {
	list-style-type: none;
	float: left;
	margin-right: 0px;
}

.D_menu ul li  {
	display: block;

}

.D_menu ul li a:link  {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 170px;
	height: 30px;
	line-height: 29px;
	background: url(../img/slot_btn.png)repeat-x;
	border: 1px solid #ccc;
	margin: 2px 0px 0px 0px;
	color: #fff;
	}
	
	.D_menu ul li a:visited  {
	color: #fff;
	}

.D_menu ul li a:hover  {
		width: 170px;
	height: 30px;
	background: url(../img/slot-hover.jpg)repeat-x;
	color: #000;
	}
	
#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 32px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
}

.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 440px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.dinmenu  {
	width: 280px;
	height: 300px;
	display: block;
	position: relative;
	text-align: center;
}

.mobContTop  {
width: 100%;
display: inline-block;
position: relative;
height: 358px;
background: url(../img/mobtopBg.png)no-repeat;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .7);
  transition: opacity .25s ease;
  z-index: 99999;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 442px;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 207px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}


.btn {
  cursor: pointer;
  background: none;
  display: inline-block;
  padding: 0;
  color: #fff;
  border-radius: 0px;
  margin-top: 110px;
}

.btn:hover,
.btn:focus {
  background: none;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: none;
}

.btn--blue:active {
  background: #2980b9;
}

.mob_ag  {
	width: 165px;
	height: 228px;
	background: url(../img/mobile-ag.jpg)no-repeat;
	display: inline-block;
	position: relative;
	margin-bottom: 0px;
	margin-right: 25px;
}

.mob_pt  {
	width: 165px;
	height: 228px;
	background: url(../img/mobile-pt.jpg)no-repeat;
	display: inline-block;
	position: relative;
	margin-bottom: -3px;
	margin-right: 25px;
}

.mob_gp  {
	width: 165px;
	height: 228px;
	background: url(../img/mobile-gp.jpg)no-repeat;
	display: inline-block;
	position: relative;
	margin-bottom: -3px;
	margin-right: 20px;
}

.mobContTop table   {
	position: absolute;
	right: 32px;
	bottom: 0px;
}

.spacing1  {
	margin-left: 20px;
	margin-right: 10px;
}
.fa  {
	margin-right: 5px;
}

.acctContentReg  {
	width: 925px;
	display: block;
	background: none;
	padding: 25px 0px 0px 0px;
	position: relative;
	margin-bottom: 50px;
	position: relative;
}

.wallet_title  {
	font-weight: bold;
	font-size: 14px;
	color: #C59F4D;
	margin-left: 0px;
	margin-bottom: 12px;
	display: block;
}

/* FORM ELEMENT */
.acctRow  {
	width: 100%;
	height: 30px;
	display: block;
	margin-bottom: 10px;
}




.acctRowR  {
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: 10px;
}

.acctRowR label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRow label  {
	float: left;
	line-height: 25px;
	width: 180px;
}

.acctRowR input  {
	width: 195px;
	height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	border: 1px solid #808080;
	background: #000;
}

.acctRowR td  {
	padding-bottom: 5px;
}

.acctRow input  {
	width: 195px;
	height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	border: 1px solid #ccc;
	background: #fff;
}

input:focus {
	border:solid 1px #fff; 
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

.submitAcct  {
	float: left;
	margin-left: 180px;
}

.submitAcct a:link, .submitAcct a:visited  {
	width: 75px;
	height: 22px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid #C59F4D;
	font-size: 11px;
	font-weight: bold;
	display: block;
	background: #C59F4D;
}

.submitAcct a:hover  {
	background-image: url(../img/submit-bg-hover.jpg);
	background-repeat: repeat-x;
	color: #000;
}


.acctText  {
	width: 195px;
	height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	color: #a1a1a1;
	vertical-align: 2px;
}

.acctTextReg  {
	width: 450px;
	height: 25px;
	line-height: 25px;
	padding: 0px 0px 0px 5px;
	float: left;
	color: yellow;
	font-size: 11px;
	vertical-align: 2px;
}

.midSectInner h5 {
color: #F1D97B;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 10px;
    padding: 8px 8px 8px 0px;
}

.popBg  {
	background: #000 url(../img/bg-black.jpg) center top repeat-x !important;
}

.bgOverlay  {}

.fa {}

.subTitle  {
	color: #00bff4;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	display: block;
}

.sym  {
	font-size: 20px;
	margin-right: 6px;
}

/* MAINTENANCE PAGE */
.maintenance  {
	width: 100%;
	height: 490px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
	margin-top: 30px;
	background-image: url(../img/maintenance-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

.maintenance span  {
	font-size: 28px;
	

}

.maintainMSG  {
	font-weight: bold;
	padding-bottom: 2px;
	line-height: 33px;
	color: #fff;
	position: absolute;
	right: 140px;
	top: 170px;
}

.maintainMSGsub  {
	font-weight: bold;
	line-height: 33px;
	font-size: 18px !important;
	color: yellow;
		position: absolute;
	right: 135px;
	top: 270px;
}

#container404 {
    float:center;
    width:1024px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#colE1 {
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	right: 41px;
	padding-left: 300px;
	padding-top: 69px;
	font-size: 95px;
	height: 246px;
    color: yellow;
}
#colE2 {
	float: left;
	padding-top: 94px;
	font-size: 25px;
 color: yellow;
}

/* LC EFFECT */
#accordion {
display: block;
list-style: none;
margin: 0px;
padding: 0;
height: 80px;
overflow: hidden;
position: relative;
background: none;
}
 
#accordion li {
float: left;
border-left: 0px;
display: block;
height: 80px;
width: 108px;
padding: 0px;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
}
 
#accordion li img {
border: none;
border-right: 0px solid #EBAF4D;
float: left;
margin: 0;
}
 
#accordion li.active {
width: 260px;
}
/* LC EFFECT */