/*WC Timer*/
.wc  {
	display: block;
	width: 100%;
	height: 88px;
}
.wcInner  {
	display: block;
	width: 1024px;
	height: 68px;
	margin: 0 auto 5px;
	position: relative;
	background: url(../../img/wc-countdown-bg.jpg)no-repeat;
}
.timerDig  {
	color: #fff;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	right: 26px;
	top: 9px;
	letter-spacing: 6px;
}
.timerWrap  {
	display: inline-block;
	width: 700px;
	height: 68px;
	position: relative;
	margin: 6px 0px;
}
.wcWrap  {
	display: inline-block;
}