body {
	padding-top: 54px;
	background-color: #000;
	background-image: url(../../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	color: #fff;
	font-size: 12px;
}

.container {
    max-width: 1024px;
}

.content  {
	background: url(../../img/bg-trans.png)repeat;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
	-webkit-box-shadow: 1px 1px 8px 0px rgba(255, 255, 255, 0.35);
    -moz-box-shadow:    1px 1px 8px 0px rgba(255, 255, 255, 0.35);
    box-shadow:         1px 1px 8px 0px rgba(255, 255, 255, 0.35);
	padding: 0px 0px 12px;
}

.red  {
	color: #790000;
}

.btm  {
	display: inline-block;
	width: 80px;
	float: right;
	margin-left: 8px;
}

.btmWrap  {
	display: block;
	width: 350px;
	float: right;
	margin: 0px 30px 20px 0px;
}

.tnm  {
	display: block;
	padding: 15px 0px;
}

.tnm span  {
   margin-left: 15px;
   font-size: 14px;
}

/*WC Timer*/
.wc  {
	display: block;
	width: 100%;
	height: 88px;
}
.wcInner  {
	display: block;
	width: 268px;
	height: 65px;
	margin: 16px auto 0px;
	position: relative;
	background: url(../../img/timer-bg.png)no-repeat;
}
.timerDig  {
	color: #fff;
    font-size: 34px;
    position: absolute;
    right: -3px;
    top: -7px;
    letter-spacing: 8px;
    width: 268px;
}
.timerWrap  {
	display: inline-block;
	width: 700px;
	height: 68px;
	position: relative;
	margin: 6px 0px;
}
.wcWrap  {
	display: inline-block;
}
/*WC Timer*/

.wrap  {
	display: block;
	width: 250px;
	margin: 27px auto 0px;
}

.submitBtn  {}

.submitBtn a:link, .submitBtn a:visited  {
	display: block;
	background: #cc2127;
	padding: 7px 25px;
	text-decoration: none;
	border-radius: 10px;
	color: #fff;
}

.submitBtn a:hover  {
	background: #274372;
	color: #fff;
	text-decoration: none;
}

.userN  {
	display: block;
	padding: 7px 25px;
}

.tokenWrap  {
	display: block;
	margin-top: 20px;
}

.tokenWrap img  {
	float: left;
}

.tokenCont  {
	float: left;
	display: block;
	width: 150px;
	height: 28px;
	line-height: 27px;
	background: #fff;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin: 8px 0px 0px 10px;
}

.tokenCont1  {
	display: block;
	width: 150px;
	height: 30px;
	line-height: 28px;
	background: #fff;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin: 0px;
	float: left;
}

.tokTit  {
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	margin-left: 6px;
}

.tokDig  {
	display: inline-block;
	color: red;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
}

.sideNav  {}

.sideNav ul  {
	margin: 0px 0px 0px 15px;
	padding: 0;
}

.sideNav ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}

.sideNav ul li a:link, .sideNav ul li a:visited   {
	display: block;
	border-radius: 8px;
	margin: 0px 0px 8px;
	padding: 8px;
    width: 100%;
	background: #fff;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.sideNav ul li a:hover  {
	background: #E8C341;
	color: #000;
	text-decoration: none;
}

.mainTable  {
	display: block;
	margin: 0px 20px 0px 0px;
}

.mainTable table th, .mainTable table td  {
	padding: 8px 6px;
	border-right: 1px solid #ffef81;
}

.mainTable table th  {
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.mainTable table td  {
	font-size: 14px;
}

.mainTable table th:last-child, .mainTable table td:last-child {
    border-right: 0px;
}

.mainTable table tr:nth-child(odd)  {
	background: #fff;
	color: #000 !important;
}

.sep1  {
	border-right: 1px solid #fff;
}

.sep2  {
	border-right: 1px solid #000;
}

.footerMenu  {
	display: block;
	margin: 20px 0px 0px;
}

.footerMenu ul  {
	margin: 0px 0px 0px 8px;
	padding: 0;
}

.footerMenu ul li  {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
}

.footerMenu ul li a:link, .footerMenu ul li a:visited  {
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
}

.footerMenu ul li a:hover  {
	color: #E8C341;
	text-decoration: none;
}

.footerMenu1  {
	display: block;
	margin: 20px 0px 0px;
}

.footerMenu1 ul  {
	margin: 0px 0px 0px 8px;
	padding: 0;
}

.footerMenu1 ul li  {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
}

.footerMenu1 ul li a:link, .footerMenu1 ul li a:visited  {
	color: #000;
	text-decoration: none;
	padding: 0px 10px;
}

.footerMenu1 ul li a:hover  {
	color: #E8C341;
	text-decoration: none;
}

.footerTM  {
	display: block;
	margin-top: 20px;
	padding-right: 20px;
	
}

.headerBg  {
	background: url(../../img/header-bg.jpg)repeat-x top center;
}

.bg2  {
	background: url(../../img/bg-1.jpg)repeat-x top center;
}

.bg5  {
	background: url(../../img/bg-2.jpg)repeat-x top center;
}

.bg6  {
	background: url(../../img/bg-3.jpg)repeat-x top center;
}

.bg3  {
	background: url(../../img/bg-trans-1.png)repeat !important;
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.col-lg-3 .adj02 {
	width: 130px;
    display: inline-block;
	font-weight: bold;
}

.opt2 {
    padding: 0px 18px 10px;
}

.grp  {
	display: block;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #28a7c2;
	font-weight: bold;
	font-size: 15px;
}

.grp span  {
	margin-left: 5px;
}

.bg4 {
	background: url(../../img/timer-bg-1.png)no-repeat !important;
}

.text-black  {
	color: #000 !important;
}

.adj01  {
	margin-left: 15px;
	collor: #000;
	font-style: italic;
	color: #000;
	padding-bottom: 15px;
}

.adj02  {
	vertical-align: -1px;
}

.adj04  {
	vertical-align: -1px;
}

.adj03  {
	width: 100% !important;
}

.adj05  {
	margin-top: 18px;
}

.bordRight  {
	border-right: 1px solid #000;
}

.bordBottom  {
	border-bottom: 2px solid #a9b0b7;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 3px !important;
}

.opt1  {
	padding: 18px 18px 10px;
}

.form-check label  {
	color: #000;
	font-size: 14px;
}

.form-check-label span  {
	margin-right: 4px;
	margin-left: 4px;
}

.form-check-inline  {
	margin: 2px 0px 18px 4px;
	width: 152px;
}
