
.caro  {
	display: block;
	position: relative;
	width: 970px;
	height: 195px;
	background: #000;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(255, 255, 255, 0.75);
	padding-left: 10px;
	margin-top: -10px;
}

.selLeft  {
	display: block;
	position: relative;
	width: 490px;
	height: 200px;
	float: left;
}

.selRight  {
	display: block;
	position: relative;
	width: 490px;
	height: 200px;
	float: right;
}


.MScont  {
	display: block;
	position: relative;
	width: 980px;
	margin: 0 auto;
}

.selBg  {
	display: block;
	position: relative;
	width: 980px;
	height: 200px;
	background-image: url(../../img/c.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slotTit  {
	background: rgb(181, 159, 75);
background: -moz-linear-gradient(90deg, rgb(181, 159, 75) 16%, rgb(237, 212, 120) 100%);
background: -webkit-linear-gradient(90deg, rgb(181, 159, 75) 16%, rgb(237, 212, 120) 100%);
background: -o-linear-gradient(90deg, rgb(181, 159, 75) 16%, rgb(237, 212, 120) 100%);
background: -ms-linear-gradient(90deg, rgb(181, 159, 75) 16%, rgb(237, 212, 120) 100%);
background: linear-gradient(180deg, rgb(181, 159, 75) 16%, rgb(237, 212, 120) 100%);
display: block;
position: relative;
width: 600px;
height: 45px;
line-height: 45px;
margin: 0 auto;
text-align: center;
font-size: 20px;
font-weight: bold;
text-shadow: 1px 1px 2px rgba(252, 252, 252, 1);
-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;
}

.slotContainerBottom  {
	position: relative;
	display: block;
	height: 2100px;	
	padding: 20px 10px 20px;
	-webkit-box-shadow: 1px 1px 15px 0px rgba(240, 214, 121, 0.75);
-moz-box-shadow:    1px 1px 15px 0px rgba(240, 214, 121, 0.75);
box-shadow:         1px 1px 15px 0px rgba(240, 214, 121, 0.75);
margin-bottom: 20px;
}
.slotMenuHolder  {
	width: 550px;
	height: 35px;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	border-radius: 8px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(../../img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #fff;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: yellow;
	text-decoration: none;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 940px;
	height: 2024px;
	background: #fff;
	margin-left: 10px;
	margin-top: 15px;
	padding-bottom: 15px;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-left: 18px;
	margin-bottom: 5px;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}



.slotS  {
	display: fix;
	position: relative;
	width: 100%;
	height: auto;
	background-repeat: repeat;
		margin-top: 10px;
	margin-bottom: 20px;
	padding-bottm: 20px;
}

.progrSlot  {
	display: block;
	position: relative;
	background-image: url(../../img/slot-jp-bg.png);
	background-repeat: no-repeat;
	width: 1024px;
	height: 92px;
}



.noatt  {
	background: none !important;
	border: 0px solid #fff !important;
}

.noatt td  {
	background: none !important;
	border: 0px solid #fff !important;
}

#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
border: none !important;
box-shadow: none !important;


}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 445px;
	height: 236px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-left: 91px;
	margin-bottom: 10px;
	cursor: pointer;
}
.lcBox1  {
	width: 445px;
	height: 236px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

.jackpNum  {
	position: absolute;
	display: block;
	color: #b68400;
	font-size: 30px;
	font-weight: bold;
	right: 230px;
	top: 25px;
}
#slot1  {
	margin-top : 35px;
	margin-bottom : 35px;
}
.calendar_table {
	background-image: url(../../img/mobileslot/c.png);
	height: 195px;
	width: 1170px;
}
.calendar_table tr {
    margin:0;
    padding:4px;
}



.playBtn  {
	margin-left: 15px;
	margin-top: 5px;
	}

.playBtn a:link, .playBtn a:visited  {
	display: block;
	position: relative;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	background: rgb(122, 80, 10);
background: -moz-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -webkit-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -o-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -ms-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: linear-gradient(180deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
border-radius: 6px;
}

.playBtn a:hover  {
background: #ECCA5C;
text-decoration: none;
}


/* Header */
.header  {
	width: 100%;
	height: auto;
	display: inline-block;
}
.headerInner  {
	margin: 0 auto;
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	text-align: center;
}
.headerInner2  {
	margin: 0 auto;
	width: 1024px;
	height: 100px;
	display: block;
	position: relative;
	text-align: center;
}
.headerJoin  {
	position: absolute;
	right: 0px;
	top: -20px;
}