.depRight3  {
	width: 400px !important;
	background: #fff !important;
	border: 1px solid #6b6b6b !important;
}

.depRight4  {
	width: 128px !important;
	background: #fff !important;
	border: 1px solid #6b6b6b !important;
}

.depRight5  {
	width: 290px !important;
	background: #fff !important;
	border: 1px solid #6b6b6b !important;
}

.midSectInner  {
	height: auto;
	position: relative;
	margin: 0px auto;
	padding: 10px;
}

.fa {
    margin-right: 5px;
}

.headerRightTable {
    color: #000 !important;
}


a:link, a:visited {
    color: #000;
	text-decoration: none !important;
}

.link1  {
background: url(../../img/profile-icon.png)no-repeat 10px center;
}

.link2  {
    background: url(../../img/password-icon.png)no-repeat 10px center;
	left: 105px;
}

.link3  {
	background: url(../../img/statement-icon.png)no-repeat 10px center;
	left: 270px;
}

.link4  {
background: url(../../img/deposit-icon.png)no-repeat 10px center;
}

.link5  {
    background: url(../../img/withdraw-icon.png)no-repeat 10px center;
	left: 115px;
}

.link6  {
	background: url(../../img/trans-icon.png)no-repeat 10px center;
	left: 240px;
}

.link7  {
	background: url(../../img/trsf-icon.png)no-repeat 10px center;
	left: 412px;
}

.link8  {
	background: url(../../img/multiple-icon.png)no-repeat 10px center;
	left: 520px;
}

.leftCol {
	float: left;
	width: 280px;
	display: block;
}
.leftCol ul {
	float: left;
	margin: 0;
	padding: 0;
}
.leftCol ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 130px;
	text-align: center;
}
.mainWallet  {
	width: 100%;
	margin: 0px 0px 10px;
	padding: 8px 0px;
	background: #AA1113;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 16px;
	font-weight: bold;
	background: url(../../img/headerBg.jpg)left center no-repeat;
	border: 1px solid #775B2B;
}

.mainWallet span  {
	display: block;
	width: 100%;
	font-size: 22px;
	color: #000;
	margin: 10px 0px 0px ;
	text-shadow: none;
}
.walletTop  {
	display: block;
	position: relative;
	width: 100%;
	height: 180px;
	margin-top: 20px;
	margin-left: 10px;
}
.wallet1  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 0px;
}
.wallet2  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 190px;
}
.wallet3  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 380px;
}
.wallet4  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 570px;
}
.wallet5  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 190px;
	height: 65px;
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	left: 760px;
}
.wallet6  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 196px;
	height: 170px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 0px;
}
.wallet7  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 196px;
	height: 170px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 190px;
}
.wallet8  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 196px;
	height: 170px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 385px;
}
.wallet9  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 196px;
	height: 170px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 580px;
}
.wallet10  {
	background: url(../../img/walletBg.png) no-repeat;
	width: 196px;
	height: 170px;
	position: absolute;
	display: block;
	text-align: center;
	top: 85px;
	left: 780px;
}

.acctContainer h2  {
	color: #EEEAB1;
	font-size: 16px;
}

.wallet_table {
	background-color: #000000;
	margin-top: 5px;
	margin-left: 0;
	margin-bottom: 10px;
	width: 100%;
}
.wallet_table table {
    border: 0 solid #333;
    width: 100%;
}
.wallet_table table td {
	border: 1px solid #EEEAB1;
	padding: 10px;
	text-align: center;
}
.wallet_table span {
    display: block;
}
.main-set {
	background-color: #EEEAB1;
	vertical-align: middle;
	width: 200px;
	color: #000 !important;
}
.main-set-title {
	color: #000;
	font-size: small;
	margin-top: 10px;
}
.main-setPrice {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main-set-title1 {
	color: #000;
	font-size: small;
}
.main-setPrice1 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main-setPriceTotal {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
.total_set {
	background-color: #EEEAB1;
}
.inlineAccMenu {
    display: block;
    height: 30px;
    padding-left: 0;
    padding-top: 3px;
    position: relative;
}
.inlineAccMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inlineAccMenu ul li {
	border: 1px solid #EEEAB1;
	background: #000;
	color: #fff;
	display: inline;
	float: left;
	height: 30px;
	line-height: 28px;
	margin-right: 10px;
}
.inlineAccMenu ul li a:link, .inlineAccMenu ul li a:visited {
	color: #fff;
	padding: 0 15px;
	text-decoration: none;
	font-size: 13px;
}
.inlineAccMenu ul li a:hover {
	background: #000 none repeat scroll 0 0;
	color: yellow;
	display: inline-block;
	text-decoration: none;
}
.title_bar {
    border-bottom: 1px solid #EEEAB1;
    display: block;
    height: 40px;
    line-height: 45px;
    margin: 15px 0 0;
    padding-left: 10px;
}
.title_bar span {
	padding: 0px 10px 0px 40px;
	position: absolute;
	color: #000;
	font-size: 13px;
	-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;
border: 1px solid #ff0000;
}

.selected1  {
	background: #ff0000 url(../../img/profile-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected2  {
	background: #ff0000 url(../../img/password-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected3  {
	background: #ff0000 url(../../img/statement-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected4  {
	background: #ff0000 url(../../img/deposit-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected4 a:link, .selected4 a:visited  {
	color: #fff !important;
}

.selected5  {
	background: #ff0000 url(../../img/withdraw-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected5 a:link, .selected5 a:visited  {
	color: #fff !important;
}

.selected6 {
	background: #ff0000 url(../../img/trans-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected6 a:link, .selected6 a:visited  {
	color: #fff !important;
}

.selected7 {
	background: #ff0000 url(../../img/trsf-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected7 a:link, .selected7 a:visited  {
	color: #fff !important;
}

.selected8 {
	background: #ff0000 url(../../img/multiple-icon-hover.png)no-repeat 10px center !important;
	color: #fff !important;
}

.selected8 a:link, .selected8 a:visited  {
	color: #fff !important;
}

.acctContent {
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 0 20px 20px;
	position: relative;
	width: 100%;
	border: 1px solid #ff0000;
	background: #fff;
}


.acctContent1 {
	display: inline-block;
	margin-bottom: 50px;
	padding: 25px 15px 20px 15px;
	position: relative;
	width: 995px;
	color: #fff;
	background: #000;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}

.wallet_title {
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 0;
}
.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #fff !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRow2 input {
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 0px;
	padding-bottom: 0;
	width: 195px;
	color: #FFFFFF;
	padding-right: 15px;
}
.acctRow2 label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 3px;
}

.acctRow3 {
    color: #000 !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
	position: relative;
}

.acctRowCT {
    color: #000 !important;
    display: block;
    font-size: 13px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
	position: relative;
}

.depSelectTxt  {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	height: 28px;
	line-height: 31px;
	background: #ff0000;
	margin-top: -4px;
	border: 1px solid #ff0000;
}

.depImg  {
	display: block;
	position: relative;
	width: 210px;
	margin: 0 auto;
}

.box1{
        padding: 10px;
        display: none;
        margin-top: 0px;
		width: 140px;
    }
    .red{ background: #d7d7d7; }
    .green{ background: #d7d7d7; }
    .blue{ background: #d7d7d7; }
	.black{ background: #d7d7d7; }

.none { display:none; }

.bkImg  {
	display: block;
	position: relative;
	width: 160px;
}

.bkOpt  {
	display: block;
	position: relative;
	width: 160px;
	margin: 0 auto;
}


.bkOpt span {
    background: #ff0000 none repeat scroll 0 0;
    display: block;
    height: 28px;
    line-height: 31px;
    margin-top: -4px;
    position: relative;
    text-align: center;
    width: 100%;
}

.depWrap  {
	border: 1px solid #ff0000;
	padding: 6px 0px 3px 6px;
}

.depWrap1 img  {
	border: 1px solid #ff0000;
}

.tp01  {
	padding-bottom: 15px;
}

.acctRow3 input {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #000;
    height: 25px;
    padding: 0 15px 0 90px;
    width: auto;
	margin: 0px;
}

.acctRow {
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	color: #000 !important;
	font-size: 13px;
	margin-left: 1px;
	padding-left: 1px;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #000;
}
.acctRow label {
	float: left;
	line-height: 25px;
	width: 180px;
	font-size: 13px;
	color: #000;
	margin-left: 3px;
}
.acctRowR input {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 25px;
}
.acctRowR td {
    padding-bottom: 5px;
	color: #000;
	font-size: 13px;
}
.acctRow input {
	background: #e1e1e1 none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 90px;
	padding-bottom: 0;
	width: 195px;
	color: #000;
	padding-right: 15px;
}
.acctRow select {
	background: #e1e1e1 none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	float: left;
	height: 25px;
	padding-top: 0;
	padding-left: 10px;
	padding-bottom: 0;
	width: auto;
	color: #000;
	padding-right: 15px;
}
input:focus {
	border: 1px solid #C0B122;
	color: #000;
}
input[placeholder] {
    color: #000;
    font-size: 11px;
}

.acctText {
    color: #000;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
	font-size: 13px;
}
.acctTextReg {
    color: yellow;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 450px;
}
.acctContent select {
    background: #E1E1E1 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #000;
    height: 25px;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}

.submitAcct {
    float: left;
    margin-left: 0px;
}
.submitAcct a:link, .submitAcct a:visited {
	background: #ec0000;
	color: #fff !important;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 0px;
}
.submitAcct a:hover {
	background: #ff0000;
	color: #fff;
}

.submitAcct5 {
    float: right;
    margin-left: 0px;
}
.submitAcct5 a:link, .submitAcct5 a:visited {
	background: #ec0000;
	color: #fff !important;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 0px;
}
.submitAcct5 a:hover {
	background: #ff0000;
	color: #fff;
}

.submitAcct6 {
    float: right;
    margin-right: 10px;
}
.submitAcct6 a:link, .submitAcct6 a:visited {
	background: #b9b8b8;
	color: #f000 !important;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 0px;
}
.submitAcct6 a:hover {
	background: #ccc;
	color: #000;
}

.submitAcct2 {
    float: left;
    margin-left: 0px;
}
.submitAcct2 a:link, .submitAcct2 a:visited {
	background: #EEEAB1;
	color: #000;
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	width: 75px;
	margin-left: 185px;
}
.submitAcct2 a:hover {
	background: red;
	color: #fff;
}

.fltLeft  {
	float: left;
	width: 750px;
}

.fltRight  {
	float: right;
	width: 200px;
	border: 1px solid #ff0000;
	margin-top: 19px;
}

.fltRight td  {
	padding: 9px 0px;
	text-align: center;
	font-size: 12px;
}

.fltRight td:first-child  {
	padding: 5px 0px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.ttl  {
	border-top: 1px solid #ff0000;
}

.amtHead  {
	display: block;
	position: relative;
	background: #ff0000;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.cstInput1 input  {
	width: 100px !important;
	float: none !important;
	margin: 0px 10px 0px 10px;
}
.cstInput1  {
	padding-left: -10px;
}
.DepContent {
	background: #fff;
	display: inline-block;
	margin-bottom: 10px;
	padding: 25px 10px 15px;
	position: relative;
	width: 985px;
	border-top: 1px solid #EEEAB1;
}
.depLeft {
    color: #808282;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 30px 20px 0;
    text-align: justify;
    width: 260px;
}
.depRight {
    float: left;
    padding-left: 0px;
	width: 730px;
}
.depLeft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.depLeft ul li {
	color: #FFFFFF !important;
	margin: 0 0 5px;
	padding: 0;
}
.depLeft p {
	margin-top: 10px;
	color: #FFFFFF;
}

.acctContent1 {
	display: inline-block;
	margin-bottom: 50px;
	padding: 25px 15px 20px 15px;
	position: relative;
	width: 995px;
	color: #000;
	background: #fff;
}

.acctContentReg {
	background: none;
	display: block;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	position: relative;
	width: 925px;
}
.mtTable table  {
	border: 1px solid #E5E5E5;
	background: #E5E5E5;
	width: 730px;
}

.mtTable table th  {
	background-color: #B13730;
	color: #fff;
	font-size: 14px;
}

.mtTable table td  {
	border-bottom: 1px solid #EEEAB1;
}

.mtTable table td input  {
	width: 100px;
	float: none !important;
}

.mtTable table td input[type='checkbox']  {
	width: 15px;
}

.mtTable table th input[type='checkbox']  {
	width: 15px;
	float: none !important;
}
.rightCol {
	float: left;
	width: 700px;
	display: block;
	margin: 0px 0px 0px 20px;
	padding: 12px 12px 12px 12px;
	color: #fff;
	font-size: 12px;
	background: url(../../img/fancybox_overlay.png)repeat;
}

.statementInput  {
	width: 100px !important;
}

.statementInput input:focus  {
	width: 100px !important;
	padding: 0px !important;
}

.deptable table  {
	width: 700px;
	border-top: 1px solid #707070 !important;
	border-left: 1px solid #707070 !important;
	border-right: 1px solid #707070 !important;
}
.deptable table th, .deptable table td  {
	border-bottom: 1px solid #707070 !important;
	border-right: 1px solid #707070 !important;
	padding: 5px !important;
}
.deptable table th:last-child, .deptable table td:last-child  {
	border-right: 0px solid #707070 !important;
}


.acctRowT input {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #f000;
    float: left;
    height: 25px;
    padding: 0 15px 0 50px;
    width: 195px;
}


.acctRowT label {
    float: left;
    line-height: 30px;
    width: 150px;
}

.acctRowS input {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #000 !important;
    float: left;
    height: 25px;
    padding: 0 15px 0 50px;
    width: 100px;
}


.acctRowS label {
    float: left;
    line-height: 30px;
    width: 143px;
}

.submitAcct3 a:link, .submitAcct3 a:visited {
    background: #eeeab1 none repeat scroll 0 0;
    color: #000 !important;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct3 a:hover {
    background: #bcad20 none repeat scroll 0 0;
    color: #fff;
}

.eleLeft {
    display: inline-block;
    float: left;
}
.eleLeft label {
    width: 100px !important;
}
.eleLeft input {
    margin-right: 10px !important;
    width: 80px !important;
	color: #000;
}
.eleLeft select {
    margin-right: 10px !important;
}

.acctRowG table {
    border: 1px solid #707070 !important;
}


.acctRowG table th {
    background-color: #000;
    border-bottom: 1px solid #d6d6d6 !important;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.acctRowG table td, .acctRowG table th {
    padding: 10px 10px 10px 0;
}

.midBottom  {
	width: 1004px;
	height: auto;
	display: inline-block;
	position: relative;
	margin-top: -10px;
	padding-top: 10px;
}
