.horseBg  {
	margin: 0 auto;
	width: 1024px;
	height: 430px;
	display: block;
	position: relative;
	background-image: url(../../img/horse-bg.png);
	background-repeat: no-repeat;
}

.horseTxt  {
	position: absolute;
	top: 100px;
	left: 0px;
	color: #ccc;
	font-size: 16px;
	width: 330px;
	height: 180px;
	line-height: 18px;
}
.horseBtn  {
	position: absolute;
	bottom: 0px;
	left: 360px;
	display: block;
}

