.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 0px auto 0px !important;
	padding: 0 !important;
	display: block;
	font-size: 12px;
	color: #fff;
}
.anmnt {
    padding: 0px 10px !important;

}
/* LC EFFECT */
#accordion {
display: block;
list-style: none;
margin: 0px;
padding: 0;
height: 434px;
overflow: hidden;
position: relative;
background: none;
}
 
#accordion li {
float: left;
border-left: 0px;
display: block;
height: 434px;
width: 150px;
padding: 0px;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
border-left: 0px solid #927801;}
 
#accordion li img {
border: none;
border-right: 0px solid #EBAF4D;
float: left;
margin: 0;
}
 
#accordion li.active {
width: 350px;
}
/* LC EFFECT */
.footer2 {
    display: block;
    height: 25px;
    position: relative;
}

.mobBg  {
	margin-top: 10px;
	display: block;
	position: relative;
	width: 1024px;
}

.mobRow  {
	display: block;
	position: relative;
	background-image: url(../../img/mobRow-bg.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 15px 0px;
}

.mobRow td  {
	padding: 2px 5px;
}