.midSectInner {
    background: url(../../img/midsect-bgsp.jpg)repeat-x top center !important;

}

.lcBox2  {
	width: 330px;
	height: 330px;
	position: relative;
    display: block;
	margin: 0px;
	cursor: pointer;
}
.lcBox3  {
	width: 330px;
	height: 330px;
	position: relative;
    display: block;
	margin: 0px;
	cursor: pointer;
}
body  {

}