@charset "utf-8";
/* Main */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.clr  {
	clear: both;
}

/* Header */
.topMenu  {
	display: block;
	position: relative;
	width: 100%;
	background-color: #cfcfcf;
	background-image: url(../../img/topmenu-bg.jpg);
	background-repeat: repeat-x;
}
.topMenuInner  {
	display: block;
	position: relative;
	width: 1024px;
	margin: 0 auto;
	padding: 7px 0px 3px;
}
.header  {
	width: 100%;
	height: auto;
	display: inline-block;
	
}
.headerInner  {
	margin: 0 auto;
	width: 1024px;
	height: 100px;
	display: block;
	position: relative;
}
.logo  {
	margin: -8px 0px 0px;
	display: inline-block;
	height: 86px;
}

.dtime  {
	display: block;
	position: relative;
	float: right;
	color: #000;
	font-size: 10px;
	margin-top: 4px;
	margin-right: 10px;
	}
.adj1  {
	display: block;
	position: relative;
	float: right
}

.adj1 img  {
	margin-left: 6px;
}
.adj2  {
	display: block;
	position: relative;
	float: left;
}
.adj3  {
	display: block;
	position: relative;
	float: left;
}
.nTit  {
	margin-left: 15px;
	color: #000;
	font-weight: bold;
	font-size: 10px;
}
.adj3 marquee  {
	margin-left: 0px;
	margin-top: 4px;
	display: block;
	font-size: 12px;
	width: 670px;

}
.headerRight  {
	margin: 0px;
	right: 120px;
	top: 20px;
	display: block;
	position: absolute;
	width: auto;
}
.headerRightTable  {
	display: block;
	position: relative;
	font-size: 13px;
	color: #fff;
	margin-right: 0px;
}

.headerRightTable table  {
	margin-top: 6px;
}
.headerRightTable table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
}
.headerRightTable table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable table td  {
	padding: 0px 3px;
}
.headerRightTable input  {
	width: 110px;
	font-size: 12px;
	padding: 0px;
	background-color: #e4e4e4;
	color: #000;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	height: 40px;
	line-height: 40px;
	border: 0px;
	text-align: center;
}

.headerRightTable input:focus  {
	box-shadow: 0 0 5px rgba(237, 30, 36, 1);
	border: 1px solid #ED1E24;
}
.vrf  {
	background-color: #000 !important;
	border: 1px solid #00102d !important;
	width: 70px !important;
	color: #fff !important;
	text-align: center;
}

.pgTit  {
	display: block;
	position: relative;
	background-image: url(../../img/pg-bg.png);
	background-repeat: repeat;
	padding-top: 5px;
	text-align: center;
	-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;

}

.pgTit1  {
	display: block;
	position: relative;
	background-image: url(../../img/tbs-tit-bg.png);
	background-repeat: repeat;
	padding-top: 5px;
	text-align: center;
	-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;

}

.pgTit2  {
	display: block;
	position: relative;
	background-image: url(../../img/asc-tit-bg.png);
	background-repeat: repeat;
	padding-top: 5px;
	text-align: center;
	-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;

}

.loginBtn  {
	margin-top: 0px;
	height: auto;
	}
.loginBtn a:link, .loginBtn a:visited  {
color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: 105px;
	display: block;
	position: relative;
	padding: 0px 0px;
	border: 1px solid #000;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
font-size: 16px;
height: 38px;
line-height: 38px;
	}
.loginBtn a:hover  {
	color: #fff;
	background: #000 !important;
}
.fp  {
	display: block;
	position: absolute;
	width: 90px;
	right: 150px;
	bottom: -18px;
}
.fp a:link, .fp a:visited  {
	color: #000;
	text-decoration: none;
}
.regBtn  {}
.regBtn a:link, .regBtn a:visited  {
	padding: 5px 12px 5px 36px;
	color: #fff;
	text-decoration: none;
	height: 31px;
	line-height: 31px;
	background: url(../../img/reg-icon.png) no-repeat left center;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	}
.regBtn a:hover  {
	color: yellow;
}
.anmnt  {
	position: relative;
	height: 37px;
	display: block;
	font-size: 10px;
	color: #fff;
	width: 100%;
	background: #000;
	padding: 10px;
}
.anmntInner  {
	width: 1024px;
	margin: 0 auto;
	background-image: url(../../img/anmnt-bg.png);
	background-repeat: no-repeat;
	background-position:top left;
	height: 37px;
	line-height: 37px;
}

.anmnt marquee  {
	padding-left: 84px;
}
.anmnt marquee:hover  {
	color: yellow;
}
.box  {
	float: left;
	margin: 5px 30px;
}
.jnCont  {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120px;
	display: block;
}
.lchat  {
	background: rgb(0, 8, 22);
background: -moz-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -webkit-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -o-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -ms-linear-gradient(90deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: linear-gradient(180deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
	width: 100px;
	height: 30px;
	margin-top: 7px;
	position: absolute;
	}
.lchat span  {
	width: 90px;
	height: 20px;
	margin: 5px 0px 0px 8px;
	background-image: url(../../img/chat-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px 0px 0px 25px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
	display: block;
}
.lchat:hover  {
	background: rgb(0, 8, 22);
background: -moz-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -webkit-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -o-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: -ms-linear-gradient(270deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
background: linear-gradient(0deg, rgb(0, 8, 22) 30%, rgb(0, 30, 85) 70%);
}
.jnNow  {
	margin-top: 40px;
}
.navContOuter  {
	width: auto;
	position: relative;
	background-color: #f03226;
	height: 45px;
	display: block;
	width: 100%;
}
.navCont  {
	position: relative;
	display: block;
	width: 1084px;
	height: 40px;
	margin: 0px auto;
	z-index: 2008;
}

.m8  {
	background-color: #b13730 !important;
}
.navCont ul  {
	margin: 0px 0px 0px 30px;
	padding: 0;
	list-style-type: none;
}
.navCont ul li  {
	margin: 0;
	padding: 0px;
	display: block;
	float: left;
	height: 45px;
	line-height: 25px;
	position: relative;
			z-index: 2025px !important;
}
.navCont ul li a:link, .navCont ul li a:visited  {
	margin: 0px 0px 0px 0px;
	padding: 8px 38px 0px 20px;
	float: left;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.navCont ul li a:hover  {
	color: yellow;
	text-decoration: none;


}
.selected  {
	color: #000 !important;
	text-decoration: none !important;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.4) !important;
	background: rgb(250, 183, 25) !important;
    background: -moz-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -webkit-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -o-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -ms-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: linear-gradient(180deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: -49px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 37px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 1009;

	
}
.navCont ul li ul li {
    background: #D8BF65;
    color: #000;
    display: block;
    z-index: 3;
	width: 100%;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #000 !important;
	font-size: 11px;
	width: 100% !important;
	margin: 0;
	padding: 0;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: #FFF224;
	border: none !important;
	font-weight: normal;
	color: #000 !important;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}
.navCont ul li ul li:hover {
    background: #000 none repeat scroll 0 0;
    z-index: 4;
	color: #EC531A;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
/* Mid sect */
.midSect  {
	width: 100%;
	height: auto;
	position: relative;
}
.m8bg  {
	background-image: url(../../img/m8Bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 20px;
}

.wftbg  {
	background-image: url(../../img/wftBg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 20px;
}
.tbsbg  {
	background-image: url(../../img/tbsBg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 20px;
}
.ascbg  {
	background-image: url(../../img/ascBg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 20px;
}
.promobg  {
	background-image: url(../../img/promobg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 20px;
}
.tncbg  {
	background-image: url(../../img/tnc_bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
        padding-top: 50px;
        height:auto;
}
.accordion-toggle img  {
	border: 1px solid #ff0000;
}

#accordion p {
	padding: 0px 20px !important;
}
.midSectInner  {
	width: 100%;
	height: auto;
	position: relative;


}
.midSectCont  {
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.hpgBar  {
	display: block;
	position: relative;
	width: 100%;
	height: 110px;
	background: url(../../img/hpgMidbg.jpg)repeat-x;
}
.bar1  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-1.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 20px;
}
.bar1:hover  {
	background-image: url(../../img/bar-1-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar1 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 72px;
}
.bar1 span:hover  {

}
.bar2  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-2.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 20px;
}
.bar2:hover  {
	background-image: url(../../img/bar-2-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar2 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 80px;
}
.bar3  {
	display: block;
	position: relative;
	float: left;
	width: 155px;
	height: 155px;
	margin-top: -25px;
	z-index: 999;
	margin-right: 20px;
}
.bar4  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-4.png);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 20px;
}
.bar4:hover  {
	background-image: url(../../img/bar-4-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar4 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 130px;
}
.bar5  {
	display: block;
	position: relative;
	float: left;
	width: 190px;
	height: 80px;
	background-image: url(../../img/bar-5.png);
	background-repeat: no-repeat;
	margin-top: 15px;
}
.bar5:hover  {
	background-image: url(../../img/bar-5-hover.png);
	background-repeat: no-repeat;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all 0.5s ease;

}
.bar5 span  {
	font-family: 'Changa One', cursive;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
	margin-left: 100px;
}
.hpgBarBtm  {
	display: block;
	position: relative;
	width: 100%;
	height: 50px;
}
.hpgBarBtmInner  {
	display: block;
	position: relative;
	width: 696px;
	height: 50px;
	margin: 0 auto;
	background-image: url(../../img/barBtmBg.png);
	background-repeat: no-repeat;
}
.hpgBarInner  {
	display: block;
	position: relative;
	width: 1024px;
	height: auto;
	margin: 0 auto;
}
.mobDl  {
	display: block;
	position: absolute;
	left: 50px;
	top: 10px;
	background: url(../../img/mobDL.png)left center no-repeat;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 13px;
	padding: 1px 0px 0px 30px;
}
.mobDl a:link, .mobDl a:visited  {
	text-decoration: none;
	color: #000 !important;
}
.mobDl a:hover  {
	color: yellow !important;
}
.promoDl  {
	display: block;
	position: absolute;
	right: 50px;
	top: 10px;
	background: url(../../img/promoDl.png)right center no-repeat;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	padding: 1px 30px 0px 0px;
	height: 25px;
}
.promoDl a:link, .promoDl a:visited  {
	text-decoration: none;
	color: #000 !important;
}
.promoDl a:hover  {
	color: yellow !important;
}

.bx01:hover  {
	background: #E4E4E4;
	border: 1px solid #E4E4E4;
}

.bx01  {
	display: block;
	position: relative;
	width: 260px;
	height: 75px;
	border: 1px solid #464646;
	padding: 10px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.bx1:hover  {
	background: #E4E4E4;
	border: 1px solid #E4E4E4;
}

.thumb1  {
	display: block;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

.nospace  {
	margin-right: 0px !important;
}

.bx1  {
	display: block;
	position: relative;
	width: 260px;
	height: 75px;
	border: 1px solid #464646;
	padding: 10px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
	float: left;
	margin-right: 10px;
	margin-top: 15px;
}
.bx1 ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.bx1 ul li  {
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.bx1 ul li a:link, .bx1 ul li a:visited  {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0px 0px 0px 35px;
}
.bx1 ul li a:hover  {
	color: yellow !important;
}
.bx2  {
	display: block;
	position: relative;
	float: left;
	margin-right: 0px;
}
.bx2 ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.bx2 ul li  {
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.bx2 ul li a:link, .bx2 ul li a:visited  {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	padding: 0px 0px 0px 35px;
}
.bx2 ul li a:hover  {
	color: yellow !important;
}
.img08  {
	float: left;
}
.bxTxt  {
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}
.bxTxt span  {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
.email  {
	background: url(../../img/email-icon.png)no-repeat left center;
}
.tel  {
	background: url(../../img/tel-icon.png)no-repeat left center;
}
.sliderCont  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -0px;

}
.sliderContInner  {
	width: 1024px;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding: 15px 0px;
}

.txt1  {
	font-weight: bold;
	font-size: 17px;
	color: #f68a84;
}

.txt2  {
	font-weight: bold;
	font-size: 15px;
	color: #6e6e6e;
	margin-top: 3px;
}

.txt3  {
	font-weight: normal;
	font-size: 14px;
	color: #6e6e6e;
	margin-top: 3px;
}

.midSectCont h3  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	margin: 0px 0px;
}

.hpgSelection  {
	width: 1020px;
	margin-right: 0px;
	display: inline-block;
	padding-left:20px;
}
.stepsContainer  {
	margin: 10px 0px;
}
.imgLeft  {
	position: absolute;
	left: -440px;
	top: -20px;
	display: block;
	width: 478px;
	height: 392px;
	background-image: url(../../img/imgLeft.png);
	background-repeat: no-repeat;
	background-position: center;
}
.imgRight  {
	position: absolute;
	right: -440px;
	top: -20px;
	display: block;
	width: 478px;
	height: 392px;
	background-image: url(../../img/imgRight.png);
	background-repeat: no-repeat;
	background-position: center;
}
.LCbox {
	float: left;
	margin-right: 33px;
    height:230px;
    width: 230px;
    overflow: hidden;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 background-position: center;   
}
.LCbox:hover {
	z-index: 1001;
   -webkit-animation: animatedBackground 0.2s ease-out 1;
   -moz-animation: animatedBackground 0.2s ease-out 1;
		animation: animatedBackground 0.2s ease-out 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
}

	@-webkit-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	
	
	@-moz-keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
	@keyframes animatedBackground {
		0% {
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1)
		}
		100% {
		-webkit-transform: scale(1.3, 1.3);
		-moz-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		-o-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3)
		}

	}
/* Footer*/
.footer  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

}
.footerInner  {
	width: 1004px;
	margin: 0 auto;
	padding: 20px 10px 20px;
	height: auto;
	display: block;
}
.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 85px;
}
.footerCol h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 210px;
}
.footerCol3 h2  {
	margin: 0px 0px 10px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footerBottom  {
	margin-top: 0px;
	text-align: center;
	display: block;
	position: relative;
}
.footerBottom span  {
	width: 275px;
	display: block;
	position: relative;
	font-size: 11px;
	color: #fff;
	float: left;
	text-align: left;
	margin-top: 20px;
}

.brow  {
	width: 275px;
	display: block;
	position: relative;
	font-size: 11px;
	color: #fff;
	float: right;
}

.brow table  {
	float: right;
}
.line {
    background: #363636 none repeat scroll 0 0;
    clear: both;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}
.boxP  {
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
}

/* Footer*/
.footer1  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background: #414141;
	border-bottom: 5px solid #f03226;
}
.footerInner1  {
	width: 1004px;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	display: block;
	position: relative;
}

.footerInner table  {

	margin-left: 50px;
	margin-top: 10px;

}

.footerInner td  {

	padding: 0px 10px;

}

.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 305px;
}
.footTxt  {
	font-size: 12px;
	color: #fff;
}
.footerCol h2  {
	margin: 0px 0px 10px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 300px;
}
.footerCol3 h2  {
	margin: 0px 0px 7px 0px;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footer2  {
	position: relative;
	display: block;
	height: 50px;
}

.footer2 ul  {
	margin: 0;
	padding: 0px 40px 0px 0px;
	float: right;
}
.footer2 ul li  {
	float: left;
	display: inline;
}
.footer2 ul li a:link, .footer2 ul li a:visited  {
	text-decoration: none;
	color: yellow;
	font-style:italic;
	font-weight: bold;
	font-size: 11px;
	padding-left: 10px;
}
.footer2 ul li a:hover {
	text-decoration: none;
	color: #fff;
}
.mobileWrap  {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.mobileWrapInner {
	margin: 0 auto;
	width: 1024px;
}

.mobBg  {
	width: 250px;
	height: 464px;
	position: relative;
	display: block;
}
.mobSect1  {
	text-align: center;
}
.mobSect2  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	background: #000;
}
.mobSect3  {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	color: #fff;
	font-size: 11px;
}
.mobSect4  {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}

.center  {
	width: 100%;
	text-align: center;
}

.msgBox1 {
	background: none;
	display: block;
	position: relative;
	height: 300px;
	margin: 0 auto 20px;
	padding-top: 150px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 180px;
	width: 450px;
}
.msgBox1 p {
    color: yellow;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excl {
	color: #444;
	display: block;
	margin-top: -3px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8px;
	text-align: center;
	padding-top: 0px;
}

#container404 {
    float:center;
    width:1024px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#colE1 {
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	right: 41px;
	padding-left: 300px;
	padding-top: 69px;
	font-size: 95px;
	height: 246px;
    color: yellow;
}
#colE2 {
	float: left;
	padding-top: 94px;
	font-size: 25px;
 color: yellow;
}

#containerbank {
	float: center;
	width: 1024px;
}
#colb1 {
	float: left;
	width: 20%;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	text-align: center;
}
#colb2 {
	float: left;
	width: 20%;
	text-align: center;
}
#colb3 {
	float: left;
	width: 20%;
	text-align: center;  

}
#colb4 {
	float: left;
	width: 20%;
	text-align: center;

}
#colb5 {
	float: left;
	width: 20%;
	text-align: center;
}

.footerCol5  {
	display: block;
	position: relative;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 100%;
	text-align: center;
}
.footerCol5 table  {
	width: 750px;
	margin: 0 auto 15px;
	
}
.footerCol5 h2  {
	margin: 0px 0px 5px 0px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

.footerCol6  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 15px;
	width: 440px;
}
.footerCol6 h2  {
	margin: 0px 0px 5px 0px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

button  {
background: #2E2703 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff !important;
    float: right;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    overflow: visible;
    padding: 7px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: auto;
}

a:link, a:visited {
    color: #fff ;
}

#container404 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    width: 1024px;
	height: 300px;
	display: block;
}
#colE1 {
    box-shadow: 0 0 0;
    color: yellow;
    float: left;
    font-size: 95px;
    height: 246px;
    padding-left: 300px;
    padding-top: 69px;
    right: 41px;
}
#colE2 {
    color: yellow;
    float: left;
    font-size: 25px;
    padding-top: 94px;
}
#containerbank {
    width: 1024px;
	z-index: 1000;
	position: relative;
	display: block;
	height: auto;
	padding-top: 60px;
}
table.bankingtable {
    border-collapse: collapse;
    border-color: #EFE898;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #EFE898;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #EFE898;
    border-style: solid;
    border-width: 1px;
    width: 1024px;
	font-size: 14px;
	color: #fff;
	padding: 3px 0px;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}

.midSectInner h2  {
	color: #000;
	font-size: 16px;
}

.midSectInner p  {
	color: white;
}

.midSectInner ul li  {
	color: #fff;
	font-size: 12px;
}

.midSectInner2 h2  {
	color: #000;
	font-size: 16px;
}

.midSectInner2 p  {
	color: black;
}

.midSectInner2 ul li  {
	color: black;
	font-size: 12px;
}


.midSectInner2 h5 {
    color: #f1d97b;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 10px;
    padding: 8px 8px 8px 0;
}

.title {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.contactTitle {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contactTitle span {
    color: #fff;
    float: right;
    font-style: normal;
    margin-right: 200px;
    text-transform: none;
}
.contactRight table td {
    color: #fff;
    padding-right: 10px;
}
.contactRight table {
    margin-bottom: 10px;
    margin-top: 10px;
}
.contactContent {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-style: italic;
}
.contactContent span {
    float: left;
    margin-right: 15px;
}
.contactRight {
    height: auto;
    margin: 0 0 0 60px;
    width: 400px;
}
.contactLeft {
    margin-left: 120px;
}
.contactWrap {
    background: rgba(0, 0, 0, 0) url("../../img/contactBg.png") repeat scroll 0 0;
    padding-top: 10px;
}

.midContf {

    color: #000;
    display: block;
    padding: 10px;
    position: relative;
}

.submitB a:link, .submitB a:visited {
    background: #ec0000 none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitB a:hover {
    background: #ff0000 none repeat scroll 0 0;
    color: #fff;
}

.midContf p {
    font-size: 14px;
}
.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}
.acctContentReg label {
    width: 150px !important;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}
.acctRow {
    color: #fff !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
}

.acctRow input {
    display: block;
    position: relative;
	padding: 3px;
	background: #EDEDED;
	border: 1px solid #EDEDED;
}


.acctContentReg label {
    width: 150px !important;
}
.acctRow label {
    color: #000;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}

.submitAcct a:link, .submitAcct a:visited {
    background-image: url("../../img/submit-bg.jpg");
    background-repeat: repeat-x;
    border: 1px solid #DCD198;
    color: #ffffff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #ffae00 none repeat scroll 0 0;
    color: #ffffff;
}
.otherPg {
    color: #000;
    display: block;
    font-size: 12px;
    height: auto;
    padding: 10px;
    width: 1004px;
}

#crossfade {
position:relative;
}
#crossfade img {
	width: 190px;
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: auto;
	height: 480px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 0px 10px 0px;
	cursor: pointer;
}
.lc1  {
	float: left;
	display: block;
	position: relative;
	width: 190px;
	margin-right: 12px;
	margin-left: 0px;
	margin-top: 40px;
}
.lc2  {
	float: left;
	display: block;
	position: relative;
	width: 330px;
	margin-left: 100px;
	margin-top: 150px;
	margin-bottom: 50px;
}
.lc3  {
	float: right;
	display: block;
	position: relative;
	width: 330px;
	margin-right: 50px;
	margin-top: 150px;
	margin-bottom: 50px;
}
.lc4  {
	float: left;
	display: block;
	position: relative;
	width: 330px;
	margin-left: 100px;
	margin-top: 60px;
	margin-bottom: 50px;
}
.lc5  {
	float: right;
	display: block;
	position: relative;
	width: 330px;
	margin-right: 50px;
	margin-top: 60px;
	margin-bottom: 50px;
}
.tiTle  {
	display: block;
	position: absolute;
	width: 261px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	right: 0px;
	background: url(../../img/title-bg.png)no-repeat center center;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 28px;
}
.iStit  {
	width: 100%;
	display: block;
	text-align: center;
	top: 40px;
	position: relative;
}
.spCont  {
	margin-top: 70px;
	margin-bottom: 20px;
}
.slotTop  {
	width: 1024px;
	height: 300px;
	display: block;
	position: relative;
	padding-top: 117px;
}
.slotJP  {
	display: block;
	position: absolute;
	width: 427px;
	height: 98px;
	background:url(../../img/pjackpot-bg.png)no-repeat;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	line-height: 120px;
	text-align: center;
	top: 20px;
}
.slotLeft  {
	float: left;
	display: block;
	position: relative;
}
.slotLeft img  {
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.slotRight  {
	float: left;
	display: block;
	position: relative;
}
.sTop  {
	display: block;
	position: relative;
	margin-top: 5px;
}

.sTop img  {
	-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.join  {
	position: absolute;
	display: block;
	right: 0px;
	top: 24px;
	
}

.join a:link, .join a:visited  {
	color: #ff0000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: 105px;
	display: block;
	position: relative;
	padding: 5px 5px;
	border: 1px solid #ff0000;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
font-size: 14px;
}

.join a:hover  {
	border: 1px solid #ff0000;
	background: #ff0000;
	color: #fff;
}

.code input  {
	width: 60px !important;
}
.mobHead  {
	margin-left: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mobBx1  {
	position: relative;
	display: block;
	float: left;
	width: 500px;
	height: auto;
	margin-left: 20px;

}
.noMar  {
	margin-left: 0px !important;
}
.top10  {
	margin-top: 20px !important;
}
.mobBx1 span {
	display: block;
	position: relative;
	text-align: center;
	width: 500px;
	height: auto;
	color: #fff;
	font-size: 12px;
	padding: 3px 0px;
}
.underl  {
	text-decoration: underline;
}
.mobRt  {
	position: relative;
	display: inline-block;
	float: right;
	width: 120px;
	height: 170px;
	margin-right: 8px;
}
.mobBx1inner {
	position: relative;
	display: block;
	background: url(../../img/mob-bg.png)repeat;
	width: 480px;
	height: auto;
	padding: 10px;
}
.mobMxb  {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	width: 200px;
}
.mob1  {
	display: block;
	position: relative;
		text-align: center;
	font-size: 14px;
	text-decoration: underline;
	padding: 3px 0px;
	color: #fff;
}
.mobBtn  {
	width: 90px;
	height: 35px;
	display: block;
	position: relative;
	background: url(../../img/mobBtn.png)no-repeat;
	margin-left: 0px;
	font-size: 14px;
	padding-left: 35px;
	color: #000;
	line-height: 27px;
}
.mobBtn a:link, .mobBtn a:visited  {
	color: #000 !important;
}
.mobBtn1  {
	width: 90px;
	height: 35px;
	display: block;
	position: relative;
	background: url(../../img/mobBtn2.png)no-repeat;
	margin-left: 0px;
	font-size: 14px;
	padding-left: 35px;
	color: #000;
	line-height: 27px;
}
.mobBtn1 a:link, .mobBtn1 a:visited  {
	color: #000 !important;
}
.ctBg  {
	width: 1024px;
	height: 450px;
	display: inline-block;
	position: relative;
	background:url(../../img/contact-bg.jpg)no-repeat;
	margin-top: 60px;
	margin-bottom: 20px;
}
.ctBox  {
	width: 395px;
	height: 380px;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	background: url(../../img/ctbg.png)repeat;
	padding: 15px;
	color: #fff;
}
.ctTit  {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	font-weight: bold;
	color: yellow;
	font-size: 22px;
}
.ct1  {
	margin-top: 15px;
}

.ct2  {
	margin-top: 15px;
}

.ct2 td:nth-child(odd)  {
	padding: 10px 2px;
	background: url(../../img/ctbg.png)repeat;
}

.ct2 tr:nth-child(even)  {
	background: none !important;
}

.ct2 td:nth-child(1)  {
	width: 100px;
}

.ct2 td:nth-child(2)  {
	width: 20px;
	background: url(../../img/ctbg.png)repeat;
}

.ct2 td:nth-child(3)  {
	width: 200px;
}
.welc  {
	width: 120px;
}
.welc1  {
	width: 68px;
}


.slide-out-div1 {
        padding: 10px;
        width: 200px;
        background: #510303;
		height: 410px !important;
		margin-top: 2px;
    }
	
		.ct-bx td {
		padding: 5px 3px;
    }
	
	.emailContainer  {
		background-color: #363636;
		background-image: url(images/email-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	
	.telContainer  {
		background-color: #363636;
		background-image: url(images/tel-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	.wcContainer  {
		background-color: #363636;
		background-image: url(images/wechat-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding: 8px 0px 8px 35px;
		display: block;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
		font-size: 12px;
		margin: 15px 0px 0px;
		color: #fff;
	}
	
	.floatSpace  {
		width: 100%;
		text-align: center;
	}
	
	.click  {
		margin-top: 12px;
	}
	
	.slide-out-div {
		padding: 0px;
        width: 200px;
        background: #ed3226 url(../../img/ct-bg.png)no-repeat bottom;
		height: 330px !important;
		margin-top: 2px;
    }

	
	.ct-bx  {
		color: #fff;
		font-size: 12px;
	}
	
	.ct-qr  {
		margin-left: 40px;
		margin-top: 20px;
	}

 .footer1 ul {
    display: block;
    margin: 10px 0 0 -8px;
    padding: 0;
	float: left;
	font-size: 12px;
}


.footer1 ul li {
    border-right: 1px solid #fff;
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer1 ul li a:link, .footer1 ul li a:visited {
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
}

.scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
}

.scroll-wrapper iframe {
	/* nada! */
}
