#go { margin: 0 auto; }

#lean_overlay {
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9900;
}
.modal_close {
    background: rgba(0, 0, 0, 0) url("../../img/modal_close.png") repeat scroll 0 0;
    display: block;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 14px;
    z-index: 9990;
}