/*new command*/

@media (min-width: 320px) and (max-width:1023px) {
.bdLeft  {
	border-left: 0px solid #FDE35B;
}
}

@media (min-width: 320px) and (max-width:1024px) {
	.scrollOut {
    display: block;
    overflow: scroll !important;
    width: 100%;
}
.scrollBar {
    display: block;
    padding: 10px 0;
    width: 2330px !important;
}
.scrollItem {
    display: block;
    float: left;
    margin-right: 8px;
    padding: 0 0 8px;
}
.marAdj01Left {
    color: #f4e485;
    display: block;
    left: 0;
    margin-right: 0;
    padding: 0;
    position: absolute;
    top: 32px;
}

.scrollItem {
    display: block;
    float: left;
    margin-right: 8px;
    padding: 0 0 8px;
}
.marAdj01Right {
    color: #f4e485;
    display: block;
    margin-right: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 32px;
}
}

@media (min-width: 320px) and (max-width:640px) {
	.hid1  {
		display: none;
	}
	
	.ab2  {
		margin-top: 0px !important;
}
#fD_table {
    margin: 0 auto 20px;
}
.acctM  {
	display: block;
}
}

@media (min-width: 320px) and (max-width:980px) {

.ml01  {
	margin-left: 0px;
}
}


@media (min-width: 320px) and (max-width:1024px) {
	.amRight  {
		float: left;
	}
	.goLeft  {
		text-align: left !important;
	}
	.navbar-default {
    background: #000 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav li a {
    font-weight: 600;
    transition: all 0.4s ease-out 0s;
	background: #000;
}
.navbar-default .navbar-nav li {
    border-bottom: 1px solid #252525;
    margin: 0;
}
.navbar-default .navbar-nav .dropdown-menu li a:not(.btn) {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #343331;
    display: block;
    font-size: 13.5px;
    height: auto;
    line-height: 1.2;
    margin: 0;
    padding: 8px;
    position: relative;
    text-transform: none;
}
.logMob  {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}
.mobLogin  {
	display: block;
	height: 20px;
	width: 20px;
	float: right;
	font-size: 16px;
	margin-left: 10px;
}
.abc  {
	height: 33px;
	line-height: 33px;
}
.modal-header  {
	background: #518D19;
	color: #fff;
}
.modal-footer  {
	background: #518D19;
}

.modal-footer a:link, .modal-footer a:visited  {
	color: #fff;
	text-decoration: none;
}
.block.block-pd-sm {
    padding: 1em 0;
}
}

@media (min-width: 320px) and (max-width:680px) {
.mobLang  {
	display: block;
	float: right;
}
.mobLang img  {
	display: block;
	float: right;
}
.logLink  {
	display: none;
}
}

@media (min-width: 320px) and (max-width:359px) {
.text-1  {
	color: yellow;
	font-weight: bold;
	font-size: 60px;
	text-align: right;
}

.text-2  {
	color: yellow;
	font-size: 14px;
	border-left: 1px solid yellow;
}
.mt05  {
	margin-top: 70px;
}
.fult  {
	width: 100% !important;
}
.cde1 label {
    width: 120px;
}

.cde1 input {
    width: 50%;
}

.cde1 select {
    width: 50%;
}

.cde2 select  {
	width: 30% !important;
	margin-right: 5px;
}

.men1  {
	margin-top: 5px;
}
	.horseTit  {
	left: 4%;
	top: 30%;
}
  .logWrap {
    background: #000 none repeat scroll 0 0;
    border-radius: 6px;
    display: block;
    float: right;
    padding: 8px;
    width: 290px;
	margin-top: 10px;
}
.loginD {
    display: none;
}
.logSep1  {
	background: none;
}
.dateT {
    float: left;
}
.jpCounter  {
	display: block;
	position: absolute;
	bottom: 15px;
	left: 60px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 202px;
	height: 28px;
	line-height: 28px;
	text-align: left;
}
.mt01  {
	margin-top: 15px;
}
}

@media (min-width: 360px) and (max-width:479px) {
	.text-1  {
	color: yellow;
	font-weight: bold;
	font-size: 60px;
	text-align: right;
}

.text-2  {
	color: yellow;
	font-size: 14px;
	border-left: 1px solid yellow;
}
.mt05  {
	margin-top: 70px;
}
.fult  {
	width: 100% !important;
}
.cde1 label {
    width: 120px;
}

.cde1 input {
    width: 50%;
}

.cde1 select {
    width: 50%;
}

.cde2 select  {
	width: 30% !important;
	margin-right: 5px;
}

.men1  {
	margin-top: 5px;
}
	.horseTit  {
	left: 8%;
	top: 30%;
}
.logWrap {
	border-radius: 6px;
    width: 330px;
	margin-top: 10px;
}
.loginD {
    display: none;
}
.logSep1  {
	background: none;
}
.dateT {
    float: left;
}
.jpCounter {
    bottom: 17px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    left: 65px;
    line-height: 32px;
    position: absolute;
    text-align: left;
    width: 232px;
}
.mt01  {
	margin-top: 15px;
}
}

@media (min-width: 480px) and (max-width:639px) {
.cde1 label {
    width: 120px;
}

.cde1 input {
    width: 50%;
}

.cde1 select {
    width: 50%;
}

.cde2 select  {
	width: 30% !important;
	margin-right: 5px;
}

.men1  {
	margin-top: 5px;
}
	.horseTit  {
	left: 18%;
	top: 40%;
}
.logWrap {
	border-radius: 6px;
    width: 450px;
	margin-top: 10px;
}
.loginD {
    display: none;
}
.logSep1  {
	background: none;
}
.dateT {
    float: left;
}
.jpCounter {
    bottom: 25px;
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 42px;
    left: 85px;
    line-height: 42px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 15px;
}
}

@media (min-width: 640px) and (max-width:1024px) {
	.horseTit  {
	left: 28%;
	top: 50%;
}
.logWrap {
	border-radius: 6px;
    width: 100%;
	margin-top: 10px;
}
.loginD {
    display: none;
}
.logSep1  {
	background: none;
}
.dateT {
    float: left;
}
}

@media (min-width: 640px) and (max-width:767px) {
	.horseTit  {
	left: 35%;
	top: 50%;
}
	.jpCounter {
    bottom: 32px;
    color: #fff;
    display: block;
    font-size: 35px;
    font-weight: bold;
    height: 55px;
    left: 105px;
    line-height: 55px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 15px;
}
.loginD {
    display: block;
    float: right;
    margin-top: 6px;
}
}

@media (min-width: 768px) and (max-width:799px) {
	.jpCounter {
    bottom: 18px;
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 35px;
    left: 68px;
    line-height: 35px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 0px;
}
.loginD {
    display: block;
    float: right;
    margin-top: 6px;
}
}

@media (min-width: 800px) and (max-width:979px) {
	.jpCounter {
    bottom: 18px;
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 35px;
    left: 68px;
    line-height: 35px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 0px;
}
.loginD {
    display: block;
    float: right;
    margin-top: 6px;
	width: 100%;
}
}

@media (min-width: 980px) and (max-width:1023px) {
	.loginD {
    display: block;
    float: right;
    margin-top: 6px;
	width: 100%;
}

.elc  {
	float: right;
}

.abcd  {
		float: right !important;
	}

	.jpCounter {
    bottom: 18px;
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 35px;
    left: 68px;
    line-height: 35px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 0px;
}
}

@media (min-width: 1024px) and (max-width:1025px) {
	.abcd  {
		float: right !important;
	}
	
	.loginD {
    display: block;
    float: right;
    margin-top: 6px;
}
.jpCounter {
    bottom: 24px;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    left: 83px;
    line-height: 45px;
    position: absolute;
    text-align: left;
    width: 310px;
}
.mt01  {
	margin-top: 0px;
}
.horseTit  {
	left: 40%;
	top: 50%;
}
}

@media (min-width: 320px) and (max-width:1023px) {
.ab1  {
	display: none;
}
.jn  {
	display: none;
}
}

/*new command*/


@media (min-width: 768px) {
	
	.social-media  {
		margin-top: 20px;
	}
  .social-media.social-media-inline {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.social-media a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 3px;
  
}
.social-media a i {
  border: 2px solid #ff5821;
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}
.social-media a:hover {
  text-decoration: none;
  color: #000;
}
.social-media a:hover i {
  border-color: #ffffff;
}
.social-media.social-media-stacked a {
  background: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block;
  color: #ff5821;
  text-align: left;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.social-media.social-media-stacked a:hover {
  color: white !important;
}
.social-media.social-media-stacked a i {
  display: inline-block;
  margin-right: 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  color: white;
  border-color: white;
  border-width: 3px;
  line-height: 23px;
  width: 26px;
  height: 26px;
}

.item-slider {
  overflow: hidden;
}

@media (min-width: 960px) {
  .item-slider {
    height: 380px;
  }
}

@media (min-width: 769px) and (max-width:959px) {
  .item-slider {
    height: 580px;
  }
}

@media (max-width: 768px) {
  .item-slider {
    height: 300px;
  }
}

.owl-carousel .owl-controls {
  margin: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  text-indent: 0;
  font-size: 0;
  background: #343331;
  width: 40px;
  height: 75px;
  line-height: 75px;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  top: 50%;
  margin-top: -75px;
  right: 0;
  left: auto;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
}
.owl-carousel .owl-controls .owl-buttons div:before {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 32px;
}
.owl-carousel .owl-controls .owl-buttons div.owl-prev {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  left: 0;
  right: auto;
}
.owl-carousel .owl-controls .owl-buttons div.owl-prev:before {
  content: '\f104';
}
.owl-carousel .owl-controls .owl-buttons div:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.owl-carousel:hover .owl-controls .owl-buttons div {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.owl-carousel .owl-controls .owl-pagination {
  bottom: 10px;
  right: 5px;
  width: auto;
  position: absolute;
}
.owl-carousel .owl-controls .owl-pagination .owl-page span {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  opacity: 1;
  filter: alpha(opacity=100);
  height: 16px;
  width: 16px;
  border: 2px solid #ff5821;
  background: transparent;
  margin: 2px 4px;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
}
.owl-carousel .owl-controls .owl-pagination .owl-page.active span {
  background: #ff5821;
}
.item-slider .item-caption {
  padding: 2em;
}
@media (min-width: 992px) {
  .item-slider .item-caption {
    padding: 0;
  }
}
.item-carousel .item {
  display: block;
  float: left;
  padding: 0 5px;
}
.item-carousel .item-details {
  padding: 1em;
  background: #f3f3f3;
  border-bottom: 1px solid #bfbfbf;
}
.item-carousel .item-details .item-title {
  font-weight: 600;
}
.item-carousel .item-details .item-title a {
  color: #343331;
}
.item-carousel.owl-carousel .owl-controls .owl-buttons div {
  background-color: #ff5821;
}
.date-wrapper {
  color: #ffffff;
  text-align: center;
  margin: 0 0 1em 0;
  border-bottom: 2px solid #e5e5e5;
  width: 40px;
  font-size: 16px;
  display: block;
}
.date-wrapper .date-m {
  padding: 2px;
  text-transform: uppercase;
  font-weight: 100;
  background: #ff5821;
  font-size: 11px;
  line-height: 1;
  display: block;
}
.date-wrapper .date-d {
  font-size: 16px;
  line-height: 1;
  padding: 4px 0;
  background: #ffffff;
  color: #343331;
  display: block;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #e34619;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: block;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  color: white;
}
.overlay-wrapper .overlay.on {
  top: 0;
}
.overlay-wrapper .overlay .overlay-content {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay {
  top: 0;
}
.map-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.map-wrapper .btn-map {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.panel-pricing {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 0;
  background: #ededed url(../../img/bg_noise-bg.png) left top repeat;
  -webkit-box-shadow: 1px 1px 5px #d5d5d5;
  -moz-box-shadow: 1px 1px 5px #d5d5d5;
  box-shadow: 1px 1px 5px #d5d5d5;
}
.panel-pricing .panel-heading {
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
}
.panel-pricing .panel-title {
  font-weight: 600;
  text-transform: uppercase;
}
.panel-pricing .panel-title em {
  text-transform: none;
  font-weight: 100;
}
.panel-pricing .panel-pricing-price {
  text-shadow: none;
  color: #b5b5b5;
  background: #6b7175;
  text-align: center;
  padding: 15px 0 10px 0;
  font-weight: 100;
  vertical-align: text-top;
  margin: 0;
  font-weight: 14px;
}
.panel-pricing .panel-pricing-price .digits {
  font-size: 40px;
  color: #ffffff;
}
.panel-pricing .panel-body {
  background-color: white;
}
.panel-pricing .panel-pricing-popular {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  color: #ff5821;
  padding: 1px 5px 1px 0;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.panel-pricing .panel-pricing-popular i {
  font-size: 12px;
}
.panel-pricing.panel-pricing-highlighted {
  -webkit-box-shadow: 1px 2px 5px #d5d5d5;
  -moz-box-shadow: 1px 2px 5px #d5d5d5;
  box-shadow: 1px 2px 5px #d5d5d5;
}
.panel-pricing.panel-pricing-highlighted .panel-pricing-price {
  background: #212324;
  padding: 25px 0 20px 0;
}
.stat {
  padding: 30px;
  border: 2px solid #ff5821;
  font-size: 62px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.stat small {
  font-size: 14px;
  display: block;
}
.text-primary {
  color: #ff5821;
}
.bg-primary {
  background-color: #ff5821;
}
.popover-title {
  font-size: 16px;
  font-weight: bold;
}
.popover-content {
  font-size: 12px;
  font-weight: normal;
}
.page-header small {
  font-size: 18px;
  display: block;
}
.jumbotron {
  border-radius: 0;
}
.text-fancy {
  font-family: serif;
  font-style: italic;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-weight-light {
  font-weight: 100 !important;
}
.text-weight-strong {
  font-weight: bold !important;
}
.text-shadow-white {
  text-shadow: 1px 1px 0 #ffffff;
}
@media (min-width: 768px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-left-sm {
    text-align: left !important;
  }
  .text-right-sm {
    text-align: right !important;
  }
}
@media (min-width: 992px) {
  .text-center-md {
    text-align: center !important;
  }
  .text-left-md {
    text-align: left !important;
  }
  .text-right-md {
    text-align: right !important;
  }
}
@media (min-width: 1200px) {
  .text-center-lg {
    text-align: center !important;
  }
  .text-left-lg {
    text-align: left !important;
  }
  .text-right-lg {
    text-align: right !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
}
h1,
.h1 {
  font-size: 50.4px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
h1.h-lg,
.h-lg h1,
.h-lg .h1,
.h-lg.h1 {
  font-size: 72px;
}
h2.h-lg,
.h-lg h2,
.h-lg .h2,
.h-lg.h2 {
  font-size: 54px;
}
h3.h-lg,
.h-lg h3,
.h-lg .h3,
.h-lg.h3 {
  font-size: 38.400000000000006px;
}
h4.h-lg,
.h-lg h4,
.h-lg .h4,
.h-lg.h4 {
  font-size: 25.2px;
}
h5.h-lg,
.h-lg h5,
.h-lg .h5,
.h-lg.h5 {
  font-size: 16.8px;
}
h6.h-lg,
.h-lg h6,
.h-lg .h6,
.h-lg.h6 {
  font-size: 13.200000000000001px;
}
h1.h-xlg,
.h-xlg h1,
.h-xlg .h1,
.h-xlg.h1 {
  font-size: 122.39999999999999px;
}
h2.h-xlg,
.h-xlg h2,
.h-xlg .h2,
.h-xlg.h2 {
  font-size: 84px;
}
h3.h-xlg,
.h-xlg h3,
.h-xlg .h3,
.h-xlg.h3 {
  font-size: 62.400000000000006px;
}
h4.h-xlg,
.h-xlg h4,
.h-xlg .h4,
.h-xlg.h4 {
  font-size: 43.199999999999996px;
}
h5.h-xlg,
.h-xlg h5,
.h-xlg .h5,
.h-xlg.h5 {
  font-size: 30.800000000000004px;
}
h6.h-xlg,
.h-xlg h6,
.h-xlg .h6,
.h-xlg.h6 {
  font-size: 25.200000000000003px;
}
ul.big-list {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
ul.big-list li {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid #eee;
}
ul.big-list li:hover {
  background: #ededed;
}
ul.list-dotted {
  padding: 0 30px 20px 30px;
  margin: 0;
}
ul.list-dotted li {
  padding: 0.2em;
  list-style: none;
}
ul.list-dotted li:before {
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 6px;
  color: #ff5821;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
blockquote {
  border: none;
  padding: 0;
  margin: 1em 0 0 0;
  position: relative;
  background: url(../../img/bg_blockquote.png) left top no-repeat;
}
blockquote:before,
blockquote:after {
  content: " ";
  display: table;
}
blockquote:after {
  clear: both;
}
blockquote p {
  padding: 0 1em 1em 160px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.55;
}
blockquote img {
  position: absolute;
  bottom: 0;
  left: 50px;
  max-width: 120px;
}
blockquote small {
  display: block;
  padding: 10px;
  padding-left: 160px;
  background: #6b7175;
  color: #d0d3d4;
}
blockquote small:before {
  content: ' ';
}
blockquote small strong,
blockquote small .spacer {
  color: #ffffff;
  font-size: 15px;
}
blockquote small a {
  color: #d0d3d4;
}
blockquote small a:hover {
  color: #d0d3d4;
}
blockquote.right {
  background: url(../../img/bg_blockquote-flipped.png) right top no-repeat;
}
blockquote.right p {
  padding: 0 160px 1em 1em;
}
blockquote.right img {
  left: auto;
  right: 50px;
}
blockquote.right small {
  padding-right: 180px;
  text-align: right;
  padding-left: 0;
}
.bg-noise {
  background: #ededed url(../../img/bg_noise-bg.png) left top repeat;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
}
a {
  color: #ff5821;
}
a:hover {
  color: #ff5821;
}
#background-wrapper {
  padding-bottom: 0;
}
.benches {
  background-image: url(../../img/backgrounds/benches.png);
}
.boots {
  background-image: url(../../img/backgrounds/boots.png);
}
.buildings {
  background-image: url(../../img/backgrounds/buildings.jpg);
}
.city {
  background-image: url(../../img/backgrounds/city.png);
}
.metro {
  background-image: url(../../img/backgrounds/metro.png);
}
a.btn-hh-trigger {
  display: block;
  font-size: 0 !important;
  line-height: 32px;
  width: 30px;
  height: 32px;
  background: #ff5821;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  border: none;
}
a.btn-hh-trigger:before,
a.btn-hh-trigger:after {
  font-size: 18px;
  font-style: normal;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  padding: 0;
  margin: 0;
  position: absolute;
  line-height: 30px;
  width: 30px;
  height: 30px;
  top: 2px;
  bottom: 0;
  right: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
a.btn-hh-trigger:after {
  content: "\f068";
  opacity: 0;
  filter: alpha(opacity=0);
}
a.btn-hh-trigger.target-open:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
a.btn-hh-trigger.target-open:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-hidden {
  background: #ff5821;
  color: #ffffff;
}
.header-hidden a:not(.btn),
.header-hidden p {
  color: #ffffff;
}
.header {
  padding: 0px 0 10px 0;
  position: relative;
  color: white;
}
.header a:not(.btn) {
  color: white;
  text-decoration: none;
}
#highlighted {
  color: #ffffff;
  margin-top: 15px;
}
#content {
  padding: 0px;
  margin-bottom: 30px;
  background: url(../../img/backgrounds/content-bg.jpg)no-repeat top center;
}
#content > .block:first-child {
  margin-top: -20px;
}
#footer {
  min-height: 280px;
  color: #999;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6,
#footer strong {
  color: #ffc600;
  font-size: 16px !important;
}
#footer a:not(.btn) {
  color: #ff5821;
}
#footer .subfooter {
  border-top: 1px dotted rgba(255, 255, 255, 1);
  margin-top: 1em;
  padding-top: 1em;
}

/* Contact Section */
#contact address {
  color: #999;
}

#contact .form #sendmessage {
  color: green;
  background: #fff;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #333;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #555;
}

.sidebar {
  min-height: 450px;
  background: url(../../img/misc/bg_sidebar-left.png) right 15px top -60px no-repeat;
  padding-top: 30px;
}
.sidebar.sidebar-right {
  background: url(../../img/misc/bg_sidebar-right.png) right 15px top -60px no-repeat;
}
.fullscreen-centered #background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.fullscreen-centered #content {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 80%;
}

.navbar-default .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  clear: both;
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    clear: none;
	border-radius: 6px;
  }
}
.navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar-btn.btn-sm {
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar-btn.btn-xs {
  margin-top: 19px;
  margin-bottom: 19px;
}
.navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-form {
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 7px;
}
.navbar-brand {
  padding: 0;
  margin: 13px 0px 0px;
  display: block;
  text-shadow: none;
  line-height: 1;
  height: auto;
  width: auto;
}
.navbar-brand:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar-brand.center-block {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.navbar-slogan {
  float: left;
  width: 180px;
  padding-left: 1.5em;
  margin-left: 1.5em;
  border-left: 2px dotted #bcbfc4;
  font-size: 13px;
  line-height: 1.2;
  color: #bcbfc4;
  display: none;
}
@media (min-width: 768px) {
  .navbar-slogan {
    display: block;
  }
}
.navbar-slogan.center-block {
  float: none !important;
  margin: 10px auto;
  border-left: none !important;
  display: block !important;
  width: auto;
  text-align: center;
  padding: 0;
}
.navbar-default .navbar-nav {
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-nav .caret {
  color: #84B645;
  vertical-align: middle;
  margin: 0;
  border: none;
  line-height: 1;
  font-size: 18px;
  font-weight: normal;
  float: right;
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav .caret {
    margin: -4px 0 0 8px;
    font-size: 10px;
    float: none;
  }
}
.navbar-default .navbar-nav .caret:after {
  content: "\f078";
  font-family: 'FontAwesome';
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav li {
    border-bottom: none;
  }
}
.navbar-default .navbar-nav li:first-child {
  border-left-color: #ffffff;
}
.navbar-default .navbar-nav li a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-weight: 600;
}
.navbar-default .navbar-nav li > a:not(.btn) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 20px 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav li > a:not(.btn) {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
  }
}
.navbar-default .navbar-nav li > a:not(.btn) small {
  display: block;
  line-height: 1;
}
.navbar-default .navbar-nav li > a:not(.btn):hover .dropdown-menu {
  display: block;
}
.navbar-default .navbar-nav li.icon-link a {
  text-align: left;
  font-size: 20px;
  color: #343331;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav li.icon-link a {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
}
.navbar-default .navbar-nav li > a:not(.btn):hover,
.navbar-default .navbar-nav li.icon-link a:hover {
  color: #84B645;
}
.navbar-default .navbar-nav li.open a:hover,
.navbar-default .navbar-nav li.open a:focus,
.navbar-default .navbar-nav li.open a.dropdown-toggle,
.navbar-default .navbar-nav li.active a.top-level,
.navbar-default .navbar-nav li.active a:hover {
  background: #84B645;
  color: #ffffff !important;
  text-shadow: none;
}
.navbar-default .navbar-nav li.open a:hover .caret,
.navbar-default .navbar-nav li.open a:focus .caret,
.navbar-default .navbar-nav li.open a.dropdown-toggle .caret,
.navbar-default .navbar-nav li.active a.top-level .caret,
.navbar-default .navbar-nav li.active a:hover .caret {
  color: #ffffff;
}
.navbar-default .navbar-nav li.open a.dropdown-toggle {
  border-bottom-color: transparent;
}
.navbar-default .navbar-nav .dropdown-menu {
  margin-top: 0px;
  padding: 15px;
  left: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: 3px solid #84B645;
  background: #f3f3f3;
  min-width: 200px;
}
.navbar-default .navbar-nav .dropdown-menu li {
  border: none;
  list-style: none;
}
.navbar-default .navbar-nav .dropdown-menu li.dropdown-header {
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: 300;
}
.navbar-default .navbar-nav .dropdown-menu li.dropdown-footer {
  background: #6b7175;
  padding: 7.5px 15px;
  margin: 15px -15px -15px -15px;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-nav .dropdown-menu li.dropdown-footer:before,
.navbar-default .navbar-nav .dropdown-menu li.dropdown-footer:after {
  content: " ";
  display: table;
}
.navbar-default .navbar-nav .dropdown-menu li.dropdown-footer:after {
  clear: both;
}
.navbar-default .navbar-nav .dropdown-menu li.dropdown-footer strong {
  color: #ffffff;
}
.navbar-default .navbar-nav .dropdown-menu li.row {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-default .navbar-nav .dropdown-menu li a:not(.btn) {
  margin: 0;
  padding: 8px;
  height: auto;
  line-height: 1.2;
  font-size: 13.5px;
  border: none;
  text-transform: none;
  position: relative;
  color: #343331;
  display: block;
}
.navbar-default .navbar-nav .dropdown-menu li a:not(.btn):before {
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 5px;
  color: #84B645;
  margin: 0 6px 0 0;
  padding: 0;
  vertical-align: middle;
}
.navbar-default .navbar-nav .dropdown-menu li a:not(.btn):hover {
  color: #ffffff;
  background: #343331;
  text-decoration: none;
}
.navbar-default .navbar-nav .dropdown-menu-right {
  right: 0;
  left: auto;
}
.navbar-default .navbar-nav .dropdown-mm {
  position: static;
}
.navbar-default .navbar-nav .dropdown-menu.dropdown-menu-mm {
  list-style: none;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav .dropdown-menu.dropdown-menu-mm {
    min-width: 480px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}
.user-menu {
  margin-top: -10px;
  display: block;
}
.user-menu a {
  font-size: 12px;
}
ul.nav-stacked {
  padding: 0;
  margin: 0;
  text-align: right;
}
ul.nav-stacked li a {
  color: #ff5821;
  font-size: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 8px 25px 8px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
ul.nav-stacked li a:hover {
  background: #e6e6e6;
}
ul.nav-stacked li a i {
  font-size: 14px;
}
ul.nav-stacked li a small {
  display: block;
  font-weight: normal;
  color: #343331;
  font-size: 12px;
}
ul.nav-stacked li.active a,
ul.nav-stacked li.active a:hover {
  color: #ffffff;
  margin: 0;
  background: #212324;
  padding-right: 25px;
}
ul.nav-stacked li.active a:after,
ul.nav-stacked li.active a:hover:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(15, 20, 23, 0);
  border-left-color: #212324;
  border-width: 10px;
  margin-top: -10px;
}
ul.nav-stacked li.active a small,
ul.nav-stacked li.active a:hover small {
  color: #ababab;
}
ul.nav-stacked.nav-stacked-right li.active a:after,
ul.nav-stacked.nav-stacked-right li.active a:hover:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(15, 20, 23, 0);
  border-right-color: #0f1417;
  border-width: 10px;
  margin-top: -10px;
}
ul.nav-tabs {
  border-bottom: 1px dashed #BFBFBF;
  margin-bottom: 1em;
}
ul.nav-tabs li {
  border: 1px dashed #BFBFBF;
  border-bottom: none;
  border-right: none;
  padding: 0;
  margin: 0;
}
ul.nav-tabs li:last-child {
  border-right: 1px dashed #BFBFBF;
}
ul.nav-tabs li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 1.2em;
  color: #ff5821;
  padding: 8px 1.4em;
  border: none;
  margin: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
ul.nav-tabs li.active a,
ul.nav-tabs li.active a:hover,
ul.nav-tabs li.active a:focus {
  color: #ffffff;
  background: #6C7175;
  border: none;
}
ul.nav-tabs.nav-tabs-left,
ul.nav-tabs.nav-tabs-right {
  border-bottom: none;
}
ul.nav-tabs.nav-tabs-left > li,
ul.nav-tabs.nav-tabs-right > li {
  float: none;
  border-right: 1px dashed #BFBFBF;
}
ul.nav-tabs.nav-tabs-left > li:last-child,
ul.nav-tabs.nav-tabs-right > li:last-child {
  border-bottom: 1px dashed #BFBFBF;
}


.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-a {
  margin: 1rem !important;
}
.m-t {
  margin-top: 1rem !important;
}
.m-r {
  margin-right: 1rem !important;
}
.m-b {
  margin-bottom: 1rem !important;
}
.m-l {
  margin-left: 1rem !important;
}
.m-x {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.m-y {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-md {
  margin: 1.5rem !important;
}
.m-t-md {
  margin-top: 1.5rem !important;
}
.m-r-md {
  margin-right: 1.5rem !important;
}
.m-b-md {
  margin-bottom: 1.5rem !important;
}
.m-l-md {
  margin-left: 1.5rem !important;
}
.m-x-md {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.m-y-md {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.m-a-lg {
  margin: 3rem !important;
}
.m-t-lg {
  margin-top: 3rem !important;
}
.m-r-lg {
  margin-right: 3rem !important;
}
.m-b-lg {
  margin-bottom: 3rem !important;
}
.m-l-lg {
  margin-left: 3rem !important;
}
.m-x-lg {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.m-y-lg {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-a {
  padding: 1rem !important;
}
.p-t {
  padding-top: 1rem !important;
}
.p-r {
  padding-right: 1rem !important;
}
.p-b {
  padding-bottom: 1rem !important;
}
.p-l {
  padding-left: 1rem !important;
}
.p-x {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.p-y {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.p-a-md {
  padding: 1.5rem !important;
}
.p-t-md {
  padding-top: 1.5rem !important;
}
.p-r-md {
  padding-right: 1.5rem !important;
}
.p-b-md {
  padding-bottom: 1.5rem !important;
}
.p-l-md {
  padding-left: 1.5rem !important;
}
.p-x-md {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.p-y-md {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.p-a-lg {
  padding: 3rem !important;
}
.p-t-lg {
  padding-top: 3rem !important;
}
.p-r-lg {
  padding-right: 3rem !important;
}
.p-b-lg {
  padding-bottom: 3rem !important;
}
.p-l-lg {
  padding-left: 3rem !important;
}
.p-x-lg {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.p-y-lg {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.switcher:before,
.switcher:after {
  content: " ";
  display: table;
}
.switcher:after {
  clear: both;
}
.switcher a {
  text-indent: -10000px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.switcher a.active {
  border-color: #ffffff;
}
.switcher div.cols {
  float: left;
  margin-right: 2em;
  margin-bottom: 5px;
}
.switcher.page a {
  display: block;
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}
.switcher.page a.active {
  border-color: rgba(0, 0, 0, 0.3);
}
.switcher.page .background {
  background-size: contain;
}
.switcher .orange {
  background: #ff5821;
}
.switcher .green {
  background: #00bb5c;
}
.switcher .blue {
  background: #00a8cc;
}
.switcher .lavender {
  background: #ad4dd3;
}
.switcher .background {
  background-color: #000000;
  background-position: right center no-repeat;
  background-attachment: fixed;
}
