.accordion-toggle h4  {
	height: 206px !important;
}

.accordion-toggle {cursor: pointer; margin: 0; padding: 2px 0px;margin-top: 10px; color: yellow;height: auto; border-bottom: 0px solid #fff !important; display: block;
position: relative;}
		.accordion-content {display: none;}
		.accordion-content.default {display: none ;margin-left: 47px; padding: 20px 30px 20px 30px;color: #fff;margin: 5px 0px;background: #000;font-size: 12px;}
		
		.phead  {
			color: #ffae00;
			font-weight: bold;
			font-size: 14px;
			border-bottom: 1px solid #ffae00;
			padding-bottom: 8px;
		}
		*/
		
.accordion-toggleAFF h4  {
	height: 206px !important;
	color: #000;
}

.accordion-toggleAFF {
	cursor: pointer; 
margin: 0; 
padding: 2px 0px 2px 15px;
margin-top: 10px; 
font-weight: normal !important;
color: #000 !important;
height: auto !important; 
border-bottom: 0px solid #fff !important;
background: #ebebeb;
width: 804px !important;
}
		.accordion-contentAFF {display: none;}
		.accordion-contentAFF.default {display: none ;margin-left: 47px; padding: 5px 5px 5px 30px;color: #000;margin: 5px 0px;font-size: 13px;}
		
		.accordion-contentAFF.default p {margin: 0px 0px 5px;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: relative;display: block;	width: 1009px;	height: 45px;	background:#000;	margin-left: 0px; margin-bottom: 0px;	padding-left: 15px; margin-top: -6px;}
		
.promo_info  {	
		display: block;
		position: absolute;
		padding: 6px 0px;	width:  90px;	height: auto;	text-align: center;	font-weight: bold;	color: #FFAE00 !important;
		text-transform: uppercase;
		right: 140px;
		top: 69px;
		}
		
		.promo_info a  {color: #FFAE00 !important; text-decoration: none;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	float: left;	display: block;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 9px;	text-align: center;	font-size: 12px !important;	text-shadow: none !important;	color: #fff !important; 	font-weight: 600 !important;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);}
		.promo_title  {	float: right;	display: block;    color: #fff;		padding: 6px 0px;	width:  auto;	height: auto;	margin-top: 10px;	margin-right: 30px;	text-align: center;	font-weight: bold;}