body  {
	background-color: #000;
	background-image: url(../../img/backgrounds/buildings.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.adj02  {
	margin-top: -30px;
}

.adj03  {
	margin-top: -70px;
}

/*menu css*/
.navCont  {
	position: relative;
	display: inline-block;
	width: 87%;
	height: auto;
	margin: 0px;
	padding: 0;
	z-index: 1008;
}
.navContInner  {
	position: relative;
	display: block;
	width: 1024px;
	height: 47px;
	background: #2A1106;
	margin: 0 auto;
	padding: 0;
	z-index: 2008;
}
.navCont ul  {
	margin: 0px;
	padding: 0;
	list-style-type: none;
}
.navCont ul li  {
	margin: 0;
	padding: 0px;
	display: block;
	float: left;
	height: auto;
	position: relative;
	z-index: 2025px !important;
}
.navCont ul li a:link, .navCont ul li a:visited  {
	margin: 0px 0px 0px 0px;
	padding: 14px 27px 10px;
	float: left;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.navCont ul li a:hover  {
	color: #ECC007;
	text-decoration: none;

}
.selected  {
	color: #000 !important;
	text-decoration: none !important;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.4) !important;
	background: rgb(250, 183, 25) !important;
    background: -moz-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -webkit-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -o-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -ms-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: linear-gradient(180deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: 0px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 1009;
	border-right: 1px solid #408010;
	border-left: 1px solid #408010;
	border-bottom: 1px solid #408010;
	
}
.navCont ul li ul li {
    background: #408010;
    color: #000;
    display: block;
    z-index: 3;
	width: 100%;
	font-size: 12px;
	height: 39px !important;
	line-height: 39px !important;
	text-align: center;
	cursor: pointer;
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #fff;
	font-size: 12px;
	width: 100% !important;
	height: 39px !important;
	line-height: 39px !important;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: #000;
	border: none !important;
	font-weight: normal;
	color: yellow;
	font-size: 13px;
	text-shadow: none;
}
.navCont ul li ul li:hover {
    background: #000 none repeat scroll 0 0;
    z-index: 4;
	color: #fff;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
/*menu css*/

.mobBx  {
	display: block;
	width: 200px;
	margin: 0 auto 15px;
	background: rgba(85,156,23,1);
background: -moz-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85,156,23,1)), color-stop(21%, rgba(184,228,143,1)), color-stop(50%, rgba(122,181,66,1)), color-stop(77%, rgba(184,228,143,1)), color-stop(100%, rgba(85,156,23,1)));
background: -webkit-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
background: -o-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
background: -ms-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
background: linear-gradient(to right, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#559c17', endColorstr='#559c17', GradientType=1 );
}

.mobBxInner  {
	display: inline-block;
	margin: 10px;
	width: 180px;
	word-wrap: break-word;
	background: rgba(61,60,61,1);
background: -moz-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,60,61,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3c3d', endColorstr='#000000', GradientType=0 );
color: #fff;
}

.adj01  {
	margin-left: 10px;
}

.qrCont  {
	display: block;
	width: 180px;
	text-align: center;
	margin: 10px 0px;
}

.qrCont img  {
	margin: 10px auto 10px;
}

.txt1  {
	font-size: 10px;
	float: left;
	display: inline-block;
	margin-left: 5px;
	margin-top: 2px;
}

.tt1  {
	float: left;
}

.bgBub  {
	display: block;
	padding: 10px;
	background: #000;
	color: yellow;
	border: 1px solid yellow;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.two  {
	font-size: 14px;
	display: block;
	text-transform: uppercase;
}

.swrap  {
	display: block;
	width: 240px;
	hight: auto;
	margin: 0 auto 50px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.swrap img  {
	margin: 0 auto;
}

.text-1  {
	color: yellow;
	font-weight: bold;
	font-size: 90px;
	text-align: right;
}

.text-2  {
	color: yellow;
	font-size: 25px;
	border-left: 1px solid yellow;
}

.mt04  {
	margin-top: 50px;
}

.mt05  {
	margin-top: 80px;
}

.bdRight  {
	border-right: 1px solid #FDE35B;
}

.ab4  {
	display: block;
	margin-top: 10px;
}

.ab4 label  {
    float: left;
}

.ab4 input  {
    float: left;
	margin-right: 10px;
}

.fs12  {
	font-size: 12px;
}

.rule1  {
	display: block;
	margin-top: 15px;
}

.rule1 ul  {
	display: block;
	margin: 0;
	padding: 0;
}

.rule1 ul li  {
	display: block;
	margin: 0;
	padding: 5px 0px;
	color: #fff;
	font-size: 12px;
	list-style-type: none;
	font-weight: bold;
}

.mt03  {
	margin-top: 15px;
	margin-bottom: 15px;
}

.txtWrap  {
	display: block;
	height: 30px;
	line-height: 35px;
	color: #fff;
	font-size: 13px;
	font-weight: 550;
}

.selected  {
	background: #fde35b !important;
	color: #000 !important;
}

.ml03  {
	margin-left: 150px;
}

.ml03  {
	margin-left: 0px;
}

.cde1  {
	margin-top: 15px;
}

.cde1 label  {
	color: #fff;
	width: 150px;
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 34px;
	font-weight: 300;
	font-size: 12px;
}

.cde1 input  {
	color: #000;
	width: 20%;
	display: inline-block;
	float: left;
	background: #ebebeb;
	font-size: 12px;
}

.cde1 select  {
	color: #000;
	width: 20%;
	display: inline-block;
	float: left;
	background: #ebebeb;
	font-size: 12px;
}

.cde2 select  {
	width: 10% !important;
	margin-right: 5px;
}

.mr01  {
	margin-right: 10px;
}

.cont  {
    border: 1px solid #FDE35B;
	background: #000;
	padding: 10px;
	margin-top: 15px;
}
.noPad  {
	padding: 0px;
}

.men1  {
	display: block;
	margin-top: 20px;
}

.men1 a:link, .men1 a:visited  {
	display: block;
	border: 1px solid #FDE35B;
	background: #000;
	padding: 8px;
	color: #FDE35B;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
}

.men1 a:hover  {
	display: block;
	background: #FDE35B;
	color: #000;
	text-decoration: none;
}

.scrollOut {
    display: block;
    width: 100%;
}
.scrollBar {
    display: block;
    padding: 10px 0;
    width: auto;
}

.scrollItem {
    display: none;
    float: left;
    margin-right: 8px;
    padding: 0 0 8px;
}

.mt02  {
	margin-top: 20px;
}

.walletWrap  {
	display: block;
	background: #f3ff99;
	padding: 10px 15px;
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
	width: 170px;
	float: left;
	margin: 0px 10px 15px;
}

.walletWrap2  {
	display: block;
	background: #1d8006;
	padding: 10px 15px;
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
	width: 170px;
	float: left;
	margin: 0px 10px 15px;
}

.walletTit  {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.noBg  {
	background: none !important;
}

.smallIC  {
	display: inline-block;
	fon-size: 10px;
	margin-top: 12px;
}

.smallIC a:link, .smallIC a:visited  {
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	height: 30px;
	line-height: 12px;
	text-align: center;
	margin-right: 10px;
}

.smallIC a:hover  {
	color: #69A22E;
	text-decoration: none;
}

.smallIC .fa  {
	margin: 0 auto;
	width: 30px;
}

.acctM  {
	display: none;
}

.ml02  {
	margin-left: 8px;
}

.btnNormal  {
	display: block;
}

.btnNormal a:link, .btnNormal a:visited  {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: auto;
	padding: 0px 10px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	background: #acd373;
	border-radius: 4px;
}

.btnNormal a:hover  {
	background: red;
	color: #fff;
	text-decoration: none;
}

.btnNt  {
	display: block;
}

.btnNt a:link, .btnNt a:visited  {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: auto;
	padding: 0px 10px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	background: #959595;
	border-radius: 4px;
}

.btnNt a:hover  {
	background: red;
	color: #fff;
	text-decoration: none;
}

.wTable table  {
	background: #e1e1e1;
}

.wTable table td  {
	padding: 5px;
	color: #000;
	text-align: center;
	border-right: 1px solid #ccc;
}

.wTable table tr:nth-child(odd)  {
	background: #d7d7d7;
}

.mMenu  {}

.mMenu ul  {
	display: block;
	padding: 0;
	margin: 0;
}

.mMenu ul li  {
	margin: 8px 0px;
	padding: 0;
	list-style-type: none;
}

.mMenu ul li a:link, .mMenu ul li a:visited  {
	display: block;
	height: 35px;
	line-height: 35px;
	background: #85B545;
	padding: 0px 0px 0px 10px;
	border-radius: 4px;
	color: #000;
	text-decoration: none;
}

.mMenu ul li a:hover  {
	background: #639B2E;
	color: yellow;
	text-decoration: none;
}

.bg-green  {
	background: #39730F;
}

.bg-black  {
	background: #000;
}

.abcd  {
	float: right;
}

.welc  {
	display: block;
	font-size: 16px;
	margin-right: 15px;
	height: 25px;
	line-height: 25px;
	float: left;
}

.welc .fa  {
	margin-right: 5px;
}

.text-white  {
	color: #fff;
}

.text-yellow  {
	color: #F0D15B;
}

.bRad01  {
	border-radius: 6px;
	display: block;
	padding: 15px;
	background: #000;
}

.ct  {}

.ct ul  {
	margin: 0;
	padding: 0;
}

.ct ul li  {
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 15px 0px;
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
}

.ct .fa  {
	margin-right: 10px;
}

p  {
	padding: 3px 0px;
}

.bankingtable  {
	background: #111;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.bankingtable td  {
	padding: 7px;
	color: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.wrapHorse  {
	display: block;
	width: 100%;
	height: 600px;
}

.horseTit  {
	display: block;
	position: absolute;
	left: 35%;
	top: 50%;
}

.ml01  {
	margin-left: 150px;
}

#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    margin: 0 auto 50px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
     margin: 0 auto 20px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table3 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
}

.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 210px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1;
	border: 1px solid #88ee29;
}

.ab2  {
	margin-top: 25px !important;
}

.ab3  {
	padding: 15px 0px;
}

.ft01  {
	margin-top: -30px;
}

.ac2 img  {
	float: right;
}

.ac1 img  {
	margin: 0 auto;
}

.noBg  {
	background: none !important;
}

.bg-lc  {
	background: url(../../img/backgrounds/lc-bg.png)no-repeat center top;
}

.bg-slot  {
	background: url(../../img/backgrounds/slot-bg.png)no-repeat center top;
}

.bg-sp  {
	background: url(../../img/backgrounds/sp-bg.png)no-repeat center top;
}

.bg-4d  {
	background: url(../../img/backgrounds/4d-bg.png)no-repeat center top;
}

.bg-horse  {
	background: url(../../img/backgrounds/horse-bg.png)no-repeat center top;
}

.bg-contact  {
	background: url(../../img/backgrounds/contact-bg.png)no-repeat center top;
}

.specialTxt  {
font-family: 'Exo', sans-serif;
font-size: 30px;
color: #F0D15B;
margin: 15px 0px;
text-shadow: 1px 1px 4px rgba(7, 7, 7, 1);
}

.mb01  {
	margin-bottom: 50px;
}

.amRight {
    float: right;
}

.jn  {
	display: block;
	margin: 9px 10px 0px 0px !important;
}

.jn a:link, .jn a:visited  {
	background: #98c55c;
	font-size: 12px;
	font-weight: bold;
	color: #000 !important;
	border-radius: 14px;
	padding: 8px 16px;
}

.jn a:hover  {
	text-decoration: none;
	background: #FFF8A1;
	color: #000 !important;
}
.ab1 img  {
	border: 1px solid #88ee29;
}

.hero  {
	margin-bottom: 20px;
}

.jpCounter  {
	display: block;
	position: absolute;
	bottom: 30px;
	left: 60px;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	width: 386px;
	height: 53px;
	line-height: 53px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
  background: #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.mobLang  {
	display: none;
}

.mobLogin  {
	display: none;
}

.logWrap  {
	background: #000;
	-moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
	padding: 8px;
	display: block;
	width: 625px;
	float: right;
}

.dateT  {
	display: block;
	width: auto;
	font-size: 11px;
	float: right;
	height: 20px;
	line-height: 20px;
	padding-right: 15px;
}

.logLink  {
	display: block;
	position: relative;
	height: 25px;
	float: right;
	}

.logLink ul  {
	margin: 0px 0px 0px 10px;
	padding: 0;
}

.logLink ul li {
	list-style-type: none;
	margin: 0;
	padding: 0px 7px;
	display: inline;
	float: left;
	height: 20px;
	line-height: 20px;
}

.logLink ul li a:link, .logLink ul li a:visited  {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.logLink ul li a:hover  {
	text-decoration: none;
	color: #84B645;
}

.logSep  {
	background: url(../../img/log-sep.jpg) no-repeat right center;
}

.logSep1  {
	background: url(../../img/log-sep.jpg) no-repeat right center;
}

.loginD  {
	display: block;
	float: right;
	margin-top: 6px;
}

.loginD .form-group  {
	width: 100px;
	margin-right: 3px;
	margin-bottom: 0px;
	float: left;
}

.loginD .form-oth  {
	float: left;
	margin-right: 3px;
}

.form-oth  {
	height: 25px;
	line-height: 25px;
	padding: 0px 4px;
}

.loginD input  {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}

.loginBtn  {
	display: block;
}

.loginBtn a:link, .loginBtn a:visited {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: url(../../img/loginBtn-bg.jpg)no-repeat;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}

.loginBtn a:hover {
	text-decoration: none;
	background: url(../../img/loginBtn-bg-hover.jpg)no-repeat;
	color: #000 !important;
}

.fp a:link, .fp a:visited  {
	text-decoration: none;
	font-size: 10px;
	height: 25px;
	line-height: 25px;
	padding: 0px 5px;
}

.fp a:hover {
	text-decoration: none;
    color: #fce35b !important;
}

.anmnt  {
	background: #000 url(../../img/speaker.png) 5px center no-repeat;
	height: 25px;
	line-height: 25px;
	display: block;
	border-radius: 4px;
	margin-top: 10px;
}

.anmnt marquee  {
	margin-left: 35px;
	font-size: 12px;
}

.btn {
  text-shadow: none;
}
.btn-shadow {
  -webkit-box-shadow: 0 1px 5px #969696;
  -moz-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #ff5821 0%, #e34619 100%);
  background-image: -o-linear-gradient(top, #ff5821 0%, #e34619 100%);
  background-image: linear-gradient(to bottom, #ff5821 0%, #e34619 100%);
  background-color: #f4511e;
  background-image: -moz-linear-gradient(top, #ff5821, #e34619);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5821), to(#e34619));
  background-image: -webkit-linear-gradient(top, #ff5821, #e34619);
  background-image: -o-linear-gradient(top, #ff5821, #e34619);
  background-image: linear-gradient(to bottom, #ff5821, #e34619);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5821', endColorstr='#ffe34619', GradientType=0);
  border-color: #e34619 #e34619 #9e3111;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e34619;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #ffffff;
  background-color: #e34619;
  border-color: #e34619;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #fbb450 0%, #f89406 100%);
  background-image: -o-linear-gradient(top, #fbb450 0%, #f89406 100%);
  background-image: linear-gradient(to bottom, #fbb450 0%, #f89406 100%);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover {
  color: #ffffff;
  background-color: #f89406;
  border-color: #f89406;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: -o-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: linear-gradient(to bottom, #ee5f5b 0%, #bd362f 100%);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover {
  color: #ffffff;
  background-color: #bd362f;
  border-color: #bd362f;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #1b7b00 0%, #51a351 100%);
  background-image: -o-linear-gradient(top, #1b7b00 0%, #51a351 100%);
  background-image: linear-gradient(to bottom, #1b7b00 0%, #51a351 100%);
  background-color: #318b20;
  background-image: -moz-linear-gradient(top, #1b7b00, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b7b00), to(#51a351));
  background-image: -webkit-linear-gradient(top, #1b7b00, #51a351);
  background-image: -o-linear-gradient(top, #1b7b00, #51a351);
  background-image: linear-gradient(to bottom, #1b7b00, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1b7b00', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover {
  color: #ffffff;
  background-color: #51a351;
  border-color: #51a351;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2f96b4 100%);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled],
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover {
  color: #ffffff;
  background-color: #2f96b4;
  border-color: #2f96b4;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #343331 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #343331 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #343331 0%, #000000 100%);
  background-color: #1f1f1d;
  background-image: -moz-linear-gradient(top, #343331, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#343331), to(#000000));
  background-image: -webkit-linear-gradient(top, #343331, #000000);
  background-image: -o-linear-gradient(top, #343331, #000000);
  background-image: linear-gradient(to bottom, #343331, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff343331', endColorstr='#ff000000', GradientType=0);
  border-color: #000000 #000000 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #000000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-inverse.active.focus,
.btn-inverse.active:focus,
.btn-inverse.active:hover,
.btn-inverse:active.focus,
.btn-inverse:active:focus,
.btn-inverse:active:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-more {
  background: #ffffff;
  color: #ff5821;
  -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 12px 0 0;
  text-transform: none;
  display: inline-block;
  line-height: 20px;
  border: none;
  margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-weight: bold;
}
.btn-more.block-link {
  display: block;
}
.btn-more.block-link:before,
.btn-more.block-link:after {
  content: " ";
  display: table;
}
.btn-more.block-link:after {
  clear: both;
}
.btn-more.block-link i {
  float: left;
}
.btn-more:hover {
  background: #ff5821;
  color: #ffffff !important;
  text-decoration: none;
  text-shadow: none;
}
.btn-more i,
.btn-more [class*=" icon-"] {
  background: #e34619;
  color: #ffffff;
  font-style: normal;
  font-weight: 100;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-right: 8px;
}
.btn-more i.default:before,
.btn-more [class*=" icon-"].default:before {
  content: "\f067";
  font-family: 'FontAwesome';
}
.btn-more.i-right {
  padding: 0 0 0 12px;
}
.btn-more.i-right i,
.btn-more.i-right [class*=" icon-"] {
  margin-right: 0;
  margin-left: 8px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.btn-more.large,
.btn-more.btn-lg {
  line-height: 38px;
}
.btn-more.large i,
.btn-more.btn-lg i {
  height: 38px;
  line-height: 40px;
  width: 38px;
  font-size: 22px;
  vertical-align: top;
}
.block {
  padding: 4em 0;
}
.block:before,
.block:after {
  content: " ";
  display: table;
}
.block:after {
  clear: both;
}
.block .block-title {
  margin-top: 0;
  position: relative;
  margin-bottom: 30px;
}
.block .block-title:after {
  width: 80px;
  height: 1px;
  background: #ff5821;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
}
.block.block-pd-sm {
  padding: 2em 0;
}
.block.block-pd-lg {
  padding: 8em 0;
}
.block.block-pd-h {
  padding: 4em;
}
.block.block-pd-h.block-pd-sm {
  padding: 2em;
}
.block.block-pd-h.block-pd-lg {
  padding: 8em;
}
.block.block-bg-primary,
.block.block-bg-primary:after {
  background-color: #ff5821;
  color: #ffffff;
}
.block.block-bg-noise,
.block.block-bg-noise:after {}

.block.block-bg-grey,
.block.block-bg-grey:after {
  background-color: #f3f3f3;
}
.block.block-bg-gradient,
.block.block-bg-gradient:after {
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f6f6f6 100%);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -o-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: linear-gradient(to bottom, #f9f9f9, #f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff6f6f6', GradientType=0);
}
.block.block-bg-gradient-flip,
.block.block-bg-gradient-flip:after {
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #f9f9f9 100%);
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -o-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: linear-gradient(to bottom, #f6f6f6, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff9f9f9', GradientType=0);
}
.block.block-bg-grey-dark,
.block.block-bg-grey-dark:after {
  background-color: #212324;
  color: white;
}
.block.block-bg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 0s linear;
  transition-property: background-position;
}
.block.block-bg-overlay {
  position: relative;
}
.block.block-bg-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: block !important;
}
.block.block-bg-overlay > * {
  z-index: 2;
  position: relative;
}
.block.block-bg-overlay.block-bg-overlay-1:after {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.block.block-bg-overlay.block-bg-overlay-2:after {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.block.block-bg-overlay.block-bg-overlay-3:after {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.block.block-bg-overlay.block-bg-overlay-4:after {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.block.block-bg-overlay.block-bg-overlay-5:after {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.block.block-bg-overlay.block-bg-overlay-6:after {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.block.block-bg-overlay.block-bg-overlay-7:after {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.block.block-bg-overlay.block-bg-overlay-8:after {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block.block-bg-overlay.block-bg-overlay-9:after {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block.block-border-bottom {
  border-bottom: 1px solid #ff5821;
}
.block.block-border-top {
  border-top: 1px solid #ff5821;
}
.block.block-border-bottom-grey {
  border-bottom: 1px solid #eeeeee;
}
.block.block-border-top-grey {
  border-top: 1px solid #eeeeee;
}
.block-contained {
  padding: 4em 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.block-contained:before,
.block-contained:after {
  content: " ";
  display: table;
}
.block-contained:after {
  clear: both;
}
.block-contained .block-title {
  margin-top: 0;
  position: relative;
  margin-bottom: 30px;
}
.block-contained .block-title:after {
  width: 80px;
  height: 1px;
  background: #ff5821;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
}
.block-contained.block-pd-sm {
  padding: 2em 0;
}
.block-contained.block-pd-lg {
  padding: 8em 0;
}
.block-contained.block-pd-h {
  padding: 4em;
}
.block-contained.block-pd-h.block-pd-sm {
  padding: 2em;
}
.block-contained.block-pd-h.block-pd-lg {
  padding: 8em;
}
.block-contained.block-bg-primary,
.block-contained.block-bg-primary:after {
  background-color: #ff5821;
  color: #ffffff;
}
.block-contained.block-bg-noise,
.block-contained.block-bg-noise:after {
  background: #ededed url(../../img/bg_noise-bg.png) left top repeat;
}
.block-contained.block-bg-grey,
.block-contained.block-bg-grey:after {
  background-color: #f3f3f3;
}
.block-contained.block-bg-gradient,
.block-contained.block-bg-gradient:after {
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f6f6f6 100%);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -o-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: linear-gradient(to bottom, #f9f9f9, #f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff6f6f6', GradientType=0);
}
.block-contained.block-bg-gradient-flip,
.block-contained.block-bg-gradient-flip:after {
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #f9f9f9 100%);
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -o-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: linear-gradient(to bottom, #f6f6f6, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff9f9f9', GradientType=0);
}
.block-contained.block-bg-grey-dark,
.block-contained.block-bg-grey-dark:after {
  background-color: #212324;
  color: white;
}
.block-contained.block-bg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 0s linear;
  transition-property: background-position;
}
.block-contained.block-bg-overlay {
  position: relative;
}
.block-contained.block-bg-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: block !important;
}
.block-contained.block-bg-overlay > * {
  z-index: 2;
  position: relative;
}
.block-contained.block-bg-overlay.block-bg-overlay-1:after {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.block-contained.block-bg-overlay.block-bg-overlay-2:after {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.block-contained.block-bg-overlay.block-bg-overlay-3:after {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.block-contained.block-bg-overlay.block-bg-overlay-4:after {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.block-contained.block-bg-overlay.block-bg-overlay-5:after {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.block-contained.block-bg-overlay.block-bg-overlay-6:after {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.block-contained.block-bg-overlay.block-bg-overlay-7:after {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.block-contained.block-bg-overlay.block-bg-overlay-8:after {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block-contained.block-bg-overlay.block-bg-overlay-9:after {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block-contained.block-border-bottom {
  border-bottom: 1px solid #ff5821;
}
.block-contained.block-border-top {
  border-top: 1px solid #ff5821;
}
.block-contained.block-border-bottom-grey {
  border-bottom: 1px solid #eeeeee;
}
.block-contained.block-border-top-grey {
  border-top: 1px solid #eeeeee;
}
@media (min-width: 768px) {
  .block-contained {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .block-contained {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .block-contained {
    width: 1170px;
  }
}
.block-highlight {
  padding: 4em 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ff5821;
}
.block-highlight:before,
.block-highlight:after {
  content: " ";
  display: table;
}
.block-highlight:after {
  clear: both;
}
.block-highlight .block-title {
  margin-top: 0;
  position: relative;
  margin-bottom: 30px;
}
.block-highlight .block-title:after {
  width: 80px;
  height: 1px;
  background: #ff5821;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
}
.block-highlight.block-pd-sm {
  padding: 2em 0;
}
.block-highlight.block-pd-lg {
  padding: 8em 0;
}
.block-highlight.block-pd-h {
  padding: 4em;
}
.block-highlight.block-pd-h.block-pd-sm {
  padding: 2em;
}
.block-highlight.block-pd-h.block-pd-lg {
  padding: 8em;
}
.block-highlight.block-bg-primary,
.block-highlight.block-bg-primary:after {
  background-color: #ff5821;
  color: #ffffff;
}
.block-highlight.block-bg-noise,
.block-highlight.block-bg-noise:after {
  background: #ededed url(../../img/bg_noise-bg.png) left top repeat;
}
.block-highlight.block-bg-grey,
.block-highlight.block-bg-grey:after {
  background-color: #f3f3f3;
}
.block-highlight.block-bg-gradient,
.block-highlight.block-bg-gradient:after {
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f6f6f6 100%);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: -o-linear-gradient(top, #f9f9f9, #f6f6f6);
  background-image: linear-gradient(to bottom, #f9f9f9, #f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff6f6f6', GradientType=0);
}
.block-highlight.block-bg-gradient-flip,
.block-highlight.block-bg-gradient-flip:after {
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #f9f9f9 100%);
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: -o-linear-gradient(top, #f6f6f6, #f9f9f9);
  background-image: linear-gradient(to bottom, #f6f6f6, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff9f9f9', GradientType=0);
}
.block-highlight.block-bg-grey-dark,
.block-highlight.block-bg-grey-dark:after {
  background-color: #212324;
  color: white;
}
.block-highlight.block-bg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 0s linear;
  transition-property: background-position;
}
.block-highlight.block-bg-overlay {
  position: relative;
}
.block-highlight.block-bg-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: block !important;
}
.block-highlight.block-bg-overlay > * {
  z-index: 2;
  position: relative;
}
.block-highlight.block-bg-overlay.block-bg-overlay-1:after {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.block-highlight.block-bg-overlay.block-bg-overlay-2:after {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.block-highlight.block-bg-overlay.block-bg-overlay-3:after {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.block-highlight.block-bg-overlay.block-bg-overlay-4:after {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.block-highlight.block-bg-overlay.block-bg-overlay-5:after {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.block-highlight.block-bg-overlay.block-bg-overlay-6:after {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.block-highlight.block-bg-overlay.block-bg-overlay-7:after {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.block-highlight.block-bg-overlay.block-bg-overlay-8:after {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block-highlight.block-bg-overlay.block-bg-overlay-9:after {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block-highlight.block-border-bottom {
  border-bottom: 1px solid #ff5821;
}
.block-highlight.block-border-top {
  border-top: 1px solid #ff5821;
}
.block-highlight.block-border-bottom-grey {
  border-bottom: 1px solid #eeeeee;
}
.block-highlight.block-border-top-grey {
  border-top: 1px solid #eeeeee;
}
.block-highlight h1:first-child,
.block-highlight h3:first-child,
.block-highlight h3:first-child,
.block-highlight h4:first-child,
.block-highlight h5:first-child {
  margin-top: 0;
}
.block-highlight p {
  font-size: 1.4em;
  font-weight: 100;
}
.scrolltop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 80;
  filter: alpha(opacity=8000);
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-size: 0;
  background: #343331;
  z-index: 999999;
  text-align: center;
  color: #ffffff !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.scrolltop:hover {
  text-decoration: none;
  opacity: 90;
  filter: alpha(opacity=9000);
}
.scrolltop:before {
  content: "\f106";
  font-family: 'FontAwesome';
  font-size: 30px;
  font-style: normal;
}
.social-media.social-media-inline {
  margin: 8px;
}

.txt1  {
    font-size: 10px;
    float: left;
    display: inline-block;
    margin-left: -6px;
    margin-top: -1px;
}

.tt1  {
    float: left;
}

.mobBx  {
	display: block;
	width: 200px;
	margin: 0 auto 15px;
	background: rgba(85,156,23,1);
	background: -moz-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85,156,23,1)), color-stop(21%, rgba(184,228,143,1)), color-stop(50%, rgba(122,181,66,1)), color-stop(77%, rgba(184,228,143,1)), color-stop(100%, rgba(85,156,23,1)));
	background: -webkit-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
	background: -o-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
	background: -ms-linear-gradient(left, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
	background: linear-gradient(to right, rgba(85,156,23,1) 0%, rgba(184,228,143,1) 21%, rgba(122,181,66,1) 50%, rgba(184,228,143,1) 77%, rgba(85,156,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#559c17', endColorstr='#559c17', GradientType=1 );
}

.mobBxInner  {
	display: inline-block;
	margin: 10px;
	width: 180px;
	word-wrap: break-word;
	background: rgba(61,60,61,1);
	background: -moz-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,60,61,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3c3d', endColorstr='#000000', GradientType=0 );
	color: #fff;
}

.adj01  {
	margin-left: 10px;
}

.qrCont  {
	display: block;
	width: 180px;
	text-align: center;
	margin: 10px 0px;
}

.qrCont img  {
	margin: 10px auto 10px;
}
