@charset "utf-8";
/* Main */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-color: #000;
	/*font-family: Arial, Helvetica, sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体";*/
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.clr  {
	clear: both;
}

.ctbtn2  {
	background: none;
	border: 0px;
	padding: 0px;
	display: block;
	width: 42px;
	height: 150px;
	cursor: pointer;
}

.mnt  {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: block;
}

.mnt1  {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	display: block;
}

.caro  {
	display: block;
	position: relative;
	width: 1014px;
	height: 195px;
	background: #000;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(255, 255, 255, 0.75);
	padding-left: 10px;
	margin-top: -10px;
}

.selLeft  {
	display: block;
	position: relative;
	width: 490px;
	height: 200px;
	float: left;
}

.selRight  {
	display: block;
	position: relative;
	width: 490px;
	height: 200px;
	float: right;
}

.selBg  {
	display: block;
	position: relative;
	width: 1024px;
	height: 200px;
	background-image: url(http://static.myroyalewin.net/img/c.png);
	background-repeat: no-repeat;
	background-position: center;
}

#container404 {
	display: block;
	position: relative;
    width:1024px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	margin: 0 auto;
}

#colE1 {
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	right: 41px;
	padding-left: 300px;
	padding-top: 69px;
	font-size: 95px;
	height: 246px;
    color: yellow;
}
#colE2 {
	float: left;
	padding-top: 94px;
	font-size: 25px;
 color: yellow;
}


.MScont  {
	display: block;
	position: relative;
	width: 1024px;
	margin: 0 auto;
}


.MDcont  {
	display: block;
	position: relative;
	width: 1024px;
	margin: 0 auto;
}

.MDbanner  {
	display: block;
	position: relative;
	width: 980px;
	height: 320px;
	margin-bottom: 20px;
}

.MDbxCont  {
	display: block;
	position: relative;
	width: 980px;
	height: auto;
}

.MDboxAG  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/ag-MD-bg.png);
	background-repeat: no-repeat;
	float: left;
	mrgin-right: 20px;
}

.MDboxPT  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/pt-MD-bg.png);
	background-repeat: no-repeat;
	float: right;
}

.MDboxMXB  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/mxb-MD-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

.MDboxGP  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/gp-MD-bg.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: 20px;
}

.qrDL  {
	display: block;
	position: relative;
	width: 125px;
	height: 200px;
	float: right;
	margin-top: 17px;
	margin-right: 5px;
}

.MDboxJOK  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/jok-MD-bg.png);
	background-repeat: no-repeat;
	float: left;
	mrgin-right: 20px;
	margin-top: 20px;
}

.MDboxSCR  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/scr-MD-bg.png);
	background-repeat: no-repeat;
	float: right;
	mrgin-right: 20px;
	margin-top: 20px;
}

.MDboxOPU  {
	display: block;
	position: relative;
	width: 480px;
	height: 225px;
	background-image: url(http://static.myroyalewin.net/img/op-MD-bg.png);
	background-repeat: no-repeat;
	float: left;
	mrgin-right: 20px;
	margin-top: 20px;
}

.MDtit  {
	display: block;
	position: relative;
}

.MDqr  {
	display: block;
	position: relative;
}

.MDlink  {
	display: block;
	position: relative;
	margin-left: 15px;
}

.MDlink a:link, .MDlink a:visited  {
	display: block;
	position: relative;
	width: 95px;
	height: 32px;
	line-height: 32px;
	background: rgb(191, 134, 19);
background: -moz-linear-gradient(90deg, rgb(191, 134, 19) 16%, rgb(233, 198, 64) 100%);
background: -webkit-linear-gradient(90deg, rgb(191, 134, 19) 16%, rgb(233, 198, 64) 100%);
background: -o-linear-gradient(90deg, rgb(191, 134, 19) 16%, rgb(233, 198, 64) 100%);
background: -ms-linear-gradient(90deg, rgb(191, 134, 19) 16%, rgb(233, 198, 64) 100%);
background: linear-gradient(180deg, rgb(191, 134, 19) 16%, rgb(233, 198, 64) 100%);
text-align: center;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
color: #fff;
}

.MDlink a:hover  {
	background: red;
    text-decoration: none;
    color: #fff;
}

.landBG  {
	background-image: url(http://static.myroyalewin.net/img/landing-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.landHeader  {
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 20px 0px 0px;
}

.landMap  {
	display: block;
	position: relative;
	width: 100%;
}

.landMapInner  {
	display: block;
	position: relative;
	max-width: 1024px;
    min-width: 320px;
	height: 365px;
	margin: 0 auto;
}

.landMapInner a:link, .landMapInner a:visited  {
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #464646;
	text-shadow: 1px 1px 2px rgba(252, 252, 252, 1);
}

.cont1  {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1024px;
}

.cont2  {
    display: block;
    height: 450px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1024px;
	background: url(http://static.myroyalewin.net/img/slot-top-bg.png)no-repeat center;
}

.cont3  {
    display: block;
    height: 294px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1024px;
	background: url(http://static.myroyalewin.net/img/sp-cont.png)no-repeat center;
}

.cont4  {
    display: block;
    height: 87px;
    margin: 10px auto 0px;
    padding: 0;
    position: relative;
    width: 1024px;
	background: url(http://static.myroyalewin.net/img/4d-title.png)no-repeat center;
}

.cont5  {
    display: block;
    height: 87px;
    margin: 10px auto 0px;
    padding: 0;
    position: relative;
    width: 1024px;
	background: url(http://static.myroyalewin.net/img/promo-title.png)no-repeat center;
}

.contOthers  {
    display: block;
    height: 87px;
    margin: 0px auto 0px;
    padding: 10px 0px 0px;
    position: relative;
    width: 1024px;
	background: url(http://static.myroyalewin.net/img/others-title.png)no-repeat center bottom;
}

.othersCont  {
    display: block;
    height: auto;
    margin: 0px auto 0px;
    padding: 10px;
    position: relative;
    width: 1004px;
	background: url(http://static.myroyalewin.net/img/others-bg.png)repeat;
	color: #fff;
	font-size: 12px;
}

.othersCont p  {
    margin: 0px 0px 2px;
	padding: 0px;
}

.othersCont span  {
    margin: 6px 0px 6px;
	padding: 0px;
	color: #ffcc01;
	font-weight: bold;
	display: block;
	font-size: 13px;
}

.contOthers span  {
    display: block;
    height: auto;
    margin: 15px auto 0px;
    padding: 0px;
    position: relative;
    /*width: 280px;*/
    color: #E6BF34;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.othersMenu  {
    display: block;
    height: auto;
    margin: -5px auto 0px;
    padding: 0px;
    position: relative;
    width: 1024px;
	background: #000;
}

.othersMenu ul  {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
	list-style-type: none;
}

.othersMenu ul li  {
    display: inline-block;
	float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.othersMenu ul li a:link, .othersMenu ul li a:visited  {
    padding: 8px 25px;
	text-decoration: none;
	display: block;
	color: #ffae00;
	font-size: 12px;
	font-weight: bold;
}

.othersMenu ul li a:hover {

	text-decoration: none;
	color: yellow;

}

.inpLeft  {
	display: block;
	position: relative;
	float: left;
	width: 500px;
	height: auto;
	padding: 10px 0px;
}

.inpLeft input  {
	padding: 5px;
	border: 1px solid #fff;
	width: 65%;
	float: left;
}

.inpLeft label  {
	width: 150px;
	display: block;
	float: left;
	height: 30px;
	line-height: 32px;
}

.rem  {
	color: #ffec6a;
	font-style: italic;
	font-size: 10px;
	margin-left: 150px;
	margin-top: 5px;
}

.rowSp  {
	margin-top: 15px;
}

.sp1  {
	background: #feffce;
}

.coded  {
	width: 20% !important;
}

.blacked  {
	background: #000;
	color: #ccc;
	margin-left: 15px;
}

.sBtn  {
	display: block;
	position: relative;
	float: right;
}

.sBtn a:link, .sBtn a:visited  {
	display: block;
	position: relative;
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background: url(http://static.myroyalewin.net/img/submit-btn.png)no-repeat;
	font-weight: bold;
	color: #000;
}

.sBtn a:hover {
	text-decoration: none;
	background: url(http://static.myroyalewin.net/img/submit-btn-hover.png)no-repeat;

}

.menuAM  {
	display: block;
	position: relative;
	height: 25px;
	line-height: 25px;
	background: url(http://static.myroyalewin.net/img/menuAM-sep.jpg)no-repeat right;
}

.menuAM a:link, .menuAM a:visited  {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 3px;
}

.menuAM a:hover {
	color: #ffae00;
	text-decoration: none;
}

.lg  {
	width: 500px;
}

.memberST  {
	background: rgb(91, 91, 91);
background: -moz-linear-gradient(270deg, rgb(91, 91, 91) 30%, rgb(50, 50, 50) 70%);
background: -webkit-linear-gradient(270deg, rgb(91, 91, 91) 30%, rgb(50, 50, 50) 70%);
background: -o-linear-gradient(270deg, rgb(91, 91, 91) 30%, rgb(50, 50, 50) 70%);
background: -ms-linear-gradient(270deg, rgb(91, 91, 91) 30%, rgb(50, 50, 50) 70%);
background: linear-gradient(0deg, rgb(91, 91, 91) 30%, rgb(50, 50, 50) 70%);
border: 1px solid #ccc;
padding: 10px 15px;
display: block;
position: absolute;
right: 0px;
top: 47px;
font-size: 12px;
font-weight: bold;
color: #EBC675;
}

.memberST span  {
	margin-right: 10px;
}

.yellowed  {
	color: yellow;
}

.marg  {
	margin-right: 120px !important;
}

.main  {
	display: block;
	position: relative;
	width: 980px;
	height: auto;
	margin: 0px auto;
}

.prIco  {
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 9px;
	left: 25px;
}

.js-tabs {
    margin: 0 0 1em;
	padding-top: 15px;
}

/* Tabs control text */
.js-tabs_control-text {
    direction: ltr;
    left: -999em;
    position: absolute;
}

/* Tabs control */
.js-tabs .js-tabs_control {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1000;
}

.js-tabs .js-tabs_control li {
    float: left;
    margin: 0 -5px 0 0;
    padding: 0;
    position: relative;
}

.js-tabs .js-tabs_control button {
    background: url(http://static.myroyalewin.net/img/tab-bg.png)no-repeat;
    border: none;
    cursor: pointer;
    padding: 8px 0.5em 10px;
    position: relative;
    outline: 0;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	width: 167px;
	font-size: 12px;
}

.js-tabs .js-tabs_control button:hover,
.js-tabs .js-tabs_control button:focus,
.js-tabs .js-tabs_control button:active {
    border-color: #000;
	 background: url(http://static.myroyalewin.net/img/tab-bg-hover.png)no-repeat;
}

.js-tabs .js-tabs_control .badge {
    background-color: #C00000;
    border-radius: 10px;
    font-size: 80%;
    color: #fff;
    display: inline-block;
    margin-left: 0px;
    padding: 0 8px;
    text-decoration: none;
}

/* Selected tabs control */
.js-tabs .js-tabs_control .js-tabs_control-item--active,
.js-tabs .js-tabs_control .js-tabs_control-item--active:focus,
.js-tabs .js-tabs_control .js-tabs_control-item--active:active {
    background: url(http://static.myroyalewin.net/img/tab-bg-hover.png)no-repeat;
    border: 0px solid #999;
    border-bottom: none;
    color: #333;
    z-index: 1000;
	text-decoration: none;
}

.prof  {
	background: url(http://static.myroyalewin.net/img/prof-bg.jpg)repeat-x !important;
}

/* Tabs panel */
.js-tabs .js-tabs_panel {
    background-color: #000;
    border: 2px solid #e7c036;
    color: #fff;
    clear: left;
    display: block;
    position: relative;
    padding: 0 1em 1em;
    visibility: visible;
    z-index: 5;
	font-size: 12px;
	min-height: 740px;
}

.js-tabs .js-tabs_panel:focus {
    outline: 1px dotted #999;
}

.js-tabs .js-tabs_panel h2 {
    display: inline-block;
}

.js-tabs .js-tabs_panel h2:focus {
    outline: 1px dotted #999;
}

.js-btn,
.js-hide-show_btn {
    background: rgb(255,255,255); /* Fallback */
    background: linear-gradient(to bottom,
      rgba(255,255,255,1) 0%,
      rgba(243,243,243,1) 50%,
      rgba(237,237,237,1) 51%,
      rgba(243,243,243,1) 100%);
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow:
      0 1px 3px rgba(000,000,000,0.1),
      inset 0 0 3px rgba(255,255,255,1);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    margin: 1em 5px;
    padding: 5px 1em;
    text-shadow:
      0 -1px 0 rgba(000,000,000,0.2),
      0 1px 0 rgba(255,255,255,1);
}

.tbLeft  {
	display: block;
	position: absolute;
	width: 620px;
	height: auto;
	top: 10px;
	left: 10px;
	border: 2px solid #e7c036;
}

.tbLeft h2  {
	display: block;
	position: relative;
	width: 605px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0px 0px 15px;
	background: url(http://static.myroyalewin.net/img/h2-bg.jpg)repeat-x;
	color: #000;
}

.wallRowL  {
	display: block;
	position: relative;
	width: 100%;
	height: 35px;
	padding: 5px 0px;
	border-bottom: 1px solid #e7c036;
}

.wallRowLTxt  {
	display: block;
	position: relative;
	width: 150px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	font-size: 12px;
	word-wrap: break-word;
	font-weight: bold;
}
.wallRowLselect  {
	display: block;
	position: absolute;
	width: 220px;
	height: 35px;
	margin: 0px;
	left: 180px;
	top: 9px;
}

.wallRowLselect select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width: 220px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .wallRowLselect select {padding-right:18px}
}

.wallRowLselect label {position:relative}
.wallRowLselect label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:-3px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.wallRowLselect label:before {
    content:'';
    right:6px; top:-3px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.wallRowLselect input  {
	display: block;
	position: relative;
	width: 204px;
	height: 26px;
	background: #F8F8F8;
	color: #000;
	border: 0px;
	padding-left: 15px;
-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.wallRowLselect span  {
	display: block;
	position: relative;
	width: 204px;
	height: 26px;
	color: #fff;
	border: 0px;
	font-weight: bold;
	font-size: 14px;
	top: 5px;
}

.tbRight  {
	display: block;
	position: absolute;
	width: 300px;
	height: auto;
	right: 10px;
	top: 10px;
	border: 2px solid #e7c036;
}

.tbRight h2  {
	display: block;
	position: relative;
	width: 285px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0px 0px 15px;
	background: url(http://static.myroyalewin.net/img/h2-bg.jpg)repeat-x;
	color: #000;
}
.wallRow  {
	display: block;
	position: relative;
	width: 100%;
	height: 35px;
	background: url(http://static.myroyalewin.net/img/walletrow-bg.jpg)repeat-x;
}

.wallRowTxt  {
	display: block;
	position: relative;
	width: 150px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	font-size: 11px;
	word-wrap: break-word;
}
.wallRowAmt  {
	display: block;
	position: absolute;
	width: 110px;
	height: 35px;
	margin: 0px;
	right: 27px;
	top: 3px;
}
.wallRowAmt input  {
	display: block;
	position: relative;
	width: 110px;
	height: 24px;
	background: #000;
	color: #fff;
	border: 1px solid #000;
	padding-left: 15px;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(255, 255, 255, 0.36);
-moz-box-shadow:    1px 1px 6px 0px rgba(255, 255, 255, 0.36);
box-shadow:         1px 1px 6px 0px rgba(255, 255, 255, 0.36);
}

.wallTt  {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}

.tmImg  {
	display: block;
	position: relative;
	float: left;
}

.tm  {
	display: block;
	position: relative;
	float: left;
	margin-left: 10px;
	line-height: 28px;
}

.wallRowBt  {
	padding: 10px 10px 10px 70px;
	margin: 0px;
	width: 220px;
	height: auto;
	display: block;
	position: relative;
}
.wallRowBt a:link, .wallRowBt a:visited  {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.wallRowBt a:hover  {
	color: #e7c036;
	text-decoration: none;
}

.wallSubmit  {
	display: block;
	position: absolute;
	right: 0px;
	bottom: -45px;
}

.wallSubmit a:link, .wallSubmit a:visited  {
	display: block;
	position: relative;
	width: 85px;
	height: auto;
	padding: 8px 0px;
	text-align: center;
	background:url(http://static.myroyalewin.net/img/submitBg.jpg)repeat-x;
	border-radius: 4px;
	text-shadow: 2px 2px 1px rgba(0,0,0, 1);
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

.wallSubmit a:hover  {
	color: #fff;
	text-decoration: none;
	background: url(http://static.myroyalewin.net/img/submitBg-hover.jpg)repeat-x;
}

.wallReset  {
	display: block;
	position: absolute;
	right: 100px;
	bottom: -45px;
}

.wallReset a:link, .wallReset a:visited  {
	display: block;
	position: relative;
	width: 85px;
	height: auto;
	padding: 8px 0px;
	text-align: center;
	background:url(http://static.myroyalewin.net/img/submitBg.jpg)repeat-x;
	border-radius: 4px;
	text-shadow: 2px 2px 1px rgba(0,0,0, 1);
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

.wallReset a:hover  {
	color: #fff;
	text-decoration: none;
	background: url(http://static.myroyalewin.net/img/submitBg-hover.jpg)repeat-x;
}

.tp1  {
	top: 280px;
}

.tp2  {
	top: 50px;
}

.tp3  {
	/*top: 160px;*/
	top: 304px;
}

.tp4  {
	/*top: 85px;*/
	top: 224px;
}

.wallIntro  {
	display: block;
	position: relative;
	padding: 5px 0px;
	margin: 5px 0px 0px;
	height: 30px;
	width: 620px;
}

.wallRowLTxt1  {
	display: block;
	position: relative;
	width: 50px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	font-size: 12px;
	word-wrap: break-word;
	font-weight: bold;
}

.wallRowRadio  {
	display: block;
	position: absolute;
	width: 50px;
	height: 35px;
	margin: 0px;
	left: 60px;
	top: 7px;
}

.wallRowRadio input  {
	display: block;
	position: relative;
	width: 25px;
	height: 15px;
	background: #F8F8F8;
	color: #000;
	border: 0px;
	padding-left: 15px;
-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.wallRowLselects  {
	display: block;
	position: absolute;
	width: 80px;
	height: 35px;
	margin: 0px;
	left: 180px;
	top: 9px;
}

.wallRowLselects input {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #000;
    display: block;
    height: 26px;
    padding-left: 15px;
    position: relative;
    width: 80px;
}

.lft1  {
	left: 305px;
}

.wallHead  {
	display: block;
	position: relative;
	color: #ffa300;
	text-transform: uppercase;
	margin: 5px 0px 5px 5px;
	padding: 0px;
}
.wallRem  {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	left: 410px;
	top: 10px;
	font-size: 9px;
}
.a1  {
	display: block;
	position: absolute;
	top: 6px;
	left: 108px;
}

.tHist  {
	display: block;
	position: absolute;
	width: 620px;
	height: auto;
	top: 250px;
	left: 10px;
}
.tHead table th  {
	background:url(http://static.myroyalewin.net/img/h2-bg.jpg) repeat-x;
	height: 30px;
	color: #000;
	text-align: center;
	font-weight: bold;
	border-right: #000 solid 1px;
}

.tHead table td  {
	text-align: center;
	color: #fff;
	padding: 3px 0px;
	border-right: #000 solid 1px;
}

.memb  {
	margin-top: 0px !important;
}

.danimate  {
	display: block;
	position: relative;
	margin-left: 10px;
	margin-bottom: 38px;
	margin-top: 15px;
}

.BtnLeft  {
	display: block;
	position: relative;
	float: left;
	margin-left: 28px;
}

.boxRight  {
	display: block;
	position: relative;
	float: left;
	margin-left: 20px;
}

.boxRight ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.boxRight ul li  {
	margin: 0;
	padding: 0;
}

.boxRight ul li a:link, .boxRight ul li a:visited  {
	color: #000;
	font-size: 12px;
	text-decoration: none;
	background: rgb(179, 122, 17);
background: -moz-linear-gradient(270deg, rgb(179, 122, 17) 30%, rgb(231, 191, 51) 70%);
background: -webkit-linear-gradient(270deg, rgb(179, 122, 17) 30%, rgb(231, 191, 51) 70%);
background: -o-linear-gradient(270deg, rgb(179, 122, 17) 30%, rgb(231, 191, 51) 70%);
background: -ms-linear-gradient(270deg, rgb(179, 122, 17) 30%, rgb(231, 191, 51) 70%);
background: linear-gradient(0deg, rgb(179, 122, 17) 30%, rgb(231, 191, 51) 70%);
height: 35px;
width: 290px;
text-align: center;
line-height: 35px;
display: block; 
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: 1px solid #f1eda9;
margin-bottom: 5px;
}

.boxRight ul li a:hover {
	text-decoration: none;
background: #e6bd30;

}
	

.cnIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 415px;
	top: 30px;
	}

.thaiIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 258px;
	top: 131px;
	}
	
.vietIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 470px;
	top: 140px;
	}
	
.myIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 435px;
	top: 215px;
	}
	
.indoIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 465px;
	top: 293px;
	}
	
.slIcon {
	display: block;
	height: auto;
	position: absolute;
	left: 104px;
	top: 185px;
	}
	
.landBt  {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: -30px;
}

.inactive  {
	color: #6d6d6d !important;
}


/* Header */
.header  {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #000;
}
.headerInner  {
	margin: 0 auto;
	width: 1024px;
	height: 130px;
	display: block;
	position: relative;
}
.logo  {
	position: relative;
	margin: 14px 0px 0px;
	display: inline-block;
	height: 105px;
}
.logo img  {
	margin: 4px 0px 0px;
}
.headerRight  {
	margin: 5px 0px 0px 0px;
	right: 0px;
	display: inline-block;
	position: absolute;
	width: auto;
}
.headerRightTable  {
	display: block;
	font-size: 10px;
	color: #fff;
	position: absolute;
	bottom: 8px;
	right: 0px;
}

.headerRightTable table  {
	float: right;
	margin-top: 6px;
}
.headerRightTable table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-right: -70px;
}
.headerRightTable table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable table td  {
	padding: 0px 5px;
}
.headerRightTable input  {
	width: 110px;
	font-size: 11px;
	padding: 4px 0px 4px 6px;
	margin: 0px 0px 0px 5px;
	background-color: #2E080C;
	color: #fff;
	border: 1px solid #ac3535;
}

.headerRightTable input:focus  {
	box-shadow: 0 0 5px rgba(246, 159, 56, 1);
	border: 1px solid #f69f38;
}

.headerRightTable1  {
	display: block;
	font-size: 10px;
	color: #000;
	position: absolute;
	right: 90px;
	top: 5px;
}

.headerRightTable1 table  {
	float: right;
	margin-top: 0px;
}
.headerRightTable1 table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-right: -70px;
}
.headerRightTable1 table span a:link, .headerRightTable1 table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable1 table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable1 table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable1 table td  {
	padding: 3px 3px;
}
.headerRightTable1 input  {
	width: 110px;
	font-size: 11px;
	padding: 4px;
	margin: 0px 0px 0px 5px;
	background: #000;
	color: #fff;
	border: 1px solid #3d3a3a;
}

.headerRightTable1 input:focus  {
	box-shadow: 0 0 5px rgba(249, 234, 134, 1);
	border: 1px solid #f9ea86;
}

.joinNow  {
	color: #fff !important;
font-size: 14px;
background-image: url(http://static.myroyalewin.net/img/join-btn-bg.png);
background-repeat: no-repeat;
background-position: top center;
text-align: center;
width: 90px;
height: 33px;
line-height: 33px;
margin: 0px;
text-decoration: none !important;

}

.joinNow a:link, .joinNow a:visited  {
	color: #fff !important;
text-decoration: none !important;

}

.joinNow:hover  {
	color: #fff;
background-image: url(http://static.myroyalewin.net/img/join-btn-bg-hover.png);
background-repeat: no-repeat;
background-position: top center;
text-shadow: none;
cursor: pointer;
}
.vrf  {
	background-color: #000 !important;
	border: 1px solid #464646;
	width: 70px !important;
	color: #fff !important;
	text-align: center;
}

.mobBtn  {
	display: block;
	position: absolute;
	right: 180px;
	top: 10px;
	z-index: 999999;
	}


.joinBtn  {
	display: block;
	position: absolute;
	right: 0px;
	top: -2px;
	z-index: 99999;
	}
	
.joinBtn a:link, .joinBtn a:visited  {
	width: 85px;
	height: 51px;
	background-image: url(http://static.myroyalewin.net/img/nav-join-bg.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 0px 0px 45px;
	line-height: 51px;
	}
	
.joinBtn a:hover {
	background-image: url(http://static.myroyalewin.net/img/nav-join-bg-hover.png);
	background-repeat: no-repeat;
	text-decoration: none;
	color: #E6BC38;
	}

.loginBtn  {
	display: block;
	position: absolute;
	right: 0px;
	top: 8px;
	}
.loginBtn a:link, .loginBtn a:visited  {
	background-image: url(http://static.myroyalewin.net/img/header-login-bg.jpg);
	background-repeat: repeat-x;
color: #000;
font-size: 12px;
font-weight: bold;
width: auto;
height: auto;
padding: 4px 14px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
}

.loginBtn a:hover  {
	background-image: url(http://static.myroyalewin.net/img/header-login-bg-hover.jpg);
	background-repeat: repeat-x;
}

.logoutBtn  {
	display: block;
	position: absolute;
	right: 0px;
	top: 8px;
	}
.logoutBtn a:link, .logoutBtn a:visited  {
	background: rgb(255, 7, 7);
background: -moz-linear-gradient(90deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -webkit-linear-gradient(90deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -o-linear-gradient(90deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -ms-linear-gradient(90deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: linear-gradient(180deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
color: #fff;
font-size: 12px;
font-weight: bold;
width: auto;
height: auto;
padding: 4px 14px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
}

.logoutBtn a:hover  {
	background: rgb(255, 7, 7);
background: -moz-linear-gradient(270deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -webkit-linear-gradient(270deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -o-linear-gradient(270deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: -ms-linear-gradient(270deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
background: linear-gradient(0deg, rgb(255, 7, 7) 30%, rgb(130, 4, 0) 70%);
color: yellow;
}

.forgetP  {
	display: block;
	position: absolute;
	right: 0px;
	top: 38px;
	color: #fff;
	font-size: 10px;
	width: 140px;
	text-align: right;
	}
	
.forgetP a:link, .forgetP a:visited  {
	text-decoration: none;
	color: #fff;
	}
	
.forgetP a:hover  {
	text-decoration: none;
	color: #F7E67B;
	}

.submitBtn  {
	display: block;
	position: relative;
	left: 0px;
	top: 10px;
	}
.submitBtn a:link, .submitBtn a:visited  {
color: #fff;
font-size: 14px;
background: #850402;
padding: 0px;
width: 65px;
height: 30px;
line-height: 30px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
}

.submitBtn a:hover  {
background: #2A1106;
}


.msgBoxM  {
	display: block;
	position: relative;
	width: 450px;
	height: 315px;
	background-image: url(http://static.myroyalewin.net/img/under-maintenance.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 40px auto 70px;
}

.msgBM  {
	display: block;
	position: absolute;
	width: 350px;
	height: 40px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	border: 3px solid #850402;
	font-weight: bold;
	text-align: center;
	padding: 10px 0px;
	bottom: -30px;
	left: 50px;
}

.anmnt  {
	position: absolute;
	height: auto;
	display: block;
	width: 530px;
	bottom: 6px;
	left: 0px;
}
.anmntInner  {
	height: 35px;
	line-height: 35px;
	display: block;
	width: 100%;
	margin: 0px auto;
	color: #F7E67B;
	font-size: 12px;
	padding-left: 30px;
	background: url(http://static.myroyalewin.net/img/header-anmnt-icon.png)no-repeat left center;
}
.anmnt marquee  {
	width: 87%;
	line-height: 14px;
}
.anmnt marquee:hover  {
	color: yellow;
}

.anmnt span  {
	color: #fff;
	font-weight: bold;
}


.errorBg {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/404-bg.png") no-repeat scroll center center;
    display: block;
    height: 420px;
    position: relative;
    width: 1024px;
	margin-bottom: -15px;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin: 0 auto 40px;
    padding: 50px 5px 0;
    width: 450px;
	position: relative;
}
.msgBox1 p {
    color: #fff;
    font-size: 12px !important;
    padding: 0 0 2px;
    text-align: center;
}
.excl {
    color: #444;
    display: block;
    margin: -3px 0 8px;
    padding-top: 0;
    text-align: center;
}


.errText {
    color: #000;
    display: block;
    font-size: 36px;
    position: relative;
    text-align: center;
    top: 80px;
    width: 100%;
}

.mobCont  {
	display: block;
	position: relative;
	margin-top: 20px;
}

.mob1  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(http://static.myroyalewin.net/img/mxb-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

.mob2  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(http://static.myroyalewin.net/img/ag-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

.mob3  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(http://static.myroyalewin.net/img/gp-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

.mob4  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(http://static.myroyalewin.net/img/pt-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

.mob5  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(http://static.myroyalewin.net/img/allb-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
}

.mobTxt  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 60px;
}

.mobTxt1  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 63px;
	left: 46px;
}

.mobTxt2  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 48px;
}

.mobTxt3  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 48px;
}

.ctCont  {
	display: block;
	position: relative;
	width: 100%;
	height: 480px;
	background-image: url(http://static.myroyalewin.net/img/contact-bg.png);
	background-position: right;
	background-repeat: no-repeat;
}

.conTit  {
	display: block;
	position: absolute;
	top: 80px;
	left: 100px;
}

.conTit1  {
	display: block;
	position: absolute;
	top: 168px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(http://static.myroyalewin.net/img/ct-bg-1.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

.conTit2  {
	display: block;
	position: absolute;
	top: 240px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(http://static.myroyalewin.net/img/ct-bg-2.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

.conTit3  {
	display: block;
	position: absolute;
	top: 315px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(http://static.myroyalewin.net/img/ct-bg-3.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

table.bankingtable {
    border-collapse: collapse;
    border-color: #e7e7e7;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    width: 1024px;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}

.midBG  {
	display: block;
	position: relative;
	background-image: url(http://static.myroyalewin.net/img/mid--box-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1024px;
	height: 220px;
	margin: 0px auto 0px;
	padding: 0px;
}

.midBG1  {
	display: block;
	position: relative;
	background-image: url(http://static.myroyalewin.net/img/roof-bg-1.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1024px;
	height: 127px;
	line-height: 177px;
	margin: 10px auto 0px;
	padding: 0px;
}

.pgTit  {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	color: #fff;
	font-weight: bolder;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 35px;
}

.lotTit  {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 48px;
	left: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color: #850402;
	font-weight: bolder;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
}

.lotTit a:link, .lotTit a:visited  {
	color: #850402;
	text-decoration: none;
}

.lotTit a:hover  {
	color: yellow;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}



.midBGbx  {
	display: block;
	position: relative;
	width: 333px;
	height: 100px;
	
float: left;
margin: 0px;
}

.midBGbx2  {
	display: block;
	position: relative;
	width: 313px;
	height: 100px;
	
float: left;
margin: 0px;
}

.midBGhead  {
	color: #ffae00;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	background-image: url(http://static.myroyalewin.net/img/mid-head-bg.png);
	background-repeat: no-repeat;
	display: block;
	width: 323px;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
}

.midBGhead2  {
	color: #ffae00;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	background-image: url(http://static.myroyalewin.net/img/mid-head-bg2.png);
	background-repeat: no-repeat;
	display: block;
	width: 323px;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
}

.midBGhead3  {
	color: #ffae00;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	background-image: url(http://static.myroyalewin.net/img/mid-head-bg3.png);
	background-repeat: no-repeat;
	display: block;
	width: 303px;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
}


.midBGcontent  {
	display: block;
	position: relative;
}

.midBGcontent2  {
	display: block;
	position: relative;
	width: 100%;
	height: 166px;
	background-image: url(http://static.myroyalewin.net/img/mid-mob-bg.png);
	background-repeat: no-repeat;
}

.midBGcontent3  {
	display: block;
	position: relative;
	width: 313px;
	height: 166px;
	background-image: url(http://static.myroyalewin.net/img/mid-box-bg2.jpg);
	background-repeat: no-repeat;
}

.midBGcontentItem  {
	display: block;
	position: absolute;
	top: 15px;
	right: 13px;
}

.midBGcontentItem2  {
	display: block;
	position: absolute;
	top: 20px;
	left: 13px;
}

.midBGcontentItem3  {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 16px;
	width: 140px;
	color: #fff;
	font-size: 12px;
}

.midBGcounter1  {
	display: block;
	position: absolute;
	top: 25px;
	right: 6px;
	width: 132px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	background: url(http://static.myroyalewin.net/img/mid-counter-1.png)no-repeat;
}

.midBGcounter2  {
	display: block;
	position: absolute;
	top: 67px;
	right: 6px;
	width: 132px;
	padding-left: 10px;
	height: 30px;
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	background: url(http://static.myroyalewin.net/img/mid-counter-2.png)no-repeat;
}

.midBGcounter3  {
	display: block;
	position: absolute;
	bottom: 25px;
	right: 6px;
	width: 132px;
	padding-left: 10px;
	height: 30px;
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	background: url(http://static.myroyalewin.net/img/mid-counter-3.png)no-repeat;
}

.midSep  {
	display: block;
	position: relative;
	width: 12px;
	height: 215px;
	background: url(http://static.myroyalewin.net/img/mid-box-seperator.png)no-repeat center bottom;
	float: left;
}

.fltLeft  {
	float: left;
	margin-right: 10px;
	color: #fff;
	font-size: 12px;
}

.fltLeft1  {
	float: left;
	margin-right: 10px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.fltLeft1 table td  {
	padding: 4px 8px;
	text-align: center;
}

.fltLeft1 table tr:first-child {
    background-color: #ffae00;
}

.fltLeft1 table tr:nth-child(even) {
    font-size: 15px;
}

.fltLeft1 table tr:nth-child(odd){
    background-color: #ffae00;
}

.midBGbx span  {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	display: block;
	margin: 0px 0px 0px 15px;
}

.midBGbx table  {
	margin:14px 0px 0px 15px;
}

.tp01  {
	margin-top: 55px !important;
	margin-left: 30px !important;
}

.tp02  {
	margin-top: 35px !important;
	margin-left: 10px !important;
}

.tp03  {
	margin-left: 40px !important;
}

.colr1  {
	font-size: 18px !important;
}

.colr2  {
	color: #8f7e80 !important;
}

.ac1  {
	margin-left: 10px !important;
}
.jnCont  {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120px;
	display: block;
	z-index: 3333;
}

.midContf  {
	font-size: 12px;
	margin-bottom: 200px;
}

.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}

.acctContentReg1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
	height: 320px;
}

.acctRow {
    color: #fff !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
}
.acctRow label {
    color: #000;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin: 0 auto 80px;
    padding: 50px 5px 0;
    width: 450px;
}
.msgBox1 p {
    color: yellow;
    font-size: 12px !important;
    padding: 0 0 2px;
    text-align: center;
}
.excl {
    color: #444;
    display: block;
    margin: -3px 0 8px;
    padding-top: 0;
    text-align: center;
}

.lchat  {
	background-color: #de0b10;
	width: 150px;
	height: 30px;
	margin-top: -4px;
	position: absolute;
	}
.lchat span  {
	width: 90px;
	height: 30px;
	margin: 7px 0px 0px 28px;
	background-image: url(http://static.myroyalewin.net/img/chat-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 25px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.lchat:hover  {
	background-color: #170000;
}
.navCont  {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 47px;
	background: url(http://static.myroyalewin.net/img/header-nav-bg.jpg)repeat-x;
	margin: 0 auto;
	padding: 0;
	z-index: 2008;
}
.navContInner  {
	position: relative;
	display: block;
	width: 1024px;
	height: 47px;
	background: none;
	margin: 0 auto;
	padding: 0;
	z-index: 2008;
}


.homeIcon {
	margin-top: 10px;
}

.selected  {
	color: #000 !important;
	text-decoration: none !important;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.4) !important;
	background: rgb(250, 183, 25) !important;
    background: -moz-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -webkit-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -o-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -ms-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: linear-gradient(180deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: -40px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 1009;
	border-right: 1px solid #e1a513;
	border-left: 1px solid #e1a513;
	border-bottom: 1px solid #e1a513;
	
}
.navCont ul li ul li {
    background: #e1a513;
    color: #000;
    display: block;
    z-index: 3;
	width: 100%;
	font-size: 12px;
	height: 39px !important;
	line-height: 39px !important;
	text-align: center;
	cursor: pointer;
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #000;
	font-size: 12px;
	width: 100% !important;
	height: 39px !important;
	line-height: 39px !important;
	margin: 0;
	padding: 0;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: #AC3535;
	border: none !important;
	font-weight: normal;
	color: #fff;
	font-size: 13px;
	text-shadow: none;
}
.navCont ul li ul li:hover {
    background: #000 none repeat scroll 0 0;
    z-index: 4;
	color: #fff;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.lcBg  {
	background-image: url(http://static.myroyalewin.net/img/bg-lc.jpg) !important;
	background-cover: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #c7995d;
}
.slotBg  {
	background-image: url(http://static.myroyalewin.net/img/bg-slot.jpg) !important;
	background-cover: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #c7995d;
}

.homeIC  {
	background-image: url(http://static.myroyalewin.net/img/home-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.homeIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/home-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.spIC  {
	background-image: url(http://static.myroyalewin.net/img/sports-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.spIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/sports-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.lcIC  {
	background-image: url(http://static.myroyalewin.net/img/lc-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.lcIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/lc-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.slotIC  {
	background-image: url(http://static.myroyalewin.net/img/slot-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.slotIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/slot-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.dIC  {
	background-image: url(http://static.myroyalewin.net/img/d-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.dIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/d-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.promoIC  {
	background-image: url(http://static.myroyalewin.net/img/promo-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.promoIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/promo-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.mobIC  {
	background-image: url(http://static.myroyalewin.net/img/mob-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.mobIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/mob-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.contactIC  {
	background-image: url(http://static.myroyalewin.net/img/contact-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.contactIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/contact-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.prodIC  {
	background-image: url(http://static.myroyalewin.net/img/prod-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.prodIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/prod-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.commIC  {
	background-image: url(http://static.myroyalewin.net/img/comm-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.commIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/comm-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.faqIC  {
	background-image: url(http://static.myroyalewin.net/img/faq-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.faqIC:hover  {
	background-image: url(http://static.myroyalewin.net/img/faq-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.affcontactIC  {
	background-image: url(http://static.myroyalewin.net/img/affC-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.affcontactIC :hover  {
	background-image: url(http://static.myroyalewin.net/img/affC-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.w01  {
	width: 300px !important;
}

.w02  {
	width: 290px !important;
}

.commTit  {
	font-size: 16px;
	margin-top: 15px;
}

.commTxt  {
	font-size: 14px;
}

.abc ul li  {
	color: #fffc00;
}

.abc ul li span  {
	color: #000;
}


.mt-20  {
	margin-top: 20px;
	padding-top: 10px;
}

.sliderContaff {
    background: #000 none repeat scroll 0 0;
    height: 283px;
    margin-top: 0;
    position: relative;
    width: 100%;
}

/* Mid sect */
.midSect  {
	width: 100%;
	height: auto;
	position: relative;
	background-image: url(http://static.myroyalewin.net/img/bg-large.jpg);
	background-repeat:no-repeat;
	background-position: top center;
	margin-top: -5px;
	padding-bottom: 10px;
}

.bgLc  {
		background-image: url(http://static.myroyalewin.net/img/bg-large-lc.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}

.bgSlot  {
		background-image: url(http://static.myroyalewin.net/img/bg-large-slot.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}

.bgSp  {
		background-image: url(http://static.myroyalewin.net/img/bg-sp.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}

.bg4d  {
		background-image: url(http://static.myroyalewin.net/img/bg-4d.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}

.bgpromo {
		background-image: url(http://static.myroyalewin.net/img/bg-promo.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}

.bgOthers {
		background-image: url(http://static.myroyalewin.net/img/bg-others.jpg) !important;
	background-repeat:no-repeat;
	background-position: top center;
}
	
	
.bigSelect  {
	float: left;
	display: block;
	position: relative;
	margin-top: 20px;
}

.bigThumb  {
	float: right;
	display: block;
	position: relative;
	margin-top: 20px;
}

.bigThumb ul  {
	margin: 0;
	padding: 0;
}

.bigThumb ul li  {
	opacity: 0.6;
}

.lcSelected  {
	opacity: 1 !important;
}


.midSectInner  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 65px;
	padding: 0px;
}
.midSectInnerM  {
	width: 100%;
	height: auto;
	position: relative;
	background: #fff url(http://static.myroyalewin.net/img/mob-bg.jpg)bottom center no-repeat;
	margin-top: 0px;
	padding: 0px;
}
.midSectCont  {
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.midSectContLC  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(http://static.myroyalewin.net/img/lc-bg.jpg);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContLC .anmntInner  {
	color: #fff;
}

.midSectContD  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(http://static.myroyalewin.net/img/d-bg.jpg);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContD .anmntInner  {
	color: #fff;
}

.midSectContSP  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(http://static.myroyalewin.net/img/sp-bg.png);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContSP .anmntInner  {
	color: #000;
}

.midSectCont1  {
	width: 1180px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.spCont  {
	margin-top: 200px;
}
.hpgSelection  {
	width: 1024px;
	margin-right: 0px;
	display: inline-block;
}
.LCbox {
	float: left;
	margin-right: 0px;
    height:290px;
    width: 250px;
    overflow: hidden;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 background-position: center;   
}
.LCbox:hover img {
-webkit-transform: rotateY(360deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(360deg);
transform-style: preserve-3d;
}

.LCbox img, .LCbox:hover img {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.playBtn  {
	margin-left: 15px;
	margin-top: 5px;
	}

.playBtn a:link, .playBtn a:visited  {
	display: block;
	position: relative;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	background: rgb(122, 80, 10);
background: -moz-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -webkit-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -o-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: -ms-linear-gradient(90deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
background: linear-gradient(180deg, rgb(122, 80, 10) 16%, rgb(243, 210, 97) 100%);
border-radius: 6px;
}

.playBtn a:hover  {
background: #ECCA5C;
text-decoration: none;
}


.slotContainerBottom  {
	display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}
.slotMenuHolder  {
	width: 1024px;
	height: 35px;
    background: url(http://static.myroyalewin.net/img/slot-btm-bg.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(http://static.myroyalewin.net/img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #000;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #fff;
	text-decoration: none;
	background: #000;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1024px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 1px solid #EBAF4D;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	border: 1px dotted #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}
.sliderCont  {
	width: 100%;
	height: 400px;
	position: relative;
	margin-top: 0px;
}
.sliderContInner  {
	width: 1024px;
	height: 400px;
	display: block;
	position: relative;
	margin: 0px auto 0px;
	padding: 0;
}

.sliderImg  {
	display: block;
	position: absolute;
	width: 345px;
	height: 400px;
	background-image: url(http://static.myroyalewin.net/img/slider-img-1.png);
	background-repeat: no-repeat;
	left: 0px;
	bottom: 0px;
}

.slider  {
	display: block;
	position: relative;
	float: right;
	width: 690px;
	height: 400px;
}

.sliderSelect  {
	display: block;
	position: absolute;
	width: 1024px;
	height: 170px;
	background-image: url(http://static.myroyalewin.net/img/slider-select-bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	bottom: -60px;
	z-index: 490;
}

.lcCont  {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
}

.lotCont  {
	display: block;
	position: relative;
	margin-bottom: -15px;
}

.slotCont  {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	height: 870px;
}

.lottery  {
	display: block;
	position: relative;
	width: 1024px;
	height: 571px;
	background-image: url(http://static.myroyalewin.net/img/lottery-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.showbox {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-sp.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 65px;
}
.showbox:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-sp-hover.png") no-repeat scroll 0 0;
}
.showbox1 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-slot.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 20px;
}
.showbox1:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-slot-hover.png") no-repeat scroll 0 0;
}
.transition {
    transform: scale(1.2);
}
.showbox2 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-casino.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 20px;
}
.showbox2:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-casino-hover.png") no-repeat scroll 0 0;
}
.showbox3 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-4d.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 20px;
}
.showbox3:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-4d-hover.png") no-repeat scroll 0 0;
}
.showbox4 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-sky.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 20px;
}
.showbox4:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-sky-hover.png") no-repeat scroll 0 0;
}
.showbox5 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-dl.png") no-repeat scroll 0 0;
    float: left;
    height: 154px;
    transition: all 0.4s ease-in-out 0s;
    width: 131px;
	margin-left: 20px;
}
.showbox5:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-dl-hover.png") no-repeat scroll 0 0;
}
.showbox6 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/lc-img-7-cn.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox6:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/lc-img-7-cn.png") no-repeat scroll 0 0;
}

.showbox7 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-mxb.png") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox7:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-mxb.png") no-repeat scroll 0 0;
}

.showbox8 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-pt.png") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox8:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-pt.png") no-repeat scroll 0 0;
}

.showbox9 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-wft.png") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox9:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-wft.png") no-repeat scroll 0 0;
}

.showbox10 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-gp.png") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox10:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-gp.png") no-repeat scroll 0 0;
}

.showbox11 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/sp-i.png") no-repeat scroll 0 0;
    float: left;
    height: 245px;
    transition: all 0.4s ease-in-out 0s;
    width: 300px;
	z-index: 999999;
}
.showbox11:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/sp-i.png") no-repeat scroll 0 0;
}

.showbox12 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/sp-w.png") no-repeat scroll 0 0;
    float: left;
    height: 245px;
    transition: all 0.4s ease-in-out 0s;
    width: 300px;
	z-index: 999999;
}
.showbox12:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/sp-w.png") no-repeat scroll 0 0;
}

.showbox13 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-joker.PNG") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox13:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-joker.PNG") no-repeat scroll 0 0;
}

.showbox14 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-sky.PNG") no-repeat scroll 0 0;
    float: left;
    height: 250px;
    transition: all 0.4s ease-in-out 0s;
    width: 160px;
	z-index: 999999;
}
.showbox14:hover {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-sky.PNG") no-repeat scroll 0 0;
}

.showbox15 {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-spg.png") no-repeat scroll 0 0;
	float: left;
	height: 250px;
	transition: all 0.4s ease-in-out 0s;
	width: 160px;
	z-index: 999999;
}
.showbox15:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/slot-spg.png") no-repeat scroll 0 0;
}


.showbox-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-sp.PNG") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 65px;
}
.showbox-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-sp-hover.PNG") no-repeat scroll 0 0;
}
.showbox1-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-slot.PNG") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 20px;
}
.showbox1-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-slot-hover.png") no-repeat scroll 0 0;
}
.showbox2-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-casino.PNG") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 20px;
}
.showbox2-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-casino-hover.PNG") no-repeat scroll 0 0;
}
.showbox3-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-isin4d.PNG") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 20px;
}
.showbox3-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-isin4d-hover.png") no-repeat scroll 0 0;
}
.showbox4-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-sky.png") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 20px;
}
.showbox4-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-sky-hover.png") no-repeat scroll 0 0;
}
.showbox5-id {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-dl.png") no-repeat scroll 0 0;
	float: left;
	height: 154px;
	transition: all 0.4s ease-in-out 0s;
	width: 131px;
	margin-left: 20px;
}
.showbox5-id:hover {
	background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mid-id-dl-hover.png") no-repeat scroll 0 0;
}

.transition {
    transform: scale(1.2);
}

.slotMxb  {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 30px;
}
.slotPt  {
	display: block;
	position: absolute;
	left: 173px;
	top: 98px;
}
.slotJok  {
	display: block;
	position: absolute;
	left: 345px;
	top: 20px;
}
.slotSky  {
	display: block;
	position: absolute;
	right: 345px;
	top: 20px;
}
.slotWft  {
	display: block;
	position: absolute;
	right: 0px;
	bottom: 30px;
}

.slotGp  {
	display: block;
	position: absolute;
	right: 173px;
	top: 98px;
}

.slotSpg {
	display: block;
	position: absolute;
	right: 173px;
	top: 98px;
}

.spI  {
	display: block;
	position: absolute;
	left: 100px;
	bottom: 36px;
}

.spW  {
	display: block;
	position: absolute;
	right: 100px;
	bottom: 36px;
}

.spContainer  {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

.slotCount  {
	width: 280px;
	height: 116px;
	display: block;
	position: absolute;
	right: 370px;
	top: 90px;
	background: url(http://static.myroyalewin.net/img/jp-slot-bg.png)no-repeat;
}

.slotCount span  {
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	top: 13px;
	left: 27px;
}

.slotPgtit  {

	position: absolute;
	bottom: 40px;
	left: 430px;
}


.slideBtn  {
	position: absolute;
	right: 160px;
	top: 320px;
}
.qrBox  {
	position: absolute;
	display: block;
	width: 200px;
	height: 290px;
	background-image: url(http://static.myroyalewin.net/img/qrBg.png);
	background-repeat: no-repeat;
	background-position: center top;
	left: 0px;
	top: 20px;
	padding-top: 60px;
	z-index: 999999;
}
.slideW  {
	position: absolute;
	display: block;
	right: 0px;
	top: -30px;
}
.inpQr  {
	padding-bottom: 10px;
	}
.inpQr input  {
	border: 1px solid #7B5E2D;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding: 3px;
	width: 100px;
	padding
	background-color: #F2EEB4 !important;
}
.inpQr label  {
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	margin-left: 18px;
	display: block;
	margin-top: 3px;
}
.inpQr label, .inpQr input   {
	float: left;
}
.inpBtn a:link  {
	position: absolute;
	display: block;
	color: rgb(230, 230, 230);
font-size: 12px;
padding: 7px 17px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(210, 20, 20);
background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
text-decoration: none;
font-weight: bold;
margin-left: 78px;
}
.midSectCont h3  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
}
.midSectCont h4  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: left;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	margin: 5px 0px 15px;
	border-bottom: 1px solid #D91114;
}
.midIcon1  {
	float: left;
	display: inline-block;
	width: 294px;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.midIcon4  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 50px;
	margin-bottom: 20px;
}

.midIcon5  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 50px;
	margin-bottom: 20px;
}

.midIcon3  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.midIcon2  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 0px;
	margin-bottom: 20px;
}
.midImg  {
	float: left;

}
.midImg1  {
	float: left;
	border: 1px solid #900000;
	padding: 15px 10px 0px;
	display: block;
}
.midImg2  {
	float: left;
	border: 1px solid #fcde2e;
	background: #000;
	padding: 15px 10px 0px;
	display: block;
	color: #fff;
}
.affP  {
	font-size: 12px;
	margin: 5px 15px 15px 15px;

}

.affPI  {
	font-size: 12px;
	margin: 5px 18px 15px 8px;

}

.ghh  {
	color: #8f0000;
}

.A1  {
	margin-bottom: 41px;
}
.midTxt  {
	float: left;
	width: auto;
	display: block;
	height: 110px;

}
.midTxt span  {
	display: inline-block;
	margin-top: 35px;
	margin-left: 10px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	width: 128px;

}
.midTxt span:hover  {
	color: yellow;


}
.hpgSelection  {
	width: 1024px;
	margin-right: 30px;
	display: inline-block;
}
.tabTit  {
	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 10px 0px 10px;
}
.tabSlot  {
	float: left;
	margin-left:20px;
}

.mob-pt  {
   display: block;
   position: relative;
   float: left;
   width: 450px;
   height: 289px;
   background: url(http://static.myroyalewin.net/img/pt-mob.png);
}

.mob-ag  {
   display: block;
   position: relative;
   float: right;
   width: 450px;
   height: 289px;
   background: url(http://static.myroyalewin.net/img/ag-mob.png);
}

.mob-gp  {
   display: block;
   position: relative;
   float: right;
   width: 450px;
   height: 289px;
   background: url(http://static.myroyalewin.net/img/gp-mob.png);
   margin: 20px 0px 30px
}

.mob-mxb  {
   display: block;
   position: relative;
   float: left;
   width: 450px;
   height: 289px;
   background: url(http://static.myroyalewin.net/img/mxb-mob.png);
   margin: 20px 0px 30px
}

.qrBx  {
	display: block;
	position: absolute;
	width: 78px;
	right: 150px;
	bottom: 8px;
}

.qrBxS  {
	display: block;
	position: absolute;
	width: 78px;
	right: 90px;
	bottom: 8px;
}

.qrBx1  {
	display: block;
	position: absolute;
	width: 78px;
	right: 28px;
	bottom: 8px;
}

.qrBxR  {
	display: block;
	position: absolute;
	width: 78px;
	left: 150px;
	bottom: 8px;
}

.qrBx1R  {
	display: block;
	position: absolute;
	width: 78px;
	left: 28px;
	bottom: 8px;
}

/* Footer*/
.footer  {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background-image: url(http://static.myroyalewin.net/img/footer-bg-1.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.footerInner  {
	width: 1024px;
	margin: 0px auto 15px;
	padding: 10px 0px;
height:auto;
	display: block;
	position: relative;
}
.footerLeft  {
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: auto;
}

.footerTextL  {
	display: block;
	position: relative;
	width: 490px;
	height: auto;
	float: left;
	margin-right: 24px;
}

.footerTextR  {
	display: block;
	position: relative;
	width: 490px;
	height: auto;
	float: left;
}

.footerCenter  {
	display: block;
	position: relative;
	width: 1024px;
	text-align: center;
	margin-top: 20px;
}

.footerContent  {
	display: block;
	position: relative;
	width: 100%;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
}

.footerContent p  {
	margin: 5px 0px;
	padding: 0px;
}

.footerTitle  {
	color: #ffae00;
	font-weight: bold;
}

.footerSub  {
	color: #ffd47b;
	font-style: italic;
	margin: 5px 0px;
}


.footerRight  {
	float: right;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	color: #ffae00;
	font-size: 11px;
}

.footerLeft1  {
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 0px;
}

.footerRight1  {
	float: right;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	margin: 15px 0px 0px;
	color: #fff;
}

.footerLeft ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerLeft ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 8px 0px 8px;
	border-right: 1px solid #ffae00;
	height: 14px;
	line-height: 14px;
	
	}

.footerLeft ul li a:link, .footerLeft ul li a:visited  {
	font-size: 11px;
	color: #ffae00;
	vertical-align: 1px;
	text-decoration: none;
}

.footerLeft1 ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerLeft1 ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 8px 0px 8px;
	height: 14px;
	line-height: 14px;
	
	}

.footerLeft1 ul li a:link, .footerLeft1 ul li a:visited  {
	font-size: 12px;
	color: #fff;
	vertical-align: 1px;
	text-decoration: none;
}

.footerRight1 ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerRight1 ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 4px 0px 4px;
	height: 14px;
	line-height: 14px;
	
	}

.footerRight1 ul li a:link, .footerRight1 ul li a:visited  {
	font-size: 11px;
	color: #ffae00;
	vertical-align: 1px;
	text-decoration: none;
}



.nM  {
	padding-left: 0px !important;
}

.nM1  {
	border-right: 0px solid #000 !important;
}


.footerCol1  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 10px;
	width: 300px;
	height: 300px;
	background-image: url(http://static.myroyalewin.net/img/footerSeperator.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.footerCol1 h2  {
	margin: 10px 0px 10px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 250px;
}
.footerCol6  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 10px;
	width: 300px;
	height: 280px;

}
.footerCol6 h2  {
	margin: -5px 0px 80px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 280px;
}
.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 20px;
	width: 300px;
	height: 280px;
	background-image: url(http://static.myroyalewin.net/img/footerSeperator.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.footerCol h2  {
	margin: 10px 0px 10px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 250px;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 210px;
}
.footerCol3 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footerBottom  {
	margin-top: 0px;
	border-top: 0px solid #b00e0c;
	text-align: center;
}
.footerBottom span  {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: -10px;
	font-size: 11px;
	color: #fff;
	padding-bottom: 10px;
	font-weight: bold;
}
.footerLink  {
	display: inline-block;
	margin: 10px 0px;
	padding: 0px 0px 0px 10px;
	color: #fff;
	width: 100%;
}
.footerLink span  {
	display: block;
	width: 100%;
}
.line {
    background: #363636 none repeat scroll 0 0;
    clear: both;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}
.lcTitle  {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
}
.slotTitle  {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}
#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 320px;
	height: 373px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 16px 0px 0px;
	cursor: pointer;
}
#crossfade1 {
position:relative;
}
#crossfade1 img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade1 img.top:hover {
opacity:0;
}
.lcBoxSlot  {
	width: 300px;
	height: 455px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 20px 0px 20px;
	cursor: pointer;
}

.slot1  {
	display: block;
	position: absolute;
	top: 0px;
	left: 350px;
	width: 320px;
	height: 373px;
}

.slot2  {
	display: block;
	position: absolute;
	top: 265px;
	right: 190px;
	width: 320px;
	height: 373px;
}

.slot3  {
	display: block;
	position: absolute;
	top: 510px;
	left: 360px;
	width: 320px;
	height: 373px;
}

.slot4  {
	display: block;
	position: absolute;
	top: 265px;
	left: 190px;
	width: 320px;
	height: 373px;
}


.anmntOther  {
	height: 60px;
	display: inline-block;
	width: 100%;
	background-color: #000;
	margin-top: -3px;
}
.anmntOtherInner  {
	background-image: url(http://static.myroyalewin.net/img/marqueeBg.png);
	background-repeat: no-repeat;
	height: 35px;
	line-height: 35px;
	display: block;
	width: 984px;
    margin: 5px auto 0px;
	color: #fff;
	font-size: 12px;
	padding-left: 40px;
}
.anmnt marquee:hover  {
	color: yellow;
}
.spHeader  {
	position: relative;
	display: inline-block;
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: url(http://static.myroyalewin.net/img/sp-header.png)no-repeat top center;
}
#crossfade2 {
position:relative;
}
#crossfade2 img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade2 img.top:hover {
opacity:0;
}
.lcBoxSp  {
	width: 280px;
	height: 69px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 210px 20px 10px 150px;
	cursor: pointer;
}
.dContainer  {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	height: 510px;
}

.dContainerTop  {
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 20px;
	position: relative;
}

.dContainerTopInner  {
	width: 1024px;
	height: 150px;
	margin: 10px auto 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.dBtnLeft  {
	display: block;
	position: absolute;
	top: 0;
	left: 300px;
	width: 133px;
	height: 133px;
}

.dBtnRight  {
	display: block;
	position: absolute;
	top: 0;
	right: 330px;
	width: 133px;
	height: 133px;
}

.dContainerBottom  {
	width: 1024px;
	height: auto;
	margin: 0px auto;
	position: relative;
	display: block;
}


.dTxt  {
	display: block;
	position: relative;
	width: 600px;
	float: left;
}
.dContainerBottomInner  {
	width: 1024px;
	height: 100%;
	margin: 20px 0px 10px 13px;
	padding: 0px;
	display: inline-block;
	position: relative;
}

#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 10px 14px 0;
    overflow: hidden;
    width: 190px;
	padding-bottom: 5px;
}

#fD_tablelast {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0px 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 140px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table3 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
}

.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 180px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.dBg  {
	width: 225px;
	height: 300px;
	position: relative;
	display: block;
	background-image: url(http://static.myroyalewin.net/img/4dbg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.betBtn  {
	position: absolute;
	top: 0px;
	left: 20px;
}
.payBtn  {
	position: absolute;
	bottom: 0px;
	left: 20px;
}
#promo  {
	width: 1024px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 5px 0px 0px 0px;
	}
	
	#promo1  {
		float: left;
	width: 804px;
	height: auto;
	display: block;
	margin: 20px auto 0px;
	padding: 5px 0px 0px 0px;
	}
	
	.affMenu  {
	float: left;
	width: 180px;
	height: auto;
	display: block;
	margin: 30px 20px 0px 0px;
	padding: 5px 0px 25px 0px;
	background: #EBEBEB;
	}
	.affMenu ul  {
	display: block;
	position: relative;
	margin: 10px 0px 5px 10px;
	padding: 0;
	list-style-type: none;
	}
	.affMenu ul li  {
	display: block;
	position: relative;
	margin: 0px 12px 0px 0px;
	padding: 8px;
	border-bottom: 1px solid #da9f05;
	}
	
	.affMenu ul li a:link, .affMenu ul li a:visited   {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	}
	
	.affMenu ul li a:hover   {
	color: #e1ab06;
	text-decoration: none;
	}
	
	.otherPgAff  {
		display: block;
		position: relative;
		font-size: 13px;
		width: 100%;
		margin-top: 20px;
	}
	
	.ctAff1  {
		float: left;
		display: block;
		position: relative;
		width: 145px;
		height: 145px;
		background: #ebebeb;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top: 15px;
margin-right: 100px;
	}
	
	.ctAff1:hover  {
		background: #FDEC6D;
	}
	
	.ctAff1 img  {
		display: block;
		position: relative;
		width: 82px;
		height: 60px;
		margin: 0px auto 10px;
		padding: 25px 0px 0px;

	}
	
	.ctAff1 span  {
		display: block;
		position: relative;
		width: 145px;
		height: auto;
		margin: 0px auto 10px;
		text-align: center;

	}
	
	.ab1 input  {
		padding: 5px 10px !important;
		-webkit-border-radius: 5px;
        -moz-border-radius: 15px;
        border-radius: 5px;
		background: #ebebeb;
		border: 1px solid #ebebeb;
		width: 330px;
	}
	
	.ab1 textarea  {
		padding: 5px 10px !important;
		-webkit-border-radius: 5px;
        -moz-border-radius: 15px;
        border-radius: 5px;
		background: #ebebeb;
		border: 1px solid #ebebeb;
		width: 330px;
		height: 150px
	}
	
.mobPt  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(http://static.myroyalewin.net/img/mobile-bg-pt.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 150px;
}
.mobGp  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(http://static.myroyalewin.net/img/mobile-bg-gp.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 30px;
}
.mobMxb  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(http://static.myroyalewin.net/img/mobile-bg-mxb.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 30px;
}
.qrLeft  {
	float: left;
	margin-top: 165px;
	width: 88px;
	margin-left: 15px;
}
.qrLeft img  {
	display: block;
	text-align: center;
	margin: 0px auto 8px;
}
.qrLeft span  {
	display: block;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #fff; 
}


.qrRight  {
	float: right;
}
	
.announcement  {
	margin-top: 5px;
}

.accordion-toggle h4  {
	height: 206px !important;
}

.accordion-toggle {cursor: pointer; margin: 0; padding: 2px 0px;margin-top: 10px; color: yellow;height: auto; border-bottom: 0px solid #fff !important; display: block;
position: relative;}
		.accordion-content {display: none;}
		.accordion-content.default {display: none ;margin-left: 47px; padding: 20px 30px 20px 30px;color: #fff;margin: 5px 0px;background: #000;font-size: 12px;}
		
		.phead  {
			color: #ffae00;
			font-weight: bold;
			font-size: 14px;
			border-bottom: 1px solid #ffae00;
			padding-bottom: 8px;
		}
		
		
.accordion-toggleAFF h4  {
	height: 206px !important;
	color: #000;
}

.accordion-toggleAFF {
	cursor: pointer; 
margin: 0; 
padding: 2px 0px 2px 15px;
margin-top: 10px; 
font-weight: normal !important;
color: #000 !important;
height: auto !important; 
border-bottom: 0px solid #fff !important;
background: #ebebeb;
width: 804px !important;
}
		.accordion-contentAFF {display: none;}
		.accordion-contentAFF.default {display: none ;margin-left: 47px; padding: 5px 5px 5px 30px;color: #000;margin: 5px 0px;font-size: 13px;}
		
		.accordion-contentAFF.default p {margin: 0px 0px 5px;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: relative;display: block;	width: 1009px;	height: 45px;	background:#000;	margin-left: 0px; margin-bottom: 0px;	padding-left: 15px; margin-top: -6px;}
		
		/* replace  */
		
        .promo_info  {	
		display: block;
		position: absolute;
		padding: 6px 0px;	width:  90px;	height: auto;	text-align: center;	font-weight: bold;	color: #FFAE00 !important;
		text-transform: uppercase;
		right: 140px;
		top: 69px;
		}
		
		.promo_info a  {color: #FFAE00 !important; text-decoration: none;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	float: left;	display: block;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 9px;	text-align: center;	font-size: 12px !important;	text-shadow: none !important;	color: #fff !important; 	font-weight: 600 !important;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);}
		.promo_title  {	float: right;	display: block;    color: #fff;		padding: 6px 0px;	width:  auto;	height: auto;	margin-top: 10px;	margin-right: 30px;	text-align: center;	font-weight: bold;}
		
		

.mobPt  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(http://static.myroyalewin.net/img/mobile-bg-pt.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.mobileWrap {
    margin-bottom: 20px;
    padding-left: 40px;
}
.mobBg {
    background: rgba(0, 0, 0, 0) url(http://static.myroyalewin.net/img/pt-mob.png) no-repeat scroll center bottom;
    display: block;
    height: 289px;
    margin-right: 20px;
    position: relative;
    width: 450px;
}
.mobBg2 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mobBg2.png") no-repeat scroll center bottom;
    display: block;
    height: 320px;
    margin-right: 20px;
    position: relative;
    width: 301px;
}
.mobBg3 {
    background: rgba(0, 0, 0, 0) url("http://static.myroyalewin.net/img/mobBg3.png") no-repeat scroll center bottom;
    display: block;
    height: 320px;
    margin-right: 20px;
    position: relative;
    width: 301px;
}
.mobSect1 {
    text-align: center;
}
.mobSect2 {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
.mobSect3 {
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: 600;
    left: 70px;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100%;
}
.mobSect4 {
    bottom: 35px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 180px;
    position: absolute;
    width: 100px;
}


.contactLeft  {
	width: 400px;
	height: auto;
}

.contactTitle  {
	color: #000;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.contactTitle span  {
	float: right;
	color: #fff;
	text-transform: none;
	font-style: normal;
	margin-right: 200px;
}

.contactContent  {
	color: #fff;
	font-size: 13px;
	display: inline-block;
}

.contactContent span  {
	float: left;
	margin-right: 15px;
}

.contactRight  {
	width: 600px;
	height: auto;
	margin: 0px 0px 0px 100px;
}

.contAr  {
	float: left;
	width: 485px;
	margin-left: 10px;
	margin-top: 15px;
}

.contImg  {
	float: left;
}
.footerLand  {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.slotPost  {
	display: block;
	position: relative;
	margin-left: 170px;
}
.regScont  {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	background: #fff;
	position: relative;
	display: block;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.regScontTitle  {
	background: #2E080C;
	color: #fff;
	padding: 5px 0px 5px 5px;
	width: 1020px;
	height: auto;
	display: block;
	font-weight: bold;
}
.txtCont  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}
.txtCont1  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #464646;
}
.txtCont2  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 17px;
	color: #A38C21;
	font-weight: bold;
}
.txtCont3  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #000;
	font-weight: bold;
}
.bl  {
	color: #8BC2DB;
}
.bl2  {
	color: #8BC2DB;
	width: 100%;
	display: block;
}
.space1  {
	margin-top: 15px;}
	
.tabCasino table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.tabSlot table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.tabCasino {
	float: left;
    margin-bottom: 17px;
    margin-left: 17px;
    margin-top: 20px;
}

.tabCasinoFull {
	width: 924px;
	float: left;
	margin-left: 6px;
	padding-left: 50px;
}

.tabCasinoFull table td img  {
	border: 1px solid #A9935E;
	margin: 0px 35px 10px 35px;
}

.tabCasinoFull table {
	margin-top: 12px;
}

.landMobWrap  {
	display: none;
}

.space5  {
	margin-bottom: 3px;
}

/*Megamenu*/
.nav-column a,
.nav>li>a,
h3 {

}

.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
    border: none;
    margin: 0;
    padding: 0
}

.nav a {
    text-decoration: none
}

.nav li {
    list-style: none
}



.nav {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
    cursor: default;
    display: inline-block;
    position: relative;
    z-index: 500;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

.nav>li {
    float: left
}

.nav>li>a {
    color: #000;
    display: block;
    line-height: 46px;
	height: 46px;
    padding: 0 15px;
    transition: all .3s ease
}

.nav>li:hover>a,
.nav>li>a:focus {
    background: #4F0001;
	color: #fff;
}

.nav>li:first-child>a {
    border-left: none;
}

.abs1  {
	margin-left: -148px !important;
}

.abs2  {
	margin-left: -251px !important;
}

.space6  {
	padding: 0px 0px 0px 0px;
	cursor: default;
}


.mega-menu {
    background: url(http://static.myroyalewin.net/img/nav-drop-bg.png)repeat;
    border-top: 0px solid #846c23;
	border-left: 1px solid #846c23;
	border-right: 1px solid #846c23;
	border-bottom: 1px solid #846c23;
	-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease .15s;
    visibility: hidden;
    width: 100%;
	margin-left: -50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

li:hover>.mega-menu {
    opacity: 1;
    overflow: visible;
    visibility: visible
}

.nav-column {
    float: left;
    padding: 0px 0px 0px 8px;
    width: auto;
	margin-top: 10px;
}

.nav-column h3 {

    margin: 0px !important;

}

.nav-column a {
    color: #888;
    display: block;
    line-height: 1.75
}

.nav-column a:hover {
    color: #2196f3
}

h3 {
    color: #372f2b;
    font-size: .95em;
    line-height: 1.15;
    margin: 1.25em 0 .75em;
    text-transform: uppercase
}

.highlight {
    color: #2196f3
}


/*Megamenu*/

.ctbtn  {
	position: fixed;
	right: 0;
	top: 220px;
	z-index: 99999;
}
#sample-1 {
       padding: 0px 23px 0px 0px;
        width: 211px;
		height: 420px;
        background: url(http://static.myroyalewin.net/img/right-contact-bg.png)no-repeat;
        border: 0px;
		z-index: 9999;
		display: block;
		position: relative;


    }
	
	.handle  {
		z-index: 999999;

	}
	
.skype  {
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	top: 142px;
	left: 30px;
}

.skype span  {
	color: #ffae00;
	font-size: 16px;
}

.qrCon  {
	display: block;
	position: absolute;
	top: 250px;
	left: 54px;
}

.conJoin  {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 54px;
}

.conChat  {
	display: block;
	position: fixed;
	top: 390px;
    right: 0px;
}

.conLink  {
	display: block;
	position: fixed;
	top: 200px;
    left: 3px;
}

.conLink2  {
	display: block;
	position: fixed;
	top: 500px;
    left: 0px;
}

@media screen 
  and (min-width: 320px) 
  and (max-width: 1023px) {

.landMobWrap  {
	width: 320px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.cnIcon  {
	display: none;
}
.thaiIcon  {
	display: none;
}
.vietIcon  {
	display: none;
}
.myIcon  {
	display: none;
}
.indoIcon  {
	display: none;
}
.slIcon  {
	display: none;
}


.landMapInner {

    height: auto;

}

.landBt img  {
	display: none;
}

.landBt  {
	padding: 5px 0px;
	margin-top: 0px;
}

.mobAct  {
	margin: 0px 25px 5px;
	text-align: center;
	padding: 15px 0px;
	background: #513F1F;
	color: #fff;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.mobAct:hover  {

	background: #957C51;
	cursor: pointer;
    color: #000;
}

.mobInact  {
	margin: 0px 25px 5px;
	text-align: center;
	padding: 15px 0px;
	background: #ccc;
	color: #000;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.mobInact:hover  {

	background: #ccc;
    color: #000;
}

}
	
	
