body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: url('../images/tex2res5.png') repeat center center #fafafa;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: 'LeagueGothic', Arial, Helvetica, sans-serif;
	line-height: 100%;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
}

a {
	color: #000;
	text-decoration: none;
	padding: 0px;
}

a:hover {
	background: #ff0;
}

a, a:link, a:focus, a:visited {
	outline: none;
}

.esc {
	position: relative;
	clear: both;
	width: 100%;
}

header, footer {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

header {
	text-align: center;
}

#logo {
	position: relative;
	margin: 8px auto;
	width: 960px;
	text-align: center;
}

#logo h1 {
	font-size: 100px;
	position: relative;
	margin: 20px auto auto auto;
	display: block;
	float: left;
}

#logo h1 span {
	text-transform: none;
}

#logo a {
	background: none;
	display: inline;
	margin: 0px;
}

#logo img {
	position: relative;
	cursor: pointer;
	display: block;
	float: left;
	margin-top: 10px;
}

#logo h2 {
	font-size: 50px;
}


#content {
	position: relative;
	margin: 50px auto;
	width: 960px;
}


/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {

	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}




/*********************
 * footer style
 ********************/

#footer {
	width: 928px;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px dashed #000;
	border-radius: 10px;
}

#footer p {
	position: relative;
	margin: 5px auto 10px auto;
	width: 960px;
	font-size: 12px;
}

#footer p.ultimo {
	margin-bottom: 5px;
}



/*************************************
 * specific styling for #new2
 ************************************/

#new2 {
	margin: 1px auto;
}

#new2 .als-item {
	margin: 2px 2px;
	padding: 2px 2px;
	min-height: 131px;
	min-width: 131px;
	text-align: center;
}

#new2 .als-item img.center {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#new2 .als-prev, #new2 .als-next {
	top: 65px;
}

#new2 .als-prev {
	left: 1px;
}

#new2 .als-next {
	right: 1px;
}


