@charset "UTF-8";
/* CSS Document */

/* New CSS */
html, body {
  overflow-x: hidden;
}
#wrapper  {
	width: 100%
}
.rCont  {
	display: block;
	height: 217px;
	width: 100%;
	background: rgba(231,192,52,1);
background: -moz-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,192,52,1)), color-stop(49%, rgba(231,192,52,1)), color-stop(51%, rgba(214,164,36,1)), color-stop(100%, rgba(198,139,21,1)));
background: -webkit-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -o-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -ms-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: linear-gradient(to bottom, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7c034', endColorstr='#c68b15', GradientType=0 );
border: 5px solid #a17403;
border-radius: 8px;
overflow: hidden;
}

.noPad  {
	padding: 0 !important;
}

.img-center img  {
	margin: 8px auto 8px;
}

.insertG  {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 98%;
	height: 10px;
	background: #fff;
	border: 4px solid #610608;
	border-radius: 3px;
}

.reel {
    background: transparent url("../../img/reelNum.png") repeat-y scroll 0 0;
    height: 2967px;
    margin: 0 auto;
    position: relative;
    top: 38px;
    width: 60px;
}

.tickTit  {
	display: block;
	position: absolute;
	left: 6px;
	top: 6px;
}

.clr  {
	clear: both;
}

#reel1 {}
#reel2 {}
#reel3 {}
#reel4 {}
/* New CSS */

*::after, *::before {
    box-sizing: border-box;
}

body{
	padding:0;
	margin:0;
	background: #000 url(../../img/bg.jpg) top center repeat-x;
	position: relative;
}

ul{
	margin:0;
	padding:5px 5px 5px 25px;
}

#lottery4d{
	position:relative;
}

#winnerList{
	position:relative;
	width:100%;
	margin-top: 20px;
}

#left{
	position:relative;
	width:100%;	
	margin-top: 20px;
}

#right{
	position: relative;
	width: auto;
	padding:0px;
}

#prizeTitle{
	position:relative;
	width:100%;
	height:35px;
	background: url(../../img/bar.png) repeat-x;
	text-align:center;
	line-height:35px;
}

#prize{
	/*background-color:#292929;*/
	width:100%;
}

#winner{
	position:relative;
	width:100%;
}

#winnerBg{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#FFF;
	opacity:0.1;
  	filter:alpha(opacity=10); /* For IE8 and earlier */
	height:100%;
	width:100%;
	z-index:0;
}

#bar{
	z-index:2;
	position:relative;
	width:100%;
	height:25px;
}

#barBg{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.5;
  	filter:alpha(opacity=50); /* For IE8 and earlier */
	height:100%;
	width:100%;
	z-index:-1;
}

#prize td{
	border-bottom:1px solid #494949;
	height:37px;
}

#prize tr:last-child td{
	border-bottom: none;
}

#ticketFrame{
    margin-top: 25px;
}

#ticket{
	position:relative;
	width:98%;
	height:47px;
	margin-top:5px;
	background: rgba(231,192,52,1);
background: -moz-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,192,52,1)), color-stop(49%, rgba(231,192,52,1)), color-stop(51%, rgba(214,164,36,1)), color-stop(100%, rgba(198,139,21,1)));
background: -webkit-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -o-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -ms-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: linear-gradient(to bottom, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7c034', endColorstr='#c68b15', GradientType=0 );
border-radius: 8px;
}

#ticket_id{
	position:relative;
	width:170px;
	height:47px;
	margin-top:15px;
	background:url(../images/insert3_id.png) no-repeat;
}

#ticketCount{
	text-align:right;
	padding-right: 5px;
	position:absolute;
	top:6px;
	right:5px;
	width:40%;
	height:22px;
	line-height: 22px;
	font-family:Helvetica;
	font-size:16px;
	font-weight:bold;
	color:#2aff00;	
	background: #fff;
	border: 2px solid #9c7209;
}

#historyBtn{
    float: left;
	cursor:pointer;
	margin-top: 29px;
	margin-right: 20px;
}

#spinBtn{
    float: left;
	cursor:pointer;
	margin-top: 15px;
	margin-right: 20px;
}

#bottom{
	margin-top:3px;
	width:100%;
}

#termTitle{
	width:100%;
	height:35px;
	background:url(../../img/bar.png) repeat-x;
	text-align:left;
	line-height:35px;
	padding-left:5px;
}

#termFrame{
	position:relative;
	/*background-color:#292929;*/
	width:100%;
	height:150px;
	padding:5px 0 0 0px;
}

#term{
	background-color:#212121;
	border:1px solid #373737;
	width:100%;
	height:auto;

}

#term li{
	list-style:decimal;	
}

.winnerList td{
	height:16px;	
}

#arrowLeft{
	position:absolute;
	top:10px;
	left:10px;
	cursor:pointer;
}

#arrowRight{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}

#currentBets{
	width:100%;
	height:177px;
	background: rgba(231,192,52,1);
background: -moz-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,192,52,1)), color-stop(49%, rgba(231,192,52,1)), color-stop(51%, rgba(214,164,36,1)), color-stop(100%, rgba(198,139,21,1)));
background: -webkit-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -o-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: -ms-linear-gradient(top, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
background: linear-gradient(to bottom, rgba(231,192,52,1) 0%, rgba(231,192,52,1) 49%, rgba(214,164,36,1) 51%, rgba(198,139,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7c034', endColorstr='#c68b15', GradientType=0 );
border-radius: 8px;
margin-top: 20px;
}

#ticketFrame2{
	width: 98.7%;
	height:140px;
	position:relative;
	top:0;
	left:5px;
	background: #000;
}

#ticketTitle{
	height:19px;
	width:100%;
}

#ticketTable td{
	border-bottom:1px solid #494949;
}

.more{
	display:block;
	cursor:pointer;
	position:absolute;
	top:125px;
	right:5px;
	background: url(../../img/arrowMore.png) 0 2px no-repeat;
	padding-left:10px;	
	font-family:Helvetica;
	font-size:10px;
	font-weight:bold;
	color:#bfbfbf;
	line-height:10px;
}

.more:hover{
	color:#F00;
}

/* class text */
.textTitle{
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	color:#000;	
}

.textPrize{
	font-family:Helvetica;
	font-size:18px;
	color:#fbf9c7;
	font-weight:bold;
}

.textPrize2{
	font-family:Helvetica;
	font-size:13px;
	color:#fbf9c7;
	font-weight:bold;
}

.textWinner{
	font-family:Helvetica;
	font-size:12px;
	color:#fbf9c7;
	font-weight:bold;
}

.textName{
	font-family:Helvetica;
	font-size:14px;
	color:#fde286;
}

.textName3{
	font-family:Helvetica;
	font-size:13px;
	color:#fde286;
}

.textName2{
	font-family:Helvetica;
	font-size:12px;
	color:#fde286;
	font-weight:bold;
}

.textTitle2{
	font-family:Helvetica;
	font-size:18px;
	font-weight:bold;
	color:#FFF;	
}

.textSmall{
	font-family:Helvetica;
	font-size:10px;
	color:#bfbfbf;	
}

.textContent{
	font-family:Helvetica;
	font-size:12px;
	color:#bfbfbf;	
	line-height:15px;	
}

.content{
	font-family:Helvetica;
	font-size:12px;
	color:#bfbfbf;	
	font-weight:bold;
	line-height:15px;
}

#slotMachineContainer {
	position: relative;
	height: 300px;
}

#slotMachineContainer #ReelContainer {
	position: relative; 
	height: 217px;
	overflow: hidden;
}
#slotMachineContainer #ReelContainer .reel {
	background: transparent url("../../img/reelNum.png") repeat-y scroll 0 0;
    height: 2967px;
    margin: 0 auto;
    position: relative;
    top: 38px;
    width: 60px;
}
#slotMachineContainer #ReelContainer #reel1 {}
#slotMachineContainer #ReelContainer #reel2 {}
#slotMachineContainer #ReelContainer #reel3 {}
#slotMachineContainer #ReelContainer #reel4 {}

.header{
	float:left;
	position:relative;
	width:30%;
	background-color:white;
	color:black;
	font-weight:bold;
	height:20px;
	text-align:center;
	padding-top:5px;
}
.header1{
	float:left;
	position:relative;
	width:10%;
	background-color:white;
	color:black;
	font-weight:bold;
	height:20px;
	text-align:center;
	padding-top:5px;
}
.hresult1{
	float:left;
	width:10%;
	height:30px;
	background-color:white;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:1px solid gray;
	padding-top:3px;
}
.hresult{
	float:left;
	width:30%;
	height:30px;
	background-color:white;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:1px solid gray;
	padding-top:3px;
}

.winner-wrap {
    font-size: 13px;
    line-height: 20px;
	width: 100%;
}
.winner-wrap li:first-child {
    border-bottom: 0 none;
    padding: 5px 0 0;
    width: 95%;
}
.winner-wrap li {
    border-bottom: 1px solid #262626;
    padding: 10px 0;
    width: 100%;
}
.winner-wrap li > div:first-child {
    color: #ffe189;
    float: left;
    font-weight: bold;
    padding: 0 0 0 10px;
    text-align: left;
    width: 40%;
}
.winner-wrap li > div:last-child {
    color: #faf8c8;
    float: left;
    font-weight: bold;
    padding: 0 10px;
    width: 100%;
}
.winner-wrap div p:nth-child(2n+1) {
    float: left;
    text-align: left;
    width: 50%;
}
.winner-wrap div p:nth-child(2n) {
    float: right;
    text-align: right;
    width: 50%;
}
.winner-wrap li::after, .winner-wrap li div:last-child::after {
    clear: both;
    content: "";
    display: table;
}
.winner-wrap p {
    margin: 0px 0px 2px 0px !important;
}

.bxWrap  {
 display: block;
 position: relative;
width: 100%;
    height:100px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media all and (min-width: 320px) and (max-width: 480px) {
    .size1  {}
	.size2  {}
	#spinBtn {
       margin-right: 10px;
    }
	#historyBtn {
       margin-right: 0px;
       margin-top: 23px;
   }
   #ticketFrame {
       margin-top: 10px;
	   margin-left: 9px;
   }
   #ticketFrame2{
	width: 97%;
}
}

