/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

.clr  {
	clear: both;
}

.container  {
	display: block;
	position: absolute;
	margin: 0 auto;
	width: 1024px;
	height: auto;
	z-index: 999;
	left: 0;
    right: 0;
	top: 28%;
}

#cf {
  position:relative;
  height:172px;
  width:180px;
  margin: 10px 38px 10px;
  float: left;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
  cursor: pointer;
}

.logo  {
	display: block;
	position: absolute;
	z-index: 999;
	left: 0;
    right: 0;
    margin: 95px auto 0px;
	width: 374px;
}

#earth {
  position: absolute;
  width: 1170px;
  height: 369px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0px;
  background: url(../img/xmas-footer-bg.png)no-repeat bottom center;
}

.selecTxt  {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 18px;
	}
	
.prov  {
	display: block;
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 100%;
}

.footLc  {
	display: block;
	float: left;
	padding: 0px 5px 0px;	
	margin-top: 60px;
}

.footSp  {
	display: block;
	float: left;
	padding: 0px 5px 0px;
	margin-top: 30px;
}

.footSlt  {
	display: block;
	float: left;
	padding: 0px 5px 0px;
	margin-top: 10px;
}

.footFort  {
	display: block;
	float: left;
	padding: 0px 5px 0px;
	margin-top: 10px;
}

.footHorse  {
	display: block;
	float: left;
	padding: 0px 5px 0px;
	margin-top: 30px;
}

.foot4d  {
	display: block;
	float: left;
	padding: 0px 5px 0px;	
	margin-top: 60px;
}

.footWrap  {
	display: block;
	width: 918px;
	margin: 60px auto 0px;
}


@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url(../img/XMAS-BG.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- responsive ---- */

@media only screen and (max-width: 1024px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 30%; margin: 5px 48px 35px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 500px; top: 15%; margin: 0 auto;}
}

@media only screen and (max-width: 960px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 30%; margin: 5px 48px 35px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 500px; top: 15%; margin: 0 auto;}
	#earth {width: 960px;bottom: -60px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 100px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {margin-top: 0px;padding: 0px 30px 0px;}
}

@media only screen and (max-width: 840px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 30%; margin: 5px 48px 35px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 500px; top: 15%; margin: 0 auto;}
	#earth {width: 840px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 30px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 100px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {margin-top: 0px;padding: 0px 15px 0px;}
		.prov  {position: fixed;}
	.prov img  {width: 820px;}
}

@media only screen and (max-width: 780px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 30%; margin: 5px 48px 35px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 500px; top: 15%; margin: 0 auto;}
	#earth {width: 780px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 60px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 100px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {margin-top: 0px;padding: 0px 15px 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 760px;}
}

@media only screen and (max-width: 640px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 30%; margin: 5px 48px 40px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 500px; top: 15%; margin: 0 auto;}
	#earth {width: 640px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 100px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 100px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 3px 0px;margin-top: 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 600px;}
}

@media only screen and (max-width: 480px)  {
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 40%; margin: 5px 23px 45px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 100%; top: 15%;}
	#earth {width: 480px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 120px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 77px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 1.5px 0px;margin-top: 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 460px;}
}

@media only screen and (max-width: 420px)  {
	body  {overflow-x: hidden;}
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 40%; margin: 5px 20px 15px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 100%; top: 17%;}
	#earth {width: 420px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 120px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 67px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 1.5px 0px;margin-top: 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 400px;}
}

@media only screen and (max-width: 384px)  {
	body  {overflow-x: hidden;}
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 40%; margin: 5px 18px 15px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 100%; top: 17%;}
	#earth {width: 384px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 150px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 61px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 1.5px 0px;margin-top: 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 370px;}
}

@media only screen and (max-width: 360px)  {
	body  {overflow-x: hidden;}
	.logo  {width: 280px; margin: 10px auto 0px;}
	.logo img  {width: 280px;}
	#cf  {width: 40%; margin: 5px 18px 15px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 100%; top: 17%;}
	#earth {width: 360px;bottom: -110px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 57px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 1.5px 0px;margin-top: 0px;}
	.prov  {position: fixed;}
	.prov img  {width: 350px;}
}

@media only screen and (max-width: 320px)  {
	body  {overflow-x: hidden;}
	.logo  {width: 200px; margin: 10px auto 0px;}
	.logo img  {width: 200px;}
	#cf  {width: 40%; margin: 5px 16px 5px; height: 130px;}
	#cf img  {width: 100%;}
	.container  {width: 100%; top: 16%;}
	#earth {width: 320px;bottom: 0px;background: url(../img/footer-bg_ori.png)no-repeat center 170px;}
	.footWrap  {width: 100%;}
	.footWrap img {width: 50px;}
	.footLc, .footSp, .footSlt, .footFort, .footHorse, .foot4d  {padding: 0px 1.5px 0px;margin-top: 0px;}
	.selecTxt {margin-top: 0px;}
	.selecTxt img {width: 200px;}
	.prov  {position: fixed;}
	.prov img  {width: 300px;}
}
