body {
    margin: 0;
    font-family: sans-serif;
}

.scratchGame{
	/*background: url(../images/flash_bg_gold.jpg) no-repeat center top;*/
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.logo {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

p{
	margin:0;
	padding:0;
	text-align: left;
	font-size: 12px;
}

@media (max-width: 300px) {
    p{
		font-size: 10px;
	}
}
@media (max-width: 230px) {
    p{
		font-size: 8px;
	}
}
@media (max-width: 190px) {
    p{
		font-size: 6px;
	}
}

.tokenBg{
	justify-content: center;
	display:flex;
	align-items:center;
	color:#CBCBCB;
	font-size: 20px;
}
.loadingMsgClass{
	font-size: 14px;
	color:#cbcbcb;
	background: rgba(0,0,0,0.8);
	padding-top: 200px;
	text-align: center;
}
.resultDisplayDIV{
	color:#fff;
	display:flex;
	align-items:center;
}
.resultBgStyle{
	background-color:red;
}
.winNum{
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	color:#f8d678;
	/*-webkit-text-stroke: 1px black;*/
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}