.fa {
    margin-right: 5px;
}
.headerRightTable a:link, .headerRightTable a:visited  {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    margin-right: 5px;
	text-decoration: none;
}
.headerRightTable a:hover  {
    color: #FEE027;
	text-decoration: none;
}
.midSectInner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto;
    margin: 10px auto 0 !important;
    padding: 0 !important;
    position: relative;
    width: 1024px !important;
	z-index: 2006;
}
.footerInner  {
	width: 1004px;
	margin: -27px auto 0px !important;
	padding: 50px 10px 10px;
	height: auto;
	display: block;
	background-image: url(../../img/footerInnerBg-other.png) !important;
	background-position: top bottom;
	background-repeat: no-repeat;
}
.leftCol {
	float: left;
	width: 280px;
	display: block;
}
.leftCol ul {
	float: left;
	margin: 0;
	padding: 0;
}
.leftCol ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 130px;
	text-align: center;
}
.mainWallet  {
	width: 100%;
	margin: 0px 0px 15px;
	padding: 8px 0px;
	background: #AA1113;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 16px;
	font-weight: bold;
	background: url(../../img/headerBg.jpg)left center no-repeat;
	border: 1px solid #D91114;
}

.mainWallet span  {
	display: block;
	width: 100%;
	font-size: 22px;
	color: yellow;
	margin: 10px 0px 0px ;
}
.Wa  {
	color: #F1893F !important;
}
.rightCol {
	float: left;
	width: 700px;
	display: block;
	margin: 0px 0px 0px 20px;
	padding: 0px 12px 12px 12px;
	color: #fff;
	font-size: 12px;
}
.wallet_title {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 0;
}
.acctRow {
    display: block;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}
.acctRow label {
    float: left;
    line-height: 30px;
    width: 150px;
}
.acctRow span {
    font-weight: bold;
    vertical-align: -6px;
	color: #F1893F;
}
.acctRow input {
    background: #ccc none repeat scroll 0 0;
    border: 1px solid #000;
    color: #444 !important;
    height: 25px;
    padding: 0 0 0 5px;
    width: 150px;
}
.acctRow input:focus {
    border: 1px solid #f69f38;
    box-shadow: 0 0 5px rgba(246, 159, 56, 1);
}
.acctRowR input:focus {
    border: 1px solid #f69f38;
    box-shadow: 0 0 5px rgba(246, 159, 56, 1);
}
.submitAcct a:link, .submitAcct a:visited {
    background: #98171a none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #D91114 none repeat scroll 0 0;
    color: #fff;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
}
.acctRowR input {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    height: 25px;
    margin-top: 3px;
    padding: 0 0 0 3px;
}
.acctRowR table td, .acctRowR table th {
    padding: 0px 10px 10px 0px;
}
.acctRowR table th {
    background: #000;
}
.acctRowR table {
    border: 1px solid #707070 !important;
}
.deptable table  {
	width: 700px;
}
.deptable table th, .deptable table td  {
	border-bottom: 1px solid #707070 !important;
	border-right: 1px solid #707070 !important;
	padding: 5px !important;
}
.deptable table th:last-child, .deptable table td:last-child  {
	border-right: 0px solid #707070 !important;
}
.acctRow select {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444 !important;
    float: left;
    height: 27px;
    padding: 0 0 0 5px;
}
.highlight {
    background-color: #3b8dc5;
    color: #fff;
    font-weight: bold;
    padding: 3px;
}
.row  {
	margin-top: 5px;
}
.radiobtn {
    width: 30px !important;
}
.acctRowR select {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444 !important;
    float: left;
    height: 27px;
    padding: 0 0 0 5px;
}
.eleLeft {
    display: inline-block;
    float: left;
}
.eleLeft label {
    width: 100px !important;
}
.eleLeft input {
    margin-right: 10px !important;
    width: 80px !important;
}
.eleLeft select {
    margin-right: 10px !important;
}
.acctRowR table th {
    background-color: #000;
    border-bottom: 1px solid #d6d6d6 !important;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.acctRowR table td input, .acctRowR table th input {
	float: none !important;
}
.generalContainer {
    height: auto;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    width: 100%;
}
.generalContainerInner {
    background-image: url(../../img/404-error.png);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 490px;
    margin: 10px auto 0;
    padding: 0;
    position: relative;
    width: 1024px;
}
.generalContainer2 {
    height: auto;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    width: 100%;
}
.generalContainerInner2 {
    background-image: url(../../img/construction.png);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 490px;
    margin: 10px auto 0;
    padding: 0;
    position: relative;
    width: 1024px;
}
#details404 {
    padding-bottom: 50px;
    padding-left: 0;
    padding-top: 50px;
}
.error {
    display: inline-block;
    height: 130px;
    margin-bottom: 0;
    margin-left: 500px;
    margin-top: 160px;
    padding: 8px;
    width: 475px;
}
#left {
    float: left;
    font-size: 20px;
    margin-top: 18px;
    padding-left: 20px;
}
#left1 {
    float: left;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 20px;
}
#right {
    border-right: 1px solid #000;
    float: left;
    font-size: 70px;
    padding-right: 20px;
}
.maintenance  {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
	margin-top: -50px;
	margin-left: -30px;
}

.maintenance span  {
	display: block;
	font-size: 22px;
}

.maintainMSG  {
	font-weight: bold;
	padding-bottom: 2px;
	line-height: 33px;
	color: #000;
	font-weight: 20px;
}

.maintainMSGsub  {
	font-weight: bold;
	line-height: 33px;
	font-size: 18px !important;
	color: #000;
	margin-top: 20px;
}

.msgBox  {
	width: 340px;
	display: block;
	background: #eee;
	padding: 30px;
	text-align: center;
	margin: 100px auto 0px;
	padding: 20px;
	color: #444;
}

.msgBox input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #444 !important;
    height: 25px;
    padding: 0 0 0 5px;
    width: 150px;
}

.msgBox table  {
	margin-top: 15px;
}

.msgBox span  {
	color: red;
}

.msgBox p  {
	padding: 5px 0px;
}

.msgBox a  {
	margin-right: 0px;
	margin-bottom: 0px;
}
.msgBox1 {
    background: none;
    display: block;
    height: 250px;
    margin: 0 auto;
    padding: 10px 5px;
    width: 320px;
}
.msgBox1 p {
    color: #fff;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excl {
    color: #444;
    display: block;
    margin: 32px 0 8px;
    text-align: center;
}
