.fa {
    margin-right: 5px;
}
.headerRightTable a:link, .headerRightTable a:visited  {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    margin-right: 5px;
	text-decoration: none;
}
.headerRightTable a:hover  {
    color: #FEE027;
	text-decoration: none;
}


h2 {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 17px;
    height: auto;
    margin: 0 0 8px;
    padding: 0 0 3px;
    text-transform: uppercase;
    width: 100%;
}

.leftCol {
	float: left;
	width: 280px;
	display: block;
}
.leftCol ul {
	float: left;
	margin: 0;
	padding: 0;
}
.leftCol ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 130px;
	text-align: center;
}
.mainWallet  {
	width: 100%;
	margin: 0px 0px 10px;
	padding: 8px 0px;
	background: #AA1113;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 16px;
	font-weight: bold;
	background: url(../../img/headerBg.jpg)left center no-repeat;
	border: 1px solid #D91114;
}

.mainWallet span  {
	display: block;
	width: 100%;
	font-size: 22px;
	color: yellow;
	margin: 10px 0px 0px ;
}


/* ACCT CONTAINER */
.acctContainer {
	width: 1024px;
	height: 100%;
	margin: 10px auto 25px;
	position: relative;
}

.noRecord  {
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #cab279;
	background: none;
	margin: 0px 0px 20px 0px;
	color: #cab279;
}


.msgBox  {
	position: relative;
	display: inline-block;
	float: left;
	background-color: #111111;
	padding: 30px;
	border: 1px solid #BC905F;
	padding: 20px;
	margin: 50px 0px 400px -40px;
}

.msgBox span  {
	color: red;
}

.msgBox p  {
	padding: 5px 0px;
}

.msgBox a  {
	margin-right: 0px;
	margin-bottom: 0px;
}

.msgBox td  {
	padding: 5px 0px 5px 5px;
}

.wallet_table {
    background-color: #2b120d;
    margin: 5px 0 10px;
    width: 100%;
}

.wallet_table {
    background-color: #2E080C;
    margin: 5px 0 10px;
    width: 100%;
}
.wallet_table table {
    border: 0 solid #333;
    width: 100%;
}
.wallet_table table td {
    border: 1px solid #301a0c;
    padding: 10px;
    text-align: center;
}
.wallet_table span {
    display: block;
}
.main-set {
    background-color: #AC3535;
    vertical-align: middle;
    width: 200px;
}
.main-set-title {
    color: #ccc;
}
.main-setPrice {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main-setPriceTotal {
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.total_set {
    background-color: #AC3535;
}
.inlineAccMenu {
    display: block;
    height: 30px;
    padding-left: 0;
    padding-top: 3px;
    position: relative;
}
.inlineAccMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inlineAccMenu ul li {
    background-color: #2E080C;
    border: 1px solid #2E080C;
    color: #fff;
    display: inline;
    float: left;
    height: 30px;
    line-height: 28px;
    margin-right: 10px;
}
.inlineAccMenu ul li a:link, .inlineAccMenu ul li a:visited {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
	font-size: 13px;
}
.inlineAccMenu ul li a:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.title_bar {
    border-bottom: 1px solid #cab279;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 15px 0 0;
    padding-left: 10px;
}
.title_bar span {
    background: #6A2222 none repeat scroll 0 0;
    border-left: 1px solid #cab279;
    border-right: 1px solid #cab279;
    border-top: 1px solid #cab279;
    padding: 0 12px;
    position: absolute;
	color: #cab279;
	font-size: 13px;
}

.acctContent {
    background: #6A2222;
    display: inline-block;
    margin-bottom: 50px;
    padding: 25px 0 20px 335px;
    position: relative;
    width: 690px;
	color: #fff;
}

.acctContent1 {
    background: #6A2222;
    display: inline-block;
    margin-bottom: 50px;
    padding: 25px 15px 20px 15px;
    position: relative;
    width: 995px;
	color: #fff;
}

.acctContentReg {
    background: none;
    display: block;
    margin-bottom: 50px;
    padding: 0px 0 0 0px;
    position: relative;
    width: 925px;
}
.wallet_title {
    color: #dbba67;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 0;
}
.acctRow {
    display: block;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
	color: #fff !important;
	font-size: 13px;
}
.acctRowR {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.acctRowR label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #fff;
}
.acctRow label {
    float: left;
    line-height: 25px;
    width: 180px;
	font-size: 13px;
	color: #fff;
}
.acctRowR input {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 25px;
}
.acctRowR td {
    padding-bottom: 5px;
	color: #fff;
	font-size: 13px;
}
.acctRow input {
    background: #372a24 none repeat scroll 0 0;
    border: 1px solid #000;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
	color: #fff;
}
input:focus {
    border: 1px solid #e6803e;
}
input[placeholder] {
    color: #fff;
    font-size: 11px;
}

.acctText {
    color: #fff;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
	font-size: 13px;
}
.acctTextReg {
    color: yellow;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    width: 450px;
}
.acctContent select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}
.acctContentReg select {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #808080;
    color: #fff;
    height: 25px;
}

.submitAcct {
    float: left;
    margin-left: 180px;
}
.submitAcct a:link, .submitAcct a:visited {
    background-image: url("../../img/submit-bg.jpg");
    background-repeat: repeat-x;
    border: 1px solid #65441a;
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #EEE8AE;
    color: #000;
}
.left  {
	float: right;
	margin-right: 90px;
}
.DepContent {
    background: #6A2222;
    display: inline-block;
    margin-bottom: 50px;
    padding: 25px 10px 15px;
    position: relative;
    width: 1004px;
}
.depLeft {
    color: #808282;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 30px 20px 0;
    text-align: justify;
    width: 260px;
}
.depRight {
    border-left: 1px solid #cab279;
    float: left;
    padding-left: 20px;
}
.depLeft ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.depLeft ul li {
    color: #ccc !important;
    margin: 0 0 5px;
    padding: 0;
}
.depLeft p {
    margin-top: 10px;
}
.gold  {
	color: #dbba67;
	font-size: 13px;
	font-weight: bold;
}
.cstInput input  {
	width: 100px !important;
	float: none !important;
}
.cstInput  {
	width: 100px !important;
}
.cstInput1 input  {
	width: 100px !important;
	float: none !important;
	margin: 0px 10px 0px 10px;
}
.cstInput1  {
	padding-left: -10px;
}
.eleLeft {
    float: left;
}
.eleLeft label {
    width: 100px !important;
}
.eleLeft select {
    margin-right: 10px !important;
}
.eleLeft span {
    width: 240px !important;
}

.submitAcct1 {
    float: left;
    margin-left: 0px;
	margin-top: 15px;
}
.submitAcct1 a:link, .submitAcct1 a:visited {
    background-image: url("../../img/submit-bg.jpg");
    background-repeat: repeat-x;
    border: 1px solid #65441a;
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct1 a:hover {
    background: #EEE8AE;
    color: #000;
}
.mtTable table  {
	border: 1px solid #cab279;
}

.mtTable table th  {
	background: #cab279;
	color: #000;
}

.mtTable table td  {
	border-bottom: 1px solid #cab279;
}

.mtTable table td input  {
	width: 100px;
	float: none !important;
}

.mtTable table td input[type='checkbox']  {
	width: 15px;
}

.mtTable table th input[type='checkbox']  {
	width: 15px;
	float: none !important;
}
.generalContainer {
    height: auto;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    width: 100%;
}
.generalContainerInner {
    background-image: url(../../img/otherBg.png);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 490px;
    margin: 10px auto 0;
    padding: 0;
    position: relative;
    width: 1024px;
}
.generalContainer2 {
    height: auto;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    width: 100%;
}
.generalContainerInner2 {
    background-image: url(../../img/otherBg.png);
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 490px;
    margin: 10px auto 0;
    padding: 0;
    position: relative;
    width: 1024px;
}
#details404 {
    padding-bottom: 50px;
    padding-left: 0;
    padding-top: 50px;
}
.error {
    display: inline-block;
    height: 130px;
    margin-bottom: 0;
    margin-left: 330px;
    margin-top: 110px;
    padding: 8px;
    width: 475px;
	color: #EEE7AD;
}
#left {
    float: left;
    font-size: 20px;
    margin-top: 18px;
    padding-left: 20px;
}
#left1 {
    float: left;
    font-size: 20px;
    margin-top: 0;
    padding-left: 20px;
}
#right {
    border-right: 1px solid #EEE7AD;
    float: left;
    font-size: 70px;
    padding-right: 20px;
}
.otherPg  {
	width: 750px;
	margin: 0 auto;
	padding: 6px;
	height: auto;
	display: block;
	color: #fff;
	font-size: 12px;
	float: right;
}
.otherPgMob  {
	width: 1024px;
	margin: 0 auto;
	padding: 6px;
	height: auto;
	display: block;
	color: #fff;
	font-size: 12px;
	background: url(../../img/mobBg.png)no-repeat top center;
}
.otherPgRow  {
	margin: 0px 0px 10px;
	padding: 0px;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}

.otherPgRow h2  {
	color: #fff;
	margin: 0;
	padding: 0px 0px 0px 55px;
	font-size:  16px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	display: block;
	position: relative;
	background:url(../../img/h2-banking.svg)no-repeat left center;
	border-bottom: 0px;
}
.contact  {
	padding: 0px 0px 0px 40px !important;
	background: url(../../img/h2-contact.svg)no-repeat left center !important;
}
table.bankingtable {
	border-width: 1px;
	border-color: #E7E7E7;
	border-collapse: collapse;
}
table.bankingtable tr {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	height: 20px;
}
table.bankingtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	padding: 5px;
}

.otherCont  {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.maintenance  {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
	margin-top: -50px;
	margin-left: -45px;
}

.maintenance span  {
	display: block;
	font-size: 22px;
}

.maintainMSG  {
	font-weight: bold;
	padding-bottom: 2px;
	line-height: 33px;
	color: #fff;
	font-weight: 20px;
}

.maintainMSGsub  {
	font-weight: bold;
	line-height: 33px;
	font-size: 18px !important;
	color: #fff;
	margin-top: 20px;
}

.msgBox  {
	width: 340px;
	display: block;
	background: #eee;
	padding: 30px;
	text-align: center;
	margin: 100px auto 0px;
	padding: 20px;
	color: #444;
}

.msgBox input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #444 !important;
    height: 25px;
    padding: 0 0 0 5px;
    width: 150px;
}

.msgBox table  {
	margin-top: 15px;
}

.msgBox span  {
	color: red;
}

.msgBox p  {
	padding: 5px 0px;
}

.msgBox a  {
	margin-right: 0px;
	margin-bottom: 0px;
}
.msgBox1 {
    background: none;
    display: block;
    height: 280px;
    margin: 0 auto 20px;
    padding: 10px 5px;
    width: 320px;
}
.msgBox1 p {
    color: #fff;
    padding: 0 0 2px;
    text-align: center;
	font-size: 12px !important;
}
.excl {
    color: #444;
    display: block;
    margin: 32px 0 8px;
    text-align: center;
}

.landing  {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-image: url(../../img/midSectBg.png);
	background-color: #6a2222;
	background-repeat: repeat;
}

.headerTop  {
	padding: 5px 10px;
	background: #000;
}
.slicknav_menu {
	display:block;
}

	
	.js .slicknav_menu {
		display:block;
		position: absolute;
		right: 10px;
		top: 10px;
	}

/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.458em 0.645em 0.458em 0.645em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px; 
  background: #000;
  }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 60px 0px 0px 0px ;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

.contOth  {
	width: 1024px;
	position: relative;
	display: block;
	margin: 0 auto;
}
.regLeft  {
	float: left;
	position: relative;
	display: block;
	width: 230px;
	height: auto;
	background-color: #d9d098;
	padding: 10px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #7e6231;
-webkit-box-shadow: 1px 1px 5px 0px rgba(192, 178, 124, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(192, 178, 124, 0.75);
box-shadow:         1px 1px 5px 0px rgba(192, 178, 124, 0.75);
}

.regLeftTitle  {
	font-size: 14px;
	font-weight: bold;
	color: #442508;
}

.regLeft ul  {
	padding: 0px 0px 0px 15px;
}

.regLeft ul li  {
	font-size: 12px;
	color: #000;
}

.cook  {
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 15px;
	font-style: italic;
}

.bx-wrapper {
    width: 1024px !important;
}
.slideW  {
	top: -15px !important;
}



