#go { margin: 0 auto; }

#signup {    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
       
}

#signup-header {
    background: url(../../img/hd-bg.png)repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
}
#signup-header h2 {
    color: #fff;
    font-size: 2em !important;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-align: center;
	margin-top: 3px;
}
#signup-header p {
    color: #000;
    font-size: 12px;
    margin: 0;
    text-shadow: none;
}
#signup .txt-fld {
    border-bottom: 1px solid #eee;
    padding: 14px 20px;
    position: relative;
    text-align: right;
    width: 364px;
}
#signup .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}
#signup .txt-fld label {
    color: #222 !important;
    display: block;
    float: left;
    font-size: 12px !important;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}
#signup .txt-fld input {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #222 !important;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    outline: medium none;
    padding: 8px;
    width: 244px;
}
#signup .txt-fld input.good_input {
    background: url(../../img/good.png) no-repeat scroll 236px center #def5e1;
}
#signup .txt-fld input.error_input {
    background: none repeat scroll 0 0 #fde0e0;
}
#lean_overlay {
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.modal_close {
    background: rgba(0, 0, 0, 0) url("../../img/modal_close.png") repeat scroll 0 0;
    display: block;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 14px;
    z-index: 2;
}
#register {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    margin-top: -150px !important;
    padding-bottom: 2px;
    width: 404px;
}
#register-header {
    background: rgba(0, 0, 0, 0) url("../../img/hd-bg.png") repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 18px 8px;
}
#register-header h2 {
    color: #000;
    font-size: 1.5em !important;
    font-weight: 700;
    margin-bottom: 3px;
	margin-top: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
}
#register-header p {
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-shadow: none;
}
#register .txt-fld {
    border-bottom: 1px solid #eee;
    color: #000;
    padding: 7px 13px;
    position: relative;
    text-align: right;
    width: 364px;
}
#register .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}
#register .txt-fld label {
    color: #222 !important;
    display: block;
    float: left;
    font-size: 12px !important;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}
#register .txt-fld input {
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #222 !important;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    outline: medium none;
    padding: 3px;
    width: 244px;
}
#register .txt-fld input.good_input {
    background: #def5e1 url("../../img/good.png") no-repeat scroll 236px center;
}
#register .txt-fld input.error_input {
    background: #fde0e0 none repeat scroll 0 0;
}

.loginBtn  {
	display: block;
	position: absolute;
	right: 110px;
	top: 30px;
	}

.loginBtn a:link, .loginBtn a:visited  {
color: #fff;
font-size: 13px;
background: #006CBF;
padding: 0px 0px 0px 0px;
width: 65px;
height: 33px;
line-height: 34px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
width: 100px;
}
	
.loginBtn a:hover  {
	background: #03528f;
	color: yellow;
	text-decoration: none;
}

.joinBtn a:link, .joinBtn a:visited  {
color: #006cbf;
text-align: center;
font-size: 13px;
background: #B0B0B0;
padding: 0px;
width: 100px;
height: 33px;
line-height: 34px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
}
	
.joinBtn a:hover  {
	background: #959494;
	color: yellow;
	text-decoration: none;
}