.midSectInner {
    background: none !important;
    height: auto;
    position: relative;
    width: 1024px !important;
	margin: 10px auto 0px !important;
	padding: 0 !important;
	display: block;
}
.footerInner  {
	width: 1004px;
	margin: -10px auto 0px !important;
	padding: 50px 10px 10px;
	height: auto;
	display: block;
	background-image: url(../../img/footerInnerBg-other.png) !important;
	background-position: top bottom;
	background-repeat: no-repeat;
}
.otherPg  {
	width: 1024px;
	margin: 0 auto;
	padding: 6px;
	height: auto;
	display: block;
	color: #fff;
	font-size: 12px;
}
.otherPgMob  {
	width: 1024px;
	margin: 0 auto;
	padding: 6px;
	height: auto;
	display: block;
	color: #fff;
	font-size: 12px;
	background: url(../../img/mobBg.png)no-repeat top center;
}
.otherPgRow  {
	margin: 0px 0px 10px;
	padding: 0px;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}

.otherPgRow h2  {
	color: #fff;
	margin: 0;
	padding: 0px 0px 0px 55px;
	font-size:  16px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	display: block;
	position: relative;
	background:url(../../img/h2-banking.svg)no-repeat left center;
}
.contact  {
	padding: 0px 0px 0px 40px !important;
	background: url(../../img/h2-contact.svg)no-repeat left center !important;
}
table.bankingtable {
	border-width: 1px;
	border-color: #E7E7E7;
	border-collapse: collapse;
}
table.bankingtable tr {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	height: 20px;
}
table.bankingtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #E7E7E7;
	padding: 5px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #2E0203;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../../img/13.jpg);
}

.ch-img-2 { 
	background-image: url(../../img/14.jpg);
}

.ch-img-3 { 
	background-image: url(../../img/12.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.acctContentReg {
    display: block;
    margin-bottom: 50px;
    padding: 5px 0 0 5px;
    position: relative;
    width: 789px;
}
.acctRow {
    display: block;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}
.acctRow input {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    height: 25px;
    padding: 0 0 0 5px;
    width: 195px;
}
.acctRow label {
    float: left;
    line-height: 25px;
    width: 180px;
}
.submitAcct a:link, .submitAcct a:visited {
    background: #98171a none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}
.submitAcct a:hover {
    background: #d91114 none repeat scroll 0 0;
    color: #fff;
}
.acctRow input:focus {
    border: 1px solid #f69f38;
    box-shadow: 0 0 5px rgba(246, 159, 56, 1);
}
.acctRowR input:focus {
    border: 1px solid #f69f38;
    box-shadow: 0 0 5px rgba(246, 159, 56, 1);
}
.acctRow select {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444 !important;
    float: left;
    height: 27px;
    padding: 0 0 0 5px;
}
.mobTitle  {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.mobileBox1  {
	width: 300px;
	height: 557px;
	display: inline-block;
	position: relative;
	background:url(../../img/mobile-bg1.png)no-repeat top center;
	margin: 0px 0px 10px 40px;
}
.mobileBox2  {
	width: 300px;
	height: 557px;
	display: inline-block;
	position: relative;
	background: url(../../img/mobile-bg2.png)no-repeat top center;
	margin: 0px 0px 10px 20px;
}
.mobileBox3  {
	width: 300px;
	height: 557px;
	display: inline-block;
	position: relative;
	background: url(../../img/mobile-bg3.png)no-repeat top center;
	margin: 0px 0px 10px 20px;
}
.mobTxt1  {
	position: absolute;
	top: 255px;
	left: 15px;
	width: 235px;
	text-align: center;
}
.mobTxt2  {
	position: absolute;
	top: 292px;
	left: 15px;
	width: 235px;
	text-align: center;
}
.mobTxt2 a:link, .mobTxt2 a:visited  {
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
.mobTxt2 a:hover  {
	color: #fff;
	text-decoration: none;
}
.mobTxt3  {
	position: absolute;
	top: 330px;
	left: 15px;
	width: 235px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.mobTxt4  {
	position: absolute;
	top: 350px;
	left: 15px;
	width: 235px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}
.mobQr  {
	position: absolute;
	top: 368px;
	left: 15px;
	width: 235px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}
.mobQr2  {
	position: absolute;
	top: 325px;
	left: 15px;
	width: 235px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}
.mobQrtxt1  {
	display: inline-block;
	padding: 5px 3px 5px 0px;
}
.mobQRtxt2  {
	font-size: 13px !important;
    font-weight: bold !important;
	text-transform: capitalize !important;
}
.mobQrpc  {
	display: block;
	width: 165px;
	height: auto;
	padding: 0px;
	margin: 5px 0px 0px 0px;
}
.mobQrpc a:link, .mobTxt2 a:visited  {
	width: 165px;
	height: 28px;
	line-height: 28px;
	display: block;
	text-decoration: none;
	color: #000;
	background: url(../../img/dl-Btn.jpg)no-repeat;
	font-weight: bold;
}
.mobQrpc a:hover  {
	text-decoration: none;
	color: #000;
	background: url(../../img/dl-Btn-hover.jpg)no-repeat;
	font-weight: bold;
}


/* LOBBY MENU */
.lobbyMenu  {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: 8px;
}

.lobbyMenu ul  {
	margin: 0px 0px 0px -15px;
	padding: 0px;
	list-style-type: none;
}

.lobbyMenu ul li  {
	display: inline;
	float: left;
	margin-left: 15px;
	text-align: center;
}

.lobbyMenu ul li a:link  {
	display: block;
	width: 131px;
	height: 40px;
	line-height: 41px;
background: #A8792F;
    border: 1px solid #252525;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.lobbyMenu ul li a:hover  {
	background: rgb(204, 204, 204);
color: red;
text-shadow: 1px 1px 2px rgba(254, 255, 242, 1);
}

.lobby  {
	margin-top: 15px;
}

.lobby  {
	margin-top: 15px;
}

#casino_table_wrapper {
    height: 100%;
    overflow: auto;
    width: 1024px;
}

.tableInfo {
    background: url(../../img/casinoBox.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    color: white;
    float: left;
    height: 216px;
    margin: 0 11px 6px 0;
    width: 328px;
	border: 1px solid #636363;
}

.roomTitle {
    border: medium none;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.roomDetails {
    background: url("../../img/casinotableinfor_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 4px 3px;
    overflow: hidden;
    width: 320px;
}


.photo {
    border: medium none;
    float: left;
    height: 170px;
    margin-left: 20px;
    margin-right: 0;
    overflow: hidden;
    width: 140px;
}

.roomInfo {
    border-radius: 0 5px 5px 0;
    color: #bfbfbf;
    float: left;
    font-size: 12px;
    height: 162px;
    margin: 20px 0 0 15px;
    width: 130px;
	text-align: left;
}

.roomInfo select  {
	margin: 10px 0px;
        position: absolute;
        width: 144px;
}

.login_btn {
    background: red;
    border: 1px solid #333;
    color: #fff !important;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding: 0 !important;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.msgBox1  {
	width: 320px;
	height: 200px;
	display: block;
	margin: 0 auto;
	padding: 10px 5px;
	background: none;
}

.msgBox1 p  {
	text-align: center;
	padding: 0px 0px 2px 0px;
	color: #F1D97B;
}

.excl  {
	display: block;
	text-align: center;
	margin: 32px 0px 8px;
	color: #F1D97B;
}

.btit  {
	font-weight: bold;
	display: block;
	color: #f1d97b;
}
