@charset "utf-8";
/* Main */

html, body  {height: 100%;}

body  {
	width: 100%;
	height: 100%;
	background-image: url(../../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体";
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-size: 1.00em;
	overflow-x: hidden;
}

.clr  {
	clear: both;
}

/* Header */
.header  {
	width: 100%;
	height: 90px;
	display: inline-block;
	background: #F1F1F1;
}
.headerInner  {
	margin: 0 auto;
	width: 1024px;
	height: 110px;
	display: block;
	position: relative;
}
.logo  {
	position: relative;
	margin: 10px 0px 0px;
	display: inline-block;
	height: 105px;
}
.logo img  {
	margin: 7px 0px 0px;
}
.lineLink  {
	display: block;
	position: absolute;
	top: 60px;
	right: 440px;
}
.fbLink  {
	display: block;
	position: absolute;
	top: 60px;
	right: 240px;
}
.headerRight  {
	margin: -8px 0px 0px 0px;
	right: 0px;
	display: inline-block;
	position: absolute;
	width: auto;
	height: 100px;
}
.headerRightTable  {
	display: block;
	font-size: 12px;
	color: #000;
	position: absolute;
	width: 250px;
	right: 0px;
	bottom: 5px;
}

.headerRightTable table  {
	float: right;
	margin-top: 6px;
}
.headerRightTable table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-right: -70px;
}
.headerRightTable table span a:link, .headerRightTable table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable table td  {
	padding: 0px 3px;
}
.headerRightTable input  {
	width: 110px;
	font-size: 11px;
	padding: 4px 0px 4px 6px;
	margin: 0px 0px 0px 5px;
	background-color: #2E080C;
	color: #fff;
	border: 1px solid #ac3535;
}

.headerRightTable input:focus  {
	box-shadow: 0 0 5px rgba(246, 159, 56, 1);
	border: 1px solid #f69f38;
}

.headerRightTable1  {
	display: solid;
	font-size: 15px;
	color: #F00;
	position: absolute;
	right: 100px;
	top: 15px;
}

.headerRightTable1 table  {
	float: right;
	margin-top: 1px;
}
.headerRightTable1 table span  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	margin-right: -70px;
}
.headerRightTable1 table span a:link, .headerRightTable1 table span a:visited  {
	font-style: italic;
	font-size: 10px;
	padding: 3px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.headerRightTable1 table span a:hover {
	color: yellow;
	cursor: pointer;
	text-decoration: none;
}
.headerRightTable1 table span:hover  {
	color: yellow;
	cursor: pointer;
}
.headerRightTable1 table td  {
	padding: 3px 3px;
}
.headerRightTable1 input  {
	width: 110px;
	font-size: 11px;
	padding: 7px;
	margin: 0px 0px 0px 5px;
	background: rgb(25, 29, 33);
background: -moz-linear-gradient(270deg, rgb(25, 29, 33) 30%, rgb(4, 4, 5) 70%);
background: -webkit-linear-gradient(270deg, rgb(25, 29, 33) 30%, rgb(4, 4, 5) 70%);
background: -o-linear-gradient(270deg, rgb(25, 29, 33) 30%, rgb(4, 4, 5) 70%);
background: -ms-linear-gradient(270deg, rgb(25, 29, 33) 30%, rgb(4, 4, 5) 70%);
background: linear-gradient(0deg, rgb(25, 29, 33) 30%, rgb(4, 4, 5) 70%);
	color: #fff;
	border: 1px solid #464646;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.headerRightTable1 input:focus  {
	box-shadow: 0 0 5px rgba(246, 159, 56, 1);
	border: 1px solid #f69f38;
}

.joinNow  {
	color: #fff !important;
font-size: 14px;
background-image: url(../../img/join-btn-bg.png);
background-repeat: no-repeat;
background-position: top center;
text-align: center;
width: 90px;
height: 33px;
line-height: 33px;
margin: 0px;
text-decoration: none !important;

}

.joinNow a:link, .joinNow a:visited  {
	color: #fff !important;
text-decoration: none !important;

}

.joinNow:hover  {
	color: #fff;
background-image: url(../../img/join-btn-bg-hover.png);
background-repeat: no-repeat;
background-position: top center;
text-shadow: none;
cursor: pointer;
}
.vrf  {
	background-color: #000 !important;
	border: 1px solid #464646;
	width: 70px !important;
	color: #fff !important;
	text-align: center;
}
.joinBtn  {
	display: block;
	position: absolute;
	right: 0px;
	top: 30px;
	}



.submitBtn  {
	display: block;
	position: relative;
	left: 0px;
	top: 10px;
	}
.submitBtn a:link, .submitBtn a:visited  {
color: #fff;
font-size: 14px;
background: #850402;
padding: 0px;
width: 65px;
height: 30px;
line-height: 30px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
}

.submitBtn a:hover  {
background: #2A1106;
}


.msgBoxM  {
	display: block;
	position: relative;
	width: 450px;
	height: 315px;
	background-image: url(../../img/under-maintenance.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 40px auto 70px;
}

.msgBM  {
	display: block;
	position: absolute;
	width: 350px;
	height: 40px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	border: 3px solid #850402;
	font-weight: bold;
	text-align: center;
	padding: 10px 0px;
	bottom: -30px;
	left: 50px;
}

#sticky {
    padding: 0.5ex;
    width: 600px;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.anmnt  {
	position: relative;
	height: auto;
	display: block;
	width: 100%;
	margin: 4px 0px;
}
.anmntInner  {
	height: 25px;
	line-height: 25px;
	display: block;
	width: 1024px;
	margin: 0px auto;
	color: #000;
	font-size: 12px;
	padding-left: 0px;
	background: #fff;
	border: 1px solid #000;
}
.anmntInner span img  {
	margin-top: 2px;
        //margin-left: -120px;
}
.anmnt marquee  {
	width: 940px;
	line-height: 20px;
}
.anmnt marquee:hover  {
	color: yellow;
}


.errorBg {

    display: block;
    height: 520px;
    position: relative;
    width: 1024px;
	margin-bottom: -15px;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin: 0 auto 40px;
    padding: 50px 5px 0;
    width: 450px;
	position: relative;
}
.msgBox1 p {
    color: #fff;
    font-size: 12px !important;
    padding: 0 0 2px;
    text-align: center;
}
.excl {
    color: #444;
    display: block;
    margin: -3px 0 8px;
    padding-top: 0;
    text-align: center;
}


.errText {
    color: #000;
    display: block;
    font-size: 36px;
    position: relative;
    text-align: center;
    top: 80px;
    width: 100%;
}

.mobCont  {
	display: block;
	position: relative;
	margin-top: 20px;
}

.mob1  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(../../img/mxb-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

.mob2  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(../../img/ag-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
}

.mob3  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(../../img/gp-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

.mob4  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(../../img/pt-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

.mob5  {
	display: block;
	position: relative;
	width: 200px;
	height: 423px;
	background-image: url(../../img/allb-slot-bg.png);
	background-repeat: no-repeat;
	float: left;
}

.mobTxt  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 60px;
}

.mobTxt1  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 63px;
	left: 46px;
}

.mobTxt2  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 48px;
}

.mobTxt3  {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	display: block;
	position: absolute;
	bottom: 70px;
	left: 48px;
}

.ctCont  {
	display: block;
	position: relative;
	width: 100%;
	height: 480px;
	background-image: url(../../img/contact-bg.png);
	background-position: right;
	background-repeat: no-repeat;
}

.conTit  {
	display: block;
	position: absolute;
	top: 100px;
	left: 100px;
	font-size: 32px;
	font-weight: bold;
	color: #002157;
}

.conTit1  {
	display: block;
	position: absolute;
	top: 168px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(../../img/ct-bg-1.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

.conTit2  {
	display: block;
	position: absolute;
	top: 240px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(../../img/ct-bg-2.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

.conTit3  {
	display: block;
	position: absolute;
	top: 315px;
	left: 100px;
	width: 350px;
	height: 50px;
	line-height: 50px;
	background: url(../../img/ct-bg-3.jpg)no-repeat;
	border-radius: 5px;
	color: #f1eda9;
	font-weight: bold;
	font-size: 22px;
	padding-left: 70px;
}

table.bankingtable {
    border-collapse: collapse;
    border-color: #e7e7e7;
    border-width: 1px;
    padding-top: 15px;
}
table.bankingtable tr {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
table.bankingtable td {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    width: 1024px;
}
.excl2 {
    color: #444;
    display: block;
    margin: 55px 0 8px;
    text-align: center;
}

.midBG  {
	display: block;
	position: relative;
	background-image: url(../../img/roof-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1024px;
	margin: -48px auto 0px;
	padding: 135px 0px 10px;
}

.midBG1  {
	display: block;
	position: relative;
	background-image: url(../../img/roof-bg-1.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1024px;
	height: 127px;
	line-height: 177px;
	margin: 10px auto 0px;
	padding: 0px;
}

.pgTit  {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	color: #fff;
	font-weight: bolder;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 35px;
}

.lotTit  {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 48px;
	left: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color: #850402;
	font-weight: bolder;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
}

.lotTit a:link, .lotTit a:visited  {
	color: #850402;
	text-decoration: none;
}

.lotTit a:hover  {
	color: yellow;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}



.midBGbx  {
	display: block;
	position: relative;
	width: 220px;
	height: 100px;
	background: rgb(8, 8, 8);
background: -moz-linear-gradient(90deg, rgb(8, 8, 8) 30%, rgb(26, 26, 26) 70%);
background: -webkit-linear-gradient(90deg, rgb(8, 8, 8) 30%, rgb(26, 26, 26) 70%);
background: -o-linear-gradient(90deg, rgb(8, 8, 8) 30%, rgb(26, 26, 26) 70%);
background: -ms-linear-gradient(90deg, rgb(8, 8, 8) 30%, rgb(26, 26, 26) 70%);
background: linear-gradient(180deg, rgb(8, 8, 8) 30%, rgb(26, 26, 26) 70%);
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
float: left;
margin: 0px 15px;
}

.midBGbx:hover  {
	background: #C7995D;
}

.midBGbx span  {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	display: block;
	margin: 0px 0px 0px 15px;
}

.midBGbx table  {
	margin:14px 0px 0px 15px;
}

.tp01  {
	margin-top: 55px !important;
	margin-left: 30px !important;
}

.tp02  {
	margin-top: 35px !important;
	margin-left: 10px !important;
}

.tp03  {
	margin-left: 40px !important;
}

.colr1  {
	font-size: 18px !important;
}

.colr2  {
	color: #8f7e80 !important;
}

.ac1  {
	margin-left: 25px !important;
}
.jnCont  {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 120px;
	display: block;
	z-index: 3333;
}

.midContf  {
	font-size: 12px;
	margin-bottom: 200px;
}

.acctContentReg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
}

.acctContentReg1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 925px;
	height: 320px;
}

.acctRow {
    color: #fff !important;
    display: block;
    font-size: 13px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 1px;
    padding-left: 1px;
    width: 100%;
}
.acctRow label {
    color: #000;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-left: 3px;
    width: 180px;
}

.msgBox1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin: 0 auto 80px;
    padding: 50px 5px 0;
    width: 450px;
}
.msgBox1 p {
    color: #000;
    font-size: 12px !important;
    padding: 0 0 2px;
    text-align: center;
}
.excl {
    color: #444;
    display: block;
    margin: -3px 0 8px;
    padding-top: 0;
    text-align: center;
}

.hot  {
	position: absolute;
	display: block;
	top: 10px;
	left: 65px;
}

.lchat  {
	background-color: #de0b10;
	width: 150px;
	height: 30px;
	margin-top: -4px;
	position: absolute;
	}
.lchat span  {
	width: 90px;
	height: 30px;
	margin: 7px 0px 0px 28px;
	background-image: url(../../img/chat-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 25px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.lchat:hover  {
	background-color: #170000;
}
.navCont  {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 35px;
	background: #006CBF;
	margin: -5px auto -5px;
	padding: 0;
	z-index: 2008;
}
.navContInner  {
	position: relative;
	display: block;
	width: 1024px;
	height: 35px;
	margin: 0 auto;
	padding: 0;
	z-index: 2008;
}
.navCont ul  {
	margin: 0px 0px 0px 39px;
	padding: 0;
	list-style-type: none;
}
.navCont ul li  {
	margin: 0;
	padding: 0px;
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	position: relative;
			z-index: 2025px !important;
}
.navCont ul li a:link, .navCont ul li a:visited  {
	margin: 0px 0px 0px 0px;
	padding: 0px 17px 0px 17px;
	float: left;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	height: 35px;
	line-height: 35px;
}
.navCont ul li a:hover  {
	color: yellow;
	text-decoration: none;
	background: #005494;

}

.mobIcon  {
	width: 25px !important;
        margin-left: -100px !important;
}

.mobIcon a:link, .mobIcon a:visited  {
	padding: 0px 10px !important;
}

.mobIcon img  {
	margin-top: 8px;
}

.homeIcon  {
	width: 25px !important;
	margin-left: -200px !important;
}

.homeIcon a:link, .homeIcon a:visited  {
	padding: 0px 10px !important;
}

.homeIcon img  {
	margin-top: 8px;
}
.selected  {
	color: #000 !important;
	text-decoration: none !important;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(255, 255, 255, 0.4) !important;
	background: rgb(250, 183, 25) !important;
    background: -moz-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -webkit-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -o-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: -ms-linear-gradient(90deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;
    background: linear-gradient(180deg, rgb(250, 183, 25) 18%, rgb(236, 83, 26) 70%) !important;

}

.navCont ul li:last-child  {
	background-image: none;
}

.navCont ul li ul {
    box-shadow: none;
    display: none;
    left: -40px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 138px;
    z-index: 1009;
	border-right: 1px solid #006CBF;
	border-left: 1px solid #006CBF;
	border-bottom: 1px solid #006CBF;
	
}
.navCont ul li ul li {
    background: #006CBF;
    color: #fff;
    display: block;
    z-index: 3;
	width: 100%;
	font-size: 12px;
	height: 39px !important;
	line-height: 39px !important;
	text-align: center;
	cursor: pointer;
}
.navCont ul li ul li a:link, .navCont ul li ul li a:visited {
    text-decoration: none;
	background: none;
	font-weight: normal;
	color: #fff;
	font-size: 12px;
	width: 100% !important;
	height: 39px !important;
	line-height: 39px !important;
	margin: 0;
	padding: 0;
}
.navCont ul li ul li a:hover {
	width: 100% !important;
    text-decoration: none;
	background: #959494;
	border: none !important;
	font-weight: normal;
	color: yellow;
	font-size: 13px;
	text-shadow: none;
}
.navCont ul li ul li:hover {
    background: #000 none repeat scroll 0 0;
    z-index: 4;
	color: #fff;
}
.navCont ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.lcBg  {
	background-image: url(../../img/bg-lc.jpg) !important;
	background-cover: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #c7995d;
}
.slotBg  {
	background-image: url(../../img/bg-slot.jpg) !important;
	background-cover: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #c7995d;
}

.homeIC  {
	background-image: url(../../img/home-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.homeIC:hover  {
	background-image: url(../../img/home-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.spIC  {
	background-image: url(../../img/sports-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.spIC:hover  {
	background-image: url(../../img/sports-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.lcIC  {
	background-image: url(../../img/lc-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.lcIC:hover  {
	background-image: url(../../img/lc-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.slotIC  {
	background-image: url(../../img/slot-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.slotIC:hover  {
	background-image: url(../../img/slot-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.dIC  {
	background-image: url(../../img/d-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.dIC:hover  {
	background-image: url(../../img/d-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.promoIC  {
	background-image: url(../../img/promo-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.promoIC:hover  {
	background-image: url(../../img/promo-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.mobIC  {
	background-image: url(../../img/mob-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.mobIC:hover  {
	background-image: url(../../img/mob-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.contactIC  {
	background-image: url(../../img/contact-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.contactIC:hover  {
	background-image: url(../../img/contact-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.prodIC  {
	background-image: url(../../img/prod-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.prodIC:hover  {
	background-image: url(../../img/prod-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.commIC  {
	background-image: url(../../img/comm-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.commIC:hover  {
	background-image: url(../../img/comm-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.faqIC  {
	background-image: url(../../img/faq-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.faqIC:hover  {
	background-image: url(../../img/faq-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.affcontactIC  {
	background-image: url(../../img/affC-icon.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.affcontactIC :hover  {
	background-image: url(../../img/affC-icon-hover.jpg) !important;
	background-repeat: no-repeat;
	background-position: left center;
}

.w01  {
	width: 300px !important;
}

.w02  {
	width: 290px !important;
}

.commTit  {
	font-size: 16px;
	margin-top: 15px;
}

.commTxt  {
	font-size: 14px;
}

.abc ul li  {
	color: #fffc00;
}

.abc ul li span  {
	color: #000;
}


.mt-20  {
	margin-top: 20px;
	padding-top: 10px;
}

.sliderContaff {
    background: #000 none repeat scroll 0 0;
    height: 283px;
    margin-top: 0;
    position: relative;
    width: 100%;
}

/* Mid sect */
.midSect  {
	width: 100%;
	height: auto;
	position: relative;
}
.midSectInner  {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: -15px;
}
.midSectInnerM  {
	width: 100%;
	height: auto;
	position: relative;
	background: #fff url(../../img/mob-bg.jpg)bottom center no-repeat;
	margin-top: 0px;
	padding: 0px;
}
.midSectCont  {
	width: 1024px;
	height: auto;
	display: block;
	position: relative;
	margin: -5px auto 0px;
	padding: 0;
		background: #E2E3E4;
}
.midSectContLC  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(../../img/lc-bg.jpg);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContLC .anmntInner  {
	color: #fff;
}

.midSectContD  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(../../img/d-bg.jpg);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContD .anmntInner  {
	color: #fff;
}

.midSectContSP  {
	width: 1004px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto -15px;
	padding: 0px 10px;
	background-image: url(../../img/sp-bg.png);
	background-repeat:no-repeat;
	background-position: top center;
}

.midSectContSP .anmntInner  {
	color: #000;
}

.midSectCont1  {
	width: 1180px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.spCont  {
	margin-top: 200px;
}
.hpgSelection  {
	width: 1024px;
	margin-right: 0px;
	display: inline-block;
}
.LCbox {
	float: left;
	margin-right: 0px;
    height:290px;
    width: 250px;
    overflow: hidden;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 background-position: center;   
}
.LCbox:hover img {
-webkit-transform: rotateY(360deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(360deg);
transform-style: preserve-3d;
}

.LCbox img, .LCbox:hover img {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.slotContainerBottom  {
	position: relative;
	display: block;
	height: 100%;	
}
.slotMenuHolder  {
	width: 1002px;
	height: 35px;
    background: url(../../img/navBG.jpg) repeat-x;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.slot_menu  {
	float: left;
}

.slot_menu ul  {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.slot_menu ul li  {
    cursor: pointer;
    display: block;
    font: bold 12px/18px sans-serif;
    transition: all 0.2s ease 0s;
    float: left;
	line-height: 36px;
	height: 35px;
	background: url(../../img/slot-seperator.png) no-repeat right center;
}

.slot_menu ul li a:link, .slot_menu ul li a:visited  {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #000;
	height: 35px;
	padding: 0px 25px;
}
.slot_menu ul li a:hover  {
	color: #fff;
	text-decoration: none;
	background: #000;
}

.slot_menu .selected  {
	background: #000;
	color: #fff !important;
}

.slot_lobby  {
	width: 1024px;
	height: 100%;

}

.slot_box  {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 1px solid #EBAF4D;
	margin-top: 15px;
	transition: all 0.5s ease;
}

.slot_box:hover  {
	border: 1px dotted #fff;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slot_box span  {
	display: block;
	background: #000;
	text-align: center;
	margin-top: -2px;
	padding: 5px 0px;
	color: #F4E391;
}

.img_slot2 {
	float: left;
	width: 300px;
	display: block;
	margin-left: 43px;
	margin-top: 10px;
	height: 270px;
}

.img_slot {
	float: left;
	width: 300px;
	display: block;
	margin-left: 27px;
	margin-top: 10px;
	height: 270px;
}
.sliderCont  {
	width: 100%;
	height: 300px;
	position: relative;
	margin-top: 0px;
}
.sliderContInner  {
	width: 1024px;
	height: 300px;
	display: block;
	position: relative;
	margin: -15px auto 0px;
	padding: 0;
}

.lcCont  {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
}

.lotCont  {
	display: block;
	position: relative;
	margin-bottom: -15px;
}

.slotCont  {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	height: 870px;
}

.lottery  {
	display: block;
	position: relative;
	width: 1024px;
	height: 571px;
	background-image: url(../../img/lottery-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.showbox {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-1.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-1.png") no-repeat scroll 0 0;
}
.showbox1 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-2.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox1:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-2.png") no-repeat scroll 0 0;
}
.transition {
    transform: scale(1.2);
}
.showbox2 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-3.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox2:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-3.png") no-repeat scroll 0 0;
}
.showbox3 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-4.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox3:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-4.png") no-repeat scroll 0 0;
}
.showbox4 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-5.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 130px;
}
.showbox4:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-5.png") no-repeat scroll 0 0;
}
.showbox5 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-6.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox5:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-6.png") no-repeat scroll 0 0;
}
.showbox6 {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-7.png") no-repeat scroll 0 0;
    float: left;
    height: 259px;
    transition: all 0.4s ease-in-out 0s;
    width: 230px;
	margin-left: 20px;
}
.showbox6:hover {
    background: rgba(0, 0, 0, 0) url("../../img/lc-img-7.png") no-repeat scroll 0 0;
}
.transition {
    transform: scale(1.2);
}
.slideBtn  {
	position: absolute;
	right: 160px;
	top: 320px;
}
.qrBox  {
	position: absolute;
	display: block;
	width: 200px;
	height: 290px;
	background-image: url(../../img/qrBg.png);
	background-repeat: no-repeat;
	background-position: center top;
	left: 0px;
	top: 20px;
	padding-top: 60px;
	z-index: 999999;
}
.slideW  {
	position: absolute;
	display: block;
	right: 0px;
	top: -30px;
}
.inpQr  {
	padding-bottom: 10px;
	}
.inpQr input  {
	border: 1px solid #7B5E2D;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding: 3px;
	width: 100px;
	background-color: #F2EEB4 !important;
}
.inpQr label  {
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	margin-left: 18px;
	display: block;
	margin-top: 3px;
}
.inpQr label, .inpQr input   {
	float: left;
}
.inpBtn a:link  {
	position: absolute;
	display: block;
	color: rgb(230, 230, 230);
font-size: 12px;
padding: 7px 17px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(210, 20, 20);
background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
text-decoration: none;
font-weight: bold;
margin-left: 78px;
}
.midSectCont h3  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
}
.midSectCont h4  {
	width: 100%;
	display: block;
	color: #fff;
	text-align: left;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	//border-bottom: 1px solid #D91114;
}
.midIcon1  {
	float: left;
	display: inline-block;
	width: 510px;
	height: auto;
	margin: 10px 0px 10px 10px;
}

.midIcon4  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 50px;
	margin-bottom: 20px;
}

.midIcon5  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 50px;
	margin-bottom: 20px;
}

.midIcon3  {
	float: left;
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.midIcon2  {
	float: right;
	display: inline-block;
	width: 480px;
	height: auto;
	margin: 10px 10px 10px 0px;
}

.bk01  {
	 margin: auto; 
	 width:950px; 
	 border:solid 1px #adadad; 
	 padding:20px;  
}

.bk02  {
	font-family:Tahoma;
	font-size:28px;
	color:#0066CC;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:3px solid #0066cc;
}

.bk03  {
	margin:auto; width:950px; border:solid 1px #C3C2C2; padding:20px;
}

#slideout {
    position: fixed;
    top: 200px;
    right: 0;
    width: 42px;
    padding: 12px 0;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}
#slideout_inner {
    position: fixed;
    top: 150px;
    right: -250px;
    background: url(../../img/slide/contact-slide-right.png)no-repeat;
    width: 164px;
    padding: 25px;
    height: 314px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}
#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}
#slideout:hover {
    right: 165px;
}
#slideout:hover #slideout_inner {
    right: -48px;
}

.bnr01  {
	position: relative;
	display: block;
	margin: 0px 0px 10px 10px;
}
.bnr02  {
	display: block;
	position: relative;
	margin-bottom: 10px;
	margin-left: 10px;
	}
	
.bnr03  {
	display: block;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
}

.bnr04  {
	display: block;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
}

.bnr05  {
	display: block;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
}

.bnr06  {
	display: block;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
}

.bnr07  {
	display: block;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
}

.bnr08  {
	display: block;
	position: relative;
	padding-bottom: 10px;
	margin-left: 10px;
}

.bnr08 span  {
	color: #333;
	font-size: 18px;
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0px;
}

.bnr02 img  {
	float: left;
}

.bnr09 img  {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}

.bnr09  {
	display: block;
	position: relative;
	margin-bottom: 10px;
	margin-left: 1px;
	}
	
.bnr09a img  {
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

.bnr09a  {
	display: block;
	position: relative;
	margin-bottom: 10px;
	margin-left: 1px;
	}
	
.ht01  {
	height: auto !important;
}

.ht02 img  {
	margin-left: 7px;
}

.ht03  {
	height: 450px !important;
}

.ht04  {
	margin-top: 40px !important;
}

	
.midImg  {
	float: left;

}
.midImg1  {
	float: left;
	border: 1px solid #900000;
	padding: 15px 10px 0px;
	display: block;
}
.midImg2  {
	float: left;
	border: 1px solid #fcde2e;
	background: #000;
	padding: 15px 10px 0px;
	display: block;
	color: #fff;
}
.affP  {
	font-size: 12px;
	margin: 5px 15px 15px 15px;

}

.affPI  {
	font-size: 12px;
	margin: 5px 18px 15px 8px;

}

.ghh  {
	color: #8f0000;
}

.A1  {
	margin-bottom: 41px;
}
.midTxt  {
	float: left;
	width: auto;
	display: block;
	height: 110px;

}
.midTxt span  {
	display: inline-block;
	margin-top: 35px;
	margin-left: 10px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	width: 128px;

}
.midTxt span:hover  {
	color: yellow;


}
.hpgSelection  {
	width: 1024px;
	margin-right: 30px;
	display: inline-block;
}
.tabTit  {
	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 10px 0px 10px;
}
.tabSlot  {
	float: left;
	margin-left:20px;
}

.mob-pt  {
   display: block;
   position: relative;
   float: left;
   width: 450px;
   height: 289px;
   background: url(../../img/pt-mob.png);
}

.mob-ag  {
   display: block;
   position: relative;
   float: right;
   width: 450px;
   height: 289px;
   background: url(../../img/ag-mob.png);
}

.mob-gp  {
   display: block;
   position: relative;
   float: right;
   width: 450px;
   height: 289px;
   background: url(../../img/gp-mob.png);
   margin: 20px 0px 30px
}

.mob-mxb  {
   display: block;
   position: relative;
   float: left;
   width: 450px;
   height: 289px;
   background: url(../../img/mxb-mob.png);
   margin: 20px 0px 30px
}

.qrBx  {
	display: block;
	position: absolute;
	width: 78px;
	right: 150px;
	bottom: 8px;
}

.qrBxS  {
	display: block;
	position: absolute;
	width: 78px;
	right: 90px;
	bottom: 8px;
}

.qrBx1  {
	display: block;
	position: absolute;
	width: 78px;
	right: 28px;
	bottom: 8px;
}

.qrBxR  {
	display: block;
	position: absolute;
	width: 78px;
	left: 150px;
	bottom: 8px;
}

.qrBx1R  {
	display: block;
	position: absolute;
	width: 78px;
	left: 28px;
	bottom: 8px;
}

.loginBtn1 {
    display: block;
    position: absolute;
    right: 0px;
    top: 25px;
}

.loginBtn1 a:link, .loginBtn1 a:visited  {
color: #fff;
font-size: 13px;
background: #006CBF;
padding: 0px 0px 0px 0px;
width: 65px;
height: 33px;
line-height: 34px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
width: 100px;
}

.loginBtn1 a:hover  {
	background: #03528f;
	color: yellow;
	text-decoration: none;
}


.login01Btn  {
	display: block;
	position: relative;
    margin: 10px 0px 10px 120px;
	}

.login01Btn a:link, .login01Btn a:visited  {
color: #fff;
font-size: 13px;
background: #006CBF;
padding: 0px 0px 0px 0px;
width: 65px;
height: 33px;
line-height: 34px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
width: 100px;
}
	
.login01Btn a:hover  {
	background: #03528f;
	color: yellow;
	text-decoration: none;
}
.login02Btn  {
	display: block;
	position: relative;
    margin: 10px 0px 10px 10px;
	}

.login02Btn a:link, .login02Btn a:visited  {
color: #fff;
font-size: 13px;
background: #006CBF;
padding: 0px 0px 0px 0px;
width: 65px;
height: 33px;
line-height: 34px;
margin: 0px;
display: block;
text-decoration: none;
position: relative;
text-align: center;
width: 100px;
}
	
.login02Btn a:hover  {
	background: #03528f;
	color: yellow;
	text-decoration: none;
}

.tp04  {
	margin: 0px auto !important;
}

.tp05  {
	margin-top: -30px;
}
/* Footer*/
.footer  {
	width: 100%;
	height: 120px;
	display: block;
	position: relative;
	background-color: #006CBF;
}
.footerInner  {
	width: 1004px;
	margin: 15px auto;
	padding: 10px;
height:auto;
	display: block;
	position: relative;
}
.footerLeft  {
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: auto;
}

.footerRight  {
	float: right;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	color: #fff;
	font-size: 12px;
}

.footerLeft1  {
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 0px;
}

.footerRight1  {
	float: right;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 0px;
	color: #fff;
}

.footerLeft ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerLeft ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 8px 0px 8px;
	border-right: 1px solid #fff;
	height: 14px;
	line-height: 14px;
	
	}

.footerLeft ul li a:link, .footerLeft ul li a:visited  {
	font-size: 12px;
	color: #fff;
	vertical-align: 1px;
	text-decoration: none;
}

.footerLeft1 ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerLeft1 ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 8px 0px 8px;
	height: 14px;
	line-height: 14px;
	
	}

.footerLeft1 ul li a:link, .footerLeft1 ul li a:visited  {
	font-size: 12px;
	color: #fff;
	vertical-align: 1px;
	text-decoration: none;
}

.footerRight1 ul  {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footerRight1 ul li  {
	float: left;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0px 8px 0px 8px;
	height: 14px;
	line-height: 14px;
	
	}

.footerRight1 ul li a:link, .footerRight1 ul li a:visited  {
	font-size: 12px;
	color: #fff;
	vertical-align: 1px;
	text-decoration: none;
}



.nM  {
	padding-left: 0px !important;
}

.nM1  {
	border-right: 0px solid #000 !important;
}


.footerCol1  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 10px;
	width: 300px;
	height: 300px;
	background-image: url(../../img/footerSeperator.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.footerCol1 h2  {
	margin: 10px 0px 10px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 250px;
}
.footerCol6  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 10px;
	width: 300px;
	height: 280px;

}
.footerCol6 h2  {
	margin: -5px 0px 80px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 280px;
}
.footerCol  {
	display: inline-block;
	float: left;
	margin: 5px 20px 0px 20px;
	width: 300px;
	height: 280px;
	background-image: url(../../img/footerSeperator.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.footerCol h2  {
	margin: 10px 0px 10px 0px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: #752223;
	width: 250px;
}
.footerCol ul  {
	margin: 0;
	padding: 0;
}
.footerCol ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol ul li a:link, .footerCol ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
	
.footerCol2  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 130px;
}
.footerCol2 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol2 ul  {
	margin: 0;
	padding: 0;
}
.footerCol2 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol2 ul li a:link, .footerCol2 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol2 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3  {
	display: inline-block;
	float: left;
	margin: 5px 15px 0px;
	width: 210px;
}
.footerCol3 h2  {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: yellow;
}
.footerCol3 ul  {
	margin: 0;
	padding: 0;
}
.footerCol3 ul li  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerCol3 ul li a:link, .footerCol3 ul li a:visited  {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #e1e1e1;
	font-size: 12px;
	font-weight: 600;
}
.footerCol3 ul li a:hover {
	text-decoration: none;
	color: yellow;
	}
.footerCol3 table td  {
	padding: 5px;
}
.footerCol3 table  {
	margin-top: 5px;
}
.footerBottom  {
	margin-top: 0px;
	border-top: 0px solid #b00e0c;
	text-align: center;
}
.footerBottom span  {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: -10px;
	font-size: 11px;
	color: #fff;
	padding-bottom: 10px;
	font-weight: bold;
}
.footerLink  {
	display: inline-block;
	margin: 10px 0px;
	padding: 0px 0px 0px 10px;
	color: #fff;
	width: 100%;
}
.footerLink span  {
	display: block;
	width: 100%;
}
.line {
    background: #363636 none repeat scroll 0 0;
    clear: both;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}
.lcTitle  {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
}
.slotTitle  {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}
#crossfade {
position:relative;
}
#crossfade img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade img.top:hover {
opacity:0;
}
.lcBox  {
	width: 320px;
	height: 373px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 16px 0px 0px;
	cursor: pointer;
}
#crossfade1 {
position:relative;
}
#crossfade1 img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade1 img.top:hover {
opacity:0;
}
.lcBoxSlot  {
	width: 300px;
	height: 455px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 0px 20px 0px 20px;
	cursor: pointer;
}

.slot1  {
	display: block;
	position: absolute;
	top: 0px;
	left: 350px;
	width: 320px;
	height: 373px;
}

.slot2  {
	display: block;
	position: absolute;
	top: 265px;
	right: 190px;
	width: 320px;
	height: 373px;
}

.slot3  {
	display: block;
	position: absolute;
	top: 510px;
	left: 360px;
	width: 320px;
	height: 373px;
}

.slot4  {
	display: block;
	position: absolute;
	top: 265px;
	left: 190px;
	width: 320px;
	height: 373px;
}


.anmntOther  {
	height: 60px;
	display: inline-block;
	width: 100%;
	background-color: #000;
	margin-top: -3px;
}
.anmntOtherInner  {
	background-image: url(../../img/marqueeBg.png);
	background-repeat: no-repeat;
	height: 35px;
	line-height: 35px;
	display: block;
	width: 984px;
    margin: 5px auto 0px;
	color: #fff;
	font-size: 12px;
	padding-left: 40px;
}
.anmnt marquee:hover  {
	color: yellow;
}
.spHeader  {
	position: relative;
	display: inline-block;
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: url(../../img/sp-header.png)no-repeat top center;
}
#crossfade2 {
position:relative;
}
#crossfade2 img {
position:absolute;
left:0;
opacity: 1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
#crossfade2 img.top:hover {
opacity:0;
}
.lcBoxSp  {
	width: 280px;
	height: 69px;
	padding-top: 10px;
	position: relative;
	z-index: 1003;
	float: left;
	margin: 210px 20px 10px 150px;
	cursor: pointer;
}
.dContainer  {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	height: 510px;
}

.dContainerTop  {
	width: 100%;
	height: auto;
	margin: 0px;
	padding-top: 20px;
	position: relative;
}

.dContainerTopInner  {
	width: 1024px;
	height: 150px;
	margin: 10px auto 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.dBtnLeft  {
	display: block;
	position: absolute;
	top: 0;
	left: 300px;
	width: 133px;
	height: 133px;
}

.dBtnRight  {
	display: block;
	position: absolute;
	top: 0;
	right: 330px;
	width: 133px;
	height: 133px;
}

.dContainerBottom  {
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
	display: block;
}

.dContainerBottomInner  {
	width: 1024px;
	height: 100%;
	margin: 0px auto 10px;
	padding: 0px;
	display: inline-block;
	position: relative;
}

#fD_table {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 44px 34px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_tablelast {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table2 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 0px 0px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table1 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 140px;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#fD_table3 {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 10px;
    float: left;
    margin: 20px 45px 20px 0;
    overflow: hidden;
    width: 220px;
	padding-bottom: 5px;
}

#D_main{
    background: none;
    border-radius: 10px;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 260px;
	padding-bottom: 5px;
}

#fD_table_header {
    height: 54px;
    position: relative;
    width: 100%;
	margin-bottom: 5px;
}

.magnum {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF !important;
}

.damacai {
    background: none repeat scroll 0 0 #0F1468;
    color: #FFFFFF !important;
}

.toto {
    background: none repeat scroll 0 0 #ED363F;
    color: #FFFFFF !important;
}
.singapore {
    background: none repeat scroll 0 0 #12689B;
    color: #FFFFFF !important;
}

.cash{
	background:#083e04;	
	color:#fff !important;	
}
.stc{
	background:#2f9505;	
	color:#fff !important;	
}

.t88{
	background:#e02217;	
	color:#fff !important;	
}

#fD_table_title {
    color: #FFFFFF;
    font-size: 11px;
    left: 10px;
    position: absolute;
    top: 15px;
}
#fD_table_img {
    position: absolute;
    right: 5px;
    top: 7px;
}
#fD_table_result {
    padding: 0px 5px;
    width: 210px;
}
#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}

#fD_table_result table, #fD_table_result th, #fD_table_result td {
    border: 1px solid #999999;
}
.fD_top3_description {
    color: #FFFFFF;
    font-size: 12px;
}
.fD_top3_no {
    border: 1px solid #343434;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.fD_normalPrice {
    border: 1px solid #343434;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    margin-top: 5px;
}

.dBg  {
	width: 225px;
	height: 300px;
	position: relative;
	display: block;
	background-image: url(../../img/4dbg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.betBtn  {
	position: absolute;
	top: 0px;
	left: 20px;
}
.payBtn  {
	position: absolute;
	bottom: 0px;
	left: 20px;
}
#promo  {
	width: 1024px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 5px 0px 0px 0px;
	}
	
	#promo1  {
		float: left;
	width: 804px;
	height: auto;
	display: block;
	margin: 20px auto 0px;
	padding: 5px 0px 0px 0px;
	}
	
	.affMenu  {
	float: left;
	width: 180px;
	height: auto;
	display: block;
	margin: 30px 20px 0px 0px;
	padding: 5px 0px 25px 0px;
	background: #EBEBEB;
	}
	.affMenu ul  {
	display: block;
	position: relative;
	margin: 10px 0px 5px 10px;
	padding: 0;
	list-style-type: none;
	}
	.affMenu ul li  {
	display: block;
	position: relative;
	margin: 0px 12px 0px 0px;
	padding: 8px;
	border-bottom: 1px solid #da9f05;
	}
	
	.affMenu ul li a:link, .affMenu ul li a:visited   {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	}
	
	.affMenu ul li a:hover   {
	color: #e1ab06;
	text-decoration: none;
	}
	
	.otherPgAff  {
		display: block;
		position: relative;
		font-size: 13px;
		width: 100%;
		margin-top: 20px;
	}
	
	.ctAff1  {
		float: left;
		display: block;
		position: relative;
		width: 145px;
		height: 145px;
		background: #ebebeb;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-top: 15px;
margin-right: 100px;
	}
	
	.ctAff1:hover  {
		background: #FDEC6D;
	}
	
	.ctAff1 img  {
		display: block;
		position: relative;
		width: 82px;
		height: 60px;
		margin: 0px auto 10px;
		padding: 25px 0px 0px;

	}
	
	.ctAff1 span  {
		display: block;
		position: relative;
		width: 145px;
		height: auto;
		margin: 0px auto 10px;
		text-align: center;

	}
	
	.ab1 input  {
		padding: 5px 10px !important;
		-webkit-border-radius: 5px;
        -moz-border-radius: 15px;
        border-radius: 5px;
		background: #ebebeb;
		border: 1px solid #ebebeb;
		width: 330px;
	}
	
	.ab1 textarea  {
		padding: 5px 10px !important;
		-webkit-border-radius: 5px;
        -moz-border-radius: 15px;
        border-radius: 5px;
		background: #ebebeb;
		border: 1px solid #ebebeb;
		width: 330px;
		height: 150px
	}
	
.mobPt  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(../../img/mobile-bg-pt.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 150px;
}
.mobGp  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(../../img/mobile-bg-gp.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 30px;
}
.mobMxb  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(../../img/mobile-bg-mxb.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0px 0px 0px 30px;
}
.qrLeft  {
	float: left;
	margin-top: 165px;
	width: 88px;
	margin-left: 15px;
}
.qrLeft img  {
	display: block;
	text-align: center;
	margin: 0px auto 8px;
}
.qrLeft span  {
	display: block;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #fff; 
}


.qrRight  {
	float: right;
}
	
.announcement  {
	margin-top: 5px;
}

.accordion-toggle h4  {
	height: 206px !important;
}

.accordion-toggle img  {
        width: 100%;
}

.accordion-toggle {cursor: pointer; margin: 0; margin-top: 10px; color: yellow;height: 200px !important; border-bottom: 1px solid #fff0 !important; }
		.accordion-content {display: none;}
		.accordion-content.default {display: none ;padding: 15px;color: #000;margin: 10px; border: solid 1px #c1c1c1; box-shadow: 0 4px 10px #BDBDBD; border-top: 5px solid #006CBF; }
		
		
.accordion-toggleAFF h4  {
	height: 206px !important;
	color: #000;
}

.accordion-toggleAFF {
	cursor: pointer; 
margin: 0; 
padding: 2px 0px 2px 15px;
margin-top: 10px; 
font-weight: normal !important;
color: #000 !important;
height: auto !important; 
border-bottom: 0px solid #fff !important;
background: #ebebeb;
width: 804px !important;
}
		.accordion-contentAFF {display: none;}
		.accordion-contentAFF.default {display: none ;margin-left: 47px; padding: 5px 5px 5px 30px;color: #000;margin: 5px 0px;font-size: 13px;}
		
		.accordion-contentAFF.default p {margin: 0px 0px 5px;}
		
		/* Please replace the below CSS */
		#promo_bar  {position: relative;display: block;	width: 1009px;	height: 45px;	background:#000;	margin-left: 0px; margin-bottom: 0px;	padding-left: 15px; margin-top: -6px;}
		
		/* replace  */
		
        .promo_info  {	float: left;	display: block;	background-color: #ed1c24;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 6px;	text-align: center;	font-weight: bold;	-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;color: #fff !important;}
		
		.promo_info a  {color: #fff !important; text-decoration: none;}
		
		.promo_more label:hover:after {	display: none;}
        .promo_more  {	float: left;	display: block;	padding: 6px 0px;	width:  90px;	height: auto;	margin-top: 9px;	text-align: center;	font-size: 12px !important;	text-shadow: none !important;	color: #fff !important; 	font-weight: 600 !important;text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);}
		.promo_title  {	float: right;	display: block;    color: #fff;		padding: 6px 0px;	width:  auto;	height: auto;	margin-top: 10px;	margin-right: 30px;	text-align: center;	font-weight: bold;}
		
		

.mobPt  {
	width: 220px;
	height: 320px;
	position: relative;
	display:inline-block;
	background-image: url(../../img/mobile-bg-pt.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.mobileWrap {
    margin-bottom: 20px;
    padding-left: 40px;
}
.mobBg {
    background: rgba(0, 0, 0, 0) url(../../img/pt-mob.png) no-repeat scroll center bottom;
    display: block;
    height: 289px;
    margin-right: 20px;
    position: relative;
    width: 450px;
}
.mobBg2 {
    background: rgba(0, 0, 0, 0) url("../../img/mobBg2.png") no-repeat scroll center bottom;
    display: block;
    height: 320px;
    margin-right: 20px;
    position: relative;
    width: 301px;
}
.mobBg3 {
    background: rgba(0, 0, 0, 0) url("../../img/mobBg3.png") no-repeat scroll center bottom;
    display: block;
    height: 320px;
    margin-right: 20px;
    position: relative;
    width: 301px;
}
.mobSect1 {
    text-align: center;
}
.mobSect2 {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
.mobSect3 {
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: 600;
    left: 70px;
    padding: 8px 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100%;
}
.mobSect4 {
    bottom: 35px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 180px;
    position: absolute;
    width: 100px;
}


.contactLeft  {
	width: 400px;
	height: auto;
}

.contactTitle  {
	color: #000;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.contactTitle span  {
	float: right;
	color: #fff;
	text-transform: none;
	font-style: normal;
	margin-right: 200px;
}

.contactContent  {
	color: #fff;
	font-size: 13px;
	display: inline-block;
}

.contactContent span  {
	float: left;
	margin-right: 15px;
}

.contactRight  {
	width: 600px;
	height: auto;
	margin: 0px 0px 0px 100px;
}

.contAr  {
	float: left;
	width: 485px;
	margin-left: 10px;
	margin-top: 15px;
}

.contImg  {
	float: left;
}
.footerLand  {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.slotPost  {
	display: block;
	position: relative;
	margin-left: 170px;
}
.regScont  {
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	background: #fff;
	position: relative;
	display: block;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.regScontTitle  {
	background: #2E080C;
	color: #fff;
	padding: 5px 0px 5px 5px;
	width: 1020px;
	height: auto;
	display: block;
	font-weight: bold;
}
.txtCont  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}
.txtCont1  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #464646;
}
.txtCont2  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 17px;
	color: #A38C21;
	font-weight: bold;
}
.txtCont3  {
	margin: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	color: #000;
	font-weight: bold;
}
.bl  {
	color: #8BC2DB;
}
.bl2  {
	color: #8BC2DB;
	width: 100%;
	display: block;
}
.space1  {
	margin-top: 15px;}
	
.tabCasino table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.tabSlot table td img  {
	border: 1px solid #A9935E;
	margin: 8px;
}

.tabCasino {
	float: left;
    margin-bottom: 17px;
    margin-left: 17px;
    margin-top: 20px;
}

.tabCasinoFull {
	width: 924px;
	float: left;
	margin-left: 6px;
	padding-left: 50px;
}

.tabCasinoFull table td img  {
	border: 1px solid #A9935E;
	margin: 0px 35px 10px 35px;
}

.tabCasinoFull table {
	margin-top: 12px;
}
	
	
