/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
	background-color: #125800;
	background-image: url(../../img/bg.jpg);
	background-repeat: repeat;
	background-position: top center;
	background-size: cover;
	overflow-x: hidden;
}

.announceBg  {
	background: url(../../img/announce-bg.png) repeat;
	color: yellow;
}

.regBtn  {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 30px;
}

.regBtn a:link, .regBtn a:visited  {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 18px;
color: #f6c559;
text-align: center;
font-size: 10px;
text-decoration: none;
}

.regBtn a:hover  {
}

.logBtn  {
	display: block;
	position: absolute;
	right: 50px;
	top: 11px;
	width: 30px;
}

.logBtn a:link, .logBtn a:visited  {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 18px;
color: #f6c559;
text-align: center;
font-size: 10px;
text-decoration: none;
}

.logBtn a:hover  {
}

.flagBtn  {
	display: block;
	position: relative;
	margin-top: 14px;
}

.flagBtn a:link, .flagBtn a:visited  {
	display: block;
	width: 33px;
	height: 23px;
	border-radius: 5px;
}

.flagBtn img  {
	border-radius: 5px;
	border: 2px solid #f6c559;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.switch img  {
	margin-top: 20px;
}

/* Home Page Carousel */

header.carousel {
    height: 70%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

 /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url(../img/a22.png) center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

/*
 * Start Bootstrap - Heroic Features (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 5px 10px 5px 0px;
}

.navbar-inverse {
    padding: 10px 0px;
	background-color: #000;
}

.navbar-toggle .icon-bar {
    width: 18px;
}

.navbar-toggle {
    padding: 1px;
}

.navbar-toggle {
    border: 0px solid transparent;
    float: left;
    margin-right: 2px;
    margin-top: 13px;
	margin-left: 2px;
	margin-bottom: 13px;
    padding: 9px;
    position: relative;
	display: block;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #d59b1e;
}

.dSwitch  {
	display: block;
	margin-top: 15px;
	float: left;
}

.mngWrap  {
	dispay: block;
	float: right;
	width: auto;
	margin-top: 12px;
}

.logBtn, .regBtn, .greet {
	display: block;
}

.regBtn a:link, .regBtn a:visited  {
	display: block;
	font-size: 11px;
	font-weight: bold !important;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 6px 0px;
	color: #fff;
}


.regBtn a:hover {
	color: yellow !important;
	text-decoration: none;
}

.regBtn a:link, .regBtn a:visited  {
	color: #fff;
}

.accBtn a:link, .accBtn a:visited  {
	display: block;
	font-size: 11px;
	font-weight: bold !important;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 6px 0px;
	color: #000 !important;
	text-decoration: none;
}


.accBtn a:hover {
	color: red !important;
	text-decoration: none;
}

.navbar-collapse {
    width: 100%;
}



.nav > li {
    display: block;
    position: relative;
    width: auto;
}

.nav > li > a {
    display: block;
    padding: 10px 12px;
    position: relative;
	color: yellow;
}

.sp  {
	background:url(../img/sp-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tp01  {
	margin-top: 15px;
}

.ht1  {
	height: 15px;
}

.bdr1  {
	border-bottom: 1px dashed #8a8a8a;
	padding-bottom: 10px;
}

.mr1  {
	margin-right: 10px;
}

.mt1  {
	padding-top: 5px;
	font-weight: bold;
	color: #ffae00;
}

.dtxt  {
	text-align: center;
	background: none;
	color: yellow;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0px;
}

.dtxt1  {
	text-align: center;
	background: none;
	color: yellow;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0px;
}

.dTT  {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.star  {
	background-image: url(../img/red_star.png);
	background-repeat: no-repeat;
	background-position: center;
}

.bgGrey  {
	background: #383838;
}

.nopad  {
	padding: 0px;
}

.mt2  {
	margin-top: 5px;
}

.bgjp  {
	background: url(../img/jp-bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
}

.labelsJp  {
	display: block;
	width: 134px;
	height: 36px;
	background: url(../img/gold-label.png)no-repeat;
	margin-bottom: 8px;
	color: #fff;
	line-height: 36px;
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}

.labelsJpsilver  {
	display: block;
	width: 134px;
	height: 36px;
	background: url(../img/silver-label.png)no-repeat;
	margin-bottom: 10px;
	color: #fff;
	line-height: 36px;
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}

.labelsJpblue  {
	display: block;
	width: 134px;
	height: 36px;
	background: url(../img/blue-label.png)no-repeat;
	color: #fff;
	line-height: 36px;
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}

.bgsp  {
	background: url(../img/sp-bg-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
}

.footerBank  {
	padding: 0px 20px;
}

.footerBank img  {
	float: left;
	padding: 0px 1px;
}

.foot  {
	font-size: 12px;
	font-weight: bold;
	color: #ffae00;
	margin-top: 20px;
}

.footMenu  {
	width: 320px;
	display: block;
	padding: 0px 20px;
	text-align: center;
	 margin: 0 auto;
	}

.footMenu ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footMenu ul li  {
	display: ininr-block;
	float: left;
	margin: 0px;
	padding: 0px 5px;
	border-right: 1px solid #ffae00;
	height: 16px;
	line-height: 8px;
}

.footMenu ul li a:link, .footMenu ul li a:visited  {
	color: #ffae00;
	font-size: 8px;
	font-weight: bold;
}

.greet a:link, .greet a:visited {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: bold !important;
    padding: 3px 0;
    text-align: center;
    width: 50px;
	text-decoration: none;
}

.wallnav  {
	margin-bottom: 15px;
	}

.wallnav a:link, .wallnav a:visited  {
	display: block;
	width: 90px;
	height: 30px;
	line-height: 33px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(../img/nav-bg.png)no-repeat;
	text-transform: uppercase;
}

.wallnav a:hover  {
	color: #fff;
	text-decoration: none;
	background: url(../img/nav-bg-hover.png)no-repeat;
}

.selected  {
	color: #fff !important;
	text-decoration: none;
	background: url(../img/nav-bg-hover.png)no-repeat !important;
}

.walletForm  {}

.walletForm label  {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0px !important;
	margin-top: 5px;
}

.walletForm input  {
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #d8e168;
	background: #000;
	padding: 3px 0px;
	width: 100%;
	padding-left: 10px;
	border-radius: 0;
}

.wallet1  {
	background: #000;
	border: 1px solid yellow;
	color: yellow;
	padding: 3px 10px;
}

.wallet1:hover  {
	color: red;
	border: 1px solid red;
}

.wallBox  {
	display: block;
	padding: 10px 15px;
	border: 1px solid yellow;
	text-align: center;
	margin-bottom: 10px;
}

.wallBox1  {
	display: block;
	padding: 10px 15px;
	border: 1px solid #ff6e02;
	text-align: center;
	margin-bottom: 10px;
}

.wallTit1  {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #ff6e02;
}

.wallTit  {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: yellow;
}

.wallTotal  {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.bdr2  {
	border: 1px solid #d8e168;
	margin-bottom: 15px;
}

.wTit  {
	background: url(../img/wall-bar-bg.jpg)repeat-x;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 13px;
    height: 30px;
	line-height: 33px;
	display: block;
	padding-left: 10px;
}

.wallRow  {
	padding: 6px 10px;
	background: #000;
	border-bottom: 1px dotted #e7c036;
}

.wallRowtit  {
	padding: 6px 10px;
	background: #000;
}

select, input  {
	width: 100%;
	margin-right: 8px;
	padding: 3px 0px;
	border: none;
color: #000;
background: #d5d5df;
}

label  {
	margin-left: 10px;
}

.wallRow label, .wallRowtit label  {
	margin-top: 5px;
}

.wallRow span  {
	margin-left: 10px;
}

.cut1  {
	margin-top: -3px;
}

.object-fit_cover { object-fit: cover }

img[class] { 
  width: 100%;
}

.original-image {
  margin-bottom: 50px;
}

.promoWrap {
  float: left;
  height: 20%;
  margin: 0 0px 20px 0;
}

.abz  {
	padding-top: 12px;
	padding-left: 0px;
}

.trsfDet  {
	padding: 6px 0px 0px;
	font-size: 10px;
	color: #EECD80;
}

.pt8  {
	margin-top: 4px;
}

.mob1  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-1-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}
 
.mob2  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-2-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}

.mob3  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-3-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}

.mob4  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-4-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}

.mob5  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-5-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}

.mob6  {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border: 2px solid #ca9016;
	margin-top: 10px;
	background: url(../img/mob-6-bg.jpg) no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 8px 5px 0px;
}


.contOthers h4 {
    color: #e6bf34;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    margin: 15px auto 0;
    padding: 0;
    position: relative;
    text-align: left;
	text-transform: uppercase;
}

.contOthers h5 {
    color: #ffcc01;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    margin: 15px auto 0;
    padding: 0;
    position: relative;
    text-align: left;
	text-transform: uppercase;
}

.contOthers p {
    text-align: left;
}

.contOthers ul {
    padding: 5px 10px;
}

.contOthers ol {
    padding: 5px 10px;
}

.contOthers ul li {
    text-align: left;
}

.contOthers ol li {
    text-align: left;
}

.reg  {
	margin-bottom: 8px;
}

.reg label  {
	margin: 0px;
	padding-top: 6px;
}

.regInfo  {
	color: #ffec6a;
	font-size: 9px;
	font-style: italic;
	margin-top: 3px;
}

.promoC img  {
	object-fit: cover;
	width: 100%;
	cursor: pointer;
	margin-top: 10px; 
	border: 1px solid #FAC95C;
}
 

@media (min-width:768px) and (max-width:1920px) {

	
	.navbar-brand {
    margin-left: 30px !important;
}



.navbar-nav > li > a {
    font-family: arial;
    font-size: 12px;
	font-weight: bold;
}

.nav > li > a {
    padding: 15px 6px;

}



.navbar-brand {
    margin-left: 5px !important;
}

.dSwitch {
	margin-left: 30px;
}
.mngWrap  {
	float: right;
}
.navbar-header {
    width: 100%;
}

.navbar-nav img  {
	display: none;
}

.navbar-nav span  {
	display: block;
}

.h5, h5 {
	color: #ffae00 !important;

}
}


/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */


@media(max-width:991px) {
	.h5, h5 {
	color: #fff !important;

}
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 3px;
		margin-top: 12px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

@media (min-width:320px) and (max-width:479px) {
    .mngWrap  {
	dispay: block;
	float: right;
	width: 60px !important;
	margin-top: 0px;
}
.logBtn {
	margin-right: 0px;
}
}

@media (min-width:320px) {
    .pullUp  {
	margin-top: -25px;
}
.mt01  {
	margin-top: 20px;
}
}

@media (min-width:640px) {
    .pullUp  {
	margin-top: -35px;
}
.mt01  {
	margin-top: 30px;
}
}

@media (min-width:768px) {
    .pullUp  {
	margin-top: -55px;
}
.mt01  {
	margin-top: 80px;
}
.mt02  {
	margin-top: 80px;
}
}

@media (min-width:1024px) {
    .pullUp  {
	margin-top: -70px;
}
.mt01  {
	margin-top: 100px;
}
.mt02  {
	margin-top: 100px;
}
}
